<!DOCTYPE html>
<html lang="en">

<!--Head-->
<%- include(`${templatePath}/shared/head`, {SEO:true, Title:'Revitalizing River Edges: Sustainable Architectural Strategies by Vicky Wang', 
  description:'The project explores how architecture can integrate with natural ecosystems, enhancing both the urban landscape and the environment. Discover insights into sustainable materials, community-centric designs, and ecological restoration at Recovery of River Edges.', 
  pageURL:'architecture/recovery_of_river_edges', thumbnailImgURL: 'vickywang_web.png'
  }) %>
<!--Head-->


<body>
  <%- include(`${templatePath}/shared/comp_progressBar`) %>
  <%- include(`${templatePath}/shared/block_nav_header`, {
    type:'backText', 
    arrTxtColor:``,
    currentPage: 'ARCHITECTURE',
    PageUrl:`/architecture`
    }) %>

  <div class="blankHL"></div>

  <!-- cover -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-2 Grid--center">
      <div class="Grid-cell">
        <div class="element widthL"> <img src="diagram.jpg" alt="DIAGRAM">

        </div>
      </div>
      <div class="Grid-cell">
        <div class="element">
          <h3 class="" data-aos="fade-up"><strong>RECOVERY OF RIVER EDGES</strong></h3>

          <p class="lineHorizAll"></p>
          <h6 class=""> <strong>Studio:</strong> &nbsp; Introduction to Architecture Studio 2
          </h6>
          <h6><strong>Duration: </strong> <span class="textItalic">&nbsp;Spring 2016 One
              Semester</span> </h6>
          <h6> <strong>Project:</strong> &nbsp; M. Arch, CED, UC Berkeley</h6>
          <h6> <strong>Site:</strong> &nbsp;Sunnynook River Park, Los Angeles</h6>

          <h6> <strong>Instructor:</strong> &nbsp; Jay Atherton</h6>
        </div>
      </div>
    </div>
  </div>
  <!-- cover -->

  <div class="blankHM"></div>
  <hr>
  <div class="blankHM"></div>
  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'On Site Research' }) %>
  <!--density-->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-1 Grid--center">
      <div class="Grid-cell">
        <div class="element"> <img src="density.jpg" alt="DIAGRAM">
        </div>
        <div class="element">
          <h5>DENSITY OF DIVISIONS</h5>
          <p class="lineHorizAll"></p>
          <h6>Research to project</h6>
        </div>
      </div>
    </div>
  </div>
  <!--density-->
  <div class="blankHM"></div>
  <hr>
  <div class="blankHM"></div>

  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Site & Research' }) %>

  <!--site and research -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-1 Grid--center ">
      <div class="Grid-cell">
        <div class="element"> <img src="site.jpg" alt="DIAGRAM">

        </div>
        <div class="element">
          <h5>SITE ANALYSIS</h5>
          <p class="lineHorizAll"></p>
          <h6>The site is located in the LA River near the Sunnynook River Park.</h6>
        </div>
      </div>

    </div>
  </div>
  <!--site and research -->
  <div class="blankHL"></div>
  <!--site and research -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-1 Grid--center ">
      <div class="Grid-cell">
        <div class="element"> <img src="site_0.jpg" alt="DIAGRAM">

        </div>
        <div class="element">
          <h5>SITE RESEARCH METHOD </h5>
          <p class="lineHorizAll"></p>
          <h6>Photos below were taken from the linear path. Each photo took in
            between every single six feet along the path. </h6>
        </div>
      </div>

    </div>
  </div>
  <!--site and research -->
  <div class="blankHM"></div>
  <hr>
  <div class="blankHM"></div>

  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Sequences & Movements' }) %>


  <!--Section Perspective -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-1 Grid--center ">
      <div class="Grid-cell">
        <div class="element"> <img src="research_photos.jpg" alt="DIAGRAM">

        </div>
        <div class="element">
          <h5>Photos of Sequences and Movements </h5>
          <p class="lineHorizAll"></p>
          <h6>the sequences of photos show the relationship between subjects(the
            place where took photos) and objects(main object on site).</h6>
        </div>
      </div>

    </div>
  </div>
  <!--Section Perspective -->



  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Manipulation' }) %>

  <div class="blankHM"></div>

  <!--ON SITE RESEARCH-->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-1 Grid--center ">
      <div class="Grid-cell">
        <div class="element"> <img src="research.jpg" alt="DIAGRAM">

        </div>
        <div class="element">
          <h5> ON SITE RESEARCH</h5>
          <p class="lineHorizAll"></p>
          <h6>Transform the research final result to site</h6>
        </div>
      </div>

    </div>
  </div>
  <!--ON SITE RESEARCH-->
  <div class="blankHM"></div>

  <!--ON SITE RESEARCH-->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-1 Grid--center ">
      <div class="Grid-cell">
        <div class="element"> <img src="research_1.jpg" alt="DIAGRAM">

        </div>
        <div class="element">
          <h5> ON SITE RESEARCH</h5>
          <p class="lineHorizAll"></p>
          <h6>On-site views comparison (before vs. after)</h6>
        </div>
      </div>

    </div>
  </div>
  <!--ON SITE RESEARCH-->

  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Project' }) %>

  <!--programs-->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-1 Grid--center ">
      <div class="Grid-cell">
        <div class="element"> <img src="programs.jpg" alt="DIAGRAM">

        </div>
        <div class="element">
          <h5> PROGRAMS</h5>
          <p class="lineHorizAll"></p>
          <h6>Cafe, restaurant, kayak</h6>
        </div>
      </div>

    </div>
  </div>
  <!--programs-->
  <!--programs-->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-1 Grid--center ">
      <div class="Grid-cell">
        <div class="element"> <img src="diagram_1.jpg" alt="DIAGRAM">

        </div>
        <div class="element">
          <h5> DIAGRAMS</h5>
          <p class="lineHorizAll"></p>
          <h6>Relationship between site and the surrounding</h6>
        </div>
      </div>

    </div>
  </div>
  <!--programs-->
  <!--programs-->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-1 Grid--center ">
      <div class="Grid-cell">
        <div class="element"> <img src="plan.jpg" alt="DIAGRAM">

        </div>
        <div class="element">
          <h5> FLOOR PLAN</h5>
          <p class="lineHorizAll"></p>
          <h6>Horizontal division create the space with dynamic view</h6>
        </div>
      </div>

    </div>
  </div>
  <!--programs-->
  <!--render-->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-1 Grid--center ">
      <div class="Grid-cell">
        <div class="element"> <img src="render.jpg" alt="DIAGRAM">

        </div>
        <div class="element">
          <h5> Collages</h5>
          <p class="lineHorizAll"></p>
          <h6>Experiencing the space with human perspective</h6>
        </div>
      </div>

    </div>
  </div>
  <!--render-->


  <!-- Shared across the platform -->
  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Skills & Experiences' }) %>
  <%- include(`${templatePath}/shared/comp_tagCloud`) %>
  <%- include(`${templatePath}/shared/comp_closingMessage`, { version: 'addMessage', message: `Thank You for Visiting! please <a class="textUnderline" href="mailto:vickyw.design@gmail.com">email</a> me
  about professional projects.`}) %>



  <%- include(`${templatePath}/shared/comp_backTop`) %>
  <%- include(`${templatePath}/shared/block_nav_footer`) %>
  <!-- Shared across the platform -->
</body>

</html>