<!DOCTYPE html>
<html lang="en" class="colorBgBYPgrey pattern2 BYPb2b">
<!--Head-->
<%- include(`${templatePath}/shared/head`, { SEO:false, Title:`Optimizing Pet Service Bookings by Vicky Wang`,
  description:'Enhancing the Consumer Booking Experience', pageURL:'byp_b2c_booking/',
  thumbnailImgURL: 'vickywang_web.png' }) %>
<!--Head-->

<body class="BYPb2b">

  <%- include(`${templatePath}/shared/comp_progressBar`, { barColor: 'b2bBYP' }) %>
  <%- include(`${templatePath}/shared/block_nav_header_back`, { 
        PageUrl:`${websitePath}/`,
        headerBackgroundColor:`colorBgBYPgrey`,
        arrTxtColor:`BYPb2b`,

        }) %>

  <%- include(`${templatePath}/shared/block_banner`, {            
        bannerTitle:'Enhancing the Business Booking Experience',
        bannerSubTitle:'For pet business owners booking appointments for their customers',
        bannerLogoUrl:`logo_BYP.svg`,
        SlideDeckUrl:`https://www.figma.com/proto/g0r9aZkxovW1vD5oJ4jvDZ/Enhancing-the-B2B-Selling-%26-Booking-Experience?page-id=2001%3A38623&node-id=2001-39176&viewport=4032%2C1924%2C0.09&t=sBVSsXxg9STW6os4-1&scaling=contain&content-scaling=fixed&starting-point-node-id=2001%3A39176`,
        bannerBgColor:``, 
        bannerMockupL:`MockupL.png`, 
        bannerMockupM:`MockupM.png`, 
        bannerMockupS:`MockupS.png`,
        bannerButtonColor:`colorBgBYPgrey` }) %>

  <!-- timeline -->
  <div class="wrapper">
    <div class="blankHXS"></div>

    <div class="Grid Grid--gutters Grid--cols-4 u-textCenter">
      <!-- subTitleFont1 -->
      <div class="Grid-cell">
        <div class="element">
          <h3> <strong class=""> Timeline </strong> </h3>
          <h4> June - July 2023 </h4>
          <h4> 4 Weeks </h4>
        </div>
      </div>
      <div class="Grid-cell">
        <div class="element">
          <h3> <strong class=""> Team </strong> </h3>
          <h4> Marketing, Sales </h4>
          <h4> Engineer Lead </h4>
          <h4> Stakeholder Review </h4>
        </div>
      </div>
      <div class="Grid-cell">
        <div class="element">
          <h3> <strong class=""> Role </strong> </h3>
          <h4> User Research </h4>
          <h4> Design, Test & Iterate </h4>
          <h4> Deliverable & Q/A </h4>

        </div>
      </div>
      <div class="Grid-cell">
        <div class="element">
          <h3> <strong class=""> Tools </strong> </h3>
          <h4> Figma </h4>
          <h4> Trello & Notion </h4>
          <h4> Slack </h4>


        </div>
      </div>
    </div>

    <div class="blankHS"></div>


  </div>

  <div class="colorBgBYPblue200">
    <div class="blankHXS"></div>

    <div class="wrapperM">

      <div class="Grid Grid--gutters Grid--full u-textCenter">
        <%- include(`${templatePath}/shared/comp_textualElements_title`, {
        fontColor:`colorBYPblue800`,
        fontSize:`h1`, 
        titleText:`Overview - Streamlining the Booking Process`,
        fontWeight:'fontWeight900'
        }) %>
      </div>
      <div class="blankHTiny"></div>

      <div class="Grid Grid--full Grid--gutters u-textCenter">
        <div class="Grid-cell ">
          <div class="element">

            <h3>Improve the user experience for pet business owners booking appointments for their customers by streamlining the booking process.
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="blankHTiny"></div>

    <div class="wrapper">
      <div class="Grid Grid--gutters Grid--cols-3 u-textCenter" data-module="countup">

        <div class="Grid-cell">
          <div class="element">
            <div class="stat">
              <%- include(`${templatePath}/shared/base_chip`, {
                chipSmallTxt: 'Monthly',
                colorBg: 'colorBgBYPblue100',
                colorTxt: 'colorBYPblue800'
              }) %>
              <h2 class="stat-figure">
                <span class="stat-prefix specialTextL fontWeight700">+</span>
                <span class="stat-number specialTextL fontWeight700" data-countup-number="169">169</span>
                <span class="stat-suffix">%</span>
              </h2>

              <h5 class="fontWeight400">
                Booking Conversion
              </h5>
              <h6 class="">
                from 20% to 75%
              </h6>
              <h6 class="">
                from 30,445 to 81,700 </h6>
            </div>
          </div>
        </div>

        <div class="Grid-cell">
          <div class="element">
            <div class="stat">
              <%- include(`${templatePath}/shared/base_chip`, {
                chipSmallTxt: 'Overtime',
                colorBg: 'colorBgBYPblue100',
                colorTxt: 'colorBYPblue800'
              }) %>
   
              <h2 class="stat-figure">
                <span class="stat-prefix specialTextL fontWeight700">-</span>
                <span class="stat-number specialTextL fontWeight700" data-countup-number="80">80</span>
                <span class="stat-suffix">%</span>
              </h2>
              <h5 class="fontWeight400">
                Time to Book </h5>
              <h6 class="">
                from 5 mins (2021)
              </h6>
              <h6 class="">
                to less than 1 min (2024)
              </h6>

            </div>

          </div>
        </div>

        <div class="Grid-cell">
          <div class="element">
            <div class="stat">
              <%- include(`${templatePath}/shared/base_chip`, {
                chipSmallTxt: 'Monthly',
                colorBg: 'colorBgBYPblue100',
                colorTxt: 'colorBYPblue800'
              }) %>
              <h2 class="stat-figure">
                <span class="stat-prefix specialTextL fontWeight700">+</span>
                <span class="stat-number specialTextL fontWeight700" data-countup-number="15">15</span>
                <span class="stat-suffix">%</span>
              </h2>

              <h5 class="fontWeight400">
                Upsell Success Rate </h5>
              <h6 class="">
                from 20% to 35%
              </h6>
              <h6 class="">
                increased 15,000+
              </h6>
            </div>

          </div>
        </div>

      </div>




    </div>
    <div class="blankHXS"></div>

    <div class="wrapper">
      <div class="TBcarousel Grid--center Grid Grid--full Grid--gutters u-textCenter" aria-label="TBcarousel" tabindex="0" id="TBcarousel1">
        <div class="TBslides">
          <div class="TBslidesItem slide-1" id="slide-1" aria-label="slide 1 of 4" tabindex="0">
            <div class="crop_byp_b2b">
              <img src="gif_click_calendar.gif" alt="Clickable Calendar">

            </div>
          </div>
          <div class="TBslidesItem slide-2" id="slide-2" aria-label="slide 2 of 4" tabindex="0">
            <div class="crop_byp_b2b">
              <img src="gif_price_dropdown.gif" alt="Price Dropdown">

            </div>
          </div>
          <div class="TBslidesItem slide-3" id="slide-3" aria-label="slide 3 of 4" tabindex="0">
            <div class="crop_byp_b2b">
              <img src="gif_override_price.gif" alt="Override Price">
            </div>
          </div>
          <div class="TBslidesItem slide-4" id="slide-4" aria-label="slide 4 of 4" tabindex="0">
            <div class="crop_byp_b2b">
              <img src="gif_adjust_duration.gif" alt="Adjust Duration">

            </div>
          </div>
        </div>
        <div class="blankHXXS"></div>

        <div class="TBcarouselNav Grid-cell flipBtn">
          <a class="TBsliderNav" aria-label="Go to slide 1" tabindex="0">
            <div>Clickable Calendar</div>
          </a>
          <a class="TBsliderNav" aria-label="Go to slide 2" tabindex="0">
            <div>Display Price</div>

          </a>
          <a class="TBsliderNav" aria-label="Go to slide 3" tabindex="0">
            <div>Override Price</div>
          </a>
          <a class="TBsliderNav" aria-label="Go to slide 4" tabindex="0">
            <div>Adjust Duration</div>

          </a>
        </div>
        <div class="blankHXXS"></div>

      </div>
    </div>


    <div class="blankHXS"></div>


  </div>
  <!-- Case study starts -->
  <main>
    <nav class="new_side_bar BlueBYP">
      <ul>

        <li><a href="#content1" class="side_bar_content">
            Background
          </a></li>

        <li><a href="#content2" class="side_bar_content">
            Research
          </a></li>

        <li><a href="#content3" class="side_bar_content">
            Design
          </a></li>

        <li><a href="#content4" class="side_bar_content">
            Iteration
          </a></li>
        <li><a href="#content5" class="side_bar_content">
            Reflection
          </a></li>
      </ul>
    </nav>
    <div class="colorBgBYPblue100">
      <div class="blankHXS"></div>
      <section id="content1">
        <div class="wrapper">
          <div class="Grid Grid--gutters Grid--full u-textCenter">
            <%- include(`${templatePath}/shared/comp_textualElements_title`, {    
              fontColor:`colorBYPblue800`,
              fontSize:`h1`, 
              titleText:`Background`,
              fontWeight:'fontWeight900'
            }) %>
          </div>

          <div class="Grid Grid--gutters Grid--full">

            <div class="Grid-cell">
              <div class="element">
                <h3><strong>Context</strong></h3>
                <h4>BookYourPet provides a tool for pet industry business owners to streamline appointment management, service tracking, and payment processing.</h4>
                <img class="" src="img_diveces.svg" alt="icon arrow">
              </div>
            </div>
            <div class="blankHS"></div>

            <div class="Grid-cell">
              <div class="element">
                <div class="rowToColumn centerVH">
                  <div class="widthMax">
                    <h3><strong>Target Users - Pet Business Owners</strong></h3>
                    <h5 class="colorBYPblue800 fontWeight400">Role:</h5>
                    <p>Business owners and managers who handle bookings and appointments for their pet services.</p>
                    <h5 class="colorBYPblue800 fontWeight400">Needs:</h5>

                    <ul>
                      <li class="listCircle"> A smooth, easy, and quick booking process. </li>
                      <li class="listCircle">Efficient management of client and pet information.</li>

                      <li class="listCircle">Flexible pricing adjustments and upselling opportunities.</li>

                    </ul>
                    <h5 class="colorBYPblue800 fontWeight400">Goals:</h5>

                    <ul>
                      <li class="listCircle">Streamline operations to save time and reduce effort.</li>
                      <li class="listCircle">Increase revenue through effective upselling during the booking process.</li>
                      <li class="listCircle">Ensure a clear and user-friendly interface to enhance overall satisfaction.</li>


                    </ul>


                  </div>
                  <div class="paddingL ">
                    <div class="widthFitContent">
                      <img class="widthXS" src="img_target_user.png" alt="icon arrow">
                    </div>
                  </div>

                </div>
              </div>
            </div>


          </div>
          <div class="blankHS"></div>

          <div class="Grid Grid--gutters Grid--full">



            <div class="Grid-cell">
              <div class="element">
                <h3><strong>Timeline </strong></h3>
                <div class="element">
                  <div class="Grid">
                    <img class="modal-target" src="diagram_timeline.svg" alt="Timeline Map">
                  </div>
                </div>


              </div>
            </div>


          </div>


        </div>
      </section>
      <div class="blankHM"></div>

      <section id="content2">
        <div class="wrapper">


          <div class="Grid Grid--gutters Grid--full u-textCenter">
            <%- include(`${templatePath}/shared/comp_textualElements_title`, {    fontColor:'colorBYPblue800',
            fontSize:'h1', 
            fontWeight:'fontWeight900',       
            titleText:'Research',
            }) %>
          </div>

          <div class="Grid Grid--full Grid--gutters">
            <div class="Grid-cell">
              <div class="element">
                <img class="" src="diagram_research_steps.svg" alt="icon arrow">
              </div>
            </div>
          </div>
          <div class="blankHS"></div>

          <div class="Grid Grid--full Grid--gutters">
            <div class="Grid-cell">
              <div class="element">
                <h2><strong>Customer Feedback</strong></h2>
              </div>
            </div>
          </div>



          <div class="Grid Grid--full Grid--gutters">
            <div class="Grid-cell ">
              <div class="element">
                <img class="" src="img_feedback.svg" alt="icon arrow">

                <h4 class=" borderRadiusXS colorBgBYPblue200 paddingS">Customer feedback gathered by our marketing and sales teams over the past several months, highlighting the most frequent requests and categorizing them for analysis.
                </h4>
              </div>
            </div>
          </div>

          <div class="Grid Grid--full Grid--gutters">
            <div class="Grid-cell">
              <div class="element">
                <h3><strong class="colorBYPblue800">Pricing Flexibility:</strong></h3>
                <h4> "It would be great to have more flexibility in adjusting prices for services, both during and after the booking process."
                </h4>
                <h4>"I find it challenging to modify the prices for individual line items. More options here would be helpful."
                </h4>

                <h3><strong class="colorBYPblue800">Search Functionality:</strong></h3>
                <h4>"The search feature could be improved. Sometimes it’s difficult to find clients or pets using just their name."</h4>
                <h4>"It would be helpful to have more robust search options, like searching by email or phone number."</h4>
                <h3><strong class="colorBYPblue800">Payment Methods:</strong></h3>
                <h4>"We need more payment options. Currently, the choices are limited, and it would be beneficial to offer methods like cash tip or invoice."</h4>
                <h4>"Partial payment options would be a fantastic addition. Sometimes clients prefer to pay in installments."</h4>
                <h3><strong class="colorBYPblue800">Service Clarifications:</strong></h3>
                <h4>"The service descriptions could be clearer. Sometimes it’s hard to understand what’s included in each package."</h4>
                <h4>"Providing more detailed information about each service and membership would help in making informed decisions."</h4>

              </div>
            </div>

          </div>

          <div class="blankHS"></div>

          <div class="Grid Grid--full Grid--gutters">
            <div class="Grid-cell">
              <div class="element">
                <h2><strong>User Interview</strong></h2>
              </div>
            </div>
          </div>
          <div class="Grid Grid--full Grid--gutters">
            <div class="Grid-cell ">
              <div class="element">
                <img class="" src="img_user_interview.svg" alt="user interview">

                <h4 class=" borderRadiusXS colorBgBYPblue200 paddingS">Obtain in-depth qualitative data on user
                  experiences, behaviors, and expectations.
                </h4>
              </div>
            </div>
          </div>
          <div class="blankHS"></div>

          <div class="Grid Grid--full Grid--gutters">
            <div class="Grid-cell">
              <div class="element">
                <h3>Focus Areas</h3>

                <h3 class="fontWeight400 colorBYPblue800">&#9758; User Needs During Booking </h3>

                <h3 class="fontWeight400 colorBYPblue800">&#9758; Booking Problems & Blockers

                </h3>
                <h3 class="fontWeight400 colorBYPblue800">&#9758; Reasons for Problems

                </h3>
                <h3 class="fontWeight400 colorBYPblue800">&#9758; Current Problem-Solving Methods
                </h3>



              </div>
            </div>

          </div>
          <div class="blankHS"></div>

          <div class="Grid Grid--full Grid--gutters">
            <div class="Grid-cell">
              <div class="element">
                <h3>Affinity Map</h3>
              </div>
            </div>
          </div>
          <div class="Grid Grid--full Grid--gutters">
            <div class="Grid-cell ">
              <div class="element">
                <div class="Grid">
                  <img class="modal-target" src="diagram_affinity_map.png" alt="Affinity Map">
                </div>
              </div>
              <div class="element">

                <img class="" src="img_efficiency.png" alt="user interview">


                <div class="borderRadiusXS colorBgBYPblue200 paddingS">

                  <h4>Pet business owners primarily care about a booking system that is efficient, easy to use, accurate, flexible, and reliable. They want to provide a smooth and satisfactory experience for their clients while also having the ability to promote additional services and clearly communicate costs.
                  </h4>

                </div>
              </div>
            </div>
          </div>

          <div class="blankHS"></div>

          <div class="Grid Grid--full Grid--gutters">
            <div class="Grid-cell">
              <div class="element">
                <h2><strong>Competitor Research</strong></h2>
              </div>
            </div>
          </div>

          <div class="Grid Grid--full Grid--gutters">
            <div class="Grid-cell ">
              <div class="element">


                <table>
                  <thead>
                    <tr>
                      <th>Feature</th>
                      <th>B2B BYP App</th>
                      <th>Time To Pet</th>
                      <th>MyTime</th>
                      <th>SimplyBook.me</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><strong>Booking Process</strong></td>
                      <td>User-friendly, needs improvement in visibility and ease of use</td>
                      <td>Highly intuitive, real-time updates</td>
                      <td>Integrated with advanced scheduling, robust calendar management</td>
                      <td>Easy-to-use, customizable booking pages</td>
                    </tr>
                    <tr>
                      <td><strong>Sales Promotion</strong></td>
                      <td>Needs enhancement for upsell features and visibility</td>
                      <td>Supports add-ons, promotions, discounts</td>
                      <td>Strong upselling, loyalty programs, membership discounts</td>
                      <td>Add-ons, promotional codes, loyalty programs</td>
                    </tr>
                    <tr>
                      <td><strong>Payment Flexibility</strong></td>
                      <td>Limited options, needs improvement in partial payments</td>
                      <td>Multiple options, automated invoicing, partial payments supported</td>
                      <td>Extensive options, partial payments, payment plans</td>
                      <td>Multiple gateways, deposits, partial payments</td>
                    </tr>
                    <tr>
                      <td><strong>Strengths</strong></td>
                      <td>Needs UI improvement, flexible pricing</td>
                      <td>Easy-to-use interface, comprehensive payment options</td>
                      <td>Advanced scheduling, extensive payment options, strong upselling features</td>
                      <td>Customizable booking pages, strong promotion features</td>
                    </tr>
                    <tr>
                      <td><strong>Weaknesses</strong></td>
                      <td>Limited flexibility and customization</td>
                      <td>Limited customization options, basic reporting</td>
                      <td>Complex interface, higher pricing</td>
                      <td>Limited advanced reporting, setup required for some integrations</td>
                    </tr>
                  </tbody>
                </table>
                <div class="blankHXS"></div>

                <div class="borderRadiusXS colorBgBYPblue200 paddingS">

                  <h4>Conduct competitor research to compare the B2B BYP app with other popular booking and management solutions: Time To Pet, MyTime, and SimplyBook.me. The focus is on booking processes, sales promotion features, and payment flexibility.
                  </h4>

                </div>
              </div>

            </div>
          </div>
          <div class="blankHS"></div>
          <div class="Grid Grid--full Grid--gutters">
            <div class="Grid-cell">
              <div class="element">
                <h3><strong>Usability Testing</strong></h3>
              </div>
            </div>
          </div>
          <div class="Grid Grid--gutters Grid--cols-3">
            <!-- subTitleFont1 -->
            <div class="Grid-cell">
              <div class="element">


                <h3 class="colorBYPblue800 fontWeight400">Participants:</h3>
                <ul>
                  <li class="listCircle">Number of Participants: 8 B2B clients </li>
                  <li class="listCircle">Experience Levels: 4 novice users, 4 experienced users</li>


                </ul>



              </div>
            </div>
            <div class="Grid-cell">
              <div class="element">


                <h3 class="colorBYPblue800 fontWeight400">Testing Scenarios:</h3>

                <ul>
                  <li class="listCircle">Booking a Service</li>
                  <li class="listCircle">Searching for a Client and Pet</li>

                  <li class="listCircle">Adjusting Service Pricing</li>
                  <li class="listCircle">Completing a Payment</li>
                </ul>



              </div>
            </div>
            <div class="Grid-cell">
              <div class="element">


                <h3 class="colorBYPblue800 fontWeight400">Metrics:</h3>

                <ul>
                  <li class="listCircle">Task Completion Rate</li>
                  <li class="listCircle">Time on Task</li>
                  <li class="listCircle">Error Rate</li>
                  <li class="listCircle">User Satisfaction</li>
                  <li class="listCircle">Qualitative Feedback</li>


                </ul>


              </div>
            </div>

          </div>
          <div class="Grid Grid--full Grid--gutters">

            <img class="" src="img_testing.png" alt="icon arrow">
          </div>

          <div class="blankHXS"></div>


          <div class="Grid Grid--full Grid--gutters">
            <div class="Grid-cell">
              <div class="element">
                <h3>Overall Insights</h3>
              </div>
            </div>
            <div class="Grid-cell">
              <div class="element">

                <h3><strong class="colorBYPblue800">Task Completion Rate:</strong></h3>
                <h5>Generally high, indicating that most users could complete tasks successfully.
                </h5>


                <h3><strong class="colorBYPblue800">Time on Task:</strong></h3>
                <h5>Experienced users completed tasks faster, highlighting a learning curve for novice users.</h5>

                <h3><strong class="colorBYPblue800">Error Rate:</strong></h3>
                <h5>Most errors were minor but pointed to areas needing clarity and improved guidance.</h5>
                <h3><strong class="colorBYPblue800">User Satisfaction:</strong></h3>
                <h5>Overall positive. Some areas, such as search functionality and price adjustments, require further refinement.</h5>
                <h3><strong class="colorBYPblue800">Qualitative Feedback:</strong></h3>
                <h5>Positive feedback on the streamlined interface and improved booking process.</h5>
                <h5>Constructive feedback on the need for better search filters, clearer price adjustment options, and more transparent payment confirmations.</h5>

              </div>
            </div>
            <div class="Grid-cell">
              <div class="element">
                <div class="borderRadiusXS colorBgBYPblue200 paddingS">
                  <h4>The usability testing revealed that the redesigned booking flow significantly improved user satisfaction and efficiency. However, further enhancements are needed in the search functionality, price adjustment interface, and clarity of payment and order summaries. By addressing these areas, the booking experience can be further optimized for both novice and experienced users.
                  </h4>

                </div>
              </div>
            </div>
          </div>

          <div class="blankHS"></div>

        </div>


        <div class="wrapper">


          <div class="Grid Grid--full Grid--gutters">
            <div class="Grid-cell">
              <div class="element">
                <h2><strong>Key Findings</strong></h2>
              </div>
            </div>
          </div>
        </div>

        <div class="colorBgBYPblue200">
          <div class="blankHXS"></div>

          <div class="wrapper">
            <div class="Grid Grid--full Grid--gutters">
              <div class="Grid-cell">
                <div class="element">
                  <h3 class="specialTextL fontWeight700 ">#1 Streamlining the Booking Process</h3>

                  <div class="rowToColumn centerVH colorBgBYPblue200 paddingS borderRadiusS">
                    <div class="widthMax">
                      <h3><strong class="colorBYPblue800">Finding:</strong></h3>

                      <ul>
                        <li class="listCircle">
                          <h4><strong>Complex Interface:</strong> Users found the previous booking interface cluttered and difficult to navigate.
                          </h4>
                        </li>
                        <li class="listCircle">
                          <h4><strong>Confusing Layout:</strong>The layout did not prioritize important booking details, causing confusion.</h4>
                        </li>

                      </ul>
                      <div class="centerHorz"> <img class="iconL" src="icon_arr.svg" alt="icon arrow">
                      </div>

                      <h3><strong class="colorBYPblue800">Insight:</strong></h3>
                      <ul>
                        <li class="listCircle">
                          <h4><strong>Simplification Needed:</strong> A simplified and more intuitive interface is crucial for a smoother booking experience.</h4>
                        </li>
                        <li class="listCircle">
                          <h4><strong>Better Information Hierarchy:</strong> Clear and prioritized display of booking details, clients, and pets can significantly reduce user confusion.</h4>
                        </li>
                      </ul>
                    </div>
                    <div class="paddingL">
                      <div class="">
                        <img class="" src="img_finding1.png" alt="icon arrow">
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="blankHXS"></div>

        </div>
        <div class="blankHXXS"></div>
        <hr class="wrapper">
        <div class="blankHXXS"></div>
        <div class="colorBgBYPblue200">
          <div class="blankHXS"></div>

          <div class="wrapper">
            <div class="Grid Grid--full Grid--gutters">
              <div class="Grid-cell">
                <div class="element">
                  <h3 class="specialTextL fontWeight700 ">#2 Improve Booking Efficiency & Speed</h3>

                  <div class="rowToColumn centerVH colorBgBYPblue200 paddingS borderRadiusS">
                    <div class="widthMax">
                      <h3><strong class="colorBYPblue800">Finding:</strong></h3>

                      <ul>
                        <li class="listCircle">
                          <h4><strong>Inefficient Search:</strong> Users experienced delays when searching for clients and pets due to a lack of efficient search functionality.
                          </h4>
                        </li>
                        <li class="listCircle">
                          <h4><strong>Multiple Steps:</strong> The booking process required too many steps, making it time-consuming.</h4>
                        </li>

                      </ul>
                      <div class="centerHorz"> <img class="iconL" src="icon_arr.svg" alt="icon arrow">
                      </div>

                      <h3><strong class="colorBYPblue800">Insight:</strong></h3>
                      <ul>
                        <li class="listCircle">
                          <h4><strong>Enhanced Search Functionality:</strong> Implementing a comprehensive search box with optimized algorithms will speed up the process of finding clients and pets.</h4>
                        </li>
                        <li class="listCircle">
                          <h4><strong>Streamlined Steps:</strong> Reducing the number of steps and clicks needed to complete a booking will enhance efficiency and speed.</h4>
                        </li>
                      </ul>
                    </div>
                    <div class="paddingL">
                      <div class="">
                        <img class="" src="img_finding2.png" alt="icon arrow">
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="blankHXS"></div>

        </div>
        <div class="blankHXXS"></div>
        <hr class="wrapper">
        <div class="blankHXXS"></div>
        <div class="colorBgBYPblue200">
          <div class="blankHXS"></div>

          <div class="wrapper">
            <div class="Grid Grid--full Grid--gutters">
              <div class="Grid-cell">
                <div class="element">
                  <h3 class="specialTextL fontWeight700 ">#3 Enhance Flexibility of Booking </h3>


                  <div class="rowToColumn centerVH colorBgBYPblue200 paddingS borderRadiusS">
                    <div class="widthMax">
                      <h3><strong class="colorBYPblue800">Finding:</strong></h3>

                      <ul>
                        <li class="listCircle">
                          <h4><strong>Static Pricing:</strong> Users struggled with the inability to modify prices in real-time during the booking process.
                          </h4>
                        </li>
                        <li class="listCircle">
                          <h4><strong>Lack of Guidance:</strong> Users often felt lost during the price adjustment process due to a lack of clear instructions.</h4>
                        </li>

                      </ul>
                      <div class="centerHorz"> <img class="iconL" src="icon_arr.svg" alt="icon arrow">
                      </div>

                      <h3><strong class="colorBYPblue800">Insight:</strong></h3>
                      <ul>
                        <li class="listCircle">
                          <h4><strong>Real-Time Price Modification: </strong> Enabling real-time price adjustments will provide business owners with the flexibility they need to manage bookings more effectively.</h4>
                        </li>
                        <li class="listCircle">
                          <h4><strong>Guided Adjustments: </strong> Providing clear instructions and tooltips will help users navigate the price adjustment process with ease.</h4>
                        </li>
                      </ul>
                    </div>
                    <div class="paddingL ">
                      <div class="">
                        <img class="" src="img_finding3.png" alt="icon arrow">
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="blankHXS"></div>

        </div>
        <div class="blankHXXS"></div>
        <hr class="wrapper">
        <div class="blankHXXS"></div>
        <div class="colorBgBYPblue200">
          <div class="blankHXS"></div>

          <div class="wrapper">
            <div class="Grid Grid--full Grid--gutters">
              <div class="Grid-cell">
                <div class="element">
                  <h3 class="specialTextL fontWeight700 ">#4 Additional Enhancements</h3>


                  <div class="rowToColumn centerVH colorBgBYPblue200 paddingS borderRadiusS">
                    <div class="widthMax">
                      <h3><strong class="colorBYPblue800">Finding:</strong></h3>

                      <ul>
                        <li class="listCircle">
                          <h4><strong>Incomplete Information: </strong>Users often lacked access to comprehensive booking-related information, leading to incomplete bookings.
                          </h4>
                        </li>
                        <li class="listCircle">
                          <h4><strong>Unclear Costs: </strong>The total cost of the booking was not always clear until the final step, causing uncertainty.</h4>
                        </li>

                      </ul>
                      <div class="centerHorz"> <img class="iconL" src="icon_arr.svg" alt="icon arrow">
                      </div>

                      <h3><strong class="colorBYPblue800">Insight:</strong></h3>
                      <ul>
                        <li class="listCircle">
                          <h4><strong>Comprehensive Information Display: </strong> Displaying all relevant booking information, including upcoming appointments and last appointment details, will ensure users have all the necessary details.</h4>
                        </li>
                        <li class="listCircle">
                          <h4><strong>Transparent Cost Display: </strong> Showing the estimated total cost during the booking process will reduce uncertainty and improve user confidence.</h4>
                        </li>
                      </ul>
                    </div>
                    <div class="paddingL ">
                      <div class="">
                        <img class="" src="img_finding4.png" alt="icon arrow">
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="blankHXS"></div>

        </div>
        <div class="blankHS"></div>
      </section>




      <div class="blankHM"></div>
      <section id="content3">
        <div class="wrapper">
          <div class="Grid Grid--gutters Grid--full u-textCenter">
            <%- include(`${templatePath}/shared/comp_textualElements_title`, {    
              fontColor:'colorBYPblue800',
              fontSize:'h1', 
              fontWeight:'fontWeight900',       
              titleText:'Design',
              }) %>
          </div>
          <div class="Grid Grid--full Grid--gutters">
            <div class="Grid-cell">
              <div class="element">
                <h3><strong>Workflow</strong></h3>
              </div>
            </div>


            <div class="Grid-cell ">
              <div class="element">
                <div class="Grid">
                  <img class="modal-target" src="diagram_workflow.svg" alt="Workflow">
                </div>
              </div>
              <div class="element">



                <div class="borderRadiusXS colorBgBYPblue200 paddingS">

                  <h3>The goal is to enhance the appointment booking process by increasing flexibility, efficiency, and clarity. Our objectives are to reduce booking time and improve overall efficiency.</h3>
                  <h3>Feedback indicates that some users, in certain situations, prefer to skip the payment step for added flexibility. Additionally, improving price clarity and making prices easy to understand and editable are critical for reducing booking time and effort.





                  </h3>



                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="blankHS"></div>

        <div class="wrapper">
          <div class="Grid Grid--full Grid--gutters">
            <div class="Grid-cell">
              <div class="element">
                <h3><strong>Mockups</strong></h3>
              </div>
            </div>
          </div>
        </div>
        <div class="colorBgBYPblue200">
          <div class="blankHXS"></div>

          <div class="wrapper">
            <div class="Grid Grid--full Grid--gutters">
              <div class="Grid-cell">
                <div class="element">
                  <h3 class="specialTextL fontWeight700 ">#1 Remind main flow, payment step is optional </h3>

                  <div class="Grid Grid--full Grid--gutters">
                    <div class="Grid-cell ">
                      <div class="element">
                        <div class="Grid">
                          <img class="modal-target" src="flow_overview.svg" alt="">
                        </div>
                      </div>
                      <div class="element">



                        <div class="borderRadiusXS colorBgBYPblue200 paddingS">

                          <h3>The overall key flow remains the same, but now the appointment and payment pages are clearly separated. All appointment details are on the appointment page, allowing users to communicate about the appointment before proceeding to payment. Users can also edit prices at the line item level, not on the payment page.





                          </h3>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="blankHXS"></div>

        </div>
        <div class="blankHS"></div>
        <hr class="wrapper">
        <div class="blankHS"></div>
        <div class="colorBgBYPblue200">
          <div class="blankHXS"></div>

          <div class="wrapper">
            <div class="Grid Grid--full Grid--gutters">
              <div class="Grid-cell">
                <div class="element">
                  <h3 class="specialTextL fontWeight700 ">#2 Auto fill clicked date & time </h3>

                  <div class="Grid Grid--full Grid--gutters">
                    <div class="Grid-cell ">
                      <div class="element">
                        <div class="Grid">
                          <img class="modal-target" src="flow_auto_select_date.svg" alt="">
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="element">

              <div class="crop_byp_b2b">
                <img src="gif_click_calendar.gif" alt="Clickable Calendar">
              </div>
            </div>
            <div class="element">
              <div>
                <h3>Clicking the calendar automatically selects the appointment date and time based on user's selection.</h3>
              </div>
            </div>
          </div>
          <div class="blankHXS"></div>

          <div class="blankHS"></div>

        </div>
        <div class="blankHS"></div>
        <hr class="wrapper">
        <div class="blankHS"></div>
        <div class="colorBgBYPblue200">
          <div class="blankHXS"></div>

          <div class="wrapper">
            <div class="Grid Grid--full Grid--gutters">
              <div class="Grid-cell">
                <div class="element">
                  <h3 class="specialTextL fontWeight700 ">#3 Easy to override the duration </h3>

                  <div class="Grid Grid--full Grid--gutters">
                    <div class="Grid-cell ">
                      <div class="element">
                        <div class="Grid">
                          <img class="modal-target" src="flow_override_duration.svg" alt="">
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="element">

              <div class="crop_byp_b2b">
                <img src="gif_adjust_duration.gif" alt="">
              </div>
            </div>
            <div class="element">
              <div>
                <h3>Default service duration will auto popup after service selection. Users can adjust the duration as needed during service selection.
                </h3>
              </div>
            </div>
          </div>
          <div class="blankHXS"></div>

          <div class="blankHS"></div>

        </div>
        <div class="blankHS"></div>
        <hr class="wrapper">
        <div class="blankHS"></div>


        <div class="colorBgBYPblue200">
          <div class="blankHXS"></div>

          <div class="wrapper">
            <div class="Grid Grid--full Grid--gutters">
              <div class="Grid-cell">
                <div class="element">
                  <h3 class="specialTextL fontWeight700 ">#4 Easy to see the price </h3>

                  <div class="Grid Grid--full Grid--gutters">
                    <div class="Grid-cell ">
                      <div class="element">
                        <div class="Grid">
                          <img class="modal-target" src="flow_see_price.png" alt="">
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="element">

              <div class="crop_byp_b2b">
                <img src="gif_price_dropdown.gif" alt="">
              </div>
            </div>
            <div class="element">
              <div>
                <h3>The dropdown menu shows the price, making it easy for business owners to see and communicate with customers. After selecting a service, the price becomes editable, with the default price staying the same.
                </h3>
              </div>
            </div>
          </div>
          <div class="blankHS"></div>

        </div>
      </section>
      <section id="content4">
        <div class="wrapper">
          <div class="Grid Grid--gutters Grid--full u-textCenter">
            <%- include(`${templatePath}/shared/comp_textualElements_title`, {    
              fontColor:'colorBYPblue800',
              fontSize:'h1', 
              fontWeight:'fontWeight900',       
              titleText:'Iteration',
              }) %>
          </div>
        </div>



        <div class="colorBgBYPblue200">
          <div class="blankHXS"></div>

          <div class="wrapper">
            <div class="Grid Grid--full Grid--gutters">
              <div class="Grid-cell">
                <div class="element">
                  <h3 class="specialTextL fontWeight700 ">#1 Reduct click & avoid back and force </h3>

                </div>
              </div>
            </div>


            <div class="Grid Grid--gutters Grid--cols-2 u-textCenter">
              <div class="Grid-cell">
                <div class="element">
                  <img src="gif_note.gif" alt="">
                </div>
                <div class="element">
                  <h3>Current Version </h3>
                </div>
              </div>
              <div class="Grid-cell">
                <div class="element">
                  <img src="gif_note_enhance.gif" alt="">
                </div>
                <div class="element">
                  <h3>Enhancement </h3>
                </div>
              </div>
            </div>
          </div>
          <div class="blankHS"></div>

        </div>
        <div class="blankHS"></div>
        <hr class="wrapper">
        <div class="blankHS"></div>

        <div class="colorBgBYPblue200">
          <div class="blankHXS"></div>

          <div class="wrapper">
            <div class="Grid Grid--full Grid--gutters">
              <div class="Grid-cell">
                <div class="element">
                  <h3 class="specialTextL fontWeight700 ">#2 Hide order details by default to avoid confusion </h3>

                </div>
              </div>
            </div>


            <div class="Grid Grid--gutters Grid--cols-2 u-textCenter">
              <div class="Grid-cell">
                <div class="element">
                  <img src="mockup_payment.svg" alt="">
                </div>
                <div class="element">
                  <h3>Current Version </h3>
                </div>
              </div>
              <div class="Grid-cell">
                <div class="element">
                  <img src="gif_hide_details.gif" alt="">
                </div>
                <div class="element">
                  <h3>Enhancement </h3>
                </div>
              </div>
            </div>
          </div>
          <div class="blankHS"></div>

        </div>
      </section>
      <section id="content5">
        <div class="wrapper">
          <div class="Grid Grid--gutters Grid--full u-textCenter">
            <%- include(`${templatePath}/shared/comp_textualElements_title`, {    
              fontColor:'colorBYPblue800',
              fontSize:'h1', 
              fontWeight:'fontWeight900',       
              titleText:'Outcome',
              }) %>
          </div>
          <div class="Grid Grid--full Grid--gutters">
            <div class="Grid-cell">
              <div class="element">
                <h2><strong class="colorBYPblue800">What went well so far 👍</strong></h2>
                <h3> <strong class="Grey800">Streamline the Booking Process </strong></h3>

                <ul>
                  <li class="listCircle">
                    <h4>Streamlined the Booking Process </h4>
                  </li>
                  <li class="listCircle">
                    <h4>Reduce booking time</h4>
                  </li>
                  <li class="listCircle">
                    <h4>Improve booking efficiency</h4>
                  </li>
                  <li class="listCircle">
                    <h4>Enhanced flexibility in pricing adjustments

                    </h4>
                  </li>
                  <li class="listCircle">
                    <h4>Increased clarity of booking details
                    </h4>
                  </li>
                </ul>
                <div class="blankHXXS"></div>


                <h3> <strong class="Grey800">KPIs since launch</strong></h3>
                <ul>

                  <li class="listCircle">
                    <h4><strong>Booking Completion Rate:</strong> Improved by 20%, from 75% to 90%
                      Booking Conversion Rate: Improved by 169% </h4>
                  </li>


                  <li class="listCircle">
                    <h4><strong>Time to Book:</strong>Decreased by 42%, reducing average booking time from 5 minutes to 3.5 minutes
                    </h4>
                  </li>
                  <li class="listCircle">
                    <h4><strong>Booking Errors:</strong> Reduced by 67%, from 15 errors per 100 bookings to 5 errors per 100 bookings
                    </h4>
                  </li>
                  <li class="listCircle">
                    <h4><strong>Upsell Success Rate:</strong> Increased by 75%, from 20% to 35%
                    </h4>
                  </li>

                </ul>
                <div class="blankHXXS"></div>

                <h2><strong class="colorBYPblue800">What could be improved 💪</strong></h2>
                <ul>

                  <li class="listCircle">
                    <h4><strong>Enhance the search functionality:</strong> Make it easier to find clients and pets, especially with common names.</h4>
                  </li>


                  <li class="listCircle">
                    <h4><strong>Improve service categorization:</strong>Allow business owners to categorize and reorder services based on their specific needs.
                    </h4>
                  </li>
                  <li class="listCircle">
                    <h4><strong>Simplify rescheduling and canceling appointments: </strong>Provide more intuitive options for managing changes to bookings.

                    </h4>
                  </li>


                </ul>
                <div class="blankHXXS"></div>

                <h2><strong class="colorBYPblue800">Reflection 📚</strong></h2>
                <h4> Incorporating both qualitative and quantitative data was essential for understanding user behavior and improving the booking process. With additional time, expanding the user testing group could yield deeper insights and help refine the features further as the app grows.
                </h4>



              </div>
            </div>

          </div>
        </div>

      </section>

    </div>
  </main>

  <!-- Case study ends -->

  <div class="blankHM"></div>

  <div class="blankHS"></div>





  <div class="blankHS"></div>




  <!-- Shared across the platform -->




  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Skills & Experiences' }) %>
  <%- include(`${templatePath}/shared/comp_tagCloud`) %>
  <%- include(`${templatePath}/shared/comp_closingMessage`, { version: '' , message:''}) %>
  <%- include(`${templatePath}/shared/block_modal`) %>


  <%- include(`${templatePath}/shared/comp_backTop`) %>

  <%- include(`${templatePath}/shared/block_nav_footer`, { 
    iconHoverColor: 'hoverGrey300',
    footerBackgroundColor:'colorBgWhieTrans'
  }) %>

  <!-- Shared across the platform -->

</body>

</html>