<!DOCTYPE html>
<html lang="en">
<!--Head-->
<%- include(`${templatePath}/shared/head`, {SEO:true, Title:'Architectural Innovation and Academic Exploration - Vicky Wang', 
  description:`A showcase of innovative design projects from her M.Arch program, highlighting expertise in building form, spatial arrangement, and environmental considerations.`, 
  pageURL:'architecture', thumbnailImgURL: 'vickywang_web.png'
  }) %>
<!--Head-->


<body>
  <%- include(`${templatePath}/shared/compProgressBar`) %>
  <%- include(`${templatePath}/shared/block_nav_header`, {
    type:'backText', 
    leftArrowColor:``,
    currentPage: 'ARCHITECTURE',
    PageUrl:`/`
    }) %>
  <div class="blankHM"></div>
  <%- include(`${templatePath}/shared/base_greeting`,{greetingTxt:`ðŸ‘‹ðŸ» hi there!`}) %>
  <%- include(`${templatePath}/shared/comp_titleWeb`,{
    ShowIntroTitle1:true,
    ShowIntroTitle2:false,
    ShowIntroTitle3:false,
    ShowIntroTitle4:false,
    introTitle1: `Crafting spaces & forms: insights from My M.Arch at UC Berkeley`,
    divider1: false, 
    introTitle2: ``,
    divider2: false, 
    introTitle3: ``,
    divider3: false, 
    introTitle4: ``
  }) %>
  <%- include(`${templatePath}/shared/base_textualElements_paragraph`,{
    paragraphTxt:`During my enriching three-year Master of Architecture (M.Arch) program at UC Berkeley, I engaged deeply with advanced design theories, methodologies, and hands-on practices. This portfolio highlights my exploration and mastery of architectural principles, reflecting a comprehensive approach to design. It includes projects that demonstrate my ability to blend form, spatial dynamics, materials, construction methods, social relevance, technology, and environmental sustainability, underscoring my academic journey at UC Berkeley.`
  }) %>

  <div class="wrapper">
    <div class="row">
      <div class="element">
        <a href="mailto:vickyw.design@gmail.com"> <button class="buttonLanding">Email me
          </button></a>
      </div>
      <div class="element">
        <div class="ClipboardBoxIconOnly">
          <button class="ClipboardIconOnly">
            <img class="iconM hoverGrey100 paddingM fitContentax borderRadiusMax" title="Copy Email Address to Clipboard" src="/icon/copy.svg">
            <p class="clickIconCopy">vickyw.design@gmail.com
            </p>
          </button>
        </div>
      </div>

    </div>
  </div>
  <div class="blankHS"></div>

  <!-- Arrow -->
  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Selected Projects' }) %>

  <!-- Arrow -->
  <div class="blankHXS"></div>
  <!-- RECREATION COMMONS-->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-2">
      <div class="Grid-cell">
        <a class="no-hover-effect" href="./recreation_commons/">
          <div class="element">
            <div class="cardBottomBorder float cardBorder borderRadiusS shadowBoxLt">
              <img src="./all_sizes_recreation_commons.svg" alt="Appointa">
              <div class="elementInner">
                <h5>Activity Center</h5>
                <h3 class="arrCard" data-aos="fade-up"><strong>RECREATION COMMONS</strong></h3>

                <p class="lineHorizAll"></p>
                <h6 class=""> <strong>Studio:</strong> &nbsp; ARCH 203 - Integrated Design Studio
                </h6>
                <h6><strong>Duration: </strong> <span class="textItalic">&nbsp;One semester | Fall
                    2018</span> </h6>
                <h6> <strong>Project:</strong> &nbsp; M. Arch, CED, UC Berkeley</h6>
                <h6> <strong>Site:</strong> &nbsp; Site: 110 Franklin St. San Francisco</h6>
                <h6> <strong>Scale:</strong> &nbsp; Total Floor Area: 22900 s.f. 4 Floors</h6>
                <h6> <strong>Instructor:</strong> &nbsp; Roddy Creedon</h6>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="Grid-cell">
        <div class="element">
          <div class=" float cardBorder borderRadiusS shadowBoxLt">
            <img src="./ar_06.png" alt="Kappe House">
            <div class="elementInner">
              <h5>Form finding exercise </h5>
              <h3 class="arrCard" data-aos="fade-up"><strong>KAPPE HOUSE STUDY</strong></h3>

              <p class="lineHorizAll"></p>
              <h6 class=""> <strong>Studio:</strong> &nbsp; THE MAKING OF BUILDINGS
              </h6>
              <h6><strong>Duration: </strong> <span class="textItalic">&nbsp;Fall 2015 | 1 Semester,
                  1 Unit</span> </h6>
              <h6> <strong>Project:</strong> &nbsp;Summer Program, CED, UC Berkeley</h6>
              <h6> <strong>Site:</strong> &nbsp;KAPPE HOUSE </h6>
              <h6> <strong>Scale:</strong> &nbsp; Total Floor Area: 4,000 sq.ft.</h6>

              <h6> <strong>Instructor:</strong> &nbsp;Yung Ho Chang</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- RECREATION COMMONS-->
  <div class="blankHM"></div>

  <!-- recreation commons and narrow stripe -->

  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-2">


      <div class="Grid-cell">
        <a class="no-hover-effect" href="./narrow_stripes/">
          <div class="element">
            <div class="cardBottomBorder float cardBorder borderRadiusS shadowBoxLt">
              <img src="./ar_02.jpg" alt="Appointa">
              <div class="elementInner">
                <h5>Library and infrastructure</h5>
                <h3 class="arrCard" data-aos="fade-up"><strong>NARROW STRIPES</strong></h3>

                <p class="lineHorizAll"></p>
                <h6 class=""> <strong>Studio:</strong> &nbsp; COMPETITION
                </h6>
                <h6><strong>Duration: </strong> <span class="textItalic">&nbsp;Fall 2017</span>
                </h6>
                <h6> <strong>Project:</strong> &nbsp; M. Arch, CED, UC Berkeley</h6>
                <h6> <strong>Site:</strong> &nbsp; Hyde Park, London</h6>
                <h6> <strong>Scale:</strong> &nbsp; Maximum Built Area: 4000 square metres</h6>
                <h6> <strong>Instructor:</strong> &nbsp; No Instructor</h6>

              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="Grid-cell">
        <a class="no-hover-effect" href="./recovery_of_river_edges/">
          <div class="element">
            <div class="cardBottomBorder float cardBorder borderRadiusS shadowBoxLt">
              <img src="./ar_03.jpg" alt="Appointa">
              <div class="elementInner">
                <h5>Pavilion</h5>
                <h3 class="arrCard" data-aos="fade-up"><strong>RECOVERY OF RIVER EDGES</strong></h3>

                <p class="lineHorizAll"></p>
                <h6 class=""> <strong>Studio:</strong> &nbsp; Introduction to Architecture Studio 2
                </h6>
                <h6><strong>Duration: </strong> <span class="textItalic">&nbsp;Spring 2016 One
                    Semester</span> </h6>
                <h6> <strong>Project:</strong> &nbsp; M. Arch, CED, UC Berkeley</h6>
                <h6> <strong>Site:</strong> &nbsp;Sunnynook River Park, Los Angeles</h6>
                <h6> <strong>Scale:</strong> &nbsp; -</h6>

                <h6> <strong>Instructor:</strong> &nbsp; Jay Atherton</h6>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- recreation commons and narrow stripe -->
  <div class="blankHM"></div>

  <!-- Thesis & MANIFOLD GROUND  -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-2">
      <div class="Grid-cell">
        <a class="no-hover-effect" href="./thesis_studio/">
          <div class="element">
            <div class="cardBottomBorder float cardBorder borderRadiusS shadowBoxLt">
              <img src="./ar_07.jpg" alt="Appointa">
              <div class="elementInner">
                <h5>On order: Differenciated</h5>
                <h3 class="arrCard" data-aos="fade-up"><strong>CONTINUITY OF OBJECTS</strong></h3>

                <p class="lineHorizAll"></p>
                <h6 class=""> <strong>Studio:</strong> &nbsp; THESIS STUDIO, ARCH 204 A & B
                </h6>
                <h6><strong>Duration: </strong> <span class="textItalic">&nbsp;2018 - 2019 Two
                    Semesters</span> </h6>
                <h6> <strong>Project:</strong> &nbsp; M. Arch, CED, UC Berkeley</h6>
                <h6> <strong>Site:</strong> &nbsp; No site</h6>
                <h6> <strong>Instructor:</strong> &nbsp; Rudabeh Pakravan, Kyle Steinfeld</h6>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="Grid-cell">
        <a class="no-hover-effect" href="./the_rotation_of_curves/">
          <div class="element">
            <div class="cardBottomBorder float cardBorder borderRadiusS shadowBoxLt">
              <img src="./ar_05.jpg" alt="Appointa">
              <div class="elementInner">
                <h5>Form finding exercise </h5>
                <h3 class="arrCard" data-aos="fade-up"><strong>THE ROTATION OF CURVES</strong></h3>

                <p class="lineHorizAll"></p>
                <h6 class=""> <strong>Studio:</strong> &nbsp; Introduction to Architecture Studio 1
                </h6>
                <h6><strong>Duration: </strong> <span class="textItalic">&nbsp;Fall 2015 | 1
                    Semester</span> </h6>
                <h6> <strong>Project:</strong> &nbsp;Summer Program, CED, UC Berkeley</h6>
                <h6> <strong>Site:</strong> &nbsp; - </h6>
                <h6> <strong>Instructor:</strong> &nbsp; Rudabeh Pakravan</h6>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

  </div>
  <!-- Thesis & MANIFOLD GROUND  -->
  <div class="blankHM"></div>

  <!-- RECOVERY OF RIVER EDGES & Narrow strips  -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-2">
      <div class="Grid-cell">
        <a class="no-hover-effect" href="./manifold_ground/">
          <div class="element">
            <div class="cardBottomBorder float cardBorder borderRadiusS shadowBoxLt">
              <img src="./ar_04.jpg" alt="Appointa">
              <div class="elementInner">
                <h5>Urban public space</h5>
                <h3 class="arrCard" data-aos="fade-up"><strong>MANIFOLD GROUND</strong></h3>

                <p class="lineHorizAll"></p>
                <h6 class=""> <strong>Studio:</strong> &nbsp; [IN]ARCH ADV</h6>
                <h6><strong>Duration: </strong> <span class="textItalic">&nbsp;SUMMERS 2014 6
                    Weeks</span> </h6>
                <h6> <strong>Project:</strong> &nbsp;Summer Program, CED, UC Berkeley</h6>
                <h6> <strong>Site:</strong> &nbsp; 450 Hayes St. San Francisco, CA 94102 </h6>
                <h6> <strong>Instructor:</strong> &nbsp; Keith Plymale</h6>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="Grid-cell">
        <a class="no-hover-effect" href="./LACAMA/">
          <div class="element">
            <div class="cardBottomBorder float cardBorder borderRadiusS shadowBoxLt">
              <img src="./ar_08.jpg" alt="Appointa">
              <div class="elementInner">
                <h5>Musume extension</h5>
                <h3 class="arrCard" data-aos="fade-up"><strong>LACAMA</strong></h3>

                <p class="lineHorizAll"></p>
                <h6 class=""> <strong>Studio:</strong> &nbsp; ARCH 201 </h6>
                <h6><strong>Duration: </strong> <span class="textItalic">&nbsp;Fall 2016 | One
                    Semester</span> </h6>
                <h6> <strong>Project:</strong> &nbsp; M. Arch, CED, UC Berkeley</h6>
                <h6> <strong>Site:</strong> &nbsp; Los Angeles County Museum of Art</h6>
                <h6> <strong>Instructor:</strong> &nbsp; Mark Anderson, Andrew Zago</h6>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- RECOVERY OF RIVER EDGES & Narrow strips  -->
  <div class="blankHM"></div>




  <!-- Shared across the platform -->
  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Skills & Experiences' }) %>
  <%- include(`${templatePath}/shared/comp_tagCloud`) %>
  <%- include(`${templatePath}/shared/comp_closingMessage`, { version: 'addMessage', message: `Thank You for Visiting! please <a class="textUnderline" href="mailto:vickyw.design@gmail.com">email</a> me
  about professional projects.`}) %>



  <%- include(`${templatePath}/shared/comp_backTop`) %>
  <%- include(`${templatePath}/shared/block_nav_footer`) %>
  <!-- Shared across the platform -->



</body>

</html>