<html>
<!--Head-->
<%- include(`${templatePath}/shared/head`, {SEO:true, Title:'The Rotation of Curves: Architectural Elegance in Fluid Design', 
  description:'This project explores the dynamic use of curved forms, rotating them to create spatial intrigue and structural sophistication. The design emphasizes seamless flow and continuity, challenging conventional architectural boundaries. Experience this innovative approach to design, where curves are not just aesthetic elements but integral to the functional and experiential aspects of the structure.', 
  pageURL:'architecture/the_rotation_of_curves/', thumbnailImgURL: 'vickywang_web.png'
  }) %>
<!--Head-->

<body>
  <%- include(`${templatePath}/shared/progressBar`) %>
  <%- include(`${templatePath}/shared/block_nav_header`, {type:'main', currentPage: 'ARCHITECTURE' }) %>
  <div class="blankHL"></div>

  <!-- cover -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-2 Grid--center">
      <div class="Grid-cell">
        <div class="element widthL"> <img src="render0.jpg" alt="DIAGRAM">

        </div>
      </div>
      <div class="Grid-cell">
        <div class="element">
          <h3 class="" data-aos="fade-up"><strong>THE ROTATION OF CURVES</strong></h3>

          <p class="lineHorizAll"></p>
          <h6 class=""> <strong>Studio:</strong> &nbsp; Introduction to Architecture Studio 1
          </h6>
          <h6><strong>Duration: </strong> <span class="textItalic">&nbsp;Fall 2015 | 1
              Semester</span> </h6>
          <h6> <strong>Project:</strong> &nbsp;Summer Program, CED, UC Berkeley</h6>
          <h6> <strong>Instructor:</strong> &nbsp; Rudabeh Pakravan</h6>
        </div>
      </div>

    </div>
  </div>
  <!-- cover -->

  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'PART 1 THE ISLAND' }) %>

  <div class="blankHS"></div>

  <!--geometry-->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-1 Grid--center ">
      <div class="Grid-cell">
        <div class="element"> <img src="island.jpg" alt="DIAGRAM">
        </div>
        <div class="element">
          <h4>A SITE - 20 FEET DIAMETER </h4>
          <p class="lineHorizAll"></p>
          <h6>Adding geometries based on requirement </h6>
        </div>
      </div>

    </div>
  </div>
  <!--geometry-->



  <div class="blankHL"></div>
  <!--geometry-->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-1 Grid--center ">
      <div class="Grid-cell">
        <div class="element"> <img src="island1.jpg" alt="DIAGRAM">
        </div>
        <div class="element">
          <h4>ADDING OR BOOLEAN GEOMETRY ON SITE </h4>
          <p class="lineHorizAll"></p>
          <h6>1st week, 6 volumes</h6>
          <h6>2nd week, 8 geometries</h6>
          <h6>3rd week, 20 volumes</h6>
        </div>
      </div>
    </div>
  </div>
  <!--geometry-->

  <div class="blankHM"></div>
  <hr>
  <div class="blankHM"></div>
  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'PART 2 THE FOAME' }) %>


  <div class="blankHM"></div>
  <!--foam-->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-1 Grid--center ">
      <div class="Grid-cell">
        <div class="element"> <img src="foamcut.jpg" alt="DIAGRAM">
        </div>
        <div class="element">
          <h4>TWO CUTS ONE FOAM</h4>
          <p class="lineHorizAll"></p>
          <h6>Cut and fold the foam</h6>
        </div>
      </div>
    </div>
  </div>
  <!--foam-->
  <div class="blankHM"></div>
  <!--foam-->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-1 Grid--center ">
      <div class="Grid-cell">
        <div class="element"> <img src="foam0.jpg" alt="DIAGRAM">
        </div>
        <div class="element">
          <h4>PHOTOS OF THE FOAM</h4>
          <p class="lineHorizAll"></p>
          <h6>Elevation view</h6>
        </div>
      </div>
    </div>
  </div>
  <!--foam-->
  <div class="blankHM"></div>
  <!--DRAWING-->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-1 Grid--center ">
      <div class="Grid-cell">
        <div class="element"> <img src="line3.jpg" alt="DIAGRAM">
        </div>
        <div class="element">
          <h4>DRAWING</h4>
          <p class="lineHorizAll"></p>
          <h6>From the surrounding building people can see this build as an urban
            sculpture</h6>
        </div>
      </div>
    </div>
  </div>
  <!--DRAWING-->
  <div class="blankHM"></div>
  <!--DRAWING-->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-1 Grid--center ">
      <div class="Grid-cell">
        <div class="element"> <img src="line2.jpg" alt="DIAGRAM">
        </div>
        <div class="element">
          <h4>DRAWING</h4>
          <p class="lineHorizAll"></p>
          <h6>This site is one of the most popular places in san Francisco. Along
            the city axis, there are Saint Mary's Cathedral, SF City Hall, and there is a freeway
            entrance on the southern side.</h6>
        </div>
      </div>
    </div>
  </div>
  <!--DRAWING-->
  <div class="blankHM"></div>
  <hr>
  <div class="blankHM"></div>
 
  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'PART 3 THE HOUSE' }) %>

  <div class="blankHL"></div>

  <!--Site -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-1 Grid--center ">
      <div class="Grid-cell">
        <div class="element"> <img src="foamisland.jpg" alt="DIAGRAM">
        </div>
        <div class="element">
          <h4>PART I + PART II = PART III</h4>
          <p class="lineHorizAll"></p>
          <h6>Combine the island and the foam</h6>
        </div>
      </div>
    </div>
  </div>
  <!--Site -->
  <div class="blankHL"></div>

  <!--Site -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-1 Grid--center ">
      <div class="Grid-cell">
        <div class="element"> <img src="plan.jpg" alt="DIAGRAM">
        </div>
        <div class="element">
          <h4>FLOOR PLANS</h4>
          <p class="lineHorizAll"></p>
          <h6>A conceptual 4-story single-family house</h6>
          <h6>the form-finding concept of rotation curves shows in these plans</h6>

        </div>
      </div>
    </div>
  </div>
  <!--Site -->
  <div class="blankHL"></div>

  <!--plans -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-1 Grid--center ">
      <div class="Grid-cell">
        <div class="element"> <img src="elv.jpg" alt="DIAGRAM">
        </div>
        <div class="element">
          <h4> ELEVATIONS </h4>
          <p class="lineHorizAll"></p>
          <h6>Concrete facade with openings</h6>

        </div>
      </div>
    </div>
  </div>
  <!--plans -->
  <div class="blankHL"></div>

  <!--Sections -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-1 Grid--center ">
      <div class="Grid-cell">
        <div class="element"> <img src="section.jpg" alt="DIAGRAM">
        </div>
        <div class="element">
          <h4> SECTIONS </h4>
          <p class="lineHorizAll"></p>
          <h6>the form-finding concept of rotation curves shows in these sections </h6>
        </div>
      </div>
    </div>
  </div>
  <!--Sections -->
  <div class="blankHL"></div>

  <!--renders -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-1 Grid--center ">
      <div class="Grid-cell">
        <div class="element"> <img src="render.jpg" alt="DIAGRAM">
        </div>
        <div class="element">
          <h4> RENDERS </h4>
          <p class="lineHorizAll"></p>
          <h6>Two views from the inside of the house </h6>
        </div>
      </div>
    </div>
  </div>
  <!--renders -->

  <!-- Shared across the platform -->
  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Skills & Experiences' }) %>
  <%- include(`${templatePath}/shared/comp_tagCloud`) %>
  <%- include(`${templatePath}/shared/comp_closingMessage`, { version: 'addMessage', message: `Thank You for Visiting! please <a class="textUnderline" href="mailto:vickyw.design@gmail.com">email</a> me
  about professional projects.`}) %>



  <%- include(`${templatePath}/shared/comp_backTop`) %>
  <%- include(`${templatePath}/shared/block_nav_footer`) %>
  <!-- Shared across the platform -->

</body>







</html>