<!DOCTYPE html>
<html lang="en">
<!--Head-->
<%- include(`${templatePath}/shared/head`, {SEO:true, Title:'Systems in Architecture: Exploring Continuity and Discontinuity in Design by Vicky Wang', 
  description:'This thesis examines the dynamic interplay of continuity and discontinuity in architectural systems. Focusing on the spatial arrangement of elements and their impact on design, it explores how architects manipulate these concepts to create meaningful, harmonious structures.', 
  pageURL:'architecture/thesis_studio', thumbnailImgURL: 'vickywang_web.png'
  }) %>
<!--Head-->



<body>
  <%- include(`${templatePath}/shared/compProgressBar`) %>
  <%- include(`${templatePath}/shared/block_nav_header`, {
    type:'backText', 
    arrTxtColor:``,
    currentPage: 'ARCHITECTURE',
    PageUrl:`/architecture`
    }) %>

  <div class="blankHXL"></div>


  <!-- cover -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-2 Grid--center">
      <div class="Grid-cell">
        <div class="element widthL">
          <svg width="893px" height="115px" viewBox="0 0 893 115" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>Page 1</title>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Desktop-HD-Copy-12" transform="translate(-3.000000, -319.000000)" fill="#F5F5F5">
                <rect id="Rectangle-Copy-15" x="3" y="319" width="6" height="115"></rect>
                <rect id="Rectangle-Copy-18" x="453" y="319" width="6" height="115"></rect>
                <rect id="Rectangle-Copy-45" x="358" y="319" width="6" height="115"></rect>
                <rect id="Rectangle-Copy-20" x="41" y="319" width="7" height="115"></rect>
                <rect id="Rectangle-Copy-27" x="491" y="319" width="7" height="115"></rect>
                <rect id="Rectangle-Copy-31" x="226" y="319" width="7" height="115"></rect>
                <rect id="Rectangle-Copy-33" x="676" y="319" width="7" height="115"></rect>
                <rect id="Rectangle-Copy-25" x="112" y="319" width="11" height="115"></rect>
                <rect id="Rectangle-Copy-30" x="562" y="319" width="11" height="115"></rect>
                <rect id="Rectangle-Copy-32" x="273" y="319" width="6" height="115"></rect>
                <rect id="Rectangle-Copy-48" x="723" y="319" width="6" height="115"></rect>
                <rect id="Rectangle-Copy-16" x="11" y="319" width="6" height="115"></rect>
                <rect id="Rectangle-Copy-49" x="461" y="319" width="6" height="115"></rect>
                <rect id="Rectangle-Copy-21" x="49" y="319" width="7" height="115"></rect>
                <rect id="Rectangle-Copy-51" x="499" y="319" width="7" height="115"></rect>
                <rect id="Rectangle-Copy-34" x="234" y="319" width="6" height="115"></rect>
                <rect id="Rectangle-Copy-53" x="684" y="319" width="6" height="115"></rect>
                <rect id="Rectangle-Copy-26" x="126" y="319" width="11" height="115"></rect>
                <rect id="Rectangle-Copy-54" x="576" y="319" width="11" height="115"></rect>
                <rect id="Rectangle-Copy-35" x="281" y="319" width="6" height="115"></rect>
                <rect id="Rectangle-Copy-56" x="731" y="319" width="6" height="115"></rect>
                <rect id="Rectangle-Copy-19" x="36" y="319" width="4" height="115"></rect>
                <rect id="Rectangle-Copy-57" x="486" y="319" width="4" height="115"></rect>
                <rect id="Rectangle-Copy-36" x="221" y="319" width="4" height="115"></rect>
                <rect id="Rectangle-Copy-58" x="671" y="319" width="4" height="115"></rect>
                <rect id="Rectangle-Copy-22" x="103" y="319" width="6" height="115"></rect>
                <rect id="Rectangle-Copy-59" x="553" y="319" width="6" height="115"></rect>
                <rect id="Rectangle-Copy-37" x="268" y="319" width="3" height="115"></rect>
                <rect id="Rectangle-Copy-60" x="718" y="319" width="3" height="115"></rect>
                <rect id="Rectangle-Copy-38" x="341" y="319" width="4" height="115"></rect>
                <rect id="Rectangle-Copy-39" x="205" y="319" width="14" height="115"></rect>
                <rect id="Rectangle-Copy-62" x="655" y="319" width="14" height="115"></rect>
                <rect id="Rectangle-Copy-23" x="68" y="319" width="14" height="115"></rect>
                <rect id="Rectangle-Copy-63" x="518" y="319" width="14" height="115"></rect>
                <rect id="Rectangle-Copy-40" x="252" y="319" width="14" height="115"></rect>
                <rect id="Rectangle-Copy-64" x="702" y="319" width="14" height="115"></rect>
                <rect id="Rectangle-Copy-28" x="158" y="319" width="25" height="115"></rect>
                <rect id="Rectangle-Copy-65" x="608" y="319" width="25" height="115"></rect>
                <rect id="Rectangle-Copy-41" x="325" y="319" width="15" height="115"></rect>
                <rect id="Rectangle-Copy-17" x="19" y="319" width="9" height="115"></rect>
                <rect id="Rectangle-Copy-67" x="469" y="319" width="9" height="115"></rect>
                <rect id="Rectangle-Copy-42" x="187" y="319" width="14" height="115"></rect>
                <rect id="Rectangle-Copy-68" x="637" y="319" width="14" height="115"></rect>
                <rect id="Rectangle-Copy-24" x="57" y="319" width="9" height="115"></rect>
                <rect id="Rectangle-Copy-69" x="507" y="319" width="9" height="115"></rect>
                <rect id="Rectangle-Copy-43" x="242" y="319" width="9" height="115"></rect>
                <rect id="Rectangle-Copy-70" x="692" y="319" width="9" height="115"></rect>
                <rect id="Rectangle-Copy-29" x="140" y="319" width="15" height="115"></rect>
                <rect id="Rectangle-Copy-71" x="590" y="319" width="15" height="115"></rect>
                <rect id="Rectangle-Copy-44" x="289" y="319" width="8" height="115"></rect>
                <rect id="Rectangle-Copy-72" x="739" y="319" width="8" height="115"></rect>
                <rect id="Rectangle-Copy-55" x="382" y="319" width="15" height="115"></rect>
                <rect id="Rectangle-Copy-52" x="399" y="319" width="4" height="115"></rect>
                <rect id="Rectangle-Copy-47" x="432" y="319" width="7" height="115"></rect>
                <rect id="Rectangle-Copy-50" x="440" y="319" width="6" height="115"></rect>
                <rect id="Rectangle-Copy-66" x="775" y="319" width="15" height="115"></rect>
                <rect id="Rectangle-Copy-73" x="832" y="319" width="15" height="115"></rect>
                <rect id="Rectangle-Copy-74" x="849" y="319" width="4" height="115"></rect>
                <rect id="Rectangle-Copy-75" x="882" y="319" width="7" height="115"></rect>
                <rect id="Rectangle-Copy-76" x="890" y="319" width="6" height="115"></rect>
                <rect id="Rectangle-Copy-46" x="808" y="319" width="6" height="115"></rect>
                <rect id="Rectangle-Copy-61" x="791" y="319" width="4" height="115"></rect>
              </g>
            </g>
          </svg>

          <h4>"The order is not rationalistic and underlying but is simply order, like that of
            continuity, one thing after another."
            — Donald Judd</h4>


        </div>
      </div>
      <div class="Grid-cell">
        <div class="element">
          <div class="elementInner">
            <h5>On order: Differenciated</h5>
            <h3 class="" data-aos="fade-up"><strong>CONTINUITY OF OBJECTS</strong></h3>

            <p class="lineHorizAll"></p>
            <h6 class=""> <strong>Studio:</strong> &nbsp; THESIS STUDIO, ARCH 204 A & B
            </h6>
            <h6><strong>Duration: </strong> <span class="textItalic">&nbsp;2018 - 2019 Two
                Semesters</span> </h6>
            <h6> <strong>Project:</strong> &nbsp; M. Arch, CED, UC Berkeley</h6>
            <h6> <strong>Site:</strong> &nbsp; No site</h6>
            <h6> <strong>Instructor:</strong> &nbsp; Rudabeh Pakravan, Kyle Steinfeld</h6>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- cover -->
  <div class="blankHM"></div>
  <hr>
  <div class="blankHM"></div>

  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Abstract' }) %>


  <!--Abstract-->
  <div class="wrapper">
    <div class="Grid Grid--full Grid--gutters">
      <div class="Grid-cell">
        <h4>Architecture is nothing more but a union of disparate systems, and
          every aspect of an architectural design is part of one system or another. The individual
          systems can be continuous or discontinuous, and they are all related in some way. As an
          architect, it’s important that one does not only consider continuity as it pertains to a
          single system, but also the effects that continuous/discontinuous aspects of different
          systems can have on each other.The use of discontinu- ity in a single system can be used
          to create distinctive features in an architectural design if the architect considers its
          effect on other systems.</p>
        </h4>
        <h4>In a building, each type of architectural elements creates a kind of
          spatial continuity or discontinuity based on the way it’s arranged. For example, if we
          have a row of ten columns, each 10 ft apart, we can say that they are continuous because
          they form a sequence. If we have ten columns with different shape or orientation, we can
          say that is discontinuous because they do not form a sequence. In architecture, such local
          arrangements can be extended into larger systems. Through aggregation, combination, and in
          relation to other arrangements, they form larger spatial networks and complex material
          systems.</h4>
        <h4>The degree of continuity and discontinuity can be adjusted to achieve
          the needs of a particular program. For example, when designing a 600 meter tall landmark
          skyscraper, one must consider the building’s use for both shopping and as an office. Many
          archi- tects who design these types of buildings will use focal points such as the arrival
          plaza, the tower’s center, and the top of the tower to create design features. This is
          usually done by differentiating them from the rest of the design and creating
          discontinuity within the overall context of continuity within the space. The quality of an
          architectural design is reflected in the way it’s discontinuous elements are integrated
          with the continuous backdrop. Discontin- uous elements can be used bluntly to create
          differentiation, but a well-conceived design will ensure that they are in harmony with the
          greater whole.</h4>
        <div class="blankHXS"></div>

        <img src="image_bl.jpg" alt="DIAGRAM">
      </div>
    </div>
  </div>

  <!--Abstract-->
  <div class="blankHM"></div>
  <hr>

  <div class="blankHM"></div>

  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Operation Method' }) %>

  <!--Operation Method -->
  <div class="wrapper">
    <div class="Grid Grid--full Grid--gutters">
      <div class="Grid-cell">
        <img src="diagrams.jpg" alt="DIAGRAM">
        <h4>OPERATION METHOD</h4>
        <div class="blankHXS"></div>
        <h5>
          Architects use objects to connect and divide space. The arrangement of
          objects appreciates aesthetic appeal and spatial quality. The goal of this thesis is to
          showcase a series of experiments in the arrangement of architectural elements, and explore
          the relationships between architectural components and the integration of various types of
          sequences. Specifically, these experiments will demonstrate how the arrangement of
          elements can produce continuity and discontinuity, how different systems are integrated,
          and how the degree of continuity and discontinuity can be adjusted in order to achieve the
          design purpose. Each type of element (columns, beams, openings) can create a sequence by
          similarity. The similarity includes size and shape, spacing and orientation.
        </h5>
        <h5>
          For instance, if we have a row of ten columns with similar size,
          shape, spacing, or orientation, we call it continuity. If we have different size, or
          different shape, or different orientation, we can say that is discontinuity because they
          do not maintain the sequence.
        </h5>
      </div>
    </div>
  </div>
  <!--Operation Method -->
  <div class="blankHM"></div>
  <hr>
  <div class="blankHM"></div>

  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Case Study' }) %>

  <div class="wrapper">
    <!--CaseStudy1 -->
    <div class="Grid Grid--full Grid--gutters">
      <div class="Grid-cell">
        <h4> CASE STUDY 1</h4>
        <div class="blankHXS"></div>
        <h5>Here are some historical buildings that have utilized continuity and
          discontinuity to create distinctive features.
        </h5>
        <h5>
          For instance, if we have a row of ten columns with similar size,
          shape, spacing, or orientation, we call it continuity. If we have different size, or
          different shape, or different orientation, we can say that is discontinuity because they
          do not maintain the sequence.
        </h5>

        <img src="CaseStudy1.jpg" alt="DIAGRAM">
        <h6 class="textItalic">SANNA, 21ST CENTURY MUSEUM OF CONTEMPORARY ART 2004 </h6>
      </div>
    </div>
    <!--CaseStudy1 -->
    <div class="blankHM"></div>
    <!--CaseStudy2 -->
    <div class="Grid Grid--full Grid--gutters">
      <div class="Grid-cell">
        <h4> CASE STUDY 2</h4>
        <div class="blankHXS"></div>
        <h5> These case studies interpret the relationship between the
          architectural elements and aesthetic appeal.
        </h5>
        <h5>
          For instance, if we have a row of ten columns with similar size,
          shape, spacing, or orientation, we call it continuity. If we have different size, or
          different shape, or different orientation, we can say that is discontinuity because they
          do not maintain the sequence.
        </h5>

        <img src="CaseStudy2.jpg" alt="DIAGRAM">
        <h6 class="textItalic">JUNTA ISHIGAMI, KANAGAWA INSTITUTE OF TECHNOLOGY 2008</h6>
      </div>
    </div>
    <!--CaseStudy2 -->
    <div class="blankHM"></div>
    <!--CaseStudy3 -->
    <div class="Grid Grid--full Grid--gutters">
      <div class="Grid-cell">
        <h4> CASE STUDY 3</h4>
        <div class="blankHXS"></div>
        <h5> The following experiments will explore the effect of changes in the
          degree of continuity and discontinuity in these iconic buildings.
        </h5>
        <h5>
          MIES VAN DER ROHE, S.R. CROWN HALL 1956
        </h5>

        <img src="CaseStudy3.jpg" alt="DIAGRAM">
        <h6 class="textItalic">JUNTA ISHIGAMI, KANAGAWA INSTITUTE OF TECHNOLOGY 2008</h6>
      </div>
    </div>
    <!--CaseStudy3 -->
    <div class="blankHM"></div>

    <!--CaseStudy4 -->
    <div class="Grid Grid--full Grid--gutters wrapper">
      <div class="Grid-cell">
        <h4> CASE STUDY 4</h4>
        <div class="blankHXS"></div>
        <h5> The following experiments will explore the effect of changes in the
          degree of continuity and discontinuity in these iconic buildings
        </h5>
        <h5> LE CORBUSIER, CARPENTER CENTER 1962 </h5>

        <img src="CaseStudy4.jpg" alt="DIAGRAM">
        <h6 class="textItalic">JUNTA ISHIGAMI, KANAGAWA INSTITUTE OF TECHNOLOGY 2008</h6>
      </div>
    </div>
    <!--CaseStudy4 -->
  </div>
  <div class="blankHM"></div>
  <hr>
  <div class="blankHM"></div>

  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Results of Manipulations' }) %>


  <div class="wrapper">
    <!--manipulation -->
    <div class="Grid Grid--full Grid--gutters">
      <div class="Grid-cell">
        <img src="compare.jpg" alt="DIAGRAM">
        <h4>RESULTS OF MANIPULATION</h4>
        <div class="blankHXS"></div>
        <h5>the comparison of the results of case study manipulation
        </h5>

      </div>
    </div>
  </div>
  <!--manipulation -->
  <div class="blankHM"></div>
  <hr>
  <div class="blankHM"></div>

  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Architecture Projects' }) %>


  <!--project -->
  <div class="wrapper">
    <div class="Grid Grid--full Grid--gutters">
      <div class="Grid-cell">
        <h4>My Understanding of Architecture</h4>
        <div class="blankHXS"></div>
        <h5>Architecture is nothing more but a union of disparate systems. Every
          aspect of an architectural design is part of one system or another.
        </h5>
        <h5>For example, in an office building, the columns form a sequence, the furniture establish
          the sequence, the repetition of the program as well as the repetition of the elements
        </h5>
        <img src="Project.jpg" alt="DIAGRAM">
        <h6 class=" textItalic">a union of disparate systems</h6>

      </div>
    </div>
  </div>
  <!--project -->
  <div class="blankHM"></div>
  <!--project -->
  <div class="wrapper">
    <div class="Grid Grid--full Grid--gutters">
      <div class="Grid-cell">
        <h4>My Understanding of Architecture</h4>
        <div class="blankHXS"></div>
        <h5>Different types of sequences can be extended into larger systems.
          Through aggregation, combination, and in relation to other arrangements, they form larger
          spatial networks and complex material systems.
        </h5>
        <h5> The individual systems can be continuous or discontinuous, and they are all related in
          some way. As an architect, it's important that one does not only consider continuity as it
          pertains to a single system, but also the effects that continuous/discontinuous aspects of
          different systems can have on each other.
        </h5>
        <h5> The use of discontinuity in a single system can be used to create distinctive features in
          an architectural design if the architect considers its effect on other systems.</h5>
        <img src="Project1.jpg" alt="DIAGRAM">
        <h6 class=" textItalic">a union of disparate systems</h6>

      </div>
    </div>
  </div>
  <!--project -->
  <div class="blankHM"></div>
  <hr>
  <div class="blankHM"></div>

  <!--video -->
  <div class="wrapper">
    <div class="Grid Grid--full Grid--gutters">
      <div class="Grid-cell">
        <h4> DIFFERENTIATED CONTINUITY </h4>
        <h5>Differentiated continuity apply on different scales
        </h5>
        <div class="blankHXS"></div>
        <video width="100%" height="auto" controls autoplay>
          <source src="./anomation.mp4" type="video/mp4">
          <track src="subtitles_en.vtt" kind="subtitles" srclang="en" label="English">
        </video>
        <h6 class=" textItalic">a union of disparate systems</h6>

      </div>
    </div>
  </div>
  <!--video -->
  <div class="blankHM"></div>
  <hr>
  <div class="blankHM"></div>
  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Drawings of multiple scales' }) %>


  <div class="blankHM"></div>

  <!--drawing -->
  <div class="wrapper">
    <div class="Grid Grid--full Grid--gutters">
      <div class="Grid-cell">
        <h4> DRAWING </h4>
        <h5>Large-Scale </h5>
        <div class="blankHXS"></div>
        <img src="methods1.png" alt="DIAGRAM">
        <h6 class=" textItalic">large scale drawings</h6>
      </div>
    </div>
  </div>
  <!--drawing -->
  <div class="blankHXL"></div>
  <!--drawing -->
  <div class="wrapper">
    <div class="Grid Grid--full Grid--gutters">
      <div class="Grid-cell">
        <h4> DRAWING </h4>
        <h5>Mid-Scale </h5>
        <div class="blankHXS"></div>
        <img src="methods1-1.png" alt="DIAGRAM">
        <h6 class=" textItalic"> mid scale drawings</h6>
      </div>
    </div>
  </div>
  <!--drawing -->

  <div class="blankHXL"></div>
  <!--drawing -->
  <div class="wrapper">
    <div class="Grid Grid--full Grid--gutters">
      <div class="Grid-cell">
        <h4> DRAWING </h4>
        <h5>Large-Scale </h5>
        <div class="blankHXS"></div>
        <img src="methods2.png" alt="DIAGRAM">
        <h6 class=" textItalic">large scale drawings</h6>
      </div>
    </div>
  </div>
  <!--drawing -->
  <div class="blankHL"></div>
  <!--drawing -->
  <div class="wrapper">
    <div class="Grid Grid--full Grid--gutters">
      <div class="Grid-cell">
        <h4> DRAWING </h4>
        <h5>Mid-Scale </h5>
        <div class="blankHXS"></div>
        <img src="methods2-1.png" alt="DIAGRAM">
        <h6 class=" textItalic"> mid scale drawings</h6>
      </div>
    </div>
  </div>
  <!--drawing -->
  <div class="blankHL"></div>
  <!--drawing -->
  <div class="wrapper">
    <div class="Grid Grid--full Grid--gutters">
      <div class="Grid-cell">
        <h4> DRAWING </h4>
        <h5>Mid-Scale </h5>
        <div class="blankHXS"></div>
        <img src="methods3.png" alt="DIAGRAM">
        <h6 class=" textItalic"> mid scale drawings</h6>
      </div>
    </div>
  </div>
  <!--drawing -->
  <div class="blankHL"></div>
  <!--drawing -->
  <div class="wrapper">
    <div class="Grid Grid--full Grid--gutters">
      <div class="Grid-cell">
        <h4> DRAWING </h4>
        <h5>Small-Scale </h5>
        <div class="blankHXS"></div>
        <img src="methods3-1.png" alt="DIAGRAM">
        <h6 class=" textItalic"> small scale drawings</h6>
      </div>
    </div>
  </div>
  <!--drawing -->
  <div class="blankHM"></div>
  <hr>
  <div class="blankHM"></div>

  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: ' Photo Documentation' }) %>

  <div class="blankHM"></div>
  <div class="wrapper">
    <!--photos -->
    <div class="Grid Grid--full Grid--gutters wrapper">
      <div class="Grid-cell">
        <h4> PHOTOS </h4>
        <h5>Circulation</h5>
        <div class="blankHXS"></div>
        <img src="photo1.png" alt="photo">
      </div>
    </div>
    <!--photos -->
  </div>
  <div class="blankHL"></div>


  <!--photos -->
  <div class="wrapper">

    <div class="Grid Grid--full Grid--gutters">
      <div class="Grid-cell">
        <h4> PHOTOS </h4>
        <h5> Structure</h5>
        <div class="blankHXS"></div>
        <img src="photo2.png" alt="photo">
      </div>
    </div>
  </div>
  <!--photos -->
  <div class="blankHL"></div>
  <div class="wrapper">

    <!--photos -->
    <div class="Grid Grid--full Grid--gutters wrapper">
      <div class="Grid-cell">
        <h4> PHOTOS </h4>
        <h5> Surface</h5>
        <div class="blankHXS"></div>
        <img src="photo3.png" alt="photo">
      </div>
    </div>
  </div>
  <!--photos -->
  <div class="blankHL"></div>

  <!--photos -->
  <div class="wrapper">

    <!--photos -->
    <div class="Grid Grid--full Grid--gutters">
      <div class="Grid-cell">
        <h4> PHOTOS </h4>
        <h5> Perspective</h5>
        <div class="blankHXS"></div>
        <img src="photo4.png" alt="photo">
      </div>
    </div>
  </div>
  <!--photos -->





  <!-- Shared across the platform -->
  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Skills & Experiences' }) %>
  <%- include(`${templatePath}/shared/comp_tagCloud`) %>
  <%- include(`${templatePath}/shared/comp_closingMessage`, { version: 'addMessage', message: `Thank You for Visiting! please <a class="textUnderline" href="mailto:vickyw.design@gmail.com">email</a> me
  about professional projects.`}) %>



  <%- include(`${templatePath}/shared/comp_backTop`) %>
  <%- include(`${templatePath}/shared/block_nav_footer`) %>
  <!-- Shared across the platform -->

</body>

</html>