<html lang="en">
<!--Head-->
<%- include(`${templatePath}/shared/head`, {SEO:true, Title:'Nature & Wildlife Photographic Artistry by Vicky Wang', 
  description:'Vicky W. specializes in UX Design for B2B SaaS and consumer apps, expertly transforming complex challenges into user-friendly solutions.', 
  pageURL:'photography', thumbnailImgURL: 'vickywang_web.png'
  }) %>
<!--Head-->


<body>
  <%- include(`${templatePath}/shared/compProgressBar`) %>
  <%- include(`${templatePath}/shared/block_nav_header`, {type:'main', currentPage: 'PHOTOGRAPHY' }) %>
  <div class="blankHM"></div>
  <%- include(`${templatePath}/shared/base_greeting`,{greetingTxt:`hi there!`}) %>

  <%- include(`${templatePath}/shared/comp_titleWeb`,{
    ShowIntroTitle1:true,
    ShowIntroTitle2:false,
    ShowIntroTitle3:false,
    ShowIntroTitle4:false,
    introTitle1: `Capturing the Essence of the Natural World: A Photographic Journey

`,
    divider1: false, 
    introTitle2: ``,
    divider2: false, 
    introTitle3: ``,
    divider3: false, 
    introTitle4: ``
  }) %>
  <%- include(`${templatePath}/shared/base_textualElements_paragraph`,{
    paragraphTxt:`My photography is a celebration of nature's complexity and splendor, viewed through my unique lens and perspective. It's an artistic endeavor to capture and share the intricate stories and stunning beauty found in natural elements. From vast landscapes to the minutest details, my goal is to present nature in its most breathtaking light. This passion for observation and storytelling drives me to explore the natural world, bringing its wonders closer to others through my photographic art.`
  }) %>



  <div class="blankHM"></div>



  <main>
    <div class="blankHS"></div>

    <div class="Grid Grid--full Grid--gutters u-textCenter">
      <div class="Grid-cell">
        <h1 class="Grid Grid--center"> <span class="specialTextL Grey600">Photographs</span><img class="moveUpDown widthLogo" src="../icon/arrow-accordion-down_grey600.svg" alt="Scroll down">
        </h1>
      </div>
    </div>

    <nav class="section-nav">
      <ol>
        <li><a href="#content1" class="titleRightPanel">2023</a>
          <ul>
            <li class="rightPanel"><a href="#content11"> &#160; Pacific Grove Rocky View</a></li>
            <li class="rightPanel"><a href="#content12"> &#160; Monarch Butterfly Sanctuary </a></li>

          </ul>
        </li>
        <li><a href="#content2" class="titleRightPanel">2020</a>
          <ul>
            <li class="rightPanel"><a href="#content21"> &#160; Yellowstone National Park
              </a></li>
            <li class="rightPanel"><a href="#content22"> &#160; Teton National Park</a></li>
            <li class="rightPanel"><a href="#content23"> &#160; Donner Lake </a></li>

          </ul>
        </li>
        <li><a href="#content3" class="titleRightPanel">2019</a>
          <ul>
            <li class="rightPanel"><a href="#content31"> &#160; Bosque Del Apache National Wildlife Refuge </a></li>
            <li class="rightPanel"><a href="#content32"> &#160; Sacramento National Wildlife Refuge </a></li>

            <li class="rightPanel"><a href="#content33"> &#160; White Sands National Monument </a></li>
            <li class="rightPanel"><a href="#content34"> &#160; Taos Pueblo Indian Reservation </a></li>

          </ul>
        </li>

      </ol>
    </nav>

    <section id="content1">

      <section id="content11">
        <!-- Arrow -->
        <div class="wrapper">
          <div class="Grid Grid--full Grid--gutters u-textCenter">
            <div class="Grid-cell">
              <div class="element">
                <h2 class="tArrow">Pacific Grove Rocky View <img class="seArrow" src="../icon/arrow-se.svg" alt="icon arrow"></h2>
              </div>
            </div>
          </div>
        </div>
        <!-- Arrow -->


        <div class="blankHS"></div>
        <div class="wrapper">
          <div class="Grid Grid--full Grid--gutters">
            <div class="Grid-cell">
              <div class="element">
                <div class="ShadowBox">

                  <picture>
                    <source media="(min-width:1081px)" srcset="./large_Squirrel_Stand.jpg">
                    <source media="(min-width:651px) and (max-width:1080px)" srcset="./medium_default_Squirrel_Stand.jpg">
                    <source media="(max-width:650px)" srcset="./small_Squirrel_Stand.jpg">
                    <img src="./medium_default_Squirrel_Stand.jpg" alt="Testing" style="width:100%;">
                  </picture>
                  <div class="elementInner">
                    <h5>Wildlife</h5>
                    <h3><strong>Grove Rocky View, Monterey, CA</strong> </h3>
                    <p class="lineHorizAll"></p>
                    <h6>September, 2023</h6>
                    <h6>Canon 5d mark iii | EF 70-200mm f/2.8L IS </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="blankHS"></div>

        <div class="wrapper">
          <div class="Grid Grid--gutters Grid--cols-2">
            <div class="Grid-cell">
              <div class="element">
                <div class="ShadowBox">
                  <picture>
                    <source media="(min-width:1081px)" srcset="./large_Squirrel_Eat.jpg">
                    <source media="(min-width:651px) and (max-width:1080px)" srcset="./medium_default_Squirrel_Eat.jpg">
                    <source media="(max-width:650px)" srcset="./small_Squirrel_Eat.jpg">
                    <img src="./medium_default_Squirrel_Eat.jpg" alt="Testing" style="width:100%;">
                  </picture>

                  <div class="elementInner">
                    <h5>Wildlife</h5>
                    <h3><strong>Grove Rocky View, Monterey, CA</strong> </h3>
                    <p class="lineHorizAll"></p>
                    <h6> February, 2023</h6>
                    <h6> Canon 5d mark iii | EF 70-200mm f/2.8L IS </h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="Grid-cell">
              <div class="element">
                <div class="ShadowBox">
                  <picture>
                    <source media="(min-width:1081px)" srcset="./large_Squirrel_Crawl.jpg">
                    <source media="(min-width:651px) and (max-width:1080px)" srcset="./medium_default_Squirrel_Crawl.jpg">
                    <source media="(max-width:650px)" srcset="./small_Squirrel_Crawl.jpg">
                    <img src="./medium_default_Squirrel_Crawl.jpg" alt="Testing" style="width:100%;">
                  </picture>
                  <div class="elementInner">
                    <h5>Wildlife</h5>
                    <h3><strong>Grove Rocky View, Monterey, CA</strong> </h3>
                    <p class="lineHorizAll"></p>
                    <h6> February, 2023</h6>
                    <h6> Canon 5d mark iii | EF 70-200mm f/2.8L IS </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="blankHM"></div>
      <hr>
      <div class="blankHM"></div>

      <section id="content12">

        <!-- Arrow -->
        <div class="wrapper">
          <div class="Grid Grid--full Grid--gutters u-textCenter">
            <div class="Grid-cell">
              <div class="element">
                <h2 class="tArrow">Monarch Butterfly Sanctuary <img class="seArrow" src="../icon/arrow-se.svg" alt="icon arrow"></h2>
              </div>
            </div>
          </div>
        </div>
        <!-- Arrow -->
        <div class="blankHS"></div>

        <div class="wrapper">
          <div class="Grid Grid--gutters Grid--cols-2">
            <div class="Grid-cell">
              <div class="element">
                <div class="ShadowBox">
                  <picture>
                    <source media="(min-width:1081px)" srcset="./large_butterfly_lands_on_a_branch.jpg">
                    <source media="(min-width:651px) and (max-width:1080px)" srcset="./medium_default_butterfly_lands_on_a_branch.jpg">
                    <source media="(max-width:650px)" srcset="./small_butterfly_lands_on_a_branch.jpg">
                    <img src="./medium_default_butterfly_lands_on_a_branch.jpg" alt="Testing" style="width:100%;">
                  </picture>
                  <div class="elementInner">
                    <h5>Wildlife</h5>
                    <h3><strong>Monarch Butterfly Sanctuary</strong> </h3>

                    <p class="lineHorizAll"></p>
                    <h6> February, 2023</h6>
                    <h6> Canon 5d mark iii | EF 70-200mm f/2.8L IS </h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="Grid-cell">
              <div class="element">
                <div class="ShadowBox">
                  <img src="./Butterfly02.jpg" alt="Wildlife">
                  <div class="elementInner">
                    <h5>Wildlife</h5>
                    <h3><strong>Monarch Butterfly Sanctuary</strong> </h3>
                    <p class="lineHorizAll"></p>
                    <h6> February, 2023</h6>
                    <h6> Canon 5d mark iii | EF 70-200mm f/2.8L IS </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
    <div class="blankHM"></div>
    <hr>
    <div class="blankHM"></div>
    <section id="content2">
      <section id="content21">
        <!-- Arrow -->
        <div class="wrapper">
          <div class="Grid Grid--full Grid--gutters u-textCenter">
            <div class="Grid-cell">
              <div class="element">
                <h2 class="tArrow">Yellowstone National Park<img class="seArrow" src="../icon/arrow-se.svg" alt="icon arrow"></h2>
              </div>
            </div>
          </div>
        </div>
        <!-- Arrow -->

        <div class="blankHS"></div>

        <div class="wrapper">
          <div class="Grid Grid--full Grid--gutters">
            <div class="Grid-cell">
              <div class="element">
                <div class="ShadowBox">
                  <picture>
                    <source media="(min-width:1081px)" srcset="./large_wood_reflection.jpg">
                    <source media="(min-width:651px) and (max-width:1080px)" srcset="./medium_default_wood_reflection.jpg">
                    <source media="(max-width:650px)" srcset="./small_wood_reflection.jpg">
                    <img src="./medium_default_wood_reflection.jpg" alt="Nature" style="width:100%;">
                  </picture>
                  <div class="elementInner">
                    <h5>Nature</h5>

                    <h3><strong>Yellowstone National Park</strong> </h3>
                    <p class="lineHorizAll"></p>
                    <h6>September, 2020</h6>
                    <h6> Canon 5d mark iii | EF 70-200mm f/2.8L IS </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="blankHS"></div>

        <div class="wrapper">
          <div class="Grid Grid--gutters Grid--1of2 Grid--center">
            <div class="Grid-cell">
              <div class="element">
                <div class="ShadowBox">
                  <picture>
                    <source media="(min-width:1081px)" srcset="./large_mule_deer.jpg">
                    <source media="(min-width:651px) and (max-width:1080px)" srcset="./medium_default_mule_deer.jpg">
                    <source media="(max-width:650px)" srcset="./small_mule_deer.jpg">
                    <img src="./medium_default_mule_deer.jpg" alt="Wildlife" style="width:100%;">
                  </picture>
                  <div class="elementInner">
                    <h5>Wildlife</h5>
                    <h3><strong>Yellowstone National Park</strong> </h3>
                    <p class="lineHorizAll"></p>
                    <h6>September, 2020</h6>
                    <h6> Canon 5d mark iii | EF 70-200mm f/2.8L IS </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="blankHS"></div>

        <div class="wrapper">
          <div class="Grid Grid--gutters Grid--1of2 Grid--center">
            <div class="Grid-cell">
              <div class="element">
                <div class="ShadowBox">
                  <picture>
                    <source media="(min-width:1081px)" srcset="./large_hotSpring_yellowstone_tree.jpg">
                    <source media="(min-width:651px) and (max-width:1080px)" srcset="./medium_default_hotSpring_yellowstone_tree.jpg">
                    <source media="(max-width:650px)" srcset="./small_hotSpring_yellowstone_tree.jpg">
                    <img src="./medium_default_hotSpring_yellowstone_tree.jpg" alt="Nature" style="width:100%;">
                  </picture>
                  <div class="elementInner">
                    <h5>Nature</h5>
                    <h3><strong>Yellowstone National Park</strong> </h3>
                    <p class="lineHorizAll"></p>
                    <h6>September, 2020</h6>
                    <h6> Canon 5d mark iii | EF 70-200mm f/2.8L IS </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="blankHM"></div>
      <hr>
      <div class="blankHM"></div>
      <section id="content22">
        <!-- Arrow -->
        <div class="wrapper">
          <div class="Grid Grid--full Grid--gutters u-textCenter">
            <div class="Grid-cell">
              <div class="element">
                <h2 class="tArrow">Teton National Park<img class="seArrow" src="../icon/arrow-se.svg" alt="icon arrow">
                </h2>
              </div>
            </div>
          </div>
        </div>
        <!-- Arrow -->

        <div class="blankHS"></div>
        <div class="wrapper">
          <div class="Grid Grid--full Grid--gutters">
            <div class="Grid-cell">
              <div class="element">
                <div class="ShadowBox">
                  <img src="./07.jpg" alt="Nature">
                  <div class="elementInner">
                    <h5>Nature</h5>
                    <h3><strong>Teton National Park</strong> </h3>

                    <p class="lineHorizAll"></p>
                    <h6> September, 2020 </h6>
                    <h6> Canon 5d mark iii | EF 70-200mm f/2.8L IS </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="blankHM"></div>
      <hr>
      <div class="blankHM"></div>

      <section id="content23">
        <!-- Arrow -->
        <div class="wrapper">
          <div class="Grid Grid--full Grid--gutters u-textCenter">
            <div class="Grid-cell">
              <div class="element">
                <h2 class="tArrow">Donner Lake<img class="seArrow" src="../icon/arrow-se.svg" alt="icon arrow">
                </h2>
              </div>
            </div>
          </div>
        </div>
        <!-- Arrow -->

        <div class="blankHS"></div>
        <div class="wrapper">
          <div class="Grid Grid--full Grid--gutters">
            <div class="Grid-cell">
              <div class="element">
                <div class="ShadowBox">
                  <img src="./17.jpg" alt="Nature">
                  <div class="elementInner">
                    <h5>Nature</h5>
                    <h3><strong>Donner Lake</strong> </h3>

                    <p class="lineHorizAll"></p>
                    <h6> December, 2020</h6>
                    <h6> Canon 5d mark iii | EF 70-200mm f/2.8L IS </h6>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>
    </section>
    <div class="blankHM"></div>
    <hr>
    <div class="blankHM"></div>
    <section id="content3">
      <section id="content31">
        <!-- Arrow -->
        <div class="wrapper">
          <div class="Grid Grid--full Grid--gutters u-textCenter">
            <div class="Grid-cell">
              <div class="element">
                <h2 class="tArrow">Bosque Del Apache National Wildlife Refuge<img class="seArrow" src="../icon/arrow-se.svg" alt="icon arrow">
                </h2>
              </div>
            </div>
          </div>
        </div>
        <!-- Arrow -->

        <div class="blankHS"></div>
        <div class="wrapper">
          <div class="Grid Grid--gutters Grid--cols-2">
            <div class="Grid-cell">
              <div class="element">
                <div class="ShadowBox">
                  <img src="./01.jpg" alt="Nature">
                  <div class="elementInner">
                    <h5>Nature</h5>
                    <h3><strong>Bosque Del Apache National Wildlife Refuge</strong> </h3>

                    <p class="lineHorizAll"></p>
                    <h6> December, 2019</h6>
                    <h6> Canon 5d mark iii | EF 70-200mm f/2.8L IS </h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="Grid-cell">
              <div class="element">
                <div class="ShadowBox">
                  <img src="./02.jpg" alt="Nature">
                  <div class="elementInner">
                    <h5>Nature</h5>
                    <h3><strong>Bosque Del Apache National Wildlife Refuge</strong> </h3>
                    <p class="lineHorizAll"></p>
                    <h6> December, 2019</h6>
                    <h6> Canon 5d mark iii | EF 70-200mm f/2.8L IS </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="blankHS"></div>

        <div class="wrapper">
          <div class="Grid Grid--full Grid--gutters">
            <div class="Grid-cell">
              <div class="element">
                <div class="ShadowBox">
                  <img src="./03.jpg" alt="Nature">
                  <div class="elementInner">
                    <h5>Nature</h5>
                    <h3><strong>Bosque Del Apache National Wildlife Refuge</strong> </h3>

                    <p class="lineHorizAll"></p>
                    <h6> December, 2019</h6>
                    <h6> Canon 5d mark iii | EF 70-200mm f/2.8L IS </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="blankHM"></div>
      <hr>
      <div class="blankHM"></div>
      <section id="content32">
        <!-- Arrow -->
        <div class="wrapper">
          <div class="Grid Grid--full Grid--gutters u-textCenter">
            <div class="Grid-cell">
              <div class="element">
                <h2 class="tArrow">Sacramento National Wildlife Refuge<img class="seArrow" src="../icon/arrow-se.svg" alt="icon arrow">
                </h2>
              </div>
            </div>
          </div>
        </div>
        <!-- Arrow -->

        <div class="blankHS"></div>

        <div class="wrapper">
          <div class="Grid Grid--gutters Grid--cols-2">
            <div class="Grid-cell">
              <div class="element">
                <div class="ShadowBox">
                  <img src="./05.jpg" alt="Nature">
                  <div class="elementInner">
                    <h5>Nature</h5>
                    <h3><strong>Sacramento National Wildlife Refuge</strong> </h3>

                    <p class="lineHorizAll"></p>
                    <h6> December, 2019</h6>
                    <h6> Canon 5d mark iii | EF 70-200mm f/2.8L IS </h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="Grid-cell">
              <div class="element">
                <div class="ShadowBox">
                  <img src="./06.jpg" alt="Nature">
                  <div class="elementInner">
                    <h5>Nature</h5>
                    <h3><strong>Sacramento National Wildlife Refuge</strong> </h3>
                    <p class="lineHorizAll"></p>
                    <h6> December, 2019</h6>
                    <h6> Canon 5d mark iii | EF 70-200mm f/2.8L IS </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="blankHS"></div>

        <div class="wrapper">
          <div class="Grid Grid--gutters Grid--1of2 Grid--center">
            <div class="Grid-cell">
              <div class="element">
                <div class="ShadowBox">
                  <img src="./04.jpg" alt="Nature">
                  <div class="elementInner">
                    <h5>Nature</h5>
                    <h3><strong>Sacramento National Wildlife Refuge</strong> </h3>
                    <p class="lineHorizAll"></p>
                    <h6> December, 2019</h6>
                    <h6> Canon 5d mark iii | EF 70-200mm f/2.8L IS </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="blankHS"></div>

      </section>

      <section id="content33">
        <!-- Arrow -->
        <div class="wrapper">
          <div class="Grid Grid--full Grid--gutters u-textCenter">
            <div class="Grid-cell">
              <div class="element">
                <h2 class="tArrow">White Sands National Monument<img class="seArrow" src="../icon/arrow-se.svg" alt="icon arrow">
                </h2>
              </div>
            </div>
          </div>
        </div>
        <!-- Arrow -->

        <div class="blankHS"></div>
        <div class="wrapper">
          <div class="Grid Grid--gutters Grid--1of2 Grid--center">
            <div class="Grid-cell">
              <div class="element">
                <div class="ShadowBox">
                  <img src="./10.jpg" alt="Nature">
                  <div class="elementInner">
                    <h5>Nature</h5>
                    <h3><strong>White Sands National Monument</strong> </h3>

                    <p class="lineHorizAll"></p>
                    <h6> December, 2019</h6>
                    <h6> Canon 5d mark iii | EF 70-200mm f/2.8L IS </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="blankHS"></div>

        <div class="wrapper">
          <div class="Grid Grid--gutters Grid--cols-2">
            <div class="Grid-cell">
              <div class="element">
                <div class="ShadowBox">
                  <img src="./09.jpg" alt="Nature">
                  <div class="elementInner">
                    <h5>Nature</h5>
                    <h3><strong>White Sands National Monument</strong> </h3>
                    <p class="lineHorizAll"></p>
                    <h6> December, 2019</h6>
                    <h6> Canon 5d mark iii | EF 70-200mm f/2.8L IS </h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="Grid-cell">
              <div class="element">
                <div class="ShadowBox">
                  <img src="./08.jpg" alt="Nature">
                  <div class="elementInner">
                    <h5>Nature</h5>
                    <h3><strong>White Sands National Monument</strong> </h3>
                    <p class="lineHorizAll"></p>
                    <h6> December, 2019</h6>
                    <h6> Canon 5d mark iii | EF 70-200mm f/2.8L IS </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="blankHS"></div>
        <div class="wrapper">
          <div class="Grid Grid--gutters Grid--cols-2">
            <div class="Grid-cell">
              <div class="element">
                <div class="ShadowBox">
                  <img src="./11.jpg" alt="Nature">
                  <div class="elementInner">
                    <h5>Nature</h5>
                    <h3><strong>White Sands National Monument</strong> </h3>
                    <p class="lineHorizAll"></p>
                    <h6> December, 2019</h6>
                    <h6> Canon 5d mark iii | EF 70-200mm f/2.8L IS </h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="Grid-cell">
              <div class="element">
                <div class="ShadowBox">
                  <img src="./12.jpg" alt="Nature">
                  <div class="elementInner">
                    <h5>Nature</h5>
                    <h3><strong>White Sands National Monument</strong> </h3>
                    <p class="lineHorizAll"></p>
                    <h6> December, 2019</h6>
                    <h6> Canon 5d mark iii | EF 70-200mm f/2.8L IS </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="blankHS"></div>

        <div class="wrapper">
          <div class="Grid Grid--gutters Grid--cols-2">
            <div class="Grid-cell">
              <div class="element">
                <div class="ShadowBox">
                  <img src="./13.jpg" alt="Nature">
                  <div class="elementInner">
                    <h5>Nature</h5>
                    <h3><strong>White Sands National Monument</strong> </h3>
                    <p class="lineHorizAll"></p>
                    <h6> December, 2019</h6>
                    <h6> Canon 5d mark iii | EF 70-200mm f/2.8L IS </h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="Grid-cell">
              <div class="element">
                <div class="ShadowBox">
                  <img src="./14.jpg" alt="Nature">
                  <div class="elementInner">
                    <h5>Nature</h5>
                    <h3><strong>White Sands National Monument</strong> </h3>
                    <p class="lineHorizAll"></p>
                    <h6> December, 2019</h6>
                    <h6> Canon 5d mark iii | EF 70-200mm f/2.8L IS </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>
      <div class="blankHM"></div>
      <hr>
      <div class="blankHM"></div>
      <section id="content34">
        <!-- Arrow -->
        <div class="wrapper">
          <div class="Grid Grid--full Grid--gutters u-textCenter">
            <div class="Grid-cell">
              <div class="element">
                <h2 class="tArrow">Taos Pueblo Indian Reservation<img class="seArrow" src="../icon/arrow-se.svg" alt="icon arrow">
                </h2>
              </div>
            </div>
          </div>
        </div>
        <!-- Arrow -->

        <div class="blankHS"></div>

        <div class="wrapper">
          <div class="Grid Grid--full Grid--gutters">

            <div class="Grid-cell">
              <div class="element">
                <div class="ShadowBox">
                  <img src="./16.jpg" alt="Nature">
                  <div class="elementInner">
                    <h5>Nature</h5>
                    <h3><strong>Taos Pueblo Indian Reservation</strong> </h3>

                    <p class="lineHorizAll"></p>
                    <h6> December, 2019</h6>
                    <h6> Canon 5d mark iii | EF 70-200mm f/2.8L IS </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </section>

  </main>






  <!-- Shared across the platform -->
  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Skills & Experiences' }) %>
  <%- include(`${templatePath}/shared/comp_tagCloud`) %>
  <%- include(`${templatePath}/shared/comp_closingMessage`, { version: '', message: ''}) %>

  <%- include(`${templatePath}/shared/comp_backTop`) %>
  <%- include(`${templatePath}/shared/block_nav_footer`) %>
  <!-- Shared across the platform -->

</body>

</html>