<html lang="en">
<!--Head-->
<%- include(`${templatePath}/shared/head`, {SEO:true, Title:'Navigation V3 - Technological Solutions & User Interaction by Vicky Wang', 
description:`Uncover the innovative Navigation V3 Innovations by Vicky Wang, blending technology with user interaction for optimal digital navigation experiences.`, 
pageURL:'design_system/navigation/V3/', thumbnailImgURL: 'vickywang_web.png'
}) %>
<!--Head-->

<body>
  <%- include(`${templatePath}/shared/progressBar`) %>
  <%- include(`${templatePath}/shared/block_nav_header`, {
    type:'back', 
    currentPage: 'PROJECT',
    PageUrl:`/design_system/navigation`
    }) %>
  <main>
    <div class="GreyBg200">
      <div class="blankPhone"></div>
      <div class="blankHS"></div>
      <div class="ProjectBanner displayLaptop">
        <div class="blankMin1880"></div>
        <img src="Mockup.png" alt="vickywang.me">

        <div class="ProjectBannerInnerND">
          <h1 class=""><strong>Navigation design V3</strong> </h1>
          <h3 class="Grid Grid--center colorBlack">Please scroll down and click to view the behavior</h3>
          <div class="blankHXS"></div>

        </div>
      </div>

      <div class="ProjectBanner displayTablet">
        <div class="blankMin1880"></div>
        <img class="displayTablet" src="MockupS.png" alt="vickywang.me">
        <div class="ProjectBannerInnerND">
          <h1 class=""><strong>Navigation design V3</strong> </h1>
          <h3 class="Grid Grid--center colorBlack">Please scroll down and click to view the behavior</h3>
          <div class="blankHXS"></div>
        </div>
      </div>
      <div class="ProjectBanner displayPhone">
        <div class="blankMin1880"></div>
        <img class="displayPhone" src="MockupXS.png" alt="vickywang.me">
        <div class="ProjectBannerInnerND">
          <h1 class=""><strong>Navigation design V3</strong> </h1>
          <h3 class="Grid Grid--center colorBlack">Please scroll down and click to view the behavior</h3>
          <div class="blankHXS"></div>

        </div>
      </div>
    </div>
    <div class="blankHXS"></div>
    <div class="wrapper">


      <div class="Grid Grid--gutters Grid--cols-2">
        <div class="Grid-cell">
          <div class="element">

            <h3><strong>Main goal</strong></h3>
            <h4>After conducting additional usability testing, I have refined the method of displaying content
              in a single location, which is more organized and avoids the need for a lengthy list.
            </h4>
          </div>
        </div>
        <div class="Grid-cell">
          <div class="element">

            <h3><strong>Breakdown</strong></h3>

            <ul>
              <li class="listCircle">Able to understand the context easily</li>
              <li class="listCircle"> easily determine where the user is looking/reading </li>
              <li class="listCircle"> skip or jump to the sections they are interested in </li>
              <li class="listCircle">revisiting previous sections if desired</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="blankHXS"></div>

      <div class="Grid Grid--gutters Grid--cols-4">
        <div class="Grid-cell">
          <div class="element">

            <h3><strong>Duration</strong></h3>
            <h4>April 2023 </h4>
            <h4>3 Hours </h4>

          </div>
        </div>
        <div class="Grid-cell">
          <div class="element">

            <h3><strong>Team</strong></h3>
            <h4>Individual work</h4>
          </div>
        </div>
        <div class="Grid-cell">
          <div class="element">

            <h3><strong>Role</strong></h3>
            <h4>Design</h4>
            <h4>implement</h4>
          </div>
        </div>
        <div class="Grid-cell">
          <div class="element">
            <h3><strong>Tool</strong></h3>
            <h4>HTML CSS JS</h4>
            <h4>VS Code, AWS S3</h4>
          </div>
        </div>

      </div>
      <div class="blankHS"></div>

    </div>




    <div class="wrapper">
      <div class="Grid Grid--gutters Grid--1of6">
        <div class="Grid-cell">
          <nav class="subNav element">
            <ol>
              <li><a href="#content1" class="newTitlePanel">Content 1</a>
                <ul class="newPanelV3">
                  <li><a href="#content11">C1 - SC 1</a></li>
                  <li><a href="#content12">C1 - SC 2</a></li>
                </ul>
              </li>
              <li><a href="#content2" class="newTitlePanel">Content 2</a>
                <ul class="newPanelV3">
                  <li><a href="#content21">C2 - SC 1</a></li>
                  <li><a href="#content22">C2 - SC 2</a></li>
                </ul>
              </li>

              <li><a href="#content3" class="newTitlePanel">Content 3</a>
                <ul class="newPanelV3">
                  <li><a href="#content31"> C3 - SC 1 </a></li>
                  <li><a href="#content32">C3 - SC 2</a></li>
                </ul>
              </li>

            </ol>
          </nav>
        </div>
        <div class="Grid-cell">
          <section id="content1">
            <!-- Title -->
            <div class="Grid Grid--gutters Grid--1of2 Grid--center u-textCenter">
              <div class="Grid-cell">
                <h1 class="Grid Grid--center"> <span>Content 1</span><img class="moveUpDown widthLogo"
                    src="../../../icon/icon_research.svg" alt="Research">
                </h1>
              </div>
            </div>
            <!-- Title -->
            <section id="content11">
              <!-- Arrow -->
              <div class="element">
                <h2 class="tArrow">C1 - SC 1 <img class="seArrow" src="../../../icon/arrow-se.svg" alt="icon arrow"></h2>
              </div>
              <!-- Arrow -->
              <!-- Img -->
              <div class="Grid Grid--full Grid--gutters u-textCenter">
                <div class="Grid-cell">
                  <div class="element"> <img class="cardAPPOINTA " src="../../../design_system/Placeholder.svg"
                      alt="New User">
                  </div>
                </div>
              </div>
              <!-- Img -->
            </section>
            <section id="content12">
              <!-- Arrow -->
              <div class="element">
                <h2 class="tArrow">C1 - SC 2 <img class="seArrow" src="../../../icon/arrow-se.svg" alt="icon arrow"></h2>
              </div>
              <!-- Arrow -->
              <div class="Grid-cell">
                <div class="element">
                  <div class="element">
                    <p class="specialTextNote colorGrey u-textCenter">Lorem ipsum dolor sit amet, consectetur
                      adipiscing
                      elit, sed
                      do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                  </div>
                </div>
              </div>

            </section>
          </section>

          <section id="content2">
            <section id="content21">
              <!-- Title -->

              <div class="Grid Grid--gutters Grid--1of2 Grid--center u-textCenter">
                <div class="Grid-cell">
                  <h1 class="Grid Grid--center"> <span>Content 2</span><img class="moveUpDown widthLogo"
                      src="../../../icon/icon_research.svg" alt="Research">
                  </h1>
                </div>
              </div>
              <!-- Title -->
              <!-- Arrow -->
              <div class="wrapper">
                <div class="element">
                  <h2 class="tArrow">C2 - SC 1 <img class="seArrow" src="../../../icon/arrow-se.svg" alt="icon arrow"></h2>
                </div>
              </div>
              <!-- Arrow -->
              <!-- Img -->

              <div class="Grid Grid--full Grid--gutters u-textCenter">
                <div class="Grid-cell">
                  <div class="element"> <img class="cardAPPOINTA " src="../../../design_system/Placeholder.svg"
                      alt="New User">
                  </div>
                </div>
              </div>
              <!-- Img -->
            </section>
            <section id="content22">

              <!-- Title -->
              <!-- Arrow -->
              <div class="wrapper">
                <div class="element">
                  <h2 class="tArrow">C2 - SC 2 <img class="seArrow" src="../../../icon/arrow-se.svg" alt="icon arrow"></h2>
                </div>
              </div>
              <!-- Arrow -->
              <!-- Img -->

              <div class="Grid Grid--full Grid--gutters u-textCenter">
                <div class="Grid-cell">
                  <div class="element"> <img class="cardAPPOINTA " src="../../../design_system/Placeholder.svg"
                      alt="New User">
                  </div>
                </div>
              </div>
              <!-- Img -->
              <!-- Img -->

              <div class="Grid Grid--full Grid--gutters u-textCenter">
                <div class="Grid-cell">
                  <div class="element"> <img class="cardAPPOINTA " src="../../../design_system/Placeholder.svg"
                      alt="New User">
                  </div>
                </div>
              </div>
              <!-- Img -->
              <!-- Img -->

              <div class="Grid Grid--full Grid--gutters u-textCenter">
                <div class="Grid-cell">
                  <div class="element"> <img class="cardAPPOINTA " src="../../../design_system/Placeholder.svg"
                      alt="New User">
                  </div>
                </div>
              </div>
              <!-- Img -->
            </section>
          </section>
          <section id="content3">
            <section id="content31">
              <!-- Title -->

              <div class="Grid Grid--gutters Grid--1of2 Grid--center u-textCenter">
                <div class="Grid-cell">
                  <h1 class="Grid Grid--center"> <span>Content 3</span><img class="moveUpDown widthLogo"
                      src="../../../icon/icon_research.svg" alt="Research">
                  </h1>
                </div>
              </div>
              <!-- Title -->
              <!-- Arrow -->
              <div class="wrapper">
                <div class="element">
                  <h2 class="tArrow">C3 - SC 1<img class="seArrow" src="../../../icon/arrow-se.svg" alt="icon arrow"></h2>
                </div>
              </div>
              <!-- Arrow -->
              <!-- Img -->

              <div class="Grid Grid--full Grid--gutters u-textCenter">
                <div class="Grid-cell">
                  <div class="element"> <img class="cardAPPOINTA " src="../../../design_system/Placeholder.svg"
                      alt="New User">
                  </div>
                </div>
              </div>
              <!-- Img -->
              <!-- Img -->

              <div class="Grid Grid--full Grid--gutters u-textCenter">
                <div class="Grid-cell">
                  <div class="element"> <img class="cardAPPOINTA " src="../../../design_system/Placeholder.svg"
                      alt="New User">
                  </div>
                </div>
              </div>
              <!-- Img -->
            </section>
            <section id="content32">
              <!-- Arrow -->
              <div class="wrapper">
                <div class="element">
                  <h2 class="tArrow">C3 - SC 2 <img class="seArrow" src="../../../icon/arrow-se.svg" alt="icon arrow"></h2>
                </div>
              </div>
              <!-- Arrow -->
              <!-- Img -->

              <div class="Grid Grid--full Grid--gutters u-textCenter">
                <div class="Grid-cell">
                  <div class="element"> <img class="cardAPPOINTA " src="../../../design_system/Placeholder.svg"
                      alt="New User">
                  </div>
                </div>
              </div>
              <!-- Img -->
              <!-- Img -->

              <div class="Grid Grid--full Grid--gutters u-textCenter">
                <div class="Grid-cell">
                  <div class="element"> <img class="cardAPPOINTA " src="../../../design_system/Placeholder.svg"
                      alt="New User">
                  </div>
                </div>
              </div>
              <!-- Img -->
            </section>
          </section>
        </div>




      </div>
    </div>








  </main>





  <!-- Shared across the platform -->
  <%- include(`${templatePath}/shared/comp_closingMessage`, { 
    version:``,  message:``}) %>

  <%- include(`${templatePath}/shared/modal`) %>
  <%- include(`${templatePath}/shared/comp_backTop`) %>
  <%- include(`${templatePath}/shared/block_nav_footer`) %>
  <!-- Shared across the platform -->



</body>




</html>