<!DOCTYPE html>
<html>
<!--Head-->
<%- include('../shared/head', {Title:'Professional Background and Interests - Vicky Wang', 
  description:'Vicky W. specializes in UX Design for B2B SaaS and consumer apps, expertly transforming complex challenges into user-friendly solutions.', 
  pageURL:'', thumbnailImgURL: 'vickywang_web.png'
  }) %>
<!--Head-->


<body>
  <%- include('../shared/progressBar') %>
  <%- include('../shared/header', {currentPage: 'ABOUT' }) %>

  <div class="blankHM"></div>
  <%- include('../shared/intro', { version: 'defult',
    contents: ['UX', 'Design', 'Architecture', 'Art'],
    layoutType: 'withPhoto'

}) %>


  <div class="blankHL"></div>
  <div class="blankHL"></div>
  <!--Arrow subtitle-->
  <%- include('../shared/arrowSubtitle', {message: 'this content can be changed, ya!!!' }) %>
  <!--Arrow subtitle-->










  <!--footer-->
  <%- include('../shared/footer') %>
  <!--footer-->

</body>

</html>