<!DOCTYPE html>
<html lang="en">
<!--Head-->
<%- include(`${templatePath}/shared/head`, {SEO:true, Title:'Fostering Community Through Architectural Design by Vicky Wang', 
  description:'This project aims to develop versatile recreational spaces that promote social interaction and community involvement, exemplifying the confluence of design and social dynamics.', 
  pageURL:'architecture/recreation_commons', thumbnailImgURL: 'vickywang_web.png'
  }) %>
<!--Head-->



<body>
  <%- include(`${templatePath}/shared/compProgressBar`) %>
  <%- include(`${templatePath}/shared/block_nav_header`, {type:'main', currentPage: 'ARCHITECTURE' }) %>
  <div class="blankHL"></div>



  <!-- cover -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-2 Grid--center">
      <div class="Grid-cell">
        <div class="element"> <img src="diagram.jpg" alt="DIAGRAM">
        </div>
      </div>

      <div class="Grid-cell">
        <div class="element">
          <h3 data-aos="fade-up"><strong>RECREATION COMMONS</strong></h3>
          <p class="lineHorizAll"></p>
          <h5 class=""> <strong>Studio:</strong> &nbsp; ARCH 203 - Integrated Design Studio
          </h5>
          <h5><strong>Duration: </strong> <span class="textItalic">&nbsp;One semester | Fall
              2018</span> </h5>
          <h5> <strong>Project:</strong> &nbsp; M. Arch, CED, UC Berkeley</h5>
          <h5> <strong>Site:</strong> &nbsp; Site: 110 Franklin St. San Francisco</h5>
          <h5> <strong>Scale:</strong> &nbsp; Total Floor Area: 22900 s.f. 4 Floors</h5>
          <h5> <strong>Instructor:</strong> &nbsp; Roddy Creedon</h5>
          <p class="lineHorizAll"></p>
          <h4>Two volums create one spcace</h4>

          <h5>The two volumes are designed to differentiate between programs for public access and those for private use
            in the Recreation Commons.</h5>
        </div>
      </div>

    </div>
  </div>
  <!-- cover -->

  <!--diagram 1-->
  <div class="blankHM"></div>
  <hr>
  <div class="blankHM"></div>

  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Programs' }) %>

  <div class="wrapper">
    <div class="Grid Grid--full Grid--gutters u-textCenter">
      <div class="Grid-cell">
        <img src="programs.jpg" alt="DIAGRAM">
      </div>
      <div class="Grid-cell">
        <h4>PRIVATE VS. PUBLIC</h4>
        <h5>Integrate two volumes within a single space to differentiate between the main programs: one for public
          access and the other for private purposes.</p>
        </h5>
      </div>
    </div>
    <div class="blankHM"></div>
    <hr>
    <div class="blankHM"></div>

    <div class="Grid Grid--full Grid--gutters u-textCenter">
      <div class="Grid-cell">
        <img src="diagram0.jpg" alt="DIAGRAM">
      </div>
      <div class="Grid-cell">
        <h4">EXERCISE VS. LEISURE</h4>
          <h5>the circulation integrates the two volumes as one space. it
            creates a dynamic view between the leisure and training sections.</p>
          </h5>
      </div>
    </div>

  </div>
  <div class="blankHM"></div>
  <hr>
  <div class="blankHM"></div>




  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Diagrams' }) %>

  <div class="blankHM"></div>
  <!--diagrams-->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-2 Grid--center">
      <div class="Grid-cell">
        <div class="element widthL"> <img src="diagram1.jpg" alt="DIAGRAM">
        </div>
      </div>
      <div class="Grid-cell">
        <div class="element ">
          <h3>MANIPULATION OF TWO VOLUMES</h3>
          <h5>Void vs. Solid </h5>
        </div>
      </div>

    </div>
  </div>
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-2 Grid--center">
      <div class="Grid-cell">
        <div class="element widthL"> <img src="diagram2.jpg" alt="DIAGRAM">
        </div>
      </div>
      <div class="Grid-cell">
        <div class="element ">
          <h3>LIGHT AND AIR</h3>
          <h5>an opening on the southern side provides and a gap between adjacent
            build providing all-day nature daylight from the top all the way to the swimming pool at
            first floor </h5>
        </div>
      </div>

    </div>
  </div>
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-2 Grid--center">
      <div class="Grid-cell">
        <div class="element widthL"> <img src="diagram3.jpg" alt="DIAGRAM">
        </div>
      </div>
      <div class="Grid-cell">
        <div class="element ">
          <h3>FACADE DESGIN</h3>
          <h5>all the windows equally set, and the metal mesh with two types of
            coating redomly setup </h5>
        </div>
      </div>

    </div>
  </div>

  <!--diagrams-->
  <div class="blankHM"></div>
  <hr>
  <div class="blankHM"></div>
  <!--Section Perspective -->
  <div class="wrapper">
    <div class="Grid Grid--full Grid--gutters u-textCenter">
      <div class="Grid-cell">
        <div class="element">
          <img src="section_perspective.jpg" alt="DIAGRAM">
        </div>
      </div>
      <div class="Grid-cell">
        <h4>SECTION PERSPECTIVE</h4>

        <h5>F1-5 with Facade Detail </h5>
      </div>
    </div>
  </div>
  <!--Section Perspective -->
  <div class="blankHM"></div>
  <hr>
  <div class="blankHM"></div>



  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Renders' }) %>

  <div class="blankHM"></div>
  <!-- renders -->
  <div class="wrapper">
    <div class="Grid Grid--full Grid--gutters u-textCenter">
      <div class="Grid-cell">
        <div class="element">
          <img src="render_int1.jpg" alt="render">
        </div>
      </div>
      <div class="Grid-cell">
        <h4>INTERIOR VIEW</h4>
        <h5>F1-5 with Facade Detail </h5>
      </div>
    </div>
  </div>
  <!-- renders -->
  <div class="blankHM"></div>
  <hr>
  <div class="blankHM"></div>
  <!-- renders -->
  <div class="wrapper">
    <div class="Grid Grid--full Grid--gutters u-textCenter">
      <div class="Grid-cell">
        <div class="element">
          <img src="render_int2.jpg" alt="render">
        </div>
      </div>
      <div class="Grid-cell">
        <h4>INTERIOR VIEW</h4>
        <h5>Interior view from the activity room </h5>
      </div>
    </div>
  </div>
  <!-- renders -->
  <div class="blankHM"></div>
  <hr>
  <div class="blankHM"></div>
  <!-- renders -->
  <div class="wrapper">
    <div class="Grid Grid--full Grid--gutters u-textCenter">
      <div class="Grid-cell">
        <div class="element">
          <img src="render_streetview.jpg" alt="render">
        </div>
      </div>
      <div class="Grid-cell">
        <h4>STREET VIEW</h4>
        <h5>Street view from south west</h5>
      </div>
    </div>
  </div>
  <!-- renders -->
  <div class="blankHM"></div>
  <hr>
  <div class="blankHM"></div>

  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Plans & Sections' }) %>


  <div class="blankHM"></div>
  <!-- floor plans -->
  <div class="wrapper">
    <div class="Grid Grid--full Grid--gutters u-textCenter">
      <div class="Grid-cell">
        <img src="plan_f1.jpg" alt="Floor Plans">
      </div>
      <div class="Grid-cell">
        <h4>Floor Plans</h4>
        <h5>F1 and F2</h5>
      </div>
    </div>
  </div>
  <div class="blankHS"></div>
  <hr>
  <div class="blankHS"></div>
  <div class="wrapper">
    <div class="Grid Grid--full Grid--gutters u-textCenter">
      <div class="Grid-cell">
        <img src="plan_f3.jpg" alt="Floor Plans">
      </div>
      <div class="Grid-cell">
        <h4>Floor Plans</h4>
        <h5>F3 and F4</h5>
      </div>
    </div>
  </div>
  <div class="blankHS"></div>
  <hr>
  <div class="blankHS"></div>
  <div class="wrapper">

    <div class="Grid Grid--full Grid--gutters u-textCenter ">
      <div class="Grid-cell">
        <img src="plan_f3.jpg" alt="Floor Plans">
      </div>
      <div class="Grid-cell">
        <h4>Floor Plans</h4>
        <h5>F5 and Facade Detail</h5>
      </div>
    </div>
  </div>
  <!-- floor plans -->
  <div class="blankHS"></div>
  <hr>
  <div class="blankHS"></div>

  <!-- sections -->
  <div class="wrapper">
    <div class="Grid Grid--full Grid--gutters u-textCenter ">
      <div class="Grid-cell">
        <img src="section_1.jpg" alt="Floor Plans">
      </div>
      <div class="Grid-cell">
        <h4>Sections</h4>
        <h5>North - South</h5>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="Grid Grid--full Grid--gutters u-textCenter ">
      <div class="Grid-cell">
        <img src="section_2.jpg" alt="Floor Plans">
      </div>
      <div class="Grid-cell">
        <h4>Sections</h4>
        <h5>East - West</h5>
      </div>
    </div>
  </div>
  <!-- sections -->
  <div class="blankHS"></div>
  <hr>
  <div class="blankHS"></div>

  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Site' }) %>

  <div class="blankHM"></div>
  <div class="wrapper">
    <div class="Grid Grid--full Grid--gutters u-textCenter">
      <div class="Grid-cell">
        <div class="element">

          <img src="site.jpg" alt="Floor Plans">
        </div>
      </div>
      <div class="Grid-cell">
        <h4>Site</h4>
        <h5>110 Franklin St. San Francisco, CA, 94102

        </h5>
      </div>
    </div>
  </div>




  <!-- Shared across the platform -->
  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Skills & Experiences' }) %>
  <%- include(`${templatePath}/shared/comp_tagCloud`) %>
  <%- include(`${templatePath}/shared/comp_closingMessage`, { version: 'addMessage', message: `Thank You for Visiting! please <a class="textUnderline" href="mailto:vickyw.design@gmail.com">email</a> me
  about professional projects.`}) %>



  <%- include(`${templatePath}/shared/comp_backTop`) %>
  <%- include(`${templatePath}/shared/block_nav_footer`) %>
  <!-- Shared across the platform -->

</body>





</html>