<html>
  <%- include(`${templatePath}/shared/head`, {SEO:true, Title:' A Fusion of Culture and Modern Architecture by Vicky Wang', 
  description:`'an architectural endeavor that harmoniously blends cultural elements with contemporary design. This project stands as a testament to the integration of traditional motifs and modern architectural principles, creating a space that is both culturally rich and aesthetically modern.`, 
  pageURL:'architecture/LACAMA', thumbnailImgURL: 'vickywang_web.png'
  }) %>
<!--Head-->

<body>
  <%- include(`${templatePath}/shared/progressBar`) %>
  <%- include(`${templatePath}/shared/block_nav_header`, {type:'main', currentPage: 'ARCHITECTURE' }) %>
  <div class="blankHL"></div>


  <!-- cover -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-2 Grid--center">
      <div class="Grid-cell">
        <div class="element widthL"> <img src="LACAMA.jpg" alt="DIAGRAM">

        </div>
      </div>
      <div class="Grid-cell">
        <div class="element">
          <div class="elementInner">
            <h3 class="" data-aos="fade-up"><strong>LACAMA</strong></h3>

            <p class="lineHorizAll"></p>
            <h6 class=""> <strong>Studio:</strong> &nbsp; ARCH 201 </h6>
            <h6><strong>Duration: </strong> <span class="textItalic">&nbsp;Fall 2016 | One
                Semester</span> </h6>
            <h6> <strong>Project:</strong> &nbsp; M. Arch, CED, UC Berkeley</h6>
            <h6> <strong>Site:</strong> &nbsp; Los Angeles County Museum of Art</h6>
            <h6> <strong>Instructor:</strong> &nbsp; Mark Anderson, Andrew Zago</h6>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- cover -->
  <div class="blankHM"></div>
  <hr>
  <div class="blankHM"></div>


  <%- include(`${templatePath}/shared/comp_content_subtitle_arrow`, {message: 'The Problem Cloud' }) %>

  <div class="blankHS"></div>
  <!-- problem cloud -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-2 Grid--center">

      <div class="Grid-cell">
        <div class="element">
          <h4>PROBLEM CLOUD </h4>
          <p class="lineHorizAll"></p>
          <h6>Using the skills, tools and materials gathered to date including
            folding, laser cutting, assembling layers of plywood, manipulating images into vectors
            to
            construct a layered assemblage the problem cloud.</h6>
        </div>
      </div>
      <div class="Grid-cell">
        <div class="element widthM"> <img src="problem_cloud1.gif" alt="DIAGRAM">
        </div>
      </div>

    </div>
  </div>
  <!-- problem cloud -->
  <!-- problem cloud -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-2 Grid--center">

      <div class="Grid-cell">
        <div class="element">
          <h4>PROBLEM CLOUD </h4>
          <p class="lineHorizAll"></p>
          <h6>2 images in 3 color separations and one monochrome image. Take into
            account folding as studied in the box assignment, as well as offsetting to deal with
            corner and ground conditions.</h6>
        </div>
      </div>
      <div class="Grid-cell">
        <div class="element widthM"> <img src="problem_cloud2.gif" alt="DIAGRAM">
        </div>
      </div>

    </div>
  </div>
  <!-- problem cloud -->
  <div class="blankHM"></div>
  <hr>
  <div class="blankHM"></div>
  <%- include(`${templatePath}/shared/comp_content_subtitle_arrow`, {message: 'The Cloud' }) %>


  <div class="blankHS"></div>
  <!-- the cloud -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-2 Grid--center">
      <div class="Grid-cell">
        <div class="element">
          <h4>PROBLEM CLOUD DIAGRAM </h4>
          <p class="lineHorizAll"></p>
          <h6>2 images in 3 color separation and one monochrome image are
            interleaved in a repetitive pattern.</h6>
          <h6> 7 Layers total, Spacing: 1/4”</h6>
          <h6> Monochrome image can be located anywhere within this layering.</h6>
        </div>
      </div>
      <div class="Grid-cell">
        <div class="element widthL"> <img src="problem_cloud.jpg" alt="DIAGRAM">
        </div>
      </div>
    </div>
  </div>
  <!-- the cloud -->


  <!-- the cloud -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-2 Grid--center">
      <div class="Grid-cell">
        <div class="element">
          <h4>OPERATION METHOD </h4>
          <p class="lineHorizAll"></p>
          <h6>an armature continues around the corner for structure, image layers are offset
            perpendicular from the innermost layer with no distortion or shifting</h6>
        </div>
      </div>
      <div class="Grid-cell">
        <div class="element widthL"> <img src="problem_cloud1.jpg" alt="DIAGRAM">
        </div>
      </div>
    </div>
  </div>
  <!-- the cloud -->
  <!-- the cloud -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-2 Grid--center">
      <div class="Grid-cell">
        <div class="element">
          <h4>OPERATION METHOD </h4>
          <p class="lineHorizAll"></p>
          <h6>no corner armature, image layers are offset perpendicular with no distortion or
            shifting</h6>
        </div>
      </div>
      <div class="Grid-cell">
        <div class="element widthL"> <img src="problem_cloud2.jpg" alt="DIAGRAM">
        </div>
      </div>
    </div>
  </div>
  <!-- the cloud -->
  <!-- the cloud -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-2 Grid--center">
      <div class="Grid-cell">
        <div class="element">
          <h4>OPERATION METHOD </h4>
          <p class="lineHorizAll"></p>
          <h6>no corner armature, image layers are offset perpendicular from the outermost layer
            with no distortion or shifting, and then are trimmed</h6>
        </div>
      </div>
      <div class="Grid-cell">
        <div class="element widthL"> <img src="problem_cloud3.jpg" alt="DIAGRAM">
        </div>
      </div>
    </div>
  </div>
  <!-- the cloud -->
  <div class="blankHM"></div>
  <hr>
  <div class="blankHM"></div>
  <%- include(`${templatePath}/shared/comp_content_subtitle_arrow`, {message: 'Color & Layers' }) %>


  <div class="blankHS"></div>
  <!-- CaseStudy1-->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-2 Grid--center">
      <div class="Grid-cell">
        <div class="element">
          <h4> FIRST ROUND TEST </h4>
          <p class="lineHorizAll"></p>
          <h6>five sides of a box unfolded. As one layer of the image is folded to the box, formerly
            contiguous color areas are disconnected. An armature is necessary to hold the image
            layer together, and to align it with the other image layers.</h6>
        </div>
      </div>
      <div class="Grid-cell">
        <div class="element widthL"> <img src="test.jpg" alt="DIAGRAM">
        </div>
      </div>
    </div>
  </div>
  <!-- CaseStudy1 -->
  <div class="blankHM"></div>
  <hr>
  <div class="blankHM"></div>
  <%- include(`${templatePath}/shared/comp_content_subtitle_arrow`, {message: 'Boxes' }) %>


  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-2 Grid--center">
      <div class="Grid-cell">

        <div class="element"> <img src="render.jpg" alt="DIAGRAM">
        </div>
        <div class="element">
          <h4> BOXES FROM PROBLEM CLOUD </h4>
          <p class="lineHorizAll"></p>
          <h6>Separate the boxes from the problem cloud</h6>
        </div>

      </div>
    </div>
  </div>
  <!--render -->
  <div class="blankHM"></div>


  <div class="blankHM"></div>
  <hr>
  <div class="blankHM"></div>
  <%- include(`${templatePath}/shared/comp_content_subtitle_arrow`, {message: 'Site & City' }) %>


  <!--Arrow-->
  <div class="blankHS"></div>

  <!--Site and City -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-2 Grid--center">

      <div class="Grid-cell">
        <div class="element">
          <h4>OTHER MUSEUMS IN LA </h4>
          <p class="lineHorizAll"></p>
          <h6>Searching for context and narrative with other museums</h6>
        </div>
      </div>
      <div class="Grid-cell">
        <div class="element widthM"> <img src="site_city_1.jpg" alt="DIAGRAM">
          <h6>Museums in LA</h6>


        </div>
      </div>

    </div>
  </div>
  <!--Site and City -->
  <!--Site and City -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-2 Grid--center">

      <div class="Grid-cell">
        <div class="element">
          <h4>EXTENSION & ORIENTATION </h4>
          <p class="lineHorizAll"></p>
          <h6>Extension of the orientation of the boxes on site</h6>
        </div>
      </div>
      <div class="Grid-cell">
        <div class="element widthM"> <img src="site_city_2.jpg" alt="DIAGRAM">
          <h6>Orientation of grid </h6>

        </div>
      </div>

    </div>
  </div>
  <!--Site and City -->
  <!--Site and City -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-2 Grid--center">

      <div class="Grid-cell">
        <div class="element">
          <h4>ANGLES IN BETWEEN VERTICALITY</h4>
          <p class="lineHorizAll"></p>
          <h6>the extension of the angles in between vertical box diagonal</h6>
        </div>
      </div>
      <div class="Grid-cell">
        <div class="element widthM"> <img src="site_city_3.jpg" alt="DIAGRAM">
          <h6>Angle from top and bottom boxes </h6>

        </div>
      </div>

    </div>
  </div>
  <!--Site and City -->
  <!--Site and City -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-2 Grid--center">

      <div class="Grid-cell">
        <div class="element">
          <h4>ANGLES IN BETWEEN HORIZONTALITY</h4>
          <p class="lineHorizAll"></p>
          <h6>the extension of the angles in between horizontal box diagonal</h6>
        </div>
      </div>
      <div class="Grid-cell">
        <div class="element widthM"> <img src="site_city_4.jpg" alt="DIAGRAM">
          <h6>Angle in between the rotated boxes </h6>

        </div>

      </div>

    </div>
  </div>
  <!--Site and City -->
  <div class="blankHM"></div>
  <hr>
  <div class="blankHM"></div>
  <%- include(`${templatePath}/shared/comp_content_subtitle_arrow`, {message: 'Plans' }) %>

  <!-- site plan -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-2 Grid--center">
      <div class="Grid-cell">

        <div class="element"> <img src="onsite.jpg" alt="site plan">
        </div>
        <div class="element">
          <h4> SITE PLAN </h4>
          <p class="lineHorizAll"></p>
          <h6>Large-Scale</h6>
        </div>

      </div>
    </div>
  </div>
  <!-- site plan -->
  <div class="blankHL"></div>
  <!-- floor plan -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-1 Grid--center">
      <div class="Grid-cell">

        <div class="element"> <img src="plan1.jpg" alt="site plan">
        </div>
        <div class="element">
          <h4> FLOOR PLAN </h4>
          <p class="lineHorizAll"></p>
          <h6>Ground Floor</h6>
        </div>

      </div>
    </div>
  </div>
  <!-- floor plan -->
  <div class="blankHL"></div>
  <!-- floor plan -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-1 Grid--center">
      <div class="Grid-cell">

        <div class="element"> <img src="plan2.jpg" alt="site plan">
        </div>
        <div class="element">
          <h4> FLOOR PLAN </h4>
          <p class="lineHorizAll"></p>
          <h6>Second Floor</h6>
        </div>

      </div>
    </div>
  </div>
  <!-- floor plan -->
  <div class="blankHL"></div>
  <!-- floor plan -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-1 Grid--center">
      <div class="Grid-cell">

        <div class="element"> <img src="plan3.jpg" alt="site plan">
        </div>
        <div class="element">
          <h4> FLOOR PLAN </h4>
          <p class="lineHorizAll"></p>
          <h6>Third Floor</h6>
        </div>

      </div>
    </div>
  </div>
  <!-- floor plan -->
  <div class="blankHL"></div>
  <!-- floor plan -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-1 Grid--center">
      <div class="Grid-cell">

        <div class="element"> <img src="plan4.jpg" alt="site plan">
        </div>
        <div class="element">
          <h4> FLOOR PLAN </h4>
          <p class="lineHorizAll"></p>
          <h6>Fourth Floor</h6>
        </div>
      </div>
    </div>
  </div>
  <!-- floor plan -->
  <div class="blankHM"></div>
  <hr>
  <div class="blankHM"></div>
  <%- include(`${templatePath}/shared/comp_content_subtitle_arrow`, {message: 'Sections & Elevations' }) %>


  <div class="blankHS"></div>
  <!--Elevations-->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-1 Grid--center">
      <div class="Grid-cell">

        <div class="element"> <img src="section1.jpg" alt="site plan">
        </div>
        <div class="element">
          <h4> ELEVATION </h4>
          <p class="lineHorizAll"></p>
          <h6>Section A' - A'</h6>
        </div>
      </div>
    </div>
  </div>
  <!--Elevations-->
  <div class="blankHL"></div>
  <!--Elevations-->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-1 Grid--center">
      <div class="Grid-cell">

        <div class="element"> <img src="section1.jpg" alt="site plan">
        </div>
        <div class="element">
          <h4> ELEVATION </h4>
          <p class="lineHorizAll"></p>
          <h6>Section B' - B'</h6>
        </div>
      </div>
    </div>
  </div>
  <!--Elevations-->




  <!-- Shared across the platform -->
  <%- include(`${templatePath}/shared/comp_content_subtitle_arrow`, {message: 'Skills & Experiences' }) %>
  <%- include(`${templatePath}/shared/comp_tagCloud`) %>
  <%- include(`${templatePath}/shared/comp_closingMessage`, { version: 'addMessage', message: `Thank You for Visiting! please <a class="textUnderline" href="mailto:vickyw.design@gmail.com">email</a> me
  about professional projects.`}) %>



  <%- include(`${templatePath}/shared/comp_backTop`) %>
  <%- include(`${templatePath}/shared/block_nav_footer`) %>
  <!-- Shared across the platform -->

</body>


</html>