<!DOCTYPE html>
<html lang="en">

<!--Head-->
<%- include(`${templatePath}/shared/head`, {SEO:true, Title:'Manifold Ground: Multidimensional Architectural Exploration by Vicky Wang', 
  description:`'Manifold Ground' project presents a multidimensional exploration of architectural space and form. This innovative work delves into the concept of layered environments, challenging the traditional notions of spatial design. The project emphasizes the interplay of various planes and dimensions, creating a rich, complex ground that invites interaction and exploration.`, 
  pageURL:'architecture/manifold_ground', thumbnailImgURL: 'vickywang_web.png'
  }) %>
<!--Head-->

<body>
  <%- include(`${templatePath}/shared/compProgressBar`) %>

  <%- include(`${templatePath}/shared/block_nav_header`, {
    type:'backText', 
    leftArrowColor:``,
    currentPage: 'ARCHITECTURE',
    PageUrl:`/architecture`
    }) %>

  <div class="blankHL"></div>
  <!-- cover -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-2 Grid--center">
      <div class="Grid-cell">
        <div class="element widthL"> <img src="greylines.jpg" alt="DIAGRAM">

        </div>
      </div>
      <div class="Grid-cell">
        <div class="element">
          <h5>Urban public space</h5>
          <h3 class="" data-aos="fade-up"><strong>MANIFOLD GROUND</strong></h3>

          <p class="lineHorizAll"></p>
          <h6 class=""> <strong>Studio:</strong> &nbsp; [IN]ARCH ADV</h6>
          <h6><strong>Duration: </strong> <span class="textItalic">&nbsp;SUMMERS 2014 6
              Weeks</span> </h6>
          <h6> <strong>Project:</strong> &nbsp;Summer Program, CED, UC Berkeley</h6>
          <h6> <strong>Site:</strong> &nbsp; 450 Hayes St. San Francisco, CA 94102 </h6>
          <h6> <strong>Instructor:</strong> &nbsp; Keith Plymale</h6>
        </div>
      </div>

    </div>
  </div>
  <!-- cover -->

  <div class="blankHM"></div>
  <hr>
  <div class="blankHM"></div>
  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Methodology' }) %>


  <div class="blankHS"></div>
  <!-- object -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-1 Grid--center ">
      <div class="Grid-cell">
        <div class="element"> <img src="object.jpg" alt="DIAGRAM">

        </div>
        <div class="element">
          <h4>2D TO 3D</h4>
          <p class="lineHorizAll"></p>
          <h6>Manipulation of 2 dimensional drawing to 3d dimension geometry </h6>
        </div>
      </div>

    </div>
  </div>
  <!-- object -->
  <!--geometry-->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-1 Grid--center ">
      <div class="Grid-cell">
        <div class="element"> <img src="model.jpg" alt="DIAGRAM">
        </div>
        <div class="element">
          <h4>GEOMETRY ON SITE</h4>
          <p class="lineHorizAll"></p>
          <h6>Transfer the geometry to site </h6>
        </div>
      </div>

    </div>
  </div>
  <!--geometry-->
  <!--density-->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-1 Grid--center ">
      <div class="Grid-cell">
        <div class="element"> <img src="cut.jpg" alt="DIAGRAM">
        </div>
        <div class="element">
          <h4>2D TO 3D MANIPULATION</h4>
          <p class="lineHorizAll"></p>
          <h6>Cut and fold on both side of the bristol paper </h6>
        </div>
      </div>
    </div>
  </div>
  <!--density-->
  <div class="blankHM"></div>
  <hr>
  <div class="blankHM"></div>


  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Site & Programs' }) %>

  <div class="blankHS"></div>

  <!--site -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-1 Grid--center ">
      <div class="Grid-cell">
        <div class="element"> <img src="cut.jpg" alt="DIAGRAM">
        </div>
        <div class="element">
          <h4>DIAGRAMS</h4>
          <p class="lineHorizAll"></p>
          <h6>Programs including market, observation place, beer garden, etc. </h6>
        </div>
      </div>
    </div>
  </div>
  <!--site -->
  <div class="blankHM"></div>
  <hr>
  <div class="blankHM"></div>

  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Flyover View' }) %>

  <div class="blankHS"></div>

  <!--Section Perspective -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-1 Grid--center ">
      <div class="Grid-cell">
        <div class="element"> <img src="render.jpg" alt="DIAGRAM">
        </div>
        <div class="element">
          <h4>FLYOVER VIEW</h4>
          <p class="lineHorizAll"></p>
          <h6>From the surrounding building people can see this build as an urban
            sculpture </h6>
        </div>
      </div>
    </div>
  </div>
  <!--Section Perspective -->
  <div class="blankHM"></div>
  <hr>
  <div class="blankHM"></div>
  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Site' }) %>

  <div class="blankHS"></div>
  <!--SITE -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-1 Grid--center ">
      <div class="Grid-cell">
        <div class="element"> <img src="site1.jpg" alt="DIAGRAM">
        </div>
        <div class="element">
          <h4>SITE</h4>
          <p class="lineHorizAll"></p>
          <h6>This site is one of the most popular places in san Francisco. Along
            the city axis, there are Saint Mary's Cathedral, SF City Hall, and there is a freeway
            entrance on the southern side.</h6>
        </div>
      </div>
    </div>
  </div>
  <!--SITE -->
  <!--SITE -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-1 Grid--center ">
      <div class="Grid-cell">
        <div class="element"> <img src="site.jpg" alt="DIAGRAM">
        </div>
        <div class="element">
          <h4>SITE</h4>
          <p class="lineHorizAll"></p>
          <h6>Site: 450 Hayes St. San Francisco, CA 94102</h6>
        </div>
      </div>
    </div>
  </div>
  <!--SITE -->




  <!-- Shared across the platform -->
  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Skills & Experiences' }) %>
  <%- include(`${templatePath}/shared/comp_tagCloud`) %>
  <%- include(`${templatePath}/shared/comp_closingMessage`, { version: 'addMessage', message: `Thank You for Visiting! please <a class="textUnderline" href="mailto:vickyw.design@gmail.com">email</a> me
  about professional projects.`}) %>



  <%- include(`${templatePath}/shared/comp_backTop`) %>
  <%- include(`${templatePath}/shared/block_nav_footer`) %>
  <!-- Shared across the platform -->
</body>







</html>