<html lang="en">
<!--Head-->
<%- include(`${templatePath}/shared/head`, {SEO:true, Title:'Exploring Navigation V2 - Digital Interfaces & User Engagement by Vicky Wang', 
description:`Discover Vicky Wang's Navigation V2 Development, focusing on user engagement through innovative digital interfaces. A step forward in digital navigation and design.`, 
pageURL:'design_system/navigation/V2/', thumbnailImgURL: 'vickywang_web.png'
}) %>
<!--Head-->


<body>
  <%- include(`${templatePath}/shared/progressBar`) %>
  <%- include(`${templatePath}/shared/block_nav_header`, {
    type:'back', 
    currentPage: 'PROJECT',
    PageUrl:`/design_system/navigation`
    }) %>
  <main>
    <div class="GreyBg200">
      <div class="blankPhone"></div>
      <div class="blankHS"></div>
      <div class="ProjectBanner displayLaptop">
        <div class="blankMin1880"></div>
        <img src="Mockup.png" alt="vickywang.me">

        <div class="ProjectBannerInnerND">
          <h1 class=""><strong>Navigation design</strong> </h1>
          <h3 class="Grid Grid--center colorBlack">Please scroll down and click to view the behavior</h3>
          <div class="blankHXS"></div>

        </div>
      </div>

      <div class="ProjectBanner displayTablet">
        <div class="blankMin1880"></div>
        <img class="displayTablet" src="MockupS.png" alt="vickywang.me">
        <div class="ProjectBannerInnerND">
          <h1 class=""><strong>Navigation design</strong> </h1>
          <h3 class="Grid Grid--center colorBlack">Please scroll down and click to view the behavior</h3>
          <div class="blankHXS"></div>


        </div>
      </div>
      <div class="ProjectBanner displayPhone">
        <div class="blankMin1880"></div>
        <img class="displayPhone" src="MockupXS.png" alt="vickywang.me">
        <div class="ProjectBannerInnerND">
          <h1 class=""><strong>Navigation Design</strong> </h1>
          <h3 class="Grid Grid--center colorBlack">Please scroll down and click to view the behavior</h3>
          <div class="blankHXS"></div>

        </div>
      </div>
    </div>
    <div class="blankHXS"></div>
    <div class="wrapper">
      <div class="Grid Grid--gutters Grid--cols-2">
        <div class="Grid-cell">
          <div class="element">

            <h3><strong>Main goal</strong></h3>
            <h4>After receiving feedback and conducting testing, the goal for the iteration was to streamline
              the content and ensure that users can find what they're looking for with minimal effort.
            </h4>
          </div>
        </div>
        <div class="Grid-cell">
          <div class="element">

            <h3><strong>Breakdown</strong></h3>

            <ul>
              <li class="listCircle">Able to understand the context easily</li>
              <li class="listCircle"> easily determine where the user is looking/reading </li>
              <li class="listCircle"> skip or jump to the sections they are interested in </li>
              <li class="listCircle">revisiting previous sections if desired</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="blankHXS"></div>
    <div class="wrapper">
      <div class="Grid Grid--gutters Grid--cols-4">
        <div class="Grid-cell">
          <div class="element">

            <h3><strong>Duration</strong></h3>
            <h4>April 2023 </h4>
            <h4>5 Hours </h4>

          </div>
        </div>
        <div class="Grid-cell">
          <div class="element">

            <h3><strong>Team</strong></h3>
            <h4>Individual work</h4>
          </div>
        </div>
        <div class="Grid-cell">
          <div class="element">

            <h3><strong>Role</strong></h3>
            <h4>Design</h4>
            <h4>implement</h4>
          </div>
        </div>
        <div class="Grid-cell">
          <div class="element">
            <h3><strong>Tool</strong></h3>
            <h4>HTML CSS JS</h4>
            <h4>VS Code, AWS S3</h4>
          </div>
        </div>

      </div>
    </div>
    <div class="blankHS"></div>


    <nav class="HorizNav">
      <ol class="HorizNavItem">

        <li><a href="#c1" class="outline">Content 1</a></li>
        <P class="lineHorizAll"></P>
        <li><a href="#c2" class="outline">Content 2</a></li>
        <P class="lineHorizAll"></P>

        <li><a href="#c3" class="outline">Content 3</a></li>
      </ol>
    </nav>

    <section id="c1" class="wrapper">
      <div class="Grid Grid--gutters Grid--1of6">
        <div class="Grid-cell">
          <nav class="subNav element">
            <ol>
              <li><a href="#c1Sc1" class="newTitlePanel">C1 - SC 1</a>
                <ul>
                  <li class="newPanel"><a href="#c1Sc11">Title 1 </a></li>
                  <li class="newPanel"><a href="#c1Sc12">Title 2 </a></li>
                </ul>
              </li>
              <li><a href="#c1Sc2" class="newTitlePanel">C1 - SC 2</a>
                <ul>
                  <li class="newPanel"><a href="#c1Sc21">Title 1 </a></li>
                  <li class="newPanel"><a href="#c1Sc22">Title 2</a></li>
                </ul>
              </li>
            </ol>
          </nav>
        </div>
        <div class="Grid-cell">
          <section id="c1Sc1">
            <section id="c1Sc11">
              <!-- Title -->

              <div class="Grid Grid--gutters Grid--1of2 Grid--center u-textCenter">
                <div class="Grid-cell">
                  <h1 class="Grid Grid--center"> <span>C1 - SC 1</span><img class="moveUpDown widthLogo"
                      src="../../../icon/icon_research.svg" alt="Research">
                  </h1>
                </div>
              </div>
              <!-- Title -->
              <!-- Arrow -->
              <div class="wrapper">
                <div class="element">
                  <h2 class="tArrow">Image <img class="seArrow" src="../../../icon/arrow-se.svg" alt="icon arrow"></h2>
                </div>
              </div>
              <!-- Arrow -->
              <!-- Img -->

              <div class="Grid Grid--full Grid--gutters u-textCenter">
                <div class="Grid-cell">
                  <div class="element"> <img class="cardAPPOINTA " src="../../../design_system/Placeholder.svg"
                      alt="New User">
                  </div>
                </div>
              </div>
              <!-- Img -->
            </section>
            <section id="c1Sc12">
              <div class="Grid Grid--gutters Grid--1of2 Grid--center u-textCenter">
                <div class="Grid-cell">
                  <h1 class="Grid Grid--center"> <span>C1 - SC 2</span><img class="moveUpDown widthLogo"
                      src="../../../icon/icon_research.svg" alt="Research">
                  </h1>
                </div>
              </div>
              <!-- Title -->
              <!-- Arrow -->
              <div class="wrapper">
                <div class="element">
                  <h2 class="tArrow">Note <img class="seArrow" src="../../../icon/arrow-se.svg" alt="icon arrow"></h2>
                </div>
              </div>
              <!-- Arrow -->
              <div class="Grid-cell">
                <div class="element">
                  <div class="element">
                    <p class="specialTextNote colorGrey u-textCenter">Lorem ipsum dolor sit amet, consectetur
                      adipiscing
                      elit, sed
                      do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>

                  </div>
                </div>
              </div>

            </section>
          </section>
          <section id="c1Sc2">
            <section id="c1Sc21">
              <!-- Title -->

              <div class="Grid Grid--gutters Grid--1of2 Grid--center u-textCenter">
                <div class="Grid-cell">
                  <h1 class="Grid Grid--center"> <span>C1 - SC 1</span><img class="moveUpDown widthLogo"
                      src="../../../icon/icon_research.svg" alt="Research">
                  </h1>
                </div>
              </div>
              <!-- Title -->
              <!-- Arrow -->
              <div class="wrapper">
                <div class="element">
                  <h2 class="tArrow">Image <img class="seArrow" src="../../../icon/arrow-se.svg" alt="icon arrow"></h2>
                </div>
              </div>
              <!-- Arrow -->
              <!-- Img -->

              <div class="Grid Grid--full Grid--gutters u-textCenter">
                <div class="Grid-cell">
                  <div class="element"> <img class="cardAPPOINTA " src="../../../design_system/Placeholder.svg"
                      alt="New User">
                  </div>
                </div>
              </div>
              <!-- Img -->
            </section>
            <section id="c1Sc22">
              <div class="Grid Grid--gutters Grid--1of2 Grid--center u-textCenter">
                <div class="Grid-cell">
                  <h1 class="Grid Grid--center"> <span>C1 - SC 2</span><img class="moveUpDown widthLogo"
                      src="../../../icon/icon_research.svg" alt="Research">
                  </h1>
                </div>
              </div>
              <!-- Title -->
              <!-- Arrow -->
              <div class="wrapper">
                <div class="element">
                  <h2 class="tArrow">Image <img class="seArrow" src="../../../icon/arrow-se.svg" alt="icon arrow"></h2>
                </div>
              </div>
              <!-- Arrow -->
              <!-- Img -->

              <div class="Grid Grid--full Grid--gutters u-textCenter">
                <div class="Grid-cell">
                  <div class="element"> <img class="cardAPPOINTA " src="../../../design_system/Placeholder.svg"
                      alt="New User">
                  </div>
                </div>
              </div>
              <!-- Img -->
            </section>
          </section>
        </div>

      </div>
    </section>




    <section id="c2">
      <section id="contentOne" class="wrapper">
        <div class="Grid Grid--gutters Grid--1of6">
          <div class="Grid-cell">

            <nav class="subNav element">
              <ol>
                <li><a href="#c2Sc1" class="newTitlePanel">C2 - SC 1</a>
                  <ul>
                    <li class="newPanel"><a href="#c2Sc11">Title 1 </a></li>
                    <li class="newPanel"><a href="#c2Sc12">Title 2 </a></li>
                  </ul>
                </li>
                <li><a href="#c2Sc2" class="newTitlePanel">C2 - SC 2</a>
                  <ul>
                    <li class="newPanel"><a href="#c2Sc21">Title 1 </a></li>
                    <li class="newPanel"><a href="#c2Sc22">Title 2</a></li>
                  </ul>
                </li>
              </ol>
            </nav>
          </div>
          <div class="Grid-cell">
            <section id="c2Sc1">
              <section id="c2Sc11">
                <!-- Arrow -->
                <div class="wrapper">
                  <div class="element">
                    <h2 class="tArrow">Tag <img class="seArrow" src="../../../icon/arrow-se.svg" alt="icon arrow"></h2>
                  </div>
                </div>
                <!-- Arrow -->
                <div class="Grid Grid--full Grid--gutters">
                  <div class="Grid-cell">
                    <div class="">
                      <div class="element GreyBg100 leftVerLine ">
                        <h4>
                          <p> <strong>Title </strong></p>
                          <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                              incididunt ut labore
                              et dolore magna aliqua. </li>
                            <li> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                              ea commodo
                              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                              eu
                              fugiat
                              nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                              officia
                              deserunt
                              mollit anim id est laborum.</li>
                          </ul>
                          <p> <strong>Title </strong></p>
                          <ul>
                            <li> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                              ea commodo
                              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                              eu
                              fugiat
                              nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                              officia
                              deserunt
                              mollit anim id est laborum.</li>
                          </ul>
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="blankHM"></div>
              </section>
              <section id="c2Sc12">

                <!-- Arrow -->
                <div class="wrapper">
                  <div class="element">
                    <h2 class="tArrow">Note <img class="seArrow" src="../../../icon/arrow-se.svg" alt="icon arrow"></h2>
                  </div>
                </div>
                <!-- Arrow -->
                <div class="Grid-cell">
                  <div class="element">
                    <div class="element">
                      <p class="specialTextNote colorGrey u-textCenter">Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed
                        do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      </p>

                    </div>
                  </div>
                </div>
                <div class="blankHM"></div>
              </section>
            </section>
            <section id="c2Sc2">
              <section id="c2Sc21">
                <!-- Arrow -->
                <div class="wrapper">
                  <div class="element">
                    <h2 class="tArrow">Note <img class="seArrow" src="../../../icon/arrow-se.svg" alt="icon arrow"></h2>
                  </div>
                </div>
                <!-- Arrow -->
                <div class="Grid-cell">
                  <div class="element">
                    <div class="element">
                      <p class="specialTextNote colorGrey u-textCenter">Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed
                        do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      </p>

                    </div>
                  </div>
                </div>
                <div class="blankHM"></div>
              </section>
              <section id="c2Sc22">
                <!-- Arrow -->
                <div class="wrapper">
                  <div class="element">
                    <h2 class="tArrow">Tag <img class="seArrow" src="../../../icon/arrow-se.svg" alt="icon arrow"></h2>
                  </div>
                </div>
                <div class="Grid Grid--gutters Grid--cols-2">
                  <div class="Grid-cell">
                    <div class="element">
                      <div class="elementInnerL cardAPPOINTA">
                        <h4> <strong> Title</strong> </h4>
                        <ul>
                          <li> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt
                            ut labore
                            et
                            dolore magna aliqua. </li>
                          <li> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt
                            ut labore
                            et
                            dolore magna aliqua. </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="Grid-cell">
                    <div class="element">
                      <div class="elementInnerL cardAPPOINTA">
                        <h4> <strong> Title</strong> </h4>
                        <ul>
                          <li> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt
                            ut labore
                            et
                            dolore magna aliqua. </li>
                          <li> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt
                            ut labore
                            et
                            dolore magna aliqua. </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <div class="blankHS"></div>

            </section>
          </div>
        </div>

      </section>
    </section>

    <section id="c3" class="GreyBg200">
      <div class="Grid Grid--gutters Grid--1of2 Grid--center u-textCenter">
        <div class="Grid-cell">
          <h1 class="Grid Grid--center"> <span>Title</span><img class="moveUpDown widthLogo"
              src="../../../icon/icon_research.svg" alt="Research">
          </h1>
        </div>
      </div>
      <div class="wrapper">
        <div class="Grid Grid--gutters Grid--cols-3 Grid--center">
          <div class="Grid-cell BGappointa">
            <div class="element">
              <div class="elementInnerL">

                <h4><strong>Title</strong></h4>
                <h5>&#8226; List </h5>
                <h5>&#8226; List </h5>

              </div>
            </div>
          </div>
          <div class="Grid-cell BGappointa">
            <div class="element">
              <div class="elementInnerL">

                <h4><strong>Title</strong></h4>
                <h5>&#8226; List </h5>
                <h5>&#8226; List </h5>

              </div>
            </div>
          </div>

          <div class="Grid-cell BGappointa">
            <div class="element">
              <div class="elementInnerL">

                <h4><strong>Title</strong></h4>
                <h5>&#8226; List </h5>
                <h5>&#8226; List </h5>
                </h5>
              </div>
            </div>
          </div>
        </div>
        <div class="Grid Grid--gutters Grid--cols-3 Grid--center">
          <div class="Grid-cell BGappointa">
            <div class="element">
              <div class="elementInnerL">

                <h4><strong>Title</strong></h4>
                <h5>&#8226; List </h5>
                <h5>&#8226; List </h5>

              </div>
            </div>
          </div>
          <div class="Grid-cell BGappointa">
            <div class="element">
              <div class="elementInnerL">

                <h4><strong>Title</strong></h4>
                <h5>&#8226; List </h5>
                <h5>&#8226; List </h5>

              </div>
            </div>
          </div>

          <div class="Grid-cell BGappointa">
            <div class="element">
              <div class="elementInnerL">

                <h4><strong>Title</strong></h4>
                <h5>&#8226; List </h5>
                <h5>&#8226; List </h5>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Arrow -->

      <div class="blankHS"></div>

      <div class="blankHS"></div>

      <div class="blankHS"></div>
    </section>

  </main>





  <!-- Shared across the platform -->
  <%- include(`${templatePath}/shared/comp_closingMessage`, { 
    version:``,  message:``}) %>

  <%- include(`${templatePath}/shared/modal`) %>
  <%- include(`${templatePath}/shared/comp_backTop`) %>
  <%- include(`${templatePath}/shared/block_nav_footer`) %>
  <!-- Shared across the platform -->



</body>




</html>