<html>
<html>
<!--Head-->
<%- include(`${templatePath}/shared/head`, {SEO:true, Title:'Narrow Stripes: Harmonizing Architecture with Landscape by Vicky Wang', 
      description:`'Narrow Stripes' integrates architecture and landscape, crafting a design that enables fluid interaction between interior and exterior spaces. This approach fosters connectivity among occupants and with the natural surroundings, creating an environment that encourages interaction and engagement with both the community and the natural world.`, 
      pageURL:'architecture/narrow_stripes', thumbnailImgURL: 'vickywang_web.png'
      }) %>
<!--Head-->



<body>
  <%- include(`${templatePath}/shared/compProgressBar`) %>
  <%- include(`${templatePath}/shared/block_nav_header`, {type:'main', currentPage: 'ARCHITECTURE' }) %>
  <div class="blankHL"></div>
  <!-- cover -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-2 Grid--center">
      <div class="Grid-cell">
        <div class="element widthL"> <img src="render.jpg" alt="DIAGRAM"> </div>
      </div>

      <div class="Grid-cell">
        <div class="element">
          <h4>NARROW STRIPES</h4>
          <p class="lineHorizAll"></p>
          <h5>Vicky Wang's 'Narrow Stripes' integrates architecture and landscape, crafting a design that enables fluid interaction between interior and exterior spaces. The use of a series of straps divides the space, providing an infrastructure that serves the nearby community. This approach fosters connectivity among occupants and with the natural surroundings, creating an environment that encourages interaction and engagement with both the community and the natural world.
          </h5>
        </div>
      </div>

    </div>
  </div>
  <!-- cover -->
  <div class="blankHM"></div>
  <hr>
  <div class="blankHM"></div>



  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Programs and Diagrams' }) %>

  <div class="blankHM"></div>
  <!-- cover -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-2 Grid--center">
      <div class="Grid-cell">
        <div class="element widthL"> <img src="diagram.jpg" alt="DIAGRAM"> </div>
      </div>

      <div class="Grid-cell">
        <div class="element">
          <h4>PROGRAMS</h4>
          <p class="lineHorizAll"></p>
          <h6>Three categories of programs. Social and Leisure, Library, and
            miscellaneous</h6>
        </div>
      </div>

    </div>
  </div>
  <!-- cover -->
  <div class="blankHM"></div>
  <hr>
  <div class="blankHM"></div>
  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Renders' }) %>

  <div class="blankHM"></div>
  <!-- cover -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-2 Grid--center">
      <div class="Grid-cell">
        <div class="element widthL"> <img src="render1.jpg" alt="DIAGRAM"> </div>
      </div>

      <div class="Grid-cell">
        <div class="element">
          <h4>RENDERS</h4>
          <p class="lineHorizAll"></p>
          <h6>Multiple views</h6>
        </div>
      </div>

    </div>
  </div>
  <!-- cover -->

  <div class="blankHM"></div>
  <hr>
  <div class="blankHM"></div>
  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Site & Floor Plan' }) %>


  <div class="blankHM"></div>
  <!-- site plan -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-2 Grid--center">
      <div class="Grid-cell">
        <div class="element widthL"> <img src="siteplan.jpg" alt="DIAGRAM"> </div>
      </div>

      <div class="Grid-cell">
        <div class="element">
          <h4>SITE PLAN</h4>
          <p class="lineHorizAll"></p>
          <h6>Relationship between site and the infrastructure building</h6>
        </div>
      </div>

    </div>
  </div>
  <!-- site plan -->
  <div class="blankHM"></div>
  <hr>
  <div class="blankHM"></div>


  <!-- site -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-2 Grid--center">
      <div class="Grid-cell">
        <div class="element widthL"> <img src="site.jpg" alt="DIAGRAM"> </div>
      </div>

      <div class="Grid-cell">
        <div class="element">
          <h4>SITE</h4>
          <p class="lineHorizAll"></p>
          <h6>Location: Hyde Park, London</h6>
        </div>
      </div>

    </div>
  </div>
  <!-- site -->
  <!-- Shared across the platform -->
  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Skills & Experiences' }) %>
  <%- include(`${templatePath}/shared/comp_tagCloud`) %>
  <%- include(`${templatePath}/shared/comp_closingMessage`, { version: 'addMessage', message: `Thank You for Visiting! please <a class="textUnderline" href="mailto:vickyw.design@gmail.com">email</a> me
  about professional projects.`}) %>



  <%- include(`${templatePath}/shared/comp_backTop`) %>
  <%- include(`${templatePath}/shared/block_nav_footer`) %>
  <!-- Shared across the platform -->


</body>





</html>