<!DOCTYPE html>
<html>
<!--Head-->
<%- include(`${templatePath}/shared/head`, {SEO:true, Title:'Innovative UX Designer Specializing in B2B SaaS & Mobile Workflow Efficiency - Vicky Wang', 
  description:'Vicky W. specializes in UX Design for B2B SaaS and consumer apps, expertly transforming complex challenges into user-friendly solutions.', 
  pageURL:'', thumbnailImgURL: 'vickywang_web.png'
  }) %>
<!--Head-->


<body>
  <%- include( `${templatePath}/shared/progressBar`) %>
  <%- include(`${templatePath}/shared/header`, {type:'main', currentPage: 'PROJECT' }) %>

  <div class="blankHM"></div>

  <%- include(`${templatePath}/shared/intro`, { 
    version: 'vicky',
    contents: ['UX designer', 'Product designer'],
    
    layoutType: '', 
    introContentP1: 'I am based in San Francisco and am deeply committed to developing web solutions for both businesses and consumers. My approach hinges on dissecting complex challenges and transforming them into clear, efficient, and impactful digital experiences.',
    introContentP2:'',
    introContentP3:''

}) %>

  <%- include(`${templatePath}/shared/homePage_icons-buttons`) %>





  <!-- Arrow -->
  <%- include(`${templatePath}/shared/comp_content_subtitle_arrow`, {message: 'Case Study' }) %>
  <!-- Arrow -->

  <!-- Content -->

  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-2">
    <%- include(`${templatePath}/shared/block_cardProjects`, {card: 'BYPb2bOnboarding' }) %>
    <%- include(`${templatePath}/shared/block_cardProjects`, {card: 'BYPb2cConsumerBooking' }) %>
    </div>

    <div class="Grid Grid--gutters Grid--cols-2">
      <%- include(`${templatePath}/shared/block_cardProjects`, {card: 'LHadminPanel' }) %>
      <%- include(`${templatePath}/shared/block_cardProjects`, {card: 'rxZero' }) %>

    </div>

    <div class="Grid Grid--gutters Grid--cols-2">
      <%- include(`${templatePath}/shared/block_cardProjects`, {card: 'LHcostCal' }) %>
      <%- include(`${templatePath}/shared/block_cardProjects`, {card: 'glorify' }) %>
    </div>

    <div class="Grid Grid--gutters Grid--cols-2">

      <%- include(`${templatePath}/shared/block_cardProjects`, {card: 'appointa' }) %>

      <%- include(`${templatePath}/shared/block_cardProjects`, {card: 'seer' }) %>


    </div>

  </div>
  <!-- Content -->

  <!-- Arrow -->
  <%- include('shared/comp_content_subtitle_arrow', {message: 'Design System' }) %>
  <!-- Arrow -->
  <!-- Content -->

  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-2">
      <%- include(`${templatePath}/shared/block_cardProjects`, {card: 'designSystem' }) %>
      <%- include(`${templatePath}/shared/block_cardProjects`, {card: 'navigation' }) %>
    </div>
  </div>
  <!-- Content -->

  <!-- Arrow -->
  <%- include('shared/comp_content_subtitle_arrow', {message: 'Skills & Experiences' }) %>
  <!-- Arrow -->

  <%- include('shared/tagCloud') %>
  <%- include('shared/comp_closingMessage', { version: '', message: ''}) %>

  <%- include('shared/comp_backTop') %>
  <%- include('shared/footer') %>
  <!-- The Modal -->
  <div id="modal" class="modal">
    <span id="modal-close" class="modal-close">
      <img class="iconXforModal" src="../icon/delete.svg" alt="&times;">
    </span>
    <img id="modal-content" class="modal-content">
    <div id="modal-caption" class="modal-caption"></div>
  </div>
  <!-- The Modal -->
</body>

</html>