<!DOCTYPE html>
<html lang="en" class="colorBgVW pattern1">
<!--Head-->
<%- include(`${templatePath}/shared/head`, {SEO:true, Title:'Vicky W. | UX Designer', 
  description:'Specializing in crafting seamless user experiences for B2B SaaS and consumer applications, Vicky Wang transforms complexity into user-friendly solutions.', 
  pageURL:'', thumbnailImgURL: 'vickywang_photography.png'
  }) %>
<!--Head-->

<body>


  <%- include(`${templatePath}/shared/comp_progressBar`) %>
  <%- include(`${templatePath}/shared/block_nav_header_main`, {
    sectionURL1:'#projects', 
    sectionURL2:'#experiments', 
    sectionURL3:'#design_system', 
    sectionURL4:'#about',
    arrTxtColor:'',
    headerBackgroundColor:'colorBgVW'
    }) %>

  <div class="blankHS"></div>
  <div class="wrapper">
    <div class="Grid Grid--full Grid--gutter">
      <div class="Grid-cell">
        <div class="element displayLaptop  u-textCenter">
          <h1 class="t-hello">👋🏻 hello, I'm Vicky</h1>
          <div class="blankHTiny"></div>

          <h1 class="specialTextTitle fontWeight700">Designing experiences that are </h1>

          <h1 class="specialTextTitleMidLine fontWeight700 typing-demo colorLandingText"> smooth, intuitive, impactful</h1>
          <h1 class="specialTextTitle fontWeight700">for businesses & users.</h1>
        </div>
        <div class="element displayTablet  u-textCenter">
          <h1 class="t-hello">👋🏻 hello, I'm Vicky</h1>
          <div class="blankHTiny"></div>

          <h1 class="specialTextTitle fontWeight700">Designing experiences that are </h1>

          <h1 class="specialTextTitleMidLine fontWeight700 typing-demo colorLandingText"> smooth, intuitive, impactful</h1>
          <h1 class="specialTextTitle fontWeight700">for businesses & users.</h1>
        </div>
        <div class="element displayPhone">
          <div class="element">
            <h1 class="t-hello"> 👋🏻 hello, I'm Vicky</h1>
            <div class="blankHTiny"></div>

            <h1 class="specialTextTitle fontWeight700">Designing experiences</h1>
            <h1 class="specialTextTitle fontWeight700">that are </h1>

            <h1 class="specialTextTitleMidLine fontWeight700 colorLandingText"> smooth, </h1>

            <h1 class="specialTextTitleMidLine fontWeight700 colorLandingText"> intuitive, </h1>

            <h1 class="specialTextTitleMidLine fontWeight700 colorLandingText"> impactful</h1>
            <h1 class="specialTextTitle fontWeight700">for businesses & users.</h1>
          </div>



        </div>
      </div>
    </div>
  </div>


  <div class="blankHXXS"></div>

  <div class="wrapper">

    <div class="Grid Grid--gutters Grid--cols-8 ">
      <div class="Grid-cell displayLaptop">
      </div>
      <div class="Grid-cell displayLaptop">
      </div>
      <div class="Grid-cell displayTablet">
      </div>
      <div class="Grid-cell centerVH">
        <div class="ClipboardBoxIconOnly">
          <button class="ClipboardIconOnly">
            <img title="Copy Email to Clipboard" class="iconM hoverWhite paddingM fitContentax borderRadiusMax" src="./icon/mail.svg" alt="LinkedIn">
            <p class="clickIconCopy">vickyw.design@gmail.com</p>
          </button>
        </div>

      </div>
      <div class="Grid-cell centerVH">
        <a href="https://www.linkedin.com/in/vicky-wyq/" target="_blank" title="LinkedIn">
          <img class="iconM hoverWhite paddingM fitContentax borderRadiusMax borderRadiusS" src="./icon/in.svg" alt="LinkedIn">
        </a>
      </div>


      <div class="Grid-cell centerVH">
        <a href="https://codepen.io/vicky-wyq" target="_blank" title="CodePen">
          <img class="iconM hoverWhite paddingM fitContentax borderRadiusMax" src="./icon/Codepen.svg" alt="CodePen">
        </a>
      </div>
      <div class="Grid-cell centerVH">
        <div class="dropdownSM">
          <img title="Share" class="iconM hoverWhite paddingM fitContent borderRadiusMax dropbtn" src="./icon/share.svg" alt="Share">
          <div class="dropdownSM-content">
            <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://vickywang.me" target="_blank">Share
              on LinkedIn</a>
            <a href="https://pinterest.com/pin/create/button/?url=https://vickywang.me&amp;media=https://s3.us-west-1.amazonaws.com/vickywang.me/Thumbnails/vickywang_mobile.svg&amp;description=Skilled%20UX%20Designer%20for%20B2B%20Solutions%20%26%20Consumer%20Apps%20-%20Vicky%20Wang" target="_blank">Share on Pinterest</a>
          </div>
        </div>
      </div>
      <div class="Grid-cell displayTablet">
      </div>

      <div class="Grid-cell displayLaptop">
      </div>
      <div class="Grid-cell displayLaptop">
      </div>

    </div>

  </div>

  <div class="blankHXXS"></div>

  <div class="blankHXXS"></div>


  <!-- Content -->
  <section id="projects">
    <div class="colorBgWhie pattern2">
      <div class="blankHXS"></div>

      <!-- Arrow -->
      <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {
      message: 'Projects' ,
      spacing:''
      }) %>
      <!-- Arrow -->

      <div class="wrapper">

        <div class="Grid Grid--holly-grail Grid--center">
          <div class="Grid-cell main">
            <div class="element">

              <div class="paddingXL borderRadiusL gradient_background1">

                <img class="borderRadiusL" src="/projectImages/b2b_booking.gif" alt="Business Booking Experience">
              </div>
            </div>

          </div>

          <div class="Grid-cell aside aside-2">

            <div class="element">
              <%- include(`${templatePath}/shared/base_chip`, {
                chipSmallTxt: '1-2 Feature Enhancement',
                 colorBg: 'colorBg_VW_Pink200',
                colorTxt: 'color_VW_Pink800'
              }) %>

              <h1 class="fontWeight700">Faster Appointment Management </h1>


              <ul class="listCircle">

                <li>Reduced average booking time from 5 minutes to less than 1 minute, making the process over 80% faster.
                </li>
                <li>
                  Decreased errors from 15 to 5 per 100 bookings, resulting in 67% fewer booking errors.

                </li>

              </ul>

            </div>

          </div>
        </div>


      </div>
      <div class="blankHXS"></div>
      <hr class="wrapperM">
      <div class="blankHXS"></div>
      <div class="wrapper">




        <div class="Grid Grid--holly-grail Grid--center">
          <div class="Grid-cell main">
            <div class="element">

              <div class="paddingXL borderRadiusL gradient_background2">
                <img src="/projectImages/Cover_b2b_subscription.gif" alt="Business Booking Experience">
              </div>
            </div>
          </div>

          <div class="Grid-cell aside aside-1">

            <div class="element">
              <%- include(`${templatePath}/shared/base_chip`, {
                chipSmallTxt: '1-2 Feature Enhancement',
                  colorBg: 'colorBg_VW_Pink200',
                colorTxt: 'color_VW_Pink800'
              }) %>
              <h1 class="fontWeight700">Optimizing SaaS Subscription Growth
              </h1>
              <ul class="listCircle">
                <li> <span class="TextPoppins fontWeight400">Streamlined Onboarding:</span> Reduced average onboarding time by 30% and increased completion rates by 40%.
                </li>
                <li> <span class="TextPoppins fontWeight400">Improved User Satisfaction:</span> Enhanced clarity and guidance, boosting satisfaction by 25%.
                </li>
                <li> <span class="TextPoppins fontWeight400">Increased Conversions:</span> Achieved a 20% growth in trial-to-paid subscriptions.

                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper">


        <div class="blankHXS"></div>
        <hr class="wrapperM">
        <div class="blankHXS"></div>

        <div class="Grid Grid--holly-grail Grid--center">
          <div class="Grid-cell main">
            <div class="element">

              <div class="paddingXL borderRadiusL gradient_background3">
                <img src="/projectImages/mobile_b2c_booking.svg" alt="Business Booking Experience">
              </div>
            </div>
          </div>

          <div class="Grid-cell aside aside-2">
            <div class="element">
              <%- include(`${templatePath}/shared/base_chip`, {
                chipSmallTxt: '1-2 Feature Enhancement.',
                colorBg: 'colorBg_VW_Pink200',
                colorTxt: 'color_VW_Pink800'
              }) %>
              <h1 class="fontWeight700">Customer Booking Experience</h1>
              <ul class="listCircle">

                <li>Booking Conversion Rate: Improved by 169% (from 15% to 40%)
                </li>

                <li>
                  Reduced Time to Book: 48% Decrease (from 5 minutes to 2.6 minutes)
                </li>
                <li>
                  Booking Abandonment Rate: 67% Reduction (from 30% to 10%)

                </li>


              </ul>

            </div>

          </div>

        </div>

      </div>
      <div class="blankHXS"></div>
      <hr class="wrapperM">
      <div class="blankHXS"></div>
      <div class="wrapper">
        <div class="Grid Grid--holly-grail Grid--center">
          <div class="Grid-cell main">
            <div class="element">

              <div class="paddingXL borderRadiusL gradient_background2">
                <img src="/projectImages/b2b_booking.svg" alt="Business Booking Experience">
              </div>
            </div>
          </div>

          <div class="Grid-cell aside aside-1">
            <div class="element">
              <%- include(`${templatePath}/shared/base_chip`, {
                chipSmallTxt: '1-2 Feature Enhancement.',
                colorBg: 'colorBg_VW_Pink200',
                colorTxt: 'color_VW_Pink800'
              }) %>
              <h1 class="fontWeight700">From White-Glove to Self-Service</h1>
              <ul class="listCircle">
                <li>Simplified the onboarding process
                </li>
                <li>
                  Enabling B2B users to complete onboarding independently without requiring hands-on assistance </li>
              </ul>

            </div>

          </div>

        </div>
      </div>
      <div class="blankHXS"></div>
      <hr class="wrapperM">
      <div class="blankHXS"></div>
      <div class="wrapper">
        <div class="Grid Grid--holly-grail Grid--center">
          <div class="Grid-cell main">
            <div class="element">

              <div class="paddingXL borderRadiusL gradient_background1">
                <img src="/projectImages/savings_calculator.svg" alt="Business Booking Experience">
              </div>
            </div>

          </div>

          <div class="Grid-cell aside aside-2">
            <div class="element">
              <%- include(`${templatePath}/shared/base_chip`, {
                chipSmallTxt: '0-1 Initial Launch',
                colorBg: 'colorBg_VW_Pink200',
                colorTxt: 'color_VW_Pink800'
              }) %>
              <h1 class="fontWeight700">Savings Calculator</h1>


              <ul class="listCircle">

                <li>Highlighting the Economic Advantage of RX Zero
                </li>
                <li>
                  Enhanced User Trust and Confidence
                </li>
                <li>
                  Increased Subscription Adoption </li>
              </ul>

            </div>

          </div>
        </div>
      </div>


      <div class="blankHXS"></div>
      <hr class="wrapperM">
      <div class="blankHXS"></div>
      <div class="wrapper">

        <div class="Grid Grid--holly-grail Grid--center">
          <div class="Grid-cell main">
            <div class="element">

              <div class="paddingXL borderRadiusL gradient_background3">
                <img src="/projectImages/rx_zero.png" alt="RX Zero">
              </div>
            </div>
          </div>

          <div class="Grid-cell aside aside-1">
            <div class="element">
              <%- include(`${templatePath}/shared/base_chip`, {
                chipSmallTxt: 'Research, Ideation, and Wireframing',
                 colorBg: 'colorBg_VW_Pink200',
                colorTxt: 'color_VW_Pink800'
              }) %>

              <h1 class="fontWeight700">Online Med Purchase </h1>
              <ul class="listCircle">
                <li>Explore the primary challenges individuals with chronic illnesses.
                </li>
                <li>
                  Understand how individuals with chronic illnesses prioritize privacy, speed, support, and information when buying medication online
                </li>
              </ul>

            </div>

          </div>

        </div>

      </div>



      <div class="blankHXS"></div>
      <hr class="wrapperM">
      <div class="blankHXS"></div>

      <div class="wrapper">

        <div class="Grid Grid--holly-grail Grid--center">
          <div class="Grid-cell main">
            <div class="element">

              <div class="paddingXL borderRadiusL gradient_background2">
                <img src="/projectImages/admin_panel.svg" alt="Business Booking Experience">
              </div>
            </div>
          </div>

          <div class="Grid-cell aside aside-2">
            <div class="element">
              <%- include(`${templatePath}/shared/base_chip`, {
                chipSmallTxt: '0-1 Initial Launch',
                colorBg: 'colorBg_VW_Pink200',
                colorTxt: 'color_VW_Pink800'
              }) %>

              <h1 class="fontWeight700">Admin Panel For CX Managers & Sales Teams</h1>

              <ul class="listCircle">

                <li> Tracking customer interactions
                </li>

                <li>
                  Managing feedback
                </li>
                <li>
                  Analyzing customer satisfaction metrics
                </li>


              </ul>

            </div>

          </div>

        </div>
      </div>

      <div class="blankHS"></div>


    </div>
  </section>
  <section id="experiments">
    <!-- Arrow -->
    <%- include('shared/comp_textualElements_arrow', {message: 'Experiments' }) %>
    <!-- Arrow -->
    <div class="blankHTiny"></div>

    <div class="wrapper">
      <div class="Grid Grid--gutters Grid--cols-3">
        <div class="Grid-cell shadowBoxLt float cardBorder colorBgVW borderRadiusS cardBottomBorder GLORIFY paddingNone marginXS">
          <a class="no-hover-effect" href="/glorify/">
            <img src="/projectImages/Cover_Glorify.png" alt="Glorify: Transforming Solitary Devotion into Community Engagement">
            <div class="element">
              <div class="blankHTiny"></div>

              <%- include(`${templatePath}/shared/base_chip`, {
                chipSmallTxt: '1-2 Experiment',
                colorBg: 'colorBg_VW_Pink200',
                colorTxt: 'color_VW_Pink800'
              }) %>
              <h3 class="TextPoppins fontWeight500">Glorify App</h3>
              <h3 class="colorLandingText fontWeight700"> For Christian daily worship

              </h3>
              <ul class="listCircle">
                <li> <span class="TextPoppins fontWeight500">Initiate Community:</span> Transform from a single-player to a multiplayer experience.
                </li>
                <li> <span class="TextPoppins fontWeight500">Drive Growth:</span> Foster engagement and expand user participation within the community.

                </li>
              </ul>
            </div>
          </a>
        </div>
        <div class="Grid-cell shadowBoxLt float cardBorder colorBgVW borderRadiusS cardBottomBorder SEER paddingNone marginXS">
          <a class="no-hover-effect" href="/seer/">
            <img src="/projectImages/Cover_SEER.png" alt="SEER: Enhancing Brand Impact on Reddit">
            <div class="element">
              <div class="blankHTiny"></div>

              <%- include(`${templatePath}/shared/base_chip`, {
                chipSmallTxt: '0-1 Experiment',
                colorBg: 'colorBg_VW_Pink200',
                colorTxt: 'color_VW_Pink800'
              }) %>

              <h3 class="TextPoppins fontWeight500">Marketing Dashboard </h3>

              <h3 class="colorLandingText fontWeight700"> For Brand marketers

              </h3>
              <ul class="listCircle">
                <li> <span class="TextPoppins fontWeight400">Transform Insights:</span> Turn Reddit data into actionable insights for brand marketers.
                </li>
                <li> <span class="TextPoppins fontWeight400">Drive Growth:</span> Utilize intuitive analytics to understand user sentiment and engagement.
                </li>
                <li> <span class="TextPoppins fontWeight400">Future Vision: </span> Gain a glimpse into the future of targeted marketing strategies.
                </li>
              </ul>



            </div>
          </a>
        </div>
        <div class="Grid-cell shadowBoxLt float cardBorder colorBgVW borderRadiusS cardBottomBorder APPOINTA paddingNone marginXS">
          <a class="no-hover-effect" href="/appointa/">
            <img src="/projectImages/Cover_APPOINTA.png" alt="APPOINTA: Interview Scheduling Made Simple">
            <div class="element">
              <div class="blankHTiny"></div>

              <%- include(`${templatePath}/shared/base_chip`, {
                chipSmallTxt: '0-1 Experiment',
                colorBg: 'colorBg_VW_Pink200',
                colorTxt: 'color_VW_Pink800'
              }) %>
              <h3 class="TextPoppins fontWeight500">Interview Scheduling</h3>
              <h3 class="colorLandingText fontWeight700"> For Recuriter & hiring managers

              </h3>
              <ul class="listCircle">
                <li> <span class="TextPoppins fontWeight400">Streamline Scheduling:</span> Revamp the interview scheduling process to enhance efficiency.
                </li>
                <li> <span class="TextPoppins fontWeight400">Reduce Coordination Time:</span> Speed up hiring by minimizing the time spent on scheduling interviews.
                </li>
                <li> <span class="TextPoppins fontWeight400">Boost Recruitment Efficiency: </span> Improve the overall candidate experience through better coordination.
                </li>
              </ul>


            </div>
          </a>
        </div>
      </div>
      <div class="blankHXS"></div>

    </div>
    <div class="blankHXS"></div>

  </section>
  <section id="design_system">
    <div class="colorBgWhie pattern2">
      <div class="blankHXS"></div>

      <!-- Arrow -->
      <%- include('shared/comp_textualElements_arrow', {message: 'Design System' }) %>
      <!-- Arrow -->

      <div class="blankHXXS"></div>
      <div class="wrapper">
        <div class="Grid Grid--holly-grail Grid--center">
          <div class="Grid-cell main">
            <div class="element">


              <div class="paddingXL borderRadiusL gradient_background1">
                <a href="/design_system/">
                  <img src="/projectImages/vicky_website.svg" alt="Design System"></a>
              </div>
            </div>

          </div>

          <div class="Grid-cell aside aside-2">
            <div class="element">
              <%- include(`${templatePath}/shared/base_chip`, {
                chipSmallTxt: 'From Scratch | Design & Implementation',
                colorBg: 'colorBg_VW_Pink200',
                colorTxt: 'color_VW_Pink800'
              }) %>

              <h1 class="fontWeight700">Design System Creation & Optimization</h1>

              <ul class="listCircle">

                <li>Efficiently structured components for seamless site navigation.
                </li>
                <li>
                  Discover, compare, and reuse elements with ease, enhancing design consistency and workflow efficiency.

                </li>

              </ul>

            </div>
            <div class="element">
              <a href="/design_system/"> <button class="buttonMedium buttonPrimary bgVWGrey">View design system
                </button></a>
            </div>
          </div>
        </div>
      </div>
      <div class="blankHM"></div>

    </div>

  </section>

  <section id="about">
    <div class="wrapper ">

      <div id="circle_wrapper">
        <div id="circle_container">
          <div id="circle">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="200px" height="200px" viewBox="0 0 200 200" enable-background="new 0 0 200 200" xml:space="preserve">
              <defs>
                <path id="circlePath" d="M 100, 100 m -40, 0 a 40,40 0 0,1 80,0 a 40,40 0 0,1 -80,0 " />
              </defs>
              <circle cx="100" cy="66.67" r="50" fill="none" />
              <g>
                <use xlink:href="#circlePath" fill="none" />
                <text>
                  <textPath xlink:href="#circlePath">User Experience Designer, Product Designer</textPath>
                </text>
              </g>
            </svg>
          </div>
        </div>
      </div>

    </div>

    <div class="wrapper">
      <div class="Grid Grid--full Grid--gutters u-textCenter">
        <div class="Grid-cell">
          <div class="element">
            <h1 class="specialTextL"> About Me</h1>
            <div class="blankHTiny"></div>

            <h2 class="colorLandingText"> I craft simple, user-focused designs that meet business goals. </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="blankHXS"></div>


    <div class="wrapper">
      <div class="Grid Grid--gutters Grid--1of3 Grid--center">


        <div class="Grid-cell">
          <div class="element">
            <img class="" src="me.png" alt="Vicky">

          </div>
        </div>
        <div class="Grid-cell">
          <div class="element">
            <h3 class="fontWeight400">Startup Experience
            </h3>
            <h4>As a UX designer with hands-on startup experience, I’m involved in every design stage. My focus is on creating effective, straightforward user experiences that align with business objectives.
            </h4>
            <h3 class="fontWeight400">Craftsmanship & Product Impact
            </h3>
            <h3>I’m driven by a passion for quality design, aiming to create products that not only look great but also achieve business success through thoughtful, user-centered details.
            </h3>
            <h3 class="fontWeight400">Embracing Technology
            </h3>
            <h3>
              I enjoy diving into new technologies, which enhances collaboration with developers and refines my design process, leading to more innovative solutions.
            </h3>
          </div>


        </div>

      </div>




      <div class="Grid Grid--gutters Grid--1of3 Grid--center">


        <div class="Grid-cell">
          <div class="element">

          </div>
        </div>
        <div class="Grid-cell">


          <div class="row centerVer">
            <div class="element">

              <a href="mailto:vickyw.design@gmail.com"> <button class="buttonMedium buttonPrimary bgVWGrey">Email me
                </button></a>

            </div>


            <div class="element">

              <div class="ClipboardBoxIconOnly">
                <button class="ClipboardIconOnly">
                  <img class="iconM hoverWhite paddingM fitContentax borderRadiusMax" title="Copy Email Address to Clipboard" src="/icon/copy.svg">
                  <p class="clickIconCopy">vickyw.design@gmail.com
                  </p>
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="blankHS"></div>


    <div class="colorBgYellowVW500">
      <div class="blankHXS"></div>

      <div class="wrapper">

        <div class="Grid Grid--full Grid--gutters u-textCenter">
          <div class="Grid-cell">
            <div class="element">
              <h1 class="specialTextL"> Design Process

              </h1>
            </div>
          </div>
        </div>
        <div class="blankHTiny"></div>

        <div class="Grid Grid--gutters Grid--cols-3 u-textCenter">

          <div class="Grid-cell">
            <div class="element">
              <div class="element">
                <img class="iconMax" src="icon/landing_understand.svg" alt="Understand">
                <h2 data-aos="fade-up"> <strong> Understand</strong> </h2>
                <h3>Understand business goals and user needs using both qualitative and quantitative data to make informed UX decisions.
                </h3>
              </div>
            </div>
          </div>



          <div class="Grid-cell">
            <div class="element">

              <div class="element">
                <img class="iconMax" src="icon/landing_collaborate.svg" alt="Collaborate">

                <h2 data-aos="fade-up"> <strong> Collaborate </strong> </h2>
                <h3>Collaborate closely with teams from planning to delivery. Continuous feedback refines and improves designs.
                </h3>
              </div>
            </div>
          </div>
          <div class="Grid-cell">
            <div class="element">
              <div class="element">
                <img class="iconMax" src="icon/landing_facilitate.svg" alt="Facilitate">
                <h2 data-aos="fade-up"> <strong> Facilitate</strong> </h2>
                <h3>Manage the design process with clear deadlines to stay on track. Document and review each step to create effective, impactful designs.
                </h3>
              </div>

            </div>
          </div>
        </div>


      </div>
      <div class="blankHXXS"></div>
      <hr class="wrapperM colorBlack">
      <div class="blankHXS"></div>


      <div class="carouselLogoBlurContainer">

        <div class="carouselLogoBlur">
          <div class="logos"></div>
        </div>

      </div>
      <div class="blankHS"></div>

    </div>

    <div class="blankHXS"></div>




    <!-- Arrow -->
    <%- include('shared/comp_textualElements_arrow', {message: 'Timeline' }) %>
    <!-- Arrow -->


    <!-- import timeline -->
    <%- include('shared/block_timeline') %>



    <!-- Arrow -->
    <%- include('shared/comp_textualElements_arrow', {message: 'Skills & Experiences' }) %>
    <!-- Arrow -->
    <%- include(`${templatePath}/shared/comp_tagCloud`) %>
  </section>

  <%- include(`${templatePath}/shared/comp_closingMessage`, { version: '', message: ''}) %>
  <%- include(`${templatePath}/shared/comp_backTop`) %>
  <footer class="borderTop colorBgVW ">

    <div class="blankHXS"></div>
    <div class="wrapper">
      <div class="element">
        <div class="Grid Grid--gutters Grid--1of4">
          <div class="Grid-cell">
            <div class="elementTB">

              <div class="element">
                <div class="blankHTiny"></div>

                <a href="/" class=""><img class="widthXS" src="/icon/LOGOtxt.svg" alt="VW" title="vickywang.me"></a>
              </div>
              <div class="Grid Grid--gutters">
                <div class="ClipboardBoxIconOnly">
                  <button class="ClipboardIconOnly">
                    <img title="Copy Email Address to Clipboard" class="iconM  hoverWhite paddingS fitContent borderRadiusMax" src="/icon/mail.svg" alt="LinkedIn">
                    <p class="clickIconCopy">vickyw.design@gmail.com</p>
                  </button>
                </div>
                <a target="_blank" href="https://www.linkedin.com/in/vicky-wyq/" title="LinkedIn">
                  <img class="iconM hoverWhite paddingS fitContent borderRadiusMax" src="/icon/in.svg" alt="LinkedIn">
                </a>

             

                <a target="_blank" href="https://codepen.io/vicky-wyq" title="CodePen">
                  <img class="iconM hoverWhite paddingS fitContent borderRadiusMax" src="/icon/Codepen.svg" alt="CodePen">
                </a>

              </div>
            </div>
          </div>

          <div class="Grid-cell">
            <div class="Grid Grid--gutters Grid--cols-2">
              <div class="Grid-cell">
                <div class="elementTB">
                  <h4> <strong> Projects </strong> </h4>
                  <div class="blankHTiny"></div>
                  <h6 class="fontWeight400">Faster Appointment Management
                  </h6>
                  <h6>For pet business owners booking appointments for their customers
                  </h6>

                  <h6 class="fontWeight400"> Customer Booking Experience
                  </h6>
                  <h6>Optimizing the booking process to improve customer satisfaction and drive higher engagement.</h6>
                  <div class="blankHTiny"></div>
                  <h6 class="fontWeight400">Optimizing SaaS Subscription Growth
                  </h6>
                  <h6>Optimize the B2B onboarding and subscription experience</h6>




                  <div class="blankHTiny"></div>
                  <h6 class="fontWeight400"> RX Zero</h6>
                  <h6>Subscription-based generic medication selling</h6>


                  <div class="blankHTiny"></div>
                  <h6 class="fontWeight400"> Savings Calculator</h6>

                  <h6>Uncover Prescription Meds Savings</h6>

                  <div class="blankHTiny"></div>
                  <h6 class="fontWeight400">Admin Panel</h6>
                  <h6>Empowering CX managers and sales teams</h6>
                </div>
              </div>


              <div class="Grid-cell">
                <div class="elementTB">

                  <h4> <strong> Experiments </strong> </h4>
                  <div class="blankHTiny"></div>
                  <a href="/glorify/">
                    <h6 class="fontWeight400"> Glorify</h6>
                  </a>
                  <h6>Elevating Community Involvement</h6>

                  <div class="blankHTiny"></div>

                  <a href="/appointa/">
                    <h6 class="fontWeight400"> Appointa</h6>
                  </a>
                  <h6>Simplifying Interview Coordination</h6>

                  <div class="blankHTiny"></div>
                  <a href="/seer/">
                    <h6 class="fontWeight400">Seer</h6>
                  </a>
                  <h6>Empowering Brand Managers with Insights</h6>


                </div>
              </div>





            </div>

          </div>
        </div>
      </div>
      <div class="blankHXS"></div>
      <div class="Grid Grid--full Grid--gutters">
        <div class="Grid-cell">
          <div class="footerBorder">
            <div class="elementTB">

              <div class="element">
                <h5 class="Grey700"> © 2020 - 2025 vickywang.me | shaping seamless digital experiences.</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </footer>

  <!-- The Modal -->
  <div id="modal" class="modal">
    <span id="modal-close" class="modal-close">
      <img class="iconXforModal" src="../icon/delete.svg" alt="&times;">
    </span>
    <img id="modal-content" class="modal-content">
    <div id="modal-caption" class="modal-caption"></div>
  </div>
  <!-- The Modal -->
</body>

</html>