<!DOCTYPE html>
<html lang="en" class="colorBgVW pattern1">
<!--Head-->
<%- include(`${templatePath}/shared/head`, {SEO:true, Title:'Vicky W. | UX Designer', 
  description:'Specializing in crafting seamless user experiences for B2B SaaS and consumer applications, Vicky Wang transforms complexity into user-friendly solutions.', 
  pageURL:'', thumbnailImgURL: 'vickywang_web.png'
  }) %>
<!--Head-->

<body>


  <%- include(`${templatePath}/shared/comp_progressBar`) %>
  <%- include(`${templatePath}/shared/block_nav_header_main`, {
    sectionURL1:'#projects', 
    sectionURL2:'#experiments', 
    sectionURL3:'#design_system', 
    sectionURL4:'#about',
    arrTxtColor:'',
    headerBackgroundColor:'colorBgVW'
    }) %>

  <div class="blankHS"></div>
  <div class="wrapper">
    <div class="Grid Grid--full Grid--gutter u-textCenter">
      <div class="Grid-cell">
        <div class="element">
          <h1 class="t-hello">👋🏻 hello, I'm Vicky, a UX Designer</h1>
          <div class="blankHTiny"></div>

          <h1 class="specialTextTitle fontWeight700">Passionate about creating</h1>
          <h1 class="specialTextTitle fontWeight700 displayTablet colorLandingText">simple, smooth, engaging</h1>
          <h1 class="specialTextTitle fontWeight700 displayPhone colorLandingText">simple, smooth, engaging</h1>
          <h1 class="specialTextTitle fontWeight700 typing-demo colorLandingText">simple, smooth, engaging</h1>
          <h1 class="specialTextTitle fontWeight700">experiences</h1>

          </h1>
        </div>
      </div>
    </div>
  </div>

  <div class="blankHXXS"></div>


  <div class="wrapper">

    <div class="Grid Grid--gutters Grid--cols-8 ">
      <div class="Grid-cell displayLaptop">
      </div>
      <div class="Grid-cell displayLaptop">
      </div>
      <div class="Grid-cell displayTablet">
      </div>
      <div class="Grid-cell centerVH">
        <div class="ClipboardBoxIconOnly">
          <button class="ClipboardIconOnly">
            <img title="Copy Email to Clipboard" class="iconM hoverWhite paddingM fitContentax borderRadiusMax" src="./icon/mail.svg" alt="LinkedIn">
            <p class="clickIconCopy">vickyw.design@gmail.com</p>
          </button>
        </div>

      </div>
      <div class="Grid-cell centerVH">
        <a href="https://www.linkedin.com/in/vicky-wyq/" target="_blank" title="LinkedIn">
          <img class="iconM hoverWhite paddingM fitContentax borderRadiusMax borderRadiusS" src="./icon/in.svg" alt="LinkedIn">
        </a>
      </div>

      <div class="Grid-cell centerVH">
        <a href="https://github.com/vicky-wyq" target="_blank" title="GitHub">
          <img class="iconM hoverWhite paddingM fitContentax borderRadiusMax" src="./icon/git.svg" alt="GitHub">
        </a>
      </div>
      <div class="Grid-cell centerVH">
        <a href="https://codepen.io/vicky-wyq" target="_blank" title="CodePen">
          <img class="iconM hoverWhite paddingM fitContentax borderRadiusMax" src="./icon/Codepen.svg" alt="CodePen">
        </a>
      </div>
      <div class="Grid-cell centerVH displayLaptop">
        <div class="dropdownSM">
          <img title="Share" class="iconM hoverWhite paddingM fitContent borderRadiusMax dropbtn" src="/icon/share.svg" alt="Share">
          <div class="dropdownSM-content">
            <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://vickywang.me" target="_blank">Share
              on LinkedIn</a>
            <a href="https://pinterest.com/pin/create/button/?url=https://vickywang.me&amp;media=https://s3.us-west-1.amazonaws.com/vickywang.me/Thumbnails/vickywang_mobile.svg&amp;description=Skilled%20UX%20Designer%20for%20B2B%20Solutions%20%26%20Consumer%20Apps%20-%20Vicky%20Wang" target="_blank">Share on Pinterest</a>
          </div>
        </div>
      </div>
      <div class="Grid-cell displayTablet">
      </div>

      <div class="Grid-cell displayLaptop">
      </div>
      <div class="Grid-cell displayLaptop">
      </div>

    </div>

  </div>
  <div class="blankHXXS"></div>

  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-2 Grid--center">
      <div class="element">
        <a href="/resume"> <button class="buttonLarge buttonPrimary bgVWGrey">View resume
          </button></a>

      </div>
      <div class="element">
        <a href="#about"> <button class="buttonLarge buttonFlip bgVWGrey">About me
          </button></a>
      </div>
    </div>
  </div>
  <div class="blankHXXS"></div>


  <!-- Content -->
  <section id="projects">
    <div class="colorBgWhie pattern2">
      <div class="blankHXS"></div>

      <!-- Arrow -->
      <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {
      message: 'Projects' ,
      spacing:''
      }) %>
      <!-- Arrow -->
      <div class="wrapper">
        <div class="Grid Grid--full Grid--gutters u-textCenter">
          <div class="Grid-cell">
            <div class="element">
              <h1 class="TextPoppins fontWeight100 Grey800"> Business Scheduling, Onboarding, Subscription </h1>
            </div>
          </div>
        </div>
      </div>

      <div class="blankHXXS"></div>

      <div class="wrapper">

        <div class="Grid Grid--gutters Grid--holly-grail Grid--center">
          <div class="Grid-cell main">
            <div class="element">

              <div class="paddingXL borderRadiusL gradient_background1">
                <a href="/byp_b2b_booking">
                  <img class="borderRadiusL" src="/projectImages/b2b_booking.gif" alt="Business Booking Experience"></a>
              </div>
            </div>

          </div>

          <div class="Grid-cell aside aside-2">

            <div class="element">
              <%- include(`${templatePath}/shared/base_chip`, {
                chipSmallTxt: '1-2 Feature Enhancement',
                 colorBg: 'colorBg_VW_Pink200',
                colorTxt: 'color_VW_Pink800'
              }) %>
              <div class="blankHTiny"></div>

              <h1 class="specialTextM fontWeight700">Business Booking Experience</h1>

              <h4 class="colorLandingText fontWeight700">Business owners managing appointments for their clients </h4>
              <ul>

                <li class="listCircle">Reduced average booking time from 5 minutes to less than 1 minute, making the process over 80% faster.
                </li>
                <li class="listCircle">
                  Decreased errors from 15 to 5 per 100 bookings, resulting in 67% fewer booking errors.

                </li>

              </ul>

            </div>
            <div class="element">
              <a href="/byp_b2b_booking"> <button class="buttonLarge buttonPrimary bgVWGrey">View Project
                </button></a>
            </div>
          </div>
        </div>
        <div class="blankHS"></div>
        <div class="Grid Grid--gutters Grid--holly-grail  Grid--center">
          <div class="Grid-cell main">
            <div class="element">

              <div class="paddingXL borderRadiusL gradient_background2">
                <a href="/byp_b2b_subscription/">
                  <img src="/projectImages/Cover_b2b_subscription.svg" alt="Business Booking Experience"></a>
              </div>
            </div>
          </div>

          <div class="Grid-cell aside aside-1">

            <div class="element">
              <%- include(`${templatePath}/shared/base_chip`, {
                chipSmallTxt: '1-2 Feature Enhancement',
                  colorBg: 'colorBg_VW_Pink200',
                colorTxt: 'color_VW_Pink800'
              }) %>
              <div class="blankHTiny"></div>
              <h1 class="specialTextM fontWeight700">Onboarding & Subscription
              </h1>

              <h3 class="colorLandingText fontWeight700">Streamline onboarding process and driving subscription growth


              </h3>
              <ul>

                <li class="listCircle">Reduced Onboarding Time 30% decrease in the average time required to complete onboarding.


                </li>

                <li class="listCircle">
                  Improved Decision-Making: 25% increase in user satisfaction with onboarding clarity and guidance.
                </li>
                <li class="listCircle">
                  Higher Completion Rates: 40% rise in onboarding completion rates.
                </li>
                <li class="listCircle">
                  Boosted Subscription Conversions: 20% growth in conversion rates from trial to paid subscriptions.
                </li>


              </ul>

            </div>
            <div class="element">
              <a href="/byp_b2b_subscription/"> <button class="buttonLarge buttonPrimary bgVWGrey">View Project
                </button></a>
            </div>
          </div>

        </div>


        <div class="blankHS"></div>
        <hr class="wrapperM">
        <div class="blankHS"></div>
        <div class="wrapper">
          <div class="Grid Grid--full Grid--gutters u-textCenter">
            <div class="Grid-cell">
              <div class="element">
                <h1 class="TextPoppins fontWeight100 Grey800"> Mobile Consumer-Facing Booking Experience </h1>
              </div>
            </div>
          </div>
        </div>

        <div class="blankHXXS"></div>
        <div class="Grid Grid--gutters Grid--holly-grail  Grid--center">
          <div class="Grid-cell main">
            <div class="element">

              <div class="paddingXL borderRadiusL gradient_background3">
                <a href="/byp_b2c_booking">
                  <img src="/projectImages/mobile_b2c_booking.svg" alt="Business Booking Experience"></a>
              </div>
            </div>
          </div>

          <div class="Grid-cell aside aside-2">
            <div class="element">
              <%- include(`${templatePath}/shared/base_chip`, {
                chipSmallTxt: '1-2 Feature Enhancement.',
                colorBg: 'colorBg_VW_Pink200',
                colorTxt: 'color_VW_Pink800'
              }) %>
              <div class="blankHTiny"></div>
              <h1 class="specialTextM fontWeight700">Customer Booking Experience</h1>

              <h3 class="colorLandingText fontWeight700">Enhancing the Consumer Booking Experience
              </h3>
              <ul>

                <li class="listCircle">Booking Conversion Rate: Improved by 169% (from 15% to 40%)
                </li>

                <li class="listCircle">
                  Reduced Time to Book: 48% Decrease (from 5 minutes to 2.6 minutes)
                </li>
                <li class="listCircle">
                  Booking Abandonment Rate: 67% Reduction (from 30% to 10%)

                </li>


              </ul>

            </div>
            <div class="element">
              <a href="/byp_b2b_booking"> <button class="buttonLarge buttonPrimary bgVWGrey">View Project
                </button></a>
            </div>
          </div>

        </div>

      </div>
      <div class="blankHS"></div>
      <hr class="wrapperM">
      <div class="blankHS"></div>

      <div class="wrapper">
        <div class="Grid Grid--full Grid--gutters u-textCenter">
          <div class="Grid-cell">
            <div class="element">
              <h1 class="TextPoppins fontWeight100 Grey800"> Simplify SaaS Booking App </h1>
            </div>
          </div>
        </div>
      </div>
      <div class="blankHXXS"></div>
      <div class="wrapper">
        <div class="Grid Grid--gutters Grid--holly-grail  Grid--center">
          <div class="Grid-cell main">
            <div class="element">

              <div class="paddingXL borderRadiusL gradient_background2">
                <a href="/byp_b2b_SaaS/">
                  <img src="/projectImages/b2b_booking.svg" alt="Business Booking Experience"></a>
              </div>
            </div>
          </div>

          <div class="Grid-cell aside aside-1">
            <div class="element">
              <%- include(`${templatePath}/shared/base_chip`, {
                chipSmallTxt: '1-2 Feature Enhancement.',
                colorBg: 'colorBg_VW_Pink200',
                colorTxt: 'color_VW_Pink800'
              }) %>
              <div class="blankHTiny"></div>
              <h1 class="specialTextM fontWeight700">From White-Glove to Self-Service</h1>

              <h3 class="colorLandingText fontWeight700">Shifting from a white-glove service to a user-friendly self-service platform.
              </h3>
              <ul>

                <li class="listCircle">Simplified the onboarding process
                </li>

                <li class="listCircle">
                  Enabling B2B users to complete onboarding independently without requiring hands-on assistance </li>



              </ul>

            </div>
            <div class="element">
              <a href="/byp_b2b_SaaS/"> <button class="buttonLarge buttonPrimary bgVWGrey">View Project
                </button></a>
            </div>
          </div>

        </div>
      </div>
      <div class="blankHS"></div>
      <hr class="wrapperM">
      <div class="blankHS"></div>

      <div class="wrapper">
        <div class="Grid Grid--full Grid--gutters u-textCenter">
          <div class="Grid-cell">
            <div class="element">
              <h1 class="TextPoppins fontWeight100 Grey800"> Consumer-Facing Medication Purchase Experience

              </h1>
            </div>
          </div>
        </div>
      </div>
      <div class="blankHXXS"></div>
      <div class="wrapper">

        <div class="Grid Grid--gutters Grid--holly-grail Grid--center">
          <div class="Grid-cell main">
            <div class="element">

              <div class="paddingXL borderRadiusL gradient_background1">
                <a href="/savings_calculator/">
                  <img src="/projectImages/savings_calculator.svg" alt="Business Booking Experience"></a>
              </div>
            </div>

          </div>

          <div class="Grid-cell aside aside-2">
            <div class="element">
              <%- include(`${templatePath}/shared/base_chip`, {
                chipSmallTxt: '0-1 Initial Launch',
                colorBg: 'colorBg_VW_Pink200',
                colorTxt: 'color_VW_Pink800'
              }) %>
              <div class="blankHTiny"></div>
              <h1 class="specialTextM fontWeight700">Savings Calculator</h1>

              <h3 class="colorLandingText fontWeight700">Uncover Prescription Meds Savings
              </h3>
              <ul>

                <li class="listCircle">Highlighting the Economic Advantage of RX Zero
                </li>
                <li class="listCircle">
                  Enhanced User Trust and Confidence
                </li>
                <li class="listCircle">
                  Increased Subscription Adoption </li>
              </ul>

            </div>
            <div class="element">
              <a href="/savings_calculator/"> <button class="buttonLarge buttonPrimary bgVWGrey">View Project
                </button></a>
            </div>
          </div>
        </div>
        <div class="blankHS"></div>
        <div class="Grid Grid--gutters Grid--holly-grail  Grid--center">
          <div class="Grid-cell main">
            <div class="element">

              <div class="paddingXL borderRadiusL gradient_background3">
                <a href="/refining_rx_zero/">
                  <img src="/projectImages/rx_zero.png" alt="RX Zero"></a>
              </div>
            </div>
          </div>

          <div class="Grid-cell aside aside-1">
            <div class="element">
              <%- include(`${templatePath}/shared/base_chip`, {
                chipSmallTxt: 'Research, Ideation, and Wireframing',
                 colorBg: 'colorBg_VW_Pink200',
                colorTxt: 'color_VW_Pink800'
              }) %>
              <div class="blankHTiny"></div>

              <h1 class="specialTextM fontWeight700">Online Med Purchase </h1>

              <h3 class="colorLandingText fontWeight700">Focus on RX Zero model, moving away from RX Local and Telemedicine services

              </h3>
              <ul>

                <li class="listCircle">Explore the primary challenges individuals with chronic illnesses.
                </li>


                <li class="listCircle">
                  Understand how individuals with chronic illnesses prioritize privacy, speed, support, and information when buying medication online
                </li>


              </ul>

            </div>
            <div class="element">
              <a href="/refining_rx_zero/"> <button class="buttonLarge buttonPrimary bgVWGrey">View Project
                </button></a>
            </div>
          </div>

        </div>

      </div>
      <div class="blankHS"></div>
      <hr class="wrapperM">
      <div class="blankHS"></div>

      <div class="wrapper">
        <div class="Grid Grid--full Grid--gutters u-textCenter">
          <div class="Grid-cell">
            <div class="element">
              <h1 class="TextPoppins fontWeight100 Grey800"> Healthcare Admin Panel Design </h1>
            </div>
          </div>
        </div>
      </div>
      <div class="blankHXXS"></div>
      <div class="wrapper">

        <div class="Grid Grid--gutters Grid--holly-grail  Grid--center">
          <div class="Grid-cell main">
            <div class="element">

              <div class="paddingXL borderRadiusL gradient_background2">
                <a href="/admin_panel/">
                  <img src="/projectImages/admin_panel.svg" alt="Business Booking Experience"></a>
              </div>
            </div>
          </div>

          <div class="Grid-cell aside aside-2">
            <div class="element">
              <%- include(`${templatePath}/shared/base_chip`, {
                chipSmallTxt: '0-1 Initial Launch',
                colorBg: 'colorBg_VW_Pink200',
                colorTxt: 'color_VW_Pink800'
              }) %>
              <div class="blankHTiny"></div>

              <h1 class="specialTextM fontWeight700">Admin Panel</h1>

              <h3 class="colorLandingText fontWeight700">For CX Managers & Sales Teams </h3>
              <ul>

                <li class="listCircle"> Tracking customer interactions
                </li>

                <li class="listCircle">
                  Managing feedback
                </li>
                <li class="listCircle">
                  Analyzing customer satisfaction metrics
                </li>


              </ul>

            </div>
            <div class="element">
              <a href="/admin_panel/"> <button class="buttonLarge buttonPrimary bgVWGrey">View Project
                </button></a>
            </div>
          </div>

        </div>
      </div>

      <div class="blankHS"></div>


    </div>
  </section>
  <section id="experiments">
    <!-- Arrow -->
    <%- include('shared/comp_textualElements_arrow', {message: 'Experiments' }) %>
    <!-- Arrow -->
    <div class="blankHXXS"></div>

    <div class="wrapper">

      <div class="Grid Grid--gutters Grid--cols-2">
        <%- include(`${templatePath}/shared/block_cardNoPassword`, {
          hoverBorderColor:`GLORIFY`,
          cardNoPwURL:`${websitePath}/glorify/`,
          cardNoPwImgURL:`${websitePath}/projectImages/Cover_Glorify.png`,
          cardNoPwTitle: `Glorify: Transforming Solitary Devotion into Community Engagement`, 
          cardNoPwDescription:`This case study explores the evolution of the Glorify app, a mobile platform dedicated to enhancing individual spiritual journeys, into a vibrant community hub for collective faith building.` 
          }) %>
        <%- include(`${templatePath}/shared/block_cardNoPassword`, {
      hoverBorderColor:`SEER`,
      cardNoPwURL:`${websitePath}/seer/`,
      cardNoPwImgURL:`${websitePath}/projectImages/Cover_SEER.png`,
      cardNoPwTitle: `SEER: Enhancing Brand Impact on Reddit`, 
      cardNoPwDescription:`A conceptual UX case study aimed at transforming Reddit data into actionable
            insights for brand marketers. This design explores the potential of intuitive
            analytics to understand user sentiment and engagement, offering a glimpse into the
            future of targeted marketing strategies.` 
      }) %>
        <%- include(`${templatePath}/shared/block_cardNoPassword`, {
      hoverBorderColor:`APPOINTA`,
      cardNoPwURL:`${websitePath}/appointa/`,
      cardNoPwImgURL:`${websitePath}/projectImages/Cover_APPOINTA.png`,
      cardNoPwTitle: `APPOINTA: Interview Scheduling Made Simple`, 
      cardNoPwDescription:`Explore my UX case study aimed at revamping interview scheduling. This project
              streamlines the recruiter's tasks, speeds up hiring, and enhances scheduling
              experiences, reducing interview coordination time and boosting recruitment efficiency.` 
      }) %>
      </div>
      <div class="blankHXS"></div>

    </div>
  </section>
  <section id="design_system">
    <div class="colorBgWhie pattern2">
      <div class="blankHXS"></div>

      <!-- Arrow -->
      <%- include('shared/comp_textualElements_arrow', {message: 'Design System' }) %>
      <!-- Arrow -->

      <div class="blankHXXS"></div>
      <div class="wrapper">
        <div class="Grid Grid--gutters Grid--holly-grail Grid--center">
          <div class="Grid-cell main">
            <div class="element">


              <div class="paddingXL borderRadiusL gradient_background1">
                <a href="/design_system/">
                  <img src="/projectImages/vicky_website.svg" alt="Design System"></a>
              </div>
            </div>

          </div>

          <div class="Grid-cell aside aside-2">
            <div class="element">
              <%- include(`${templatePath}/shared/base_chip`, {
                chipSmallTxt: 'Start from Scratch',
                colorBg: 'colorBg_VW_Pink200',
                colorTxt: 'color_VW_Pink800'
              }) %>
              <div class="blankHTiny"></div>

              <h1 class="specialTextM fontWeight700">Design System Creation & Optimization</h1>

              <h3 class="colorLandingText fontWeight700">Design & Implementation</h3>
              <ul>

                <li class="listCircle">Efficiently structured components for seamless site navigation.
                </li>
                <li class="listCircle">
                  Discover, compare, and reuse elements with ease, enhancing design consistency and workflow efficiency.

                </li>

              </ul>

            </div>
            <div class="element">
              <a href="/design_system/"> <button class="buttonLarge buttonPrimary bgVWGrey">View Design System
                </button></a>
            </div>
          </div>
        </div>
      </div>
      <div class="blankHM"></div>

    </div>

  </section>

  <section id="about">
    <div class="wrapper ">

      <div id="circle_wrapper">
        <div id="circle_container">
          <div id="circle">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="200px" height="200px" viewBox="0 0 200 200" enable-background="new 0 0 200 200" xml:space="preserve">
              <defs>
                <path id="circlePath" d="M 100, 100 m -40, 0 a 40,40 0 0,1 80,0 a 40,40 0 0,1 -80,0 " />
              </defs>
              <circle cx="100" cy="66.67" r="50" fill="none" />
              <g>
                <use xlink:href="#circlePath" fill="none" />
                <text>
                  <textPath xlink:href="#circlePath">User Experience Designer, Product Designer</textPath>
                </text>
              </g>
            </svg>
          </div>
        </div>
      </div>

    </div>

    <div class="wrapper">
      <div class="Grid Grid--full Grid--gutters u-textCenter">
        <div class="Grid-cell">
          <div class="element">
            <h1 class="specialTextL"> About Me</h1>
            <div class="blankHTiny"></div>

            <h2 class="specialTextS colorLandingText"> I craft simple, user-focused designs that meet business goals. </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="blankHXS"></div>


    <div class="wrapper">
      <div class="Grid Grid--gutters Grid--1of3 Grid--center">


        <div class="Grid-cell">
          <div class="element">
            <img class="" src="me.png" alt="Vicky">

          </div>
        </div>
        <div class="Grid-cell">
          <div class="element">
            <h3 class="fontWeight400">Startup Experience
            </h3>
            <h4>As a UX designer with hands-on startup experience, I’m involved in every design stage. My focus is on creating effective, straightforward user experiences that align with business objectives.
            </h4>
            <h3 class="fontWeight400">Craftsmanship & Product Impact
            </h3>
            <h3>I’m driven by a passion for quality design, aiming to create products that not only look great but also achieve business success through thoughtful, user-centered details.
            </h3>
            <h3 class="fontWeight400">Embracing Technology
            </h3>
            <h3>
              I enjoy diving into new technologies, which enhances collaboration with developers and refines my design process, leading to more innovative solutions.
            </h3>
          </div>


        </div>

      </div>




      <div class="Grid Grid--gutters Grid--1of3 Grid--center">


        <div class="Grid-cell">
          <div class="element">

          </div>
        </div>
        <div class="Grid-cell">


          <div class="row centerVer">
            <div class="element">

              <a href="mailto:vickyw.design@gmail.com"> <button class="buttonLarge buttonPrimary bgVWGrey">Email me
                </button></a>

            </div>


            <div class="element">

              <div class="ClipboardBoxIconOnly">
                <button class="ClipboardIconOnly">
                  <img class="iconM hoverWhite paddingM fitContentax borderRadiusMax" title="Copy Email Address to Clipboard" src="/icon/copy.svg">
                  <p class="clickIconCopy">vickyw.design@gmail.com
                  </p>
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="blankHS"></div>


    <div class="colorBgYellowVW500">
      <div class="blankHXS"></div>

      <div class="wrapper">

        <div class="Grid Grid--full Grid--gutters u-textCenter">
          <div class="Grid-cell">
            <div class="element">
              <h1 class="specialTextL"> Design Process

              </h1>
            </div>
          </div>
        </div>
        <div class="blankHTiny"></div>

        <div class="Grid Grid--gutters Grid--cols-3 u-textCenter">

          <div class="Grid-cell">
            <div class="element">
              <div class="element">
                <img class="iconMax" src="icon/landing_understand.svg" alt="Collaborate">
                <h2 data-aos="fade-up"> <strong> Understand</strong> </h2>
                <h3>Understand business goals and user needs using both qualitative and quantitative data to make informed UX decisions.
                </h3>
              </div>
            </div>
          </div>



          <div class="Grid-cell">
            <div class="element">

              <div class="element">
                <img class="iconMax" src="icon/landing_collaborate.svg" alt="Collaborate">

                <h2 data-aos="fade-up"> <strong> Collaborate </strong> </h2>
                <h3>Collaborate closely with teams from planning to delivery. Continuous feedback refines and improves designs.
                </h3>
              </div>
            </div>
          </div>
          <div class="Grid-cell">
            <div class="element">
              <div class="element">
                <img class="iconMax" src="icon/landing_facilitate.svg" alt="Collaborate">
                <h2 data-aos="fade-up"> <strong> Facilitate</strong> </h2>
                <h3>Manage the design process with clear deadlines to stay on track. Document and review each step to create effective, impactful designs.
                </h3>
              </div>

            </div>
          </div>
        </div>


      </div>
      <div class="blankHXXS"></div>
      <hr class="wrapperM colorBlack">
      <div class="blankHXS"></div>


      <div class="carouselLogoBlurContainer">

        <div class="carouselLogoBlur">
          <div class="logos"></div>
        </div>

      </div>
      <div class="blankHS"></div>

    </div>

    <div class="blankHXS"></div>


    <!-- Arrow -->
    <%- include('shared/comp_textualElements_arrow', {message: 'Timeline' }) %>
    <!-- Arrow -->

    <div class="blankHXXS"></div>


    <div class="wrapper">
      <div class="Grid Grid--full Grid--gutters u-textCenter">
        <div class="Grid-cell">
          <div class="element">
            <h1 class="TextPoppins fontWeight100 Grey800"> Experience Design

            </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="page timeline-5-2" data-uia-timeline-skin="5">
      <div class="uia-timeline">
        <div class="uia-timeline__container">
          <div class="uia-timeline__line"></div>
          <div class="uia-timeline__groups">
            <div class="uia-timeline__group">
              <div class="uia-timeline__dot"></div>
              <div class="uia-timeline__point uia-card">
                <div class="uia-card__container">
                  <div class="uia-card__intro">
                    <h3 class="page__job-name fontWeight400">User Experience Designer</h3>
                    <h6 class="TextPoppins textItalic">2021 – 2024</h6>
                    <h6 class="TextPoppins textItalic">Full-time @ BookYourPet</h6>
                    <h4>SaaS Booking Web App</h4>
                    <h4>Consumer Booking Mobile App</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="uia-timeline__group">
              <div class="uia-timeline__dot"></div>
              <div class="uia-timeline__point uia-card">
                <div class="uia-card__container">
                  <div class="uia-card__intro">
                    <h3 class="page__job-name fontWeight400">Product Designer</h3>
                    <h6 class="TextPoppins textItalic">2023 – 2024</h6>
                    <h6 class="TextPoppins textItalic">Part-time @ LASO Health</h6>
                    <h4>Selling Prescription Medications</h4>
                    <h4>Marketing Web Page Research</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="uia-timeline__group">
              <div class="uia-timeline__dot"></div>
              <div class="uia-timeline__point uia-card">
                <div class="uia-card__container">
                  <div class="uia-card__intro">
                    <h3 class="page__job-name fontWeight400">UX Designer</h3>
                    <h6 class="TextPoppins textItalic">2023</h6>
                    <h6 class="TextPoppins textItalic">Part-time @ Modernized Mobile LLC</h6>
                    <h4>Tablet-based Admin Panel for the 'Clean Spaces' app</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="blankHXS"></div>


    <div class="wrapper">
      <div class="Grid Grid--full Grid--gutters u-textCenter">
        <div class="Grid-cell">
          <div class="element">
            <h1 class="TextPoppins fontWeight100 Grey800"> Web Design & Implementation

            </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="page timeline-5-2" data-uia-timeline-skin="5">
      <div class="uia-timeline">
        <div class="uia-timeline__container">
          <div class="uia-timeline__line"></div>
          <div class="uia-timeline__groups">
            <div class="uia-timeline__group">
              <div class="uia-timeline__dot"></div>
              <div class="uia-timeline__point uia-card">
                <div class="uia-card__container">
                  <div class="uia-card__intro">
                    <h3 class="page__job-name fontWeight400">Web Design</h3>
                    <h4>Responsive Web Design</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="uia-timeline__group">
              <div class="uia-timeline__dot"></div>
              <div class="uia-timeline__point uia-card">
                <div class="uia-card__container">
                  <div class="uia-card__intro">
                    <h3 class="page__job-name fontWeight400">Design System</h3>
                    <h4>Design & Maintenance
                    </h4>

                  </div>
                </div>
              </div>
            </div>
            <div class="uia-timeline__group">
              <div class="uia-timeline__dot"></div>
              <div class="uia-timeline__point uia-card">
                <div class="uia-card__container">
                  <div class="uia-card__intro">
                    <h3 class="page__job-name fontWeight400">Deployed on AWS S3</h3>
                    <h4>Implementation & Update</h4>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="blankHXS"></div>


    <div class="wrapper">
      <div class="Grid Grid--full Grid--gutters u-textCenter">
        <div class="Grid-cell">
          <div class="element">
            <h1 class="TextPoppins fontWeight100 Grey800"> Architectural Design
            </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="page timeline-5-2" data-uia-timeline-skin="5">
      <div class="uia-timeline">
        <div class="uia-timeline__container">
          <div class="uia-timeline__line"></div>
          <div class="uia-timeline__groups">
            <div class="uia-timeline__group">
              <div class="uia-timeline__dot"></div>
              <div class="uia-timeline__point uia-card">
                <div class="uia-card__container">
                  <div class="uia-card__intro">
                    <h3 class="page__job-name fontWeight400">Architectural Designer</h3>
                    <h6 class="TextPoppins textItalic">2017 &#8211; 2018</h6>
                    <h6 class="TextPoppins textItalic">Full-time &#64; Buro OS </h6>
                    <h4>Concept & Visual Design</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="uia-timeline__group">
              <div class="uia-timeline__dot"></div>
              <div class="uia-timeline__point uia-card">
                <div class="uia-card__container">
                  <div class="uia-card__intro">
                    <h3 class="page__job-name fontWeight400">Design Intern</h3>
                    <h6 class="TextPoppins textItalic">2017</h6>
                    <h6 class="TextPoppins textItalic">Full-time @ In Design Studio </h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="uia-timeline__group">
              <div class="uia-timeline__dot"></div>
              <div class="uia-timeline__point uia-card">
                <div class="uia-card__container">
                  <div class="uia-card__intro">
                    <h3 class="page__job-name fontWeight400">Architectural Designer
                    </h3>
                    <h6 class="TextPoppins textItalic">2013 &#8211; 2015</h6>
                    <h6 class="TextPoppins textItalic">Full-time @ PDI Design Group</h6>
                    <h4>Schematic Design
                    </h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="uia-timeline__group">
              <div class="uia-timeline__dot"></div>
              <div class="uia-timeline__point uia-card">
                <div class="uia-card__container">
                  <div class="uia-card__intro">
                    <h3 class="page__job-name fontWeight400">Architectural Designer
                    </h3>
                    <h6 class="TextPoppins textItalic">2010 &#8211; 2012</h6>
                    <h6 class="TextPoppins textItalic">Part-time @ Do Union</h6>
                    <h4>Concept & Visualization
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="blankHXS"></div>
    <div class="wrapper">
      <div class="Grid Grid--full Grid--gutters u-textCenter">
        <div class="Grid-cell">
          <div class="element">
            <h1 class="TextPoppins fontWeight100 Grey800"> Education & Leisure Activities
            </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="page timeline-5-2" data-uia-timeline-skin="5">
      <div class="uia-timeline">
        <div class="uia-timeline__container">
          <div class="uia-timeline__line"></div>
          <div class="uia-timeline__groups">
            <div class="uia-timeline__group">
              <div class="uia-timeline__dot"></div>
              <div class="uia-timeline__point uia-card">
                <div class="uia-card__container">
                  <div class="uia-card__intro">
                    <h3 class="page__job-name fontWeight400">UC Berkeley</h3>
                    <h6 class="TextPoppins textItalic">2015 &#8211; 2019, Full-time</h6>
                    <h4>Master of architecture</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="uia-timeline__group">
              <div class="uia-timeline__dot"></div>
              <div class="uia-timeline__point uia-card">
                <div class="uia-card__container">
                  <div class="uia-card__intro">
                    <h3 class="page__job-name fontWeight400">Beijing Uni. of Tech </h3>
                    <h6 class="TextPoppins textItalic">2009 - 2013, Full-time</h6>
                    <h4>Art & Design</h4>
                  </div>
                </div>
              </div>
            </div>

            <div class="uia-timeline__group">
              <div class="uia-timeline__dot"></div>
              <div class="uia-timeline__point uia-card">
                <div class="uia-card__container">
                  <div class="uia-card__intro">
                    <h3 class="page__job-name fontWeight400">Nature & Wildlife Photography
                    </h3>
                    <h6 class="TextPoppins textItalic">2017 - Present, Part-time</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="uia-timeline__group">
              <div class="uia-timeline__dot"></div>
              <div class="uia-timeline__point uia-card">
                <div class="uia-card__container">
                  <div class="uia-card__intro">
                    <h3 class="page__job-name fontWeight400">Drawing & Painting

                    </h3>
                    <h6 class="TextPoppins textItalic">From childhood through college.
                    </h6>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Arrow -->
    <%- include('shared/comp_textualElements_arrow', {message: 'Skills & Experiences' }) %>
    <!-- Arrow -->
    <%- include(`${templatePath}/shared/comp_tagCloud`) %>
  </section>

  <%- include(`${templatePath}/shared/comp_closingMessage`, { version: '', message: ''}) %>
  <%- include(`${templatePath}/shared/comp_backTop`) %>
  <%- include(`${templatePath}/shared/block_nav_footer`, { 
    iconHoverColor: 'hoverWhite',
    footerBackgroundColor:'colorBgVW'
  }) %>

  <!-- The Modal -->
  <div id="modal" class="modal">
    <span id="modal-close" class="modal-close">
      <img class="iconXforModal" src="../icon/delete.svg" alt="&times;">
    </span>
    <img id="modal-content" class="modal-content">
    <div id="modal-caption" class="modal-caption"></div>
  </div>
  <!-- The Modal -->
</body>

</html>