<!DOCTYPE html>
<html lang="en">
<!--Head-->
<%- include(`${templatePath}/shared/head`, {SEO:true, Title:'Innovative UX Designer Specializing in B2B SaaS & Mobile Workflow Efficiency - Vicky Wang', 
  description:'Vicky W. specializes in UX Design for B2B SaaS and consumer apps, expertly transforming complex challenges into user-friendly solutions.', 
  pageURL:'', thumbnailImgURL: 'vickywang_web.png'
  }) %>
<!--Head-->

<body>
  <%- include( `${templatePath}/shared/compProgressBar`) %>
  <%- include(`${templatePath}/shared/block_nav_header`, {type:'main', currentPage: 'PROJECT' }) %>
  <div class="blankHM"></div>

  <div class="wrapper">
    <div class="Grid Grid--full Grid--gutters">
      <div class="Grid-cell">
        <div class="element">
          <p class="t-hello">👋🏻 hello, I'm Vicky.</p>
        </div>
      </div>
    </div>
  </div>

<div class="wrapper">
  <div class="Grid Grid--gutters">
    <div class="Grid-cell">

      <div class="row">
        <div class="widthMax">
          <div class="element">
            <strong>
              <div class="intro aos-init aos-animate" data-aos="fade-up">           
                <h1> I'm a UX Designer passionate about creating simple, smooth and engaging experiences. </h1>
              </div>
            </strong>
          </div>
        </div>
        
        <div class="paddingleft">
          <div class="element">
            <div class="widthFitContent">
              <div class="dropdownSM">
                <img title="Share" class="iconS hoverGrey300 paddingM borderRadiusMax dropbtn" src="/icon/share.svg" alt="Share">
                <div class="dropdownSM-content">
                  <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://vickywang.me" target="_blank">Share
                    on LinkedIn</a>
                  <a href="https://pinterest.com/pin/create/button/?url=https://vickywang.me&amp;media=https://s3.us-west-1.amazonaws.com/vickywang.me/Thumbnails/vickywang_mobile.svg&amp;description=Skilled%20UX%20Designer%20for%20B2B%20Solutions%20%26%20Consumer%20Apps%20-%20Vicky%20Wang" target="_blank">Share on Pinterest</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-3">
      <a href="/resume" target="_blank"> <button class="buttonLanding arrButtonResume">Resume &nbsp;
        </button></a>
      <a href="/about"> <button class="buttonLanding arrButton">About me &nbsp;
        </button></a>
    </div>
  </div>
  <!-- Arrow -->
  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'UX Case Study' }) %>
  <!-- Arrow -->
  <!-- Content -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-2">

      <%- include(`${templatePath}/shared/block_cardnPassword`, {
        cardPwID:`onboardingSubscription`,
        hoverBorderColor:`BYP`,
        inputColor:`PWinput`,
        cardPwImgURL:`${websitePath}/projectImages/Cover_BYP_AppB2B.png`,
        cardPwTitle: `Mastering B2B SaaS Subscription Success`, 
        cardPwDescription:`This case study delves into the strategic enhancements made to the onboarding process of a B2B SaaS platform, aimed at simplifying user experience and boosting subscription rates. It explores the challenges faced, the solutions implemented, and the significant impact these changes had on user satisfaction and conversion rates, ultimately driving subscription success in a competitive market.` 
        }) %>
      <%- include(`${templatePath}/shared/block_cardnPassword`, {
        cardPwID:`b2bAppRedesign`,
        hoverBorderColor:`BYP`,
        inputColor:`PWinput`,
        cardPwImgURL:`${websitePath}/projectImages/Cover_BYP_AppB2B_Redesign.png`,
        cardPwTitle: `Pet B2B Booking App Revamp: The Transition from White-Glove to Self-Service`, 
        cardPwDescription:`Discover how we transformed the BookYourPet app with a strategic redesign, shifting from a white-glove service to a user-friendly self-service platform. This overhaul focused on enhancing key features, resulting in a significant 45% increase in user satisfaction and a more streamlined experience for pet owners. Join us on our journey to revolutionize pet care services with a seamless and intuitive booking experience.
      ` 
        }) %>
    </div>
    <div class="Grid Grid--gutters Grid--cols-2">
      <!--
      <%- include(`${templatePath}/shared/block_cardnPassword`, {
        cardPwID:`consumerBooking`,
        hoverBorderColor:`BYP`,
        inputColor:`PWinput`,
        cardPwImgURL:`${websitePath}/projectImages/Cover_BYP_B2C.png`,
        cardPwTitle: `Consumer Booking Experience: A Journey to Enhanced Engagement and Conversion`, 
        cardPwDescription:`Improving the consumer booking flow within a dynamic service platform. Our mission was to identify and alleviate pain points in the existing booking process, with a goal to substantially elevate user engagement and increase conversion rates.` 
        }) %>
        -->
        <%- include(`${templatePath}/shared/block_cardnPassword`, {

          cardPwID:`rxZero`,
          hoverBorderColor:`LASO`,
          inputColor:`PWinputLH`,
          cardPwImgURL:`${websitePath}/projectImages/Cover_LASO_RXZero.png`,
          cardPwTitle: `Shifting Focus: The Evolution of LASO Local & Telehealth to RX Zero`, 
          cardPwDescription:`This case study delves into LASO Health's strategic pivot towards the RX Zero model, moving away from RX Local and Telemedicine services. It highlights the key objectives of RX Zero, centering on credibility and affordability. The study showcases the streamlined onboarding and subscription process, along with a simplified ordering system.` 
          }) %>
      <%- include(`${templatePath}/shared/block_cardnPassword`, {

        cardPwID:`adminPanel`,
        hoverBorderColor:`LASO`,
        inputColor:`PWinputLH`,
        cardPwImgURL:`${websitePath}/projectImages/Cover_LASO_AdminPanel.png`,
        cardPwTitle: `LASO Admin Panel: From Concept to Reality - Simplified User Management`, 
        cardPwDescription:`The core focus of this panel was to efficiently manage a diverse range of user accounts, including B2B, D2C, and guest users. A unique aspect of this project was accommodating users from B2B with company sponsorship, adding another layer of complexity to the design process.` 
        }) %>

    </div>
    <div class="Grid Grid--gutters Grid--cols-2">
      <%- include(`${templatePath}/shared/block_cardnPassword`, {

        cardPwID:`costCalculator`,
        hoverBorderColor:`LASO`,
        inputColor:`PWinputLH`,
        cardPwImgURL:`${websitePath}/projectImages/Cover_LASO_CostCalculator.png`,
        cardPwTitle: `RX Zero Savings Explorer - Cost-benefit Calculator`, 
        cardPwDescription:`This tool enables users to compare their current medication costs with the RX Zero subscription model, offering a seamless experience that simplifies making healthcare financial decisions.` 
        }) %>
      <%- include(`${templatePath}/shared/block_cardNoPassword`, {
        hoverBorderColor:`GLORIFY`,
        cardNoPwURL:`${websitePath}/glorify/`,
        cardNoPwImgURL:`${websitePath}/projectImages/Cover_Glorify.png`,
        cardNoPwTitle: `Glorify: Transforming Solitary Devotion into Community Engagement`, 
        cardNoPwDescription:`This case study explores the evolution of the Glorify app, a mobile platform dedicated to enhancing individual spiritual journeys, into a vibrant community hub for collective faith building.` 
        }) %>


    </div>
    <div class="Grid Grid--gutters Grid--full">

    </div>
    <div class="Grid Grid--gutters Grid--cols-3">

      <%- include(`${templatePath}/shared/block_cardNoPassword`, {
        hoverBorderColor:`SEER`,
        cardNoPwURL:`${websitePath}/seer/`,
        cardNoPwImgURL:`${websitePath}/projectImages/Cover_SEER.png`,
        cardNoPwTitle: `SEER: Enhancing Brand Impact on Reddit`, 
        cardNoPwDescription:`A conceptual UX case study aimed at transforming Reddit data into actionable
              insights for brand marketers. This design explores the potential of intuitive
              analytics to understand user sentiment and engagement, offering a glimpse into the
              future of targeted marketing strategies.` 
        }) %>
      <%- include(`${templatePath}/shared/block_cardNoPassword`, {
        hoverBorderColor:`APPOINTA`,
        cardNoPwURL:`${websitePath}/appointa/`,
        cardNoPwImgURL:`${websitePath}/projectImages/Cover_APPOINTA.png`,
        cardNoPwTitle: `APPOINTA: Interview Scheduling Made Simple`, 
        cardNoPwDescription:`Explore my UX case study aimed at revamping interview scheduling. This project
                streamlines the recruiter's tasks, speeds up hiring, and enhances scheduling
                experiences, reducing interview coordination time and boosting recruitment efficiency.` 
        }) %>
    </div>

  </div>
  <!-- Content -->

  <!-- Arrow -->
  <%- include('shared/comp_textualElements_arrow', {message: 'Design System' }) %>
  <!-- Arrow -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-3">
      <%- include(`${templatePath}/shared/block_cardNoPassword`, {
        hoverBorderColor:``,
        cardNoPwURL:`${websitePath}/design_system/`,
        cardNoPwImgURL:`${websitePath}/projectImages/vicky_website_short.svg`,
        cardNoPwTitle: `Scalable Design System Design and Implementation`, 
        cardNoPwDescription:`A comprehensive system that enhances the scalability and consistency of UX design. It serves as a practical guide for designing scalable, efficient, and cohesive user interfaces and experiences.` 
        }) %>

    </div>
  </div>
  <!-- Arrow -->
  <%- include('shared/comp_textualElements_arrow', {message: 'Skills & Experiences' }) %>
  <!-- Arrow -->

  <%- include(`${templatePath}/shared/comp_tagCloud`) %>
  <%- include(`${templatePath}/shared/comp_closingMessage`, { version: '', message: ''}) %>
  <%- include(`${templatePath}/shared/comp_backTop`) %>
  <%- include(`${templatePath}/shared/block_nav_footer`) %>
  <!-- The Modal -->
  <div id="modal" class="modal">
    <span id="modal-close" class="modal-close">
      <img class="iconXforModal" src="../icon/delete.svg" alt="&times;">
    </span>
    <img id="modal-content" class="modal-content">
    <div id="modal-caption" class="modal-caption"></div>
  </div>
  <!-- The Modal -->
</body>

</html>