<!DOCTYPE html>
<html lang="en" class="colorBgVW pattern1">
<!--Head-->
<%- include(`${templatePath}/shared/head`, {SEO:true, Title:'Vicky W. | UX Designer', 
  description:'Specializing in crafting seamless user experiences for B2B SaaS and consumer applications, Vicky Wang transforms complexity into user-friendly solutions.', 
  pageURL:'', thumbnailImgURL: 'vickywang_web.png'
  }) %>
<!--Head-->

<body>
  <%- include(`${templatePath}/shared/comp_progressBar`) %>
  <%- include(`${templatePath}/shared/block_nav_header_main`, {
    sectionURL1:'#projects', 
    sectionURL2:'#experiments', 
    sectionURL3:'#design_system', 
    sectionURL4:'#about',
    arrTxtColor:'',
    headerBackgroundColor:'colorBgVW'
    }) %>

  <div class="blankHM"></div>
  <div class="blankHXS"></div>

  <div class="wrapper">
    <div class="Grid Grid--full Grid--gutters">
      <div class="Grid-cell">
        <div class="element">
          <h1 class="t-hello">👋🏻 hello, I'm Vicky, a UX Designer</h1>

        </div>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="Grid Grid--gutters">
      <div class="Grid-cell">
        <div class="row">
          <div class="widthMax">
            <div class="element">



              <h1 class="specialTextTitle"> Passionate about creating <span class="">simple, smooth, engaging</span> experiences.

              </h1>
            </div>
          </div>
          <div class="paddingL fitContenteft displayLaptop">
            <div class="element">
              <div class="widthFitContent">
                <div class="dropdownSM">
                  <img title="Share" class="iconS hoverWhite paddingM fitContent borderRadiusMax dropbtn" src="/icon/share.svg" alt="Share">
                  <div class="dropdownSM-content">
                    <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://vickywang.me" target="_blank">Share
                      on LinkedIn</a>
                    <a href="https://pinterest.com/pin/create/button/?url=https://vickywang.me&amp;media=https://s3.us-west-1.amazonaws.com/vickywang.me/Thumbnails/vickywang_mobile.svg&amp;description=Skilled%20UX%20Designer%20for%20B2B%20Solutions%20%26%20Consumer%20Apps%20-%20Vicky%20Wang" target="_blank">Share on Pinterest</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="blankHXS"></div>

    <div class="Grid Grid--gutters Grid--cols-8 ">
      <div class="Grid-cell">
        <div class="ClipboardBoxIconOnly">
          <button class="ClipboardIconOnly">
            <img title="Copy Email to Clipboard" class="iconM hoverWhite paddingM fitContentax borderRadiusMax" src="./icon/mail.svg" alt="LinkedIn">
            <p class="clickIconCopy">vickyw.design@gmail.com</p>
          </button>
        </div>

      </div>
      <div class="Grid-cell">
        <a href="https://www.linkedin.com/in/vicky-wyq/" target="_blank" title="LinkedIn">
          <img class="iconM hoverWhite paddingM fitContentax borderRadiusMax borderRadiusS" src="./icon/in.svg" alt="LinkedIn">
        </a>
      </div>

      <div class="Grid-cell">
        <a href="https://github.com/vicky-wyq" target="_blank" title="GitHub">
          <img class="iconM hoverWhite paddingM fitContentax borderRadiusMax" src="./icon/git.svg" alt="GitHub">
        </a>
      </div>
      <div class="Grid-cell">
        <a href="https://codepen.io/vicky-wyq" target="_blank" title="CodePen">
          <img class="iconM hoverWhite paddingM fitContentax borderRadiusMax" src="./icon/Codepen.svg" alt="CodePen">
        </a>
      </div>
      <div class="Grid-cell">
      </div>
      <div class="Grid-cell">
      </div>
      <div class="Grid-cell">
      </div>
      <div class="Grid-cell">
      </div>
      <div class="Grid-cell">
      </div>
      <div class="Grid-cell">
      </div>
      <div class="Grid-cell">
      </div>
      <div class="Grid-cell">
      </div>
    </div>

  </div>
  <div class="blankHXXS"></div>

  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-3">
      <div class="element">
        <a href="/resume"> <button class="buttonFlipLarge bgVWGrey">Resume
          </button></a>
      </div>
      <div class="element">
        <a href="#about"> <button class="buttonFlipLarge bgVWGrey">About me
          </button></a>
      </div>
    </div>
  </div>

  <!-- Content -->
  <section id="projects">
    <!-- Arrow -->
    <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {
      message: 'Projects' ,
      spacing:''
      }) %>
    <!-- Arrow -->
    <div class="blankHXS"></div>

    <div class="wrapper">
      <div class="Grid Grid--gutters Grid--cols-2">
        <div class="Grid-cell shadowBoxLt float cardBorder colorBgVW borderRadiusS cardBottomBorder bypBlue paddingNone marginXS">
          <a class="no-hover-effect" href="/byp_b2b_booking">
            <img src="/projectImages/Cover_byp_b2b_booking.png" alt="Enhancing the Booking Experience">
            <div class="element">
              <h3 class="arrCard"><strong>Enhancing the Business Booking Experience</strong></h3>
              <h5>Business owners managing appointments for their clients.
              </h5>
              <ul>

                <li class="listCircle">Reduced average booking time from 5 minutes to 3.5 minutes, making the process 30% faster. 
                </li>
                <li class="listCircle">
                  Decreased errors from 15 to 5 per 100 bookings, resulting in 67% fewer booking errors.

                </li>

              </ul>

            </div>
          </a>
        </div>


      </div>
      <div class="Grid Grid--gutters Grid--cols-2">
        <div class="Grid-cell shadowBoxLt float cardBorder colorBgVW borderRadiusS cardBottomBorder bypOrange paddingNone marginXS">
          <a class="no-hover-effect" href="/byp_b2c_booking">
            <img src="/projectImages/Cover_b2c_booking.png" alt="Enhancing the Booking Experience">
            <div class="element">
              <h3 class="arrCard"><strong>Enhancing the Consumer Service Booking Experience</strong></h3>
              <h4>We optimized the booking flow for pet services on the BookYourPet platform. These improvements streamlined the process, enhanced user experience, and boosted business efficiency.

              </h4>

            </div>
          </a>
        </div>

        <%- include(`${templatePath}/shared/block_cardNoPassword`, {
          hoverBorderColor:`BYP`,
          cardNoPwURL:`${websitePath}/byp_b2b_subscription`,
          cardNoPwImgURL:`${websitePath}/projectImages/Cover_BYP_AppB2B.png`,
          cardNoPwTitle: `Mastering B2B SaaS Subscription Success`, 
          cardNoPwDescription:`This case study delves into the strategic enhancements made to the onboarding process of a B2B SaaS platform, aimed at simplifying user experience and boosting subscription rates. It explores the challenges faced, the solutions implemented, and the significant impact these changes had on user satisfaction and conversion rates, ultimately driving subscription success in a competitive market.` 
          }) %>


      </div>



      <div class="Grid Grid--gutters Grid--cols-2">
        <%- include(`${templatePath}/shared/block_cardNoPassword`, {
          hoverBorderColor:`BYP`,
          cardNoPwURL:`${websitePath}/byp_b2b_SaaS`,
          cardNoPwImgURL:`${websitePath}/projectImages/Cover_BYP_AppB2B_Redesign.png`,
          cardNoPwTitle: `B2B SaaS Booking App Revamp: The Transition from White-Glove to Self-Service`, 
          cardNoPwDescription:`Discover how we transformed the pet booking app with a strategic redesign, shifting from a white-glove service to a user-friendly self-service platform. This overhaul focused on enhancing key features, resulting in a significant 45% increase in user satisfaction and a more streamlined experience for pet owners. Join us on our journey to revolutionize pet care services with a seamless and intuitive booking experience.` 
          }) %>
        <%- include(`${templatePath}/shared/block_cardNoPassword`, {
        hoverBorderColor:`LASO`,
        cardNoPwURL:`${websitePath}/refining_rx_zero/`,
        cardNoPwImgURL:`${websitePath}/projectImages/Cover_LASO_RXZero.png`,
        cardNoPwTitle: `Shifting Focus: Transforming Local and Telehealth Services into RX Zero`, 
        cardNoPwDescription:`This case study delves into LASO Health's strategic pivot towards the RX Zero model, moving away from RX Local and Telemedicine services. It highlights the key objectives of RX Zero, centering on credibility and affordability. The study showcases the streamlined onboarding and subscription process, along with a simplified ordering system.` 
        }) %>

      </div>
      <div class="Grid Grid--gutters Grid--cols-2">
        <!--
          <%- include(`${templatePath}/shared/block_cardnPassword`, {
            cardPwID:`consumerBooking`,
            hoverBorderColor:`BYP`,
            inputColor:`PWinput`,
            cardPwImgURL:`${websitePath}/projectImages/Cover_BYP_B2C.png`,
            cardPwTitle: `Consumer Booking Experience: A Journey to Enhanced Engagement and Conversion`, 
            cardPwDescription:`Improving the consumer booking flow within a dynamic service platform. Our mission was to identify and alleviate pain points in the existing booking process, with a goal to substantially elevate user engagement and increase conversion rates.` 
            }) 
            %>
        -->

        <%- include(`${templatePath}/shared/block_cardNoPassword`, {
          hoverBorderColor:`LASO`,
          cardNoPwURL:`${websitePath}/savings_calculator/`,
          cardNoPwImgURL:`${websitePath}/projectImages/Cover_LASO_CostCalculator.png`,
          cardNoPwTitle: `RX Zero Savings Calculator: Uncover Prescription Meds Savings`, 
          cardNoPwDescription:`This tool enables users to compare their current medication costs with the RX Zero subscription model, offering a seamless experience that simplifies making healthcare financial decisions.` 
          }) %>


        <%- include(`${templatePath}/shared/block_cardNoPassword`, {
          hoverBorderColor:`LASO`,
          cardNoPwURL:`${websitePath}/admin_panel/`,
          cardNoPwImgURL:`${websitePath}/projectImages/Cover_LASO_AdminPanel.png`,
          cardNoPwTitle: `LASO Admin Panel: From Concept to Reality - Simplified User Management`, 
          cardNoPwDescription:`The core focus of this panel was to efficiently manage a diverse range of user accounts, including B2B, D2C, and guest users. A unique aspect of this project was accommodating users from B2B with company sponsorship, adding another layer of complexity to the design process.` 
          }) %>
      </div>



    </div>
    <!-- Content -->
  </section>
  <section id="experiments">
    <!-- Arrow -->
    <%- include('shared/comp_textualElements_arrow', {message: 'Experiments' }) %>
    <!-- Arrow -->
    <div class="blankHXS"></div>

    <div class="wrapper">
      <div class="Grid Grid--gutters Grid--cols-2">
        <%- include(`${templatePath}/shared/block_cardNoPassword`, {
        hoverBorderColor:`GLORIFY`,
        cardNoPwURL:`${websitePath}/glorify/`,
        cardNoPwImgURL:`${websitePath}/projectImages/Cover_Glorify.png`,
        cardNoPwTitle: `Glorify: Transforming Solitary Devotion into Community Engagement`, 
        cardNoPwDescription:`This case study explores the evolution of the Glorify app, a mobile platform dedicated to enhancing individual spiritual journeys, into a vibrant community hub for collective faith building.` 
        }) %>

      </div>
      <div class="Grid Grid--gutters Grid--cols-2">

        <%- include(`${templatePath}/shared/block_cardNoPassword`, {
      hoverBorderColor:`SEER`,
      cardNoPwURL:`${websitePath}/seer/`,
      cardNoPwImgURL:`${websitePath}/projectImages/Cover_SEER.png`,
      cardNoPwTitle: `SEER: Enhancing Brand Impact on Reddit`, 
      cardNoPwDescription:`A conceptual UX case study aimed at transforming Reddit data into actionable
            insights for brand marketers. This design explores the potential of intuitive
            analytics to understand user sentiment and engagement, offering a glimpse into the
            future of targeted marketing strategies.` 
      }) %>
        <%- include(`${templatePath}/shared/block_cardNoPassword`, {
      hoverBorderColor:`APPOINTA`,
      cardNoPwURL:`${websitePath}/appointa/`,
      cardNoPwImgURL:`${websitePath}/projectImages/Cover_APPOINTA.png`,
      cardNoPwTitle: `APPOINTA: Interview Scheduling Made Simple`, 
      cardNoPwDescription:`Explore my UX case study aimed at revamping interview scheduling. This project
              streamlines the recruiter's tasks, speeds up hiring, and enhances scheduling
              experiences, reducing interview coordination time and boosting recruitment efficiency.` 
      }) %>
      </div>
    </div>
  </section>
  <section id="design_system">
    <!-- Arrow -->
    <%- include('shared/comp_textualElements_arrow', {message: 'Design System' }) %>
    <!-- Arrow -->
    <div class="blankHXS"></div>

    <div class="wrapper">
      <div class="Grid Grid--gutters Grid--cols-3">
        <%- include(`${templatePath}/shared/block_cardNoPassword`, {
        hoverBorderColor:``,
        cardNoPwURL:`${websitePath}/design_system/`,
        cardNoPwImgURL:`${websitePath}/projectImages/vicky_website.svg`,
        cardNoPwTitle: `Scalable Design System Design and Implementation`, 
        cardNoPwDescription:`A comprehensive system that enhances the scalability and consistency of UX design. It serves as a practical guide for designing scalable, efficient, and cohesive user interfaces and experiences.` 
        }) %>

      </div>
    </div>

  </section>

  <section id="about">
    <!-- Arrow -->
    <%- include('shared/comp_textualElements_arrow', {message: 'About Me' }) %>
    <!-- Arrow -->
    <div class="blankHXS"></div>

    <div class="wrapper">
      <div class="Grid Grid--gutters Grid--1of3 Grid--top">


        <div class="Grid-cell">
          <div class="element">
            <img class="" src="me.png" alt="Vicky">

          </div>
        </div>
        <div class="Grid-cell">
          <div class="element">
            <h3>As a UX designer, I possess a diverse range of skills and have gained experience in startup environments. I am fully involved in every aspect of the design process and continuously aim to create seamless user experiences that align with business objectives. My approach emphasizes simplicity, using the fewest design elements necessary to address core issues effectively.
            </h3>
            <h3>My fascination with craftsmanship extends beyond just UX. It is evident both in the art of crafting user-centric interfaces and in appreciating the finer details of everyday life.
            </h3>
            <h3>
              I take pleasure in immersing myself in new technologies. Doing so not only fosters smoother collaboration with developers but also deepens my understanding of design, ultimately driving productivity.
            </h3>
          </div>

          <div class="row centerVer">
            <div class="element">
              <a href="mailto:vickyw.design@gmail.com"> <button class="buttonFlipLarge bgVWGrey">Email me
                </button></a>

            </div>


            <div class="element">

              <div class="ClipboardBoxIconOnly">
                <button class="ClipboardIconOnly">
                  <img class="iconM hoverWhite paddingM fitContentax borderRadiusMax" title="Copy Email Address to Clipboard" src="/icon/copy.svg">
                  <p class="clickIconCopy">vickyw.design@gmail.com
                  </p>
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>
    <!-- Arrow -->
    <%- include('shared/comp_textualElements_arrow', {message: 'My Journey' }) %>
    <!-- Arrow -->
    <div class="blankHXS"></div>

    <div class="wrapper">
      <div class="Grid Grid--full Grid--gutters">
        <div class="Grid-cell">
          <div class="element">
            <div class="element">

              <div class="progressStepContainer">
                <ul class="progressX">
                  <li class="progress__item progress__item--active" data-aos="fade-up">
                    <h3> <strong class="">The Art of Drawing & Painting</strong> </h3>
                    <h3>Art is my way of turning emotions and ideas into visual expression. It deepens my understanding of design and opens up new perspectives. Through color, composition, and other elements, art helps me create unique designs.
                    </h3>

                  </li>
                  <div class="blankHXS"></div>

                  <li class="progress__item progress__item--active" data-aos="fade-up">
                    <h3> <strong class=""><a href="/architecture" class="textUnderline" title="Architecture Works"> Architectural Design</a> & <a href="/photography" class="textUnderline" title="Nature & Wildlife"> Photography </a></strong></h3>
                    <h3>In design, my heart lies in a vibrant creative vision that marries creativity, innovation, and precision with out-of-the-box thinking.
                      In architecture, I focus on creating functional and visually appealing buildings that meet client' needs, balance different elements, and achieve a harmonious aesthetic.
                    </h3>
                  </li>
                  <div class="blankHXS"></div>

                  <li class="progress__item progress__item--active" data-aos="fade-up">
                    <h3> <strong>Web Implementation &
                        <a href="/design_system" class="textUnderline" title="Design System"> Design System Design/Update</a> </strong> </h3>
                    <h3>Since 2020, I have been designing, implementing, and maintaining my website. During this process, I have learned a lot, including managing a design system with HTML, CSS, JS, and EJS. I continuously improve my <a class="textUnderline" href="javascript-learning">JavaScript</a> knowledge, monitor site traffic with tools like Posthog and Google Analytics.
                    </h3>
                    <div class="blankHXS"></div>

                  <li class="progress__item progress__item--active" data-aos="fade-up">
                    <h3> <strong>User Experience Design</strong> </h3>
                    <h3>I love UX because it empowers users in the design process. My goal is always to solve problems through feedback and data analysis. The short design and development cycle in UX turns all design dreams into reality.





                    </h3>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <%- include('shared/comp_textualElements_arrow', {message: 'Design Process' }) %>

    <div class="blankHXS"></div>
    <div class="wrapper">
      <div class="Grid Grid--gutters Grid--cols-3">

        <div class="Grid-cell cardBorderThick borderRadiusM paddingNone marginXS colorBgVW">
          <div class="element">
            <div class="element">
              <h3 data-aos="fade-up"> <strong> Understanding Users and Products</strong> </h3>
              <h4>A deep understanding of both business goals and user needs is crucial in UX design. I leverage both qualitative and quantitative data to make informed decisions.
              </h4>
            </div>
          </div>
        </div>
        <div class="Grid-cell cardBorderThick borderRadiusM paddingNone marginXS colorBgVW">
          <div class="element">
            <div class="element">
              <h3 data-aos="fade-up"> <strong> Building Strong Cross-Functional Partnerships </strong> </h3>
              <h4>I collaborate closely with cross-functional teams from research planning to product delivery. Continuous feedback loops help refine and enhance designs.
              </h4>
            </div>
          </div>
        </div>
        <div class="Grid-cell cardBorderThick borderRadiusM paddingNone marginXS colorBgVW">
          <div class="element">
            <div class="element">
              <h3 data-aos="fade-up"> <strong> Managing the Design Process </strong> </h3>
              <h4>Clear deadlines for each phase keep projects on track. Documenting and evaluating each iteration ensures the creation of impactful and effective designs.
              </h4>
            </div>

          </div>
        </div>
      </div>


    </div>
    <!-- Arrow -->
    <%- include('shared/comp_textualElements_arrow', {message: 'Skills & Experiences' }) %>
    <!-- Arrow -->
    <%- include(`${templatePath}/shared/comp_tagCloud`) %>
  </section>

  <%- include(`${templatePath}/shared/comp_closingMessage`, { version: '', message: ''}) %>
  <%- include(`${templatePath}/shared/comp_backTop`) %>
  <%- include(`${templatePath}/shared/block_nav_footer`, { 
    iconHoverColor: 'hoverWhite',
    footerBackgroundColor:'colorBgVW'
  }) %>

  <!-- The Modal -->
  <div id="modal" class="modal">
    <span id="modal-close" class="modal-close">
      <img class="iconXforModal" src="../icon/delete.svg" alt="&times;">
    </span>
    <img id="modal-content" class="modal-content">
    <div id="modal-caption" class="modal-caption"></div>
  </div>
  <!-- The Modal -->
</body>

</html>