<!DOCTYPE html>
<html>
<!--Head-->
<%- include(`${templatePath}/shared/head`, {SEO:true, Title:'Innovative UX Designer Specializing in B2B SaaS & Mobile Workflow Efficiency - Vicky Wang', 
  description:'Vicky W. specializes in UX Design for B2B SaaS and consumer apps, expertly transforming complex challenges into user-friendly solutions.', 
  pageURL:'', thumbnailImgURL: 'vickywang_web.png'
  }) %>
<!--Head-->

<body>
  <%- include( `${templatePath}/shared/progressBar`) %>
  <%- include(`${templatePath}/shared/block_nav_header`, {type:'main', currentPage: 'PROJECT' }) %>
  <div class="blankHM"></div>
  <%- include(`${templatePath}/shared/intro`, { 
    version: 'vicky',
    contents: ['UX designer', 'Product designer'],
    layoutType: '', 
    introContentP1: 'I am based in San Francisco and am deeply committed to developing web solutions for both businesses and consumers. My approach hinges on dissecting complex challenges and transforming them into clear, efficient, and impactful digital experiences.',
    introContentP2:'',
    introContentP3:''
}) %>
  <%- include(`${templatePath}/shared/homePage_icons-buttons`) %>
  <!-- Arrow -->
  <%- include(`${templatePath}/shared/comp_content_subtitle_arrow`, {message: 'Case Study' }) %>
  <!-- Arrow -->
  <!-- Content -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-2">
      <%- include(`${templatePath}/shared/block_cardnPassword`, {
        cardPwID:`onboardingSubscription`,
        hoverBorderColor:`BYP`,
        inputColor:`PWinput`,
        cardPwImgURL:`${websitePath}/projectImages/Cover_BYP_AppB2B.png`,
        cardPwTitle: `Streamlined Onboarding & Engagement: Mastering B2B SaaS Subscription Success`, 
        cardPwDescription:`Enhancing the onboarding and subscription experience for B2B clients in the SaaS domain. Our focus was on demystifying and refining these critical processes to ensure a seamless and engaging transition for new users.` 
        }) %>
      <%- include(`${templatePath}/shared/block_cardnPassword`, {
        cardPwID:`consumerBooking`,
        hoverBorderColor:`BYP`,
        inputColor:`PWinput`,
        cardPwImgURL:`${websitePath}/projectImages/Cover_BYP_B2C.png`,
        cardPwTitle: `Consumer Booking Experience: A Journey to Enhanced Engagement and Conversion`, 
        cardPwDescription:`Improving the consumer booking flow within a dynamic service platform. Our mission was to identify and alleviate pain points in the existing booking process, with a goal to substantially elevate user engagement and increase conversion rates.` 
        }) %>
    </div>
    <div class="Grid Grid--gutters Grid--cols-2">
      <%- include(`${templatePath}/shared/block_cardnPassword`, {
        cardPwID:`adminPanel`,
        hoverBorderColor:`LASO`,
        inputColor:`PWinputLH`,
        cardPwImgURL:`${websitePath}/projectImages/Cover_LASO_AdminPanel.png`,
        cardPwTitle: `LASO Admin Panel: From Concept to Reality - Simplified User Management`, 
        cardPwDescription:`The core focus of this panel was to efficiently manage a diverse range of user accounts, including B2B, D2C, and guest users. A unique aspect of this project was accommodating users from B2B with company sponsorship, adding another layer of complexity to the design process.` 
        }) %>
      <%- include(`${templatePath}/shared/block_cardnPassword`, {
        cardPwID:`rxZero`,
        hoverBorderColor:`LASO`,
        inputColor:`PWinputLH`,
        cardPwImgURL:`${websitePath}/projectImages/Cover_LASO_RXZero.png`,
        cardPwTitle: `Shifting Focus: The Evolution of LASO to RX Zero`, 
        cardPwDescription:`This case study delves into LASO Health's strategic pivot towards the RX Zero model, moving away from RX Local and Telemedicine services. It highlights the key objectives of RX Zero, centering on credibility and affordability. The study showcases the streamlined onboarding and subscription process, along with a simplified ordering system.` 
        }) %>
    </div>
    <div class="Grid Grid--gutters Grid--cols-2">
      <%- include(`${templatePath}/shared/block_cardnPassword`, {
        cardPwID:`costCalculator`,
        hoverBorderColor:`LASO`,
        inputColor:`PWinputLH`,
        cardPwImgURL:`${websitePath}/projectImages/Cover_LASO_CostCalculator.png`,
        cardPwTitle: `RX Zero Savings Explorer - Cost-benefit Calculator`, 
        cardPwDescription:`This tool enables users to compare their current medication costs with the RX Zero subscription model, offering a seamless experience that simplifies making healthcare financial decisions.` 
        }) %>
      <%- include(`${templatePath}/shared/block_cardNoPassword`, {
        hoverBorderColor:`GLORIFY`,
        cardNoPwURL:`${websitePath}/glorify/`,
        cardNoPwImgURL:`${websitePath}/projectImages/Cover_Glorify.png`,
        cardNoPwTitle: `Glorify: Transforming Solitary Devotion into Community Engagement`, 
        cardNoPwDescription:`This case study explores the evolution of the Glorify app, a mobile platform dedicated to enhancing individual spiritual journeys, into a vibrant community hub for collective faith building.` 
        }) %>
    </div>
    <div class="Grid Grid--gutters Grid--cols-2">
      <%- include(`${templatePath}/shared/block_cardNoPassword`, {
        hoverBorderColor:`SEER`,
        cardNoPwURL:`${websitePath}/seer/`,
        cardNoPwImgURL:`${websitePath}/projectImages/Cover_SEER.png`,
        cardNoPwTitle: `SEER: Enhancing Brand Impact on Reddit`, 
        cardNoPwDescription:`A conceptual UX case study aimed at transforming Reddit data into actionable
              insights for brand marketers. This design explores the potential of intuitive
              analytics to understand user sentiment and engagement, offering a glimpse into the
              future of targeted marketing strategies.` 
        }) %>
      <%- include(`${templatePath}/shared/block_cardNoPassword`, {
        hoverBorderColor:`APPOINTA`,
        cardNoPwURL:`${websitePath}/appointa/`,
        cardNoPwImgURL:`${websitePath}/projectImages/Cover_APPOINTA.png`,
        cardNoPwTitle: `APPOINTA: Interview Scheduling Made Simple`, 
        cardNoPwDescription:`Explore my UX case study aimed at revamping interview scheduling. This project
                streamlines the recruiter's tasks, speeds up hiring, and enhances scheduling
                experiences, reducing interview coordination time and boosting recruitment efficiency.` 
        }) %>
    </div>

  </div>
  <!-- Content -->

  <!-- Arrow -->
  <%- include('shared/comp_content_subtitle_arrow', {message: 'Design System' }) %>
  <!-- Arrow -->
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-3">
      <%- include(`${templatePath}/shared/block_cardNoPassword`, {
        hoverBorderColor:``,
        cardNoPwURL:`${websitePath}/design_system/`,
        cardNoPwImgURL:`${websitePath}/projectImages/vicky_website_short.svg`,
        cardNoPwTitle: `Scalable Design System Design and Implementation`, 
        cardNoPwDescription:`A comprehensive system that enhances the scalability and consistency of UX design. It serves as a practical guide for designing scalable, efficient, and cohesive user interfaces and experiences.` 
        }) %>

    </div>
  </div>
  <!-- Arrow -->
  <%- include('shared/comp_content_subtitle_arrow', {message: 'Skills & Experiences' }) %>
  <!-- Arrow -->

  <%- include(`${templatePath}/shared/comp_tagCloud`) %>
  <%- include(`${templatePath}/shared/comp_closingMessage`, { version: '', message: ''}) %>
  <%- include(`${templatePath}/shared/comp_backTop`) %>
  <%- include(`${templatePath}/shared/block_nav_footer`) %>
  <!-- The Modal -->
  <div id="modal" class="modal">
    <span id="modal-close" class="modal-close">
      <img class="iconXforModal" src="../icon/delete.svg" alt="&times;">
    </span>
    <img id="modal-content" class="modal-content">
    <div id="modal-caption" class="modal-caption"></div>
  </div>
  <!-- The Modal -->
</body>

</html>