<!DOCTYPE html>
<html lang="en">
<!--Head-->
<%- include(`${templatePath}/shared/head`, {SEO:false, Title:`Revolutionizing User Experience: A Comprehensive Redesign of the BookYourPet Platform by Vicky Wang`, 
description:'byp_b2b_subscription', 
pageURL:'worksamples/BYP_LH_wsbeebr/', thumbnailImgURL: 'vickywang_web.png'
}) %>
<!--Head-->

<body>
  <%- include( `${templatePath}/shared/compProgressBar`) %>
  <%- include(`${templatePath}/shared/block_nav_header`, {
    type:'backText', 
    currentPage: 'PROJECT',
    PageUrl:`${websitePath}/` 
    }) %>

  <%- include(`${templatePath}/shared/block_banner`, { 
    bannerTitle:`Optimizing Pet Service Bookings`,
    bannerSubTitle:`Enhancing the Consumer Booking Experience`,
    bannerLogoUrl:`${websitePath}/worksamples/BYP_LH_wsbeebr/logo_BYP.svg`,
    SlideDeckUrl:`https://www.figma.com/proto/apacUjNvkG8t767EbkrxyG/Grooming---Consumer-facing?page-id=403%3A6906&node-id=403-6907&recovery=true&viewport=1341%2C1627%2C0.04&t=WKx1QQyW1B6dGhjQ-1&scaling=contain&content-scaling=fixed&starting-point-node-id=403%3A6907`,
    bannerBgColor:`colorBgBYPOrange100`,
    bannerMockupL:`MockupL.png`,
    bannerMockupM:`MockupM.png`,
    bannerMockupS:`MockupS.png`,
    bannerButtonColor:`BYP`
    }) %>

  <!-- timeline -->
  <div class="wrapper">
    <div class="blankHXS"></div>

    <div class="Grid Grid--gutters Grid--cols-4">
      <!-- subTitleFont1 -->
      <div class="Grid-cell">
        <div class="element">
          <h3> <strong class=""> Timeline </strong> </h3>
          <h4> December 2023 </h4>
          <h4> 2 Weeks </h4>
        </div>
      </div>
      <div class="Grid-cell">
        <div class="element">
          <h3> <strong class=""> Team </strong> </h3>
          <h4> Marketing, Sales </h4>
          <h4> Engineer Lead </h4>
          <h4> Stakeholder Review </h4>
        </div>
      </div>
      <div class="Grid-cell">
        <div class="element">
          <h3> <strong class=""> Role </strong> </h3>
          <h4> UX Research </h4>
          <h4> UX Design </h4>
        </div>
      </div>
      <div class="Grid-cell">
        <div class="element">
          <h3> <strong class=""> Tools </strong> </h3>
          <h4> Figma </h4>
          <h4> Trello </h4>
          <h4> Google Sheet </h4>

          <h4> Slack </h4>

        </div>
      </div>
    </div>

    <div class="blankHS"></div>


  </div>

  <!-- timeline -->

  <!-- Case study starts -->

  <div class="colorBgBYPOrange100">
    <div class="blankHXS"></div>
    <div class="Grid Grid--gutters Grid--full u-textCenter">
      <%- include(`${templatePath}/shared/comp_textualElements_title`, {
      titleColor:`colorBYPorange800`,
      titleFontSize:`h1`,
      contentTitle:`Background`,
      }) %>
    </div>
    <div class="wrapper">

      <div class="Grid Grid--gutters Grid--full">
        <div class="Grid-cell">
          <div class="element">
            <div class="rowToColumn centerVH">
              <div class="widthMax">
                <h3><strong>Context</strong></h3>
                <h4>BookYourPet provides a tool for pet industry business owners to streamline appointment management, service tracking, and payment processing.</h4>

                <img class="widthXS" src="img_diveces.svg" alt="icon arrow">

              </div>
              <div class="paddingL fitContenteft">
                <div class="widthFitContent">
                  <img class="widthXS" src="img_background.png" alt="icon arrow">
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="Grid-cell">
          <div class="element">
            <div class="rowToColumn centerVH">
              <div class="widthMax">
                <h3><strong>Goals</strong></h3>
                <h3 class="colorBYPorange800">Pet owners:</h3>

                <ul>
                  <li class="listCircle">
                    <h4>Easy, reliable way to book services for their pets</h4>
                  </li>


                </ul>
                <h3 class="colorBYPorange800">For business/Service providers:</h3>

                <ul>
                  <li class="listCircle">
                    <h4>Automates business operations </h4>
                  </li>
                  <li class="listCircle">
                    <h4>Increases sales for pet businesses</h4>
                  </li>
                  <li class="listCircle">
                    <h4>Boosts customer satisfaction</h4>
                  </li>

                </ul>


              </div>
              <div class="paddingL fitContenteft">
                <div class="widthFitContent">
                  <img class="widthXS" src="img_pet_parents.png" alt="icon arrow">
                </div>
              </div>

            </div>
          </div>
        </div>


      </div>

      <div class="Grid Grid--gutters Grid--full">


        <div class="Grid-cell">
          <div class="element">
            <h3><strong>Customer journey</strong></h3>
            <div class="element">
              <div class="Grid">
                <img class="modal-target" src="diagram_customer_journey.svg" alt="Affinity Map">
              </div>
            </div>


          </div>
        </div>

        <div class="Grid-cell">
          <div class="element">
            <h3><strong>Timeline </strong></h3>
            <div class="element">
              <div class="Grid">
                <img class="modal-target" src="diagram_timeline.svg" alt="Affinity Map">
              </div>
            </div>


          </div>
        </div>


      </div>



      <div class="Grid Grid--gutters Grid--full u-textCenter">
        <%- include(`${templatePath}/shared/comp_textualElements_title`, {
        titleColor:`colorBYPorange800`,
        titleFontSize:`h1`,
        contentTitle:`Understand`,
        }) %>
      </div>

      <div class="Grid Grid--full Grid--gutters">
        <div class="Grid-cell">
          <div class="element">
            <img class="" src="diagram_research_steps.svg" alt="icon arrow">
          </div>
        </div>
      </div>

      <div class="Grid Grid--full Grid--gutters">
        <div class="Grid-cell">
          <div class="element">
            <h3><strong>Customer Feedback</strong></h3>
          </div>
        </div>
      </div>



      <div class="Grid Grid--full Grid--gutters">
        <div class="Grid-cell ">
          <div class="element">
            <img class="" src="img_feedback.svg" alt="icon arrow">

            <h4 class=" borderRadiusXS colorBgBYPOrange200 paddingS">Combining feedback from both B2B and B2C users gives us a comprehensive overview of the areas needing improvement:
            </h4>
          </div>
        </div>
      </div>

      <div class="Grid Grid--full Grid--gutters">
        <div class="Grid-cell">
          <div class="element">
            <h3><strong class="colorBYPorange800">Ease of Use: 25% </strong></h3>
            <h4> <strong class="Grey800">Feedback: </strong>"The app is somewhat confusing to navigate. It took me a while to figure out how to schedule an appointment. The interface could be more intuitive."</h4>
            <h4> <strong class="Grey800">Justification: </strong>The difficulty in navigation and scheduling appointments directly impacts the user experience, suggesting a significant area of concern.</h4>

            <h3><strong class="colorBYPorange800">Efficiency: 20% </strong></h3>
            <h4> <strong class="Grey800">Feedback: </strong>"The booking process feels a bit slow. It often takes too many steps to complete an appointment, and sometimes the app lags."</h4>
            <h4> <strong class="Grey800">Justification: </strong>Efficiency is crucial for a smooth booking experience, and issues with slowness and multiple steps indicate a moderate impact on user satisfaction.</h4>

            <h3><strong class="colorBYPorange800">Convenience: 20% </strong></h3>
            <h4> <strong class="Grey800">Feedback: </strong>"While it's handy to have all services in one place, finding specific services can be challenging. The search function could be improved."</h4>
            <h4> <strong class="Grey800">Justification: </strong>The convenience of having all services in one app is diminished by difficulties in finding specific services, highlighting a notable area for improvement.
            </h4>

            <h3><strong class="colorBYPorange800">Clarity: 20% </strong></h3>
            <h4> <strong class="Grey800">Feedback: </strong>"Information about services and costs isn't always clear. I had trouble understanding what was included in each service, which made it hard to make decisions."</h4>
            <h4> <strong class="Grey800">Justification: </strong>Lack of clarity in service and cost information affects decision-making, which is essential for user confidence and satisfaction.</h4>

            <h3><strong class="colorBYPorange800">Notifications: 15% </strong></h3>
            <h4> <strong class="Grey800">Feedback: </strong>"I've missed a few appointments because the notifications didn't come through or were too late. More reliable alerts would be helpful."</h4>
            <h4> <strong class="Grey800">Justification: </strong> While important, issues with notifications are somewhat less impactful than core functionality issues like navigation and clarity, but still significant enough to address.</h4>

          </div>


        </div>

      </div>
      <div class="Grid Grid--full Grid--gutters">
        <div class="Grid-cell">
          <div class="element">
            <h3><strong>User Interview</strong></h3>
          </div>
        </div>
      </div>
      <div class="Grid Grid--full Grid--gutters">
        <div class="Grid-cell ">
          <div class="element">
            <img class="" src="img_user_interview.svg" alt="user interview">

            <h4 class=" borderRadiusXS colorBgBYPOrange200 paddingS">Obtain in-depth qualitative data on user experiences, behaviors, and expectations.
            </h4>
          </div>
        </div>
      </div>

      <div class="Grid Grid--full Grid--gutters">
        <div class="Grid-cell">
          <div class="element">
            <h3><strong>Affinity Map</strong></h3>
          </div>
        </div>
      </div>
      <div class="Grid Grid--full Grid--gutters">
        <div class="Grid-cell ">
          <div class="element">
            <div class="Grid">
              <img class="modal-target" src="diagram_affinity_map.svg" alt="Affinity Map">
            </div>
          </div>
          <div class="element">

            <div class="borderRadiusXS colorBgBYPOrange200 paddingS">

              <h4>Then we created an affinity map. The main points are:
              </h4>
              <ul>
                <li class="listCircle">
                  <h4>Easy to use is the most important for pet owner</h4>
                </li>
                <li class="listCircle">
                  <h4>Efficient for comparing service details and price</h4>
                </li>
                <li class="listCircle">
                  <h4>Reliability & flixibility such as Ability to cancel and reschedule appt, and get refund</h4>
                </li>

              </ul>
            </div>

          </div>
        </div>
      </div>
      <div class="Grid Grid--full Grid--gutters">
        <div class="Grid-cell">
          <div class="element">
            <h3><strong>Competitive Analysis</strong></h3>
          </div>
        </div>
      </div>
      <div class="Grid Grid--full Grid--gutters">
        <div class="Grid-cell ">
          <div class="element">
            <div class="Grid">
              <img class="modal-target" src="text_competitive_analysis.svg" alt="Affinity Map">
            </div>
          </div>

        </div>
      </div>
      <div class="Grid Grid--gutters Grid--cols-2">
        <div class="Grid-cell cardBorderbypB2C borderRadiusM  paddingNone marginXS">
          <div class="element">
            <div class="element">
              <h4 data-aos="fade-up" class="aos-init aos-animate"> <strong>Petco</strong> </h4>
              <ul>
                <li class="listCircle"> <strong>Solid Booking Flow: </strong>Petco offers a seamless and user-friendly booking process.</li>
                <li class="listCircle"> <strong>Comprehensive B2B Services:</strong> Petco owns and operates the entire B2B ecosystem, providing integrated services for pet businesses. </li>

                <li class="listCircle"> <strong>Strong Brand Presence:</strong> With a well-established brand, Petco attracts a large customer base, enhancing trust and reliability. </li>
                <li class="listCircle"> <strong>Mobile App: </strong> Petco’s mobile app is highly rated for its usability and features. </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="Grid-cell cardBorderbypB2C borderRadiusM paddingNone marginXS">
          <div class="element">
            <div class="element">
              <h4 data-aos="fade-up" class="aos-init aos-animate"> <strong> Moego</strong> </h4>
              <ul>
                <li class="listCircle"> <strong>Intuitive UI: </strong>The user interface is visually appealing and user-friendly.</li>
                <li class="listCircle"> <strong>Complex Signup Process:</strong> The sign-up flow can be a bit complex, especially with pre-filled information. </li>

                <li class="listCircle"> <strong>Feature-Rich:</strong> Offers comprehensive features for pet service providers, including scheduling, customer management, and marketing tools. </li>
                <li class="listCircle"> <strong>Customer Support: </strong> Known for responsive customer service, which helps in resolving user issues promptly.</li>
              </ul>
            </div>

          </div>
        </div>
      </div>
      <div class="Grid Grid--gutters Grid--cols-2">
        <div class="Grid-cell cardBorderbypB2C borderRadiusM  paddingNone marginXS">
          <div class="element">
            <div class="element">
              <h4 data-aos="fade-up" class="aos-init aos-animate"> <strong>Gingr</strong> </h4>
              <ul>
                <li class="listCircle"> <strong>Comprehensive Features: </strong>Gingr provides extensive features for pet business management, including booking, payments, and customer management.</li>
                <li class="listCircle"> <strong>User Feedback:</strong> Mobile app reviews are not as favorable, indicating room for improvement in the mobile user experience. </li>

                <li class="listCircle"> <strong>Straightforward Payment Integration:</strong> While the payment process is comprehensive, it could be made more intuitive.</li>
                <li class="listCircle"> <strong>Scalability:</strong> Gingr is scalable for businesses of various sizes, making it a versatile choice for pet service providers.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="Grid-cell cardBorderbypB2C borderRadiusM paddingNone marginXS">
          <div class="element">
            <div class="element">
              <h4 data-aos="fade-up" class="aos-init aos-animate"> <strong> Additional Comparison
              </strong> </h4>

              <h5>
                <strong>Booksy and StyleSeat:</strong>These platforms were tested for better booking practices. They offer robust booking flows, intuitive user interfaces, and comprehensive features for managing appointments and customer relationships.
              </h5>
              <ul>
                <li class="listCircle"> <strong>Booksy:</strong>Known for its seamless booking process and excellent customer service.</li>
                <li class="listCircle"> <strong>StyleSeat:</strong>  Offers a sleek and user-friendly interface, making it easy for users to book and manage appointments. </li>

                <li class="listCircle"> <strong>Feature-Rich:</strong> Offers comprehensive features for pet service providers, including scheduling, customer management, and marketing tools. </li>
                <li class="listCircle"> <strong>Customer Support: </strong> Known for responsive customer service, which helps in resolving user issues promptly.</li>
              </ul>
            </div>

          </div>
        </div>
      </div>



    </div>

    <div class="blankHS"></div>






    <div class="wrapper">



      <div class="Grid Grid--full Grid--gutters u-textCenter">
        <div class="Grid-cell">
          <div class="element">
            <a href="https://www.figma.com/proto/apacUjNvkG8t767EbkrxyG/Grooming---Consumer-facing?page-id=403%3A6906&node-id=403-6907&recovery=true&viewport=1341%2C1627%2C0.04&t=WKx1QQyW1B6dGhjQ-1&scaling=contain&content-scaling=fixed&starting-point-node-id=403%3A6907" target="_blank"> <button class="button-35 BYP">Slide Deck</button></a>
          </div>
        </div>
      </div>
    </div>
    <div class="blankHS"></div>


  </div>



  <div class="blankHS"></div>

  </div>


  <!-- Shared across the platform -->




  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Skills & Experiences' }) %>
  <%- include(`${templatePath}/shared/comp_tagCloud`) %>
  <%- include(`${templatePath}/shared/comp_closingMessage`, { version: '', message:''}) %>
  <%- include(`${templatePath}/shared/block_modal`) %>


  <%- include(`${templatePath}/shared/comp_backTop`) %>
  <%- include(`${templatePath}/shared/block_nav_footer`) %>
  <!-- Shared across the platform -->



</body>

</html>