<!DOCTYPE html>
<html lang="en" class="colorBgBYPOrange100 pattern2">
<!--Head-->
<%- include(`${templatePath}/shared/head`, { SEO:false, Title:`Optimizing Pet Service Bookings by Vicky Wang`,
  description:'Enhancing the Consumer Booking Experience', pageURL:'byp_b2c_booking/',
  thumbnailImgURL: 'vickywang_web.png' }) %>
<!--Head-->

<body>
  <%- include( `${templatePath}/shared/comp_progressBar`) %>
  <%- include(`${templatePath}/shared/block_nav_header_back`, { 
        PageUrl:`${websitePath}/`,
        headerBackgroundColor:`colorBgBYPOrange100`,
        arrTxtColor:``,

        }) %>

  <%- include(`${templatePath}/shared/block_banner`, {            bannerTitle:`Optimizing Pet Service Bookings`,
        bannerSubTitle:`Enhancing the Consumer Booking Experience`,
        bannerLogoUrl:`${websitePath}/byp_b2c_booking/logo_BYP.svg`,
        SlideDeckUrl:`https://www.figma.com/proto/apacUjNvkG8t767EbkrxyG/Grooming---Consumer-facing?page-id=403%3A6906&node-id=403-6907&recovery=true&viewport=1341%2C1627%2C0.04&t=WKx1QQyW1B6dGhjQ-1&scaling=contain&content-scaling=fixed&starting-point-node-id=403%3A6907`,
        bannerBgColor:``, 
        bannerMockupL:`MockupL.png`, 
        bannerMockupM:`MockupM.png`, 
        bannerMockupS:`MockupS.png`,
        bannerButtonColor:`colorBgBYPOrange100` }) %>

  <!-- timeline -->
  <div class="wrapper">
    <div class="blankHXS"></div>

    <div class="Grid Grid--gutters Grid--cols-4">
      <!-- subTitleFont1 -->
      <div class="Grid-cell">
        <div class="element">
          <h3> <strong class=""> Timeline </strong> </h3>
          <h4> December 2023 </h4>
          <h4> 2 Weeks </h4>
        </div>
      </div>
      <div class="Grid-cell">
        <div class="element">
          <h3> <strong class=""> Team </strong> </h3>
          <h4> Marketing, Sales </h4>
          <h4> Engineer Lead </h4>
          <h4> Stakeholder Review </h4>
        </div>
      </div>
      <div class="Grid-cell">
        <div class="element">
          <h3> <strong class=""> Role </strong> </h3>
          <h4> UX Research </h4>
          <h4> UX Design </h4>
        </div>
      </div>
      <div class="Grid-cell">
        <div class="element">
          <h3> <strong class=""> Tools </strong> </h3>
          <h4> Figma </h4>
          <h4> Trello </h4>
          <h4> Google Sheet </h4>

          <h4> Slack </h4>

        </div>
      </div>
    </div>

    <div class="blankHS"></div>


  </div>

  <!-- timeline -->

  <!-- Case study starts -->

  <div class="colorBgBYPOrange100">
    <div class="blankHXS"></div>

    <div class="wrapper">

      <div class="Grid Grid--gutters Grid--full u-textCenter">
        <%- include(`${templatePath}/shared/comp_textualElements_title`, { fontColor:`colorBYPorange800`,
                  fontSize:`h1`, titleText:`Background`, }) %>
      </div>
      <div class="Grid Grid--gutters Grid--full">

        <div class="Grid-cell">
          <div class="element">
            <h3><strong>Context</strong></h3>
            <h4>BookYourPet provides a tool for pet industry business owners to streamline appointment
              management, service tracking, and payment processing.</h4>

            <img class="" src="img_diveces.svg" alt="icon arrow">



          </div>
        </div>

        <div class="Grid-cell">
          <div class="element">
            <div class="rowToColumn centerVH">
              <div class="widthMax">
                <h3><strong>Goals</strong></h3>
                <h3 class="colorBYPorange800">Pet owners:</h3>

                <ul>
                  <li class="listCircle">
                    Easy, reliable way to book services for their pets
                  </li>


                </ul>
                <h3 class="colorBYPorange800">For business/Service providers:</h3>

                <ul>
                  <li class="listCircle">
                    Automates business operations
                  </li>
                  <li class="listCircle">
                    Increases sales for pet businesses
                  </li>
                  <li class="listCircle">
                    Boosts customer satisfaction
                  </li>

                </ul>


              </div>
              <div class="paddingL fitContenteft">
                <div class="widthFitContent">
                  <img class="widthS" src="img_pet_parents.png" alt="icon arrow">
                </div>
              </div>

            </div>
          </div>
        </div>


      </div>

      <div class="Grid Grid--gutters Grid--full">


        <div class="Grid-cell">
          <div class="element">
            <h3><strong>Customer journey</strong></h3>
            <div class="element">
              <div class="Grid">
                <img class="modal-target" src="diagram_customer_journey.svg" alt="Customer Journey">
              </div>
            </div>


          </div>
        </div>

        <div class="Grid-cell">
          <div class="element">
            <h3><strong>Timeline </strong></h3>
            <div class="element">
              <div class="Grid">
                <img class="modal-target" src="diagram_timeline.svg" alt="Timeline Map">
              </div>
            </div>


          </div>
        </div>


      </div>



      <div class="Grid Grid--gutters Grid--full u-textCenter">
        <%- include(`${templatePath}/shared/comp_textualElements_title`, { fontColor:`colorBYPorange800`,
                  fontSize:`h1`, titleText:`Understand`, }) %>
      </div>

      <div class="Grid Grid--full Grid--gutters">
        <div class="Grid-cell">
          <div class="element">
            <img class="" src="diagram_research_steps.svg" alt="icon arrow">
          </div>
        </div>
      </div>

      <div class="Grid Grid--full Grid--gutters">
        <div class="Grid-cell">
          <div class="element">
            <h3><strong>Customer Feedback</strong></h3>
          </div>
        </div>
      </div>



      <div class="Grid Grid--full Grid--gutters">
        <div class="Grid-cell ">
          <div class="element">
            <img class="" src="img_feedback.svg" alt="icon arrow">

            <h4 class=" borderRadiusXS colorBgBYPOrange200 paddingS">Combining feedback from both B2B and B2C
              users gives us a comprehensive overview of the areas needing improvement:
            </h4>
          </div>
        </div>
      </div>

      <div class="Grid Grid--full Grid--gutters">
        <div class="Grid-cell">
          <div class="element">
            <h3><strong class="colorBYPorange800">Ease of Use:</strong></h3>
            <h4> <strong class="Grey800">"The app is somewhat confusing to navigate. It took me a while to
                figure out how to schedule an appointment. The interface could be more intuitive." </strong>
            </h4>


            <h3><strong class="colorBYPorange800">Efficiency:</strong></h3>
            <h4> <strong class="Grey800">"The booking process feels a bit slow. It often takes too many steps to
                complete an appointment, and sometimes the app lags." </strong></h4>


            <h3><strong class="colorBYPorange800">Convenience: </strong></h3>
            <h4> <strong class="Grey800">"While it's handy to have all services in one place, finding specific
                services can be challenging. The search function could be improved."</strong></h4>


            <h3><strong class="colorBYPorange800">Clarity: </strong></h3>
            <h4> <strong class="Grey800">"Information about services and costs isn't always clear. I had trouble
                understanding what was included in each service, which made it hard to make decisions."
              </strong></h4>


            <h3><strong class="colorBYPorange800">Notifications: </strong></h3>
            <h4> <strong class="Grey800">"I've missed a few appointments because the notifications didn't come
                through or were too late. More reliable alerts would be helpful."</strong></h4>
          </div>
        </div>

      </div>

      <div class="blankHS"></div>

      <div class="Grid Grid--full Grid--gutters">
        <div class="Grid-cell">
          <div class="element">
            <h3><strong>User Interview</strong></h3>
          </div>
        </div>
      </div>
      <div class="Grid Grid--full Grid--gutters">
        <div class="Grid-cell ">
          <div class="element">
            <img class="" src="img_user_interview.svg" alt="user interview">

            <h4 class=" borderRadiusXS colorBgBYPOrange200 paddingS">Obtain in-depth qualitative data on user
              experiences, behaviors, and expectations.
            </h4>
          </div>
        </div>
      </div>

      <div class="Grid Grid--full Grid--gutters">
        <div class="Grid-cell">
          <div class="element">
            <h3><strong>Affinity Map</strong></h3>
          </div>
        </div>
      </div>
      <div class="Grid Grid--full Grid--gutters">
        <div class="Grid-cell ">
          <div class="element">
            <div class="Grid">
              <img class="modal-target" src="diagram_affinity_map.png" alt="Affinity Map">
            </div>
          </div>
          <div class="element">

            <div class="borderRadiusXS colorBgBYPOrange200 paddingS">

              <h4>Then we created an affinity map. The main points are:
              </h4>
              <ul>
                <li class="listCircle">
                  <h4>Easy to use is the most important for pet owner</h4>
                </li>
                <li class="listCircle">
                  <h4>Efficient for comparing service details and price</h4>
                </li>
                <li class="listCircle">
                  <h4>Reliability & flixibility such as Ability to cancel and reschedule appt, and get refund
                  </h4>
                </li>

              </ul>
            </div>

          </div>
        </div>
      </div>
      <div class="Grid Grid--full Grid--gutters">
        <div class="Grid-cell">
          <div class="element">
            <h3><strong>Competitive Analysis</strong></h3>
          </div>
        </div>
      </div>
      <div class="Grid Grid--full Grid--gutters">
        <div class="Grid-cell ">
          <div class="element">
            <div class="Grid">
              <img class="modal-target" src="text_competitive_analysis.png" alt="Competitive Analysis">
            </div>
          </div>

        </div>
      </div>
      <div class="element">

        <div class="borderRadiusXS colorBgBYPOrange200 paddingS">

          <h4 data-aos="fade-up" class="aos-init aos-animate"> <strong> Additional Comparison
            </strong> </h4>

          <h5>
            <strong>Booksy and StyleSeat:</strong>These platforms were tested for better booking practices. They
            offer robust booking flows, intuitive user interfaces, and comprehensive features for managing
            appointments and customer relationships.
          </h5>
          <ul>
            <li class="listCircle"> <strong>Booksy:</strong>Known for its seamless booking process and excellent
              customer service.</li>
            <li class="listCircle"> <strong>StyleSeat:</strong> Offers a sleek and user-friendly interface,
              making it easy for users to book and manage appointments. </li>

            <li class="listCircle"> <strong>Feature-Rich:</strong> Offers comprehensive features for pet service
              providers, including scheduling, customer management, and marketing tools. </li>
            <li class="listCircle"> <strong>Customer Support: </strong> Known for responsive customer service,
              which helps in resolving user issues promptly.</li>
          </ul>
        </div>

      </div>

      <div class="blankHS"></div>

      <div class="Grid Grid--full Grid--gutters">
        <div class="Grid-cell">
          <div class="element">
            <h3><strong>Insight #1: Ease of Use, Efficiency & Clarity</strong></h3>
            <h3 class="specialTextL colorBYPorange800">Streamline the Booking Process:</h3>


            <div class="rowToColumn centerVH colorBgBYPOrange200 paddingS borderRadiusS">
              <div class="widthMax">

                <ul>
                  <li class="listCircle">
                    <h4><strong>Reduce Steps:</strong> Minimize the number of steps required to book a service.
                    </h4>
                  </li>
                  <li class="listCircle">
                    <h4><strong>Simplify Navigation: </strong>Make the booking process more intuitive and
                      user-friendly.</h4>
                  </li>
                  <li class="listCircle">
                    <h4><strong>Comprehensive Service Listings:</strong> Include detailed service descriptions
                      and pricing (WYSIWYG in the B2B platform).</h4>
                  </li>
                  <li class="listCircle">
                    <h4><strong>Reduce Screen Clutter:</strong>Simplify the screen layout to avoid overwhelming
                      users with too much information.</h4>
                  </li>
                </ul>

              </div>
              <div class="paddingL fitContenteft">
                <div class="widthFitContent">
                  <img class="widthXS" src="igm_book.png" alt="icon arrow">
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="blankHS"></div>

      <div class="Grid Grid--full Grid--gutters">
        <div class="Grid-cell">
          <div class="element">
            <h3><strong>Insight #2: Transparency & Trust</strong></h3>
            <h3 class="specialTextL colorBYPorange800">Transparent Pricing and Trust Signals</h3>


            <div class="rowToColumn centerVH colorBgBYPOrange200 paddingS borderRadiusS">
              <div class="widthMax">

                <ul>
                  <li class="listCircle">
                    <h4>Clear display of service costs and any additional fees. </h4>
                  </li>
                  <li class="listCircle">
                    <h4>Highlight trust signals like verified reviews and provider certifications. </h4>
                  </li>
                  <li class="listCircle">
                    <h4>Display the cost of each service upfront</h4>
                  </li>

                </ul>

              </div>
              <div class="paddingL fitContenteft">
                <div class="widthFitContent">
                  <img class="widthXS" src="img_review.png" alt="icon arrow">
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="blankHS"></div>

      <div class="Grid Grid--full Grid--gutters">
        <div class="Grid-cell">
          <div class="element">
            <h3><strong>Insight #3: Convenience, Reliability</strong></h3>
            <h3 class="specialTextL colorBYPorange800">Personalized Experience</h3>


            <div class="rowToColumn centerVH colorBgBYPOrange200 paddingS borderRadiusS">
              <div class="widthMax">

                <ul>
                  <li class="listCircle">
                    <h4>Recommendations based on past bookings.</h4>
                  </li>
                  <li class="listCircle">
                    <h4>Notifications for appointments. </h4>
                  </li>
                  <li class="listCircle">
                    <h4>Reschedule and cancel appointment</h4>
                  </li>

                </ul>

              </div>
              <div class="paddingL fitContenteft">
                <div class="widthFitContent">
                  <img class="widthXS" src="img_notification.png" alt="icon arrow">
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="Grid Grid--full Grid--gutters">
        <div class="Grid-cell">
          <div class="element">
            <h3><strong>Insight #4: Accessible & Effective</strong></h3>
            <h3 class="specialTextL colorBYPorange800">Customer Support</h3>


            <div class="rowToColumn centerVH colorBgBYPOrange200 paddingS borderRadiusS">
              <div class="widthMax">

                <ul>
                  <li class="listCircle">
                    <h4>Make support options easily accessible throughout the booking process.</h4>
                  </li>
                  <li class="listCircle">
                    <h4>Offer multiple channels for support, including live chat, phone, and email. </h4>
                  </li>


                </ul>

              </div>
              <div class="paddingL fitContenteft">
                <div class="widthFitContent">
                  <img class="widthXS" src="img_support.png" alt="icon arrow">
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="blankHM"></div>

      <div class="Grid Grid--gutters Grid--full u-textCenter">
        <%- include(`${templatePath}/shared/comp_textualElements_title`, { fontColor:`colorBYPorange800`,
                  fontSize:`h1`, titleText:`Solutions`, }) %>
      </div>
      <div class="Grid Grid--full Grid--gutters">
        <div class="Grid-cell">
          <div class="element">
            <h3><strong>Streamline the Booking Process</strong></h3>
            <ul>
              <li class="listCircle">
                <h4>Reduce total booking time </h4>
              </li>
              <li class="listCircle">
                <h4>Minimize the number of clicks </h4>
              </li>
              <li class="listCircle">
                <h4>Simplify user interface </h4>
              </li>
              <li class="listCircle">
                <h4>Reduce clicks</h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="Grid Grid--full Grid--gutters">
        <div class="Grid-cell ">
          <div class="element">
            <div class="Grid">
              <img class="modal-target" src="img_booking.svg" alt="Competitive Analysis">
            </div>
          </div>
        </div>
      </div>
      <div class="blankHS"></div>

      <div class="Grid Grid--full Grid--gutters">
        <div class="Grid-cell">
          <div class="element">
            <h3><strong>Comprehensive Service Listings & Transparent Pricing</strong></h3>
            <ul>
              <li class="listCircle">
                <h4> Clear display of service names, descriptions, prices, and quantities </h4>
              </li>
              <li class="listCircle">
                <h4> Transparent pricing for all services </h4>
              </li>
              <li class="listCircle">
                <h4>Clear instructions and prompts </h4>
              </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="Grid Grid--full Grid--gutters">
        <div class="Grid-cell ">
          <div class="element">
            <div class="Grid">
              <img class="modal-target" src="img_service_listing.png" alt="Competitive Analysis">
            </div>
          </div>
        </div>
      </div>
      <div class="blankHS"></div>


      <div class="Grid Grid--full Grid--gutters">
        <div class="Grid-cell ">
          <div class="element">
            <div class="Grid">
              <img class="modal-target" src="img_cost_fee.png" alt="Competitive Analysis">
            </div>
          </div>
        </div>
      </div>
      <div class="blankHS"></div>

      <div class="Grid Grid--full Grid--gutters">
        <div class="Grid-cell">
          <div class="element">
            <h3><strong>Personalized Experience:</strong></h3>
            <ul>
              <li class="listCircle">
                <h4>Provide quick booking options </h4>

              </li>
              <li class="listCircle">
                <h4>Offer recommendations based on past bookings </h4>

              </li>
              <li class="listCircle">
                <h4>Facilitate easy rebooking of appointments </h4>

              </li>
              <li class="listCircle">
                <h4>Simplify rescheduling and cancellations </h4>

              </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="Grid Grid--full Grid--gutters">
        <div class="Grid-cell ">
          <div class="element">
            <div class="Grid">
              <img class="modal-target" src="img_personalized.png" alt="Competitive Analysis">
            </div>
          </div>
        </div>
      </div>
      <div class="blankHM"></div>
      <div class="Grid Grid--gutters Grid--full u-textCenter">
        <%- include(`${templatePath}/shared/comp_textualElements_title`, { fontColor:`colorBYPorange800`,
                  fontSize:`h1`, titleText:`Design, Testing & Iteration`, }) %>
      </div>
      <div class="Grid Grid--full Grid--gutters">
        <div class="Grid-cell">
          <div class="element">
            <h3> <strong class="Grey800">Design and Test Version 1: </strong></h3>

            <ul>
              <li class="listCircle">
                <h4>Focus on streamlining the booking process
                </h4>
              </li>
              <li class="listCircle">
                <h4>Improve the entire flow
                </h4>
              </li>
            </ul>
          </div>
        </div>

        <div class="Grid-cell">
          <div class="element">
            <h3> <strong class="Grey800">Design and Test Version 2:

              </strong></h3>

            <ul>
              <li class="listCircle">
                <h4>Focus on the comprehensive appointment process
                </h4>
              </li>

            </ul>
          </div>
        </div>

        <div class="Grid-cell">
          <div class="element">
            <h3> <strong class="Grey800">Design and Test Version 3:

              </strong></h3>

            <ul>
              <li class="listCircle">
                <h4>Reduce total booking time and number of clicks





                </h4>
              </li>

            </ul>
          </div>
        </div>

      </div>
      <div class="blankHM"></div>


      <div class="Grid Grid--gutters Grid--full u-textCenter">
        <%- include(`${templatePath}/shared/comp_textualElements_title`, { fontColor:`colorBYPorange800`,
                  fontSize:`h1`, titleText:`Outcome & Reflection`, }) %>
      </div>

      <div class="Grid Grid--full Grid--gutters">
        <div class="Grid-cell">
          <div class="element">
            <h2><strong class="colorBYPorange800">What went well so far 👍</strong></h2>
            <h3> <strong class="Grey800">Streamline the Booking Process </strong></h3>

            <ul>
              <li class="listCircle">
                <h4>Reduce booking steps. </h4>
              </li>
              <li class="listCircle">
                <h4>Minimize clicks for a better user experience. </h4>
              </li>
              <li class="listCircle">
                <h4>Streamline service and add-on options. </h4>
              </li>

              <li class="listCircle">
                <h4>Display upfront costs and potential fees. </h4>
              </li>
              <li class="listCircle">
                <h4>Provide comprehensive service info and detailed pricing descriptions. </h4>
              </li>

            </ul>
            <h3> <strong class="Grey800">KPIs since launch</strong></h3>
            <ul>

              <li class="listCircle">
                <h4>Booking Conversion Rate: Improved by 169% </h4>
              </li>

              <li class="listCircle">
                <h4>Reduced Time to Book: 48% Decrease </h4>
              </li>
              <li class="listCircle">
                <h4>Booking Abandonment Rate: 67% Reduction </h4>
              </li>
              <li class="listCircle">
                <h4>Repeat Booking Rate: Increased by 124% </h4>
              </li>
              <li class="listCircle">
                <h4>Add-on Sales Rate: Increased by 73%</h4>
              </li>

            </ul>
            <h2><strong class="colorBYPorange800">What could be improved 💪</strong></h2>
            <ul>

              <li class="listCircle">
                <h4>Reschedule and cancel appointment </h4>
              </li>

              <li class="listCircle">
                <h4>Offer multiple channels for support, including live chat, phone, and email. </h4>
              </li>
              <li class="listCircle">
                <h4>Based on feedback from business owners, we need to enable them to categorize and reorder services to meet individual service display needs. </h4>
              </li>

            </ul>

            <h3><strong class="colorBYPorange800">Reflection 📚</strong></h3>
            <h4> Using both qualitative and quantitative data during the research phase was crucial, providing a well-rounded understanding of user behavior and needs. With more time, conducting a larger survey group could further enhance the insights as we gain more users and improve the app.</h4>



          </div>
        </div>

      </div>
      <div class="blankHM"></div>





    </div>



    <div class="blankHM"></div>

  </div>
  <div class="blankHS"></div>





  <div class="blankHS"></div>




  <!-- Shared across the platform -->




  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Skills & Experiences' }) %>
  <%- include(`${templatePath}/shared/comp_tagCloud`) %>
  <%- include(`${templatePath}/shared/comp_closingMessage`, { version: '' , message:''}) %>
  <%- include(`${templatePath}/shared/block_modal`) %>


  <%- include(`${templatePath}/shared/comp_backTop`) %>

  <%- include(`${templatePath}/shared/block_nav_footer`, { 
    iconHoverColor: '',
    footerBackgroundColor:'colorBgBYPOrange100'
  }) %>
  <!-- Shared across the platform -->

</body>

</html>