<!DOCTYPE html>
<html>
<!--Head-->
<%- include('shared/head', {Title:'Innovative UX Designer Specializing in B2B SaaS & Mobile Workflow Efficiency - Vicky Wang', 
  description:'Vicky W. specializes in UX Design for B2B SaaS and consumer apps, expertly transforming complex challenges into user-friendly solutions.', 
  pageURL:'', thumbnailImgURL: 'vickywang_web.png'
  }) %>
<!--Head-->


<body>
  <%- include('shared/progressBar') %>
  <%- include('shared/header', {currentPage: 'PROJECT' }) %>

  <div class="blankHM"></div>



  <%- include('shared/intro', { 
    version: 'vicky',
    contents: ['UX designer', 'Product designer'],
    layoutType: '', 
    introContentP1: 'I am based in San Francisco and am deeply committed to developing web solutions for both businesses and consumers. My approach hinges on dissecting complex challenges and transforming them into clear, efficient, and impactful digital experiences.',
    introContentP2:'',
    introContentP3:''

}) %>

  <%- include('shared/homePage_icons-buttons') %>

  <%- include('shared/cards', { cards: 'card1' }) %>
  <%- include('shared/cards', { cards: 'card2' }) %>







  <%- include('shared/grid', { numCols: 6, textCenter: true }) %>




  <div class="blankHS"></div>

  <%- include('shared/arrowSubtitle', {message: 'Case Study' }) %>





  <!--footer-->
  <%- include('./shared/footer') %>
  <!--footer-->

</body>

</html>