<!DOCTYPE html>
<html lang="en" class="colorBgVW pattern1">

<!--Head-->
<%- include(`${templatePath}/shared/head`, { SEO:false, Title:`Optimizing Pet Service Bookings by Vicky Wang`,
  description:'Enhancing the Consumer Booking Experience', pageURL:'byp_b2c_booking/',
  thumbnailImgURL: 'vickywang_web.png' }) %>
<!--Head-->

<body class="">

  <%- include(`${templatePath}/shared/comp_progressBar`) %>

  <%- include(`${templatePath}/shared/block_nav_header_back`, { PageUrl:`${websitePath}/`,
        headerBackgroundColor:`colorWhite`, arrTxtColor:``, }) %>


  <div class="ProjectBanner colorBgWhie pattern2">

    <img class="displayLaptop" src="MockupL.png" alt="Mockup">
    <img class="displayTablet" src="MockupM.png" alt="Mockup">
    <img class="displayPhone" src="MockupS.png" alt="Mockup">


    <div class="ProjectBannerInner2025">
      <div class="wrapperM">
        <img class="widthXXS" src="../../logos/bq.svg" alt="Logo">
        <h1 class="fontWeight700">Scaling Inventory Management for Growth</h1>
        <h4 class="fontWeight300">From deep-click navigation to filter-based control

        </h4>

        <div class="Grid Grid--gutters Grid--cols-3">
          <div class="Grid-cell">
            <div class="element">
              <h6> <span class="colorBgYellowVW100 borderRadiusS chipBorderPadding"> Role:</span> </h6>
              <h6 class="fontWeight500">Lead UX</h6>

            </div>
          </div>
          <div class="Grid-cell">
            <div class="element">
              <h6> <span class="colorBgYellowVW100 borderRadiusS chipBorderPadding"> Scope:</span> </h6>
              <h6 class="fontWeight500">Gear listing &amp; storefront control</h6>

            </div>
          </div>
          <div class="Grid-cell">
            <div class="element">
              <h6> <span class="colorBgYellowVW100 borderRadiusS chipBorderPadding"> Stakeholder: </span></h6>
              <h6><a class="textUnderline fontWeight500" href="https://www.linkedin.com/in/jemaier">Joe Maier</a>,
                <a class="textUnderline fontWeight500" href="https://www.linkedin.com/in/kimconnolly1">Kim
                  Connolly</a>
              </h6>
            </div>
          </div>
        </div>
      </div>




    </div>

  </div>



  <div class="">
    <div class="blankHS"></div>


    <div class="wrapper">
      <div class="Grid Grid--gutters Grid--cols-3 u-textCenter" data-module="countup">

        <div class="Grid-cell">
          <div class="element">
            <div class="stat">



              <h6 class="chipSmall colorBQTeal100 colorBQTeal700">
                Saves Providers Time
              </h6>
              <h2 class="stat-figure">
                <span class="stat-prefix specialTextL fontWeight700">+</span>
                <span class="stat-number specialTextL fontWeight700" data-countup-number="3">3</span>
                <span class="stat-suffix">x</span>
              </h2>

              <h5 class="fontWeight400">
                Faster edits for high-volume providers </h5>
              <h6 class="">
                Reduced clicks to update or reorganize listings </h6>

            </div>
          </div>
        </div>

        <div class="Grid-cell">
          <div class="element">
            <div class="stat">
              <h6 class="chipSmall colorBQTeal100 colorBQTeal700">
                Reduces QA & Maintenance Overhead
              </h6>
              <h2 class="stat-figure">
                <span class="stat-prefix specialTextL fontWeight700">-</span>
                <span class="stat-number specialTextL fontWeight700" data-countup-number="75">75</span>
                <span class="stat-suffix">%</span>
              </h2>
              <h5 class="fontWeight400">
                Less QA overhead per release
              </h5>
              <h6 class="">
                Simplified layout + reusable components = easier maintenance
              </h6>
            </div>
          </div>
        </div>
        <div class="Grid-cell">
          <div class="element">
            <div class="stat">
              <h6 class="chipSmall colorBQTeal100 colorBQTeal700">
                Scales Across Product Lines
              </h6>
              <h2 class="stat-figure">
                <span class="stat-prefix specialTextL fontWeight700">+</span>
                <span class="stat-number specialTextL fontWeight700" data-countup-number="3">3</span>
                <span class="stat-suffix">+</span>
              </h2>
              <h5 class="fontWeight400">
                Business lines scaled</h5>
              <h6 class="">
                Supported Baby, Party, and GoQuip with no system rebuild </h6>
            </div>
          </div>
        </div>
      </div>



      <div class="Grid Grid--full Grid--gutter">
        <div class="Grid-cell">
          <div class="element">
            <img src="graphic_baby_gears.png">


          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="blankHXXS"></div>

  <!-- Case study starts -->
  <main>
    <nav class="new_side_bar flipBtn">
      <ul>

        <li><a href="#content1">
            Problem
          </a></li>

        <li><a href="#content2">
            Insight
          </a></li>

        <li><a href="#content3">
            Before/After
          </a></li>

        <li><a href="#content4">
            Key Changes
          </a></li>
        <li><a href="#content5">
            Results
          </a></li>
      </ul>
    </nav>
    <div>
      <section id="content1">
        <div class="wrapper">
          <div class="Grid Grid--full Grid--gutter">
            <div class="Grid-cell">
              <div class="element">

                <h2><span class="fontWeight700">Problem </span></h2>
                <h5 class="textItalic">The initial request was to add an “Unlisted Gear” tab. Instead, I proposed a structural redesign—addressing both underutilized categories (missed growth) and inefficiency for high-volume QPs (lost retention).</h5>


                <h5 class="textItalic">BabyQuip’s original inventory tools were built for small-scale providers. As the platform grew, two critical issues emerged:
                </h5>
                <div class="rowToColumn centerVH">
                  <div class="widthMax">
                    <h4><span class="fontWeight700"> 1. Missed Growth — Unlisted Gear Never Surfaced </span></h4>
                    <h5 class="fontWeight400"> Business Impact:</h5>
                    <h5>New categories (e.g., mobility, party gear) sat idle because QPs didn’t add them → underutilized supply and lost bookings.</h5>


                    <div class="spacingSmall"></div>

                    <h5 class="fontWeight400"> UX Breakdown:</h5>
                    <ul class="listCircle">
                      <li>Unlisted tab hidden → providers never discovered new gear.</li>
                      <li>No clear prompts or calls-to-action.</li>
                      <li>Supply not listed = supply not booked.</li>

                    </ul>


                  </div>

                  <div class="widthFitContent u-textCenter">
                    <img class="widthXS" src="graphic_missed_growth.svg" alt="icon arrow">
                    <h5 class="fontWeight400">Missed Growth </h5>

                  </div>

                </div>

                <div class="spacingSmall"></div>


                <div class="rowToColumn centerVH">
                  <div class="widthMax">
                    <h4><span class="fontWeight700"> 2. Inefficient Gear Management — High Effort for High-Volume QPs</span></h4>
                    <h5> <span class="fontWeight400">Business Impact:</span></h5>
                    <ul class="listCircle">
                      <li>Power QPs (top 10%) manage nearly half of all supply, making them critical to platform success.</li>
                      <li>These providers churned or stopped updating listings during peak seasons because the tools were too slow.</li>
                      <li>Lost updates meant lost supply, which directly impacted bookings.</li>

                    </ul>

                    <div class="spacingSmall"></div>

                    <h5 class="fontWeight400"> UX Breakdown:</h5>
                    <ul class="listCircle">
                      <li>Hard to scan inventory across fragmented views. </li>
                      <li>4–5 clicks required per edit, repeated for every item.</li>
                      <li>Filters vanished on scroll, forcing restart to switch categories.</li>
                      <li>Long lists broke usability, slowing edits and discouraging updates.</li>
                    </ul>

                  </div>
                  <div class="widthFitContent u-textCenter">
                    <img class="widthXS" src="graphic_gear_management.svg" alt="icon arrow">
                    <h5 class="fontWeight400">Inefficient Gear Management </h5>

                  </div>
                </div>

                <div class="spacingMedium"></div>




              </div>
            </div>
          </div>
        </div>

      </section>
      <div class="blankHM"></div>

      <section id="content2">
        <div class="wrapper">
          <div class="Grid Grid--full Grid--gutter">
            <div class="Grid-cell">
              <div class="element">
                <div class="blankHXXS"></div>
                <h2><span class=" fontWeight700">Insight </span></h2>
                <h5 class="textItalic"><span>These insights revealed a structural mismatch: while BabyQuip expanded categories and Power QPs carried supply, the legacy tools could not support growth, driving the need for a unified, scalable inventory interface.
                  </span></h5>

                <div class="rowToColumn centerVH">
                  <div class="widthMax">
                    <h4><span class="fontWeight700"> 1. Unlisted Gear → Platform Underutilization (📈Growth) </span></h4>
                    <h5><span class="fontWeight400">Expansion into new categories</span> (e.g., mobility, party gear) often failed to translate into bookings because many QPs never adopted the new gear.</h5>
                    <h5 class="fontWeight400">Engagement Snapshot:</h5>
                    <ul class="listCircle">
                      <li>Only 46.6% of QPs are active</li>
                      <li>8.2% show low engagement despite being signed up</li>
                      <li>45.2% are inactive</li>

                    </ul>

                    <div class="spacingMedium"></div>

                  </div>

                  <div class="widthFitContent u-textCenter">
                    <img class="widthXS" src="distribution_of_QPs_by_status.svg">
                  </div>
                </div>

                <h5 class="leftVerLine2025 textItalic"> “It’s easy if I’m just listing strollers. But when I try to add one crib, one fan, and a few bath toys, I get lost. I don’t even know where to find some categories, and every time I switch, I have to start over.”</h5>
                <div class="spacingMedium"></div>

                <div class="paddingS WhiteBg borderRadiusS">
                  <h5>🔑 <span class="fontWeight500">Implication:</span> Growing QPs depend on visibility and discovery. Without surfacing unlisted gear, providers overlook new categories, and the platform misses revenue growth.</h5>
                </div>
                <div class="spacingLarge"></div>

                <h4><span class="fontWeight700">2. Power QPs = High Impact, Low Usability (🔒Retention)</span></h4>
                <h5><span class="fontWeight400">The top 10% of QPs manage 46.3% of supply</span>, making them critical to the platform. Yet, the legacy flow required 4–5 clicks per edit across fragmented screens, leading many high-volume QPs to abandon updates during peak seasons.
                </h5>
                <h5 class="fontWeight400">Supply Index Distribution:</h5>
                <table>
                  <thead>
                    <tr>
                      <th class="fontWeight400">% of QPs</th>
                      <th class="fontWeight400"># of QPs</th>
                      <th class="fontWeight400">% of Supply Index</th>
                      <th class="fontWeight400">What It Means</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="fontWeight400">Top 10%</td>
                      <td>559</td>
                      <td>46.3%</td>
                      <td>High-volume QPs managing the most complete listings</td>
                    </tr>
                    <tr>
                      <td class="fontWeight400">Next 20%</td>
                      <td>1,117</td>
                      <td>31.7%</td>
                      <td>Mid-tier QPs, active but less comprehensive</td>

                    </tr>
                    <tr>
                      <td class="fontWeight400">Remaining 70%</td>
                      <td>3,913</td>
                      <td>21.9%</td>
                      <td>Smaller catalogs or lower platform engagement</td>

                    </tr>

                  </tbody>
                </table>
                <div class="spacingMedium"></div>

                <h5>The top 10% of QPs manage nearly half of all listed gear, but the legacy flow required 4–5+ clicks per edit, with no filters or unified view. <span class="fontWeight400">Inefficient tools led these high-volume providers to abandon updates during peak seasons</span>.
                </h5>


                <div class="spacingMedium"></div>
                <h5 class="leftVerLine2025 textItalic">“I just don’t update my listings during peak season — it takes too long to find and edit everything.”</h5>
                <div class="spacingMedium"></div>
                <div class="paddingS WhiteBg borderRadiusS">


                  <h5>🔑 <span class="fontWeight500">Implication:</span> Power QPs drive platform supply. Without efficient, scalable tools, the platform risks losing its most valuable contributors.</h5>

                </div>
              </div>
            </div>
          </div>
        </div>





      </section>




      <div class="blankHM"></div>
      <section id="content3">
        <div class="wrapper">
          <div class="Grid Grid--full Grid--gutter">
            <div class="Grid-cell">
              <div class="element">
                <div class="blankHXXS"></div>
                <h3><span class=" fontWeight700">Before/After </span></h3>

              </div>
            </div>
          </div>
          <div class="Grid Grid--gutters Grid--cols-2">
            <div class="Grid-cell">
              <img class="modal-target crop_mockup" src="../flow_im_before.png" alt="">

              <h4 class="fontWeight400">Before</h4>
              <h5 class="fontWeight400">Hard to scan inventory</h5>
              <h5>No single overview; items scattered across views</h5>
              <h5 class="fontWeight400">4–5 clicks per edit</h5>
              <h5>Each item update required multiple steps</h5>
              <h5 class="fontWeight400">Unlisted tab hidden</h5>
              <h5>New gear categories rarely discovered</h5>





            </div>
            <div class="Grid-cell">
              <div class="element">
                <img class="modal-target crop_mockup" src="../flow_im_after.png" alt="">

                <h5 class="fontWeight400">After</h5>
                <h5 class="fontWeight400">Support both low- and high-supply QPs</h5>
                <h5>-</h5>
                <h5 class="fontWeight400">Flatten inventory structure, unify item states, and reduce task time</h5>
                <h5>-</h5>
                <h5 class="fontWeight400">Make it easy to scan, reorder, hide/unhide, feature, or set primary items</h5>
                <h5>-</h5>
                <h5 class="fontWeight400">Build a future-ready system with extensible filter logic</h5>
                <h5>-</h5>

              </div>

            </div>
          </div>
        </div>
        <div class="spacingMedium"></div>

      </section>
      <section id="content4">
        <div class="wrapper">
          <div class="Grid Grid--full Grid--gutter">
            <div class="Grid-cell">
              <div class="element">
                <div class="blankHXXS"></div>
                <h3><span class=" fontWeight700">Key Changes </span></h3>
                <ul class="listCircle">
                  <li><span class="fontWeight400">1 unified view</span> replaces 4–5 separate screens</li>
                  <li><span class="fontWeight400">Persistent filters:</span> category, subcategory, product type
                    (easy to nav without canfusion)</li>
                  <li><span class="fontWeight400">Inline editing(add and enhancement):</span> drag/make primary
                    item, reorder, hide/unhide, set featured items/remove featured items</li>
                  <li><span class="fontWeight400">Clear visibility:</span> unlisted items, package context, item
                    status</li>
                  <li><span class="fontWeight400">Future extensibility:</span>
                    <ul class="listCircle">
                      <li>easy to rearrange all item(no category/structure) for future consumer facing landing
                        all gear view</li>
                      <li>filtering logic supports packages, featured items eventrually will be a sub filter ,
                        for biz GoQuip, PartyQuip expansion </li>

                    </ul>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="wrapper">
          <div class="TBcarousel Grid--center Grid Grid--full Grid--gutters u-textCenter" aria-label="TBcarousel" tabindex="0" id="TBcarousel1">
            <div class="TBslides">
              <div class="TBslidesItem slide-1" id="slide-1" aria-label="slide 1 of 4" tabindex="0">
                <div class="crop_mockup">
                  <img src="after_one_unified_view.gif" alt="1 unified view">
                </div>
              </div>
              <div class="TBslidesItem slide-2" id="slide-2" aria-label="slide 2 of 4" tabindex="0">
                <div class="crop_mockup">
                  <img src="after_persistent_filters.gif" alt="Persistent filters">
                </div>
              </div>
              <div class="TBslidesItem slide-3" id="slide-3" aria-label="slide 3 of 4" tabindex="0">
                <div class="crop_mockup">
                  <img src="after_inline_editing.gif" alt="Inline editing">
                </div>
              </div>
            </div>
            <div class="blankHXXS"></div>

            <div class="TBcarouselNav Grid-cell flipBtn">
              <a class="TBsliderNav" aria-label="Go to slide 1" tabindex="0">
                <div>1 unified view</div>
              </a>
              <a class="TBsliderNav active" aria-label="Go to slide 2" tabindex="0">
                <div>Persistent filters</div>
              </a>
              <a class="TBsliderNav" aria-label="Go to slide 3" tabindex="0">
                <div>Inline editing</div>
              </a>
            </div>
            <div class="blankHXXS"></div>
          </div>
        </div>


      </section>
      <section id="content5">
        <div class="wrapper">
          <div class="Grid Grid--full Grid--gutter">
            <div class="Grid-cell">
              <div class="element">
                <div class="blankHXXS"></div>
                <h3><span class=" fontWeight700">Results </span></h3>
                <ul class="listCircle">
                  <li>3× faster edits for high-supply QPs</li>
                  <li>50–75% time saved in QA and internal testing</li>
                  <li>Increased visibility = better completeness → more reservations</li>
                  <li>Foundation reused for Superlisting, with potential SuperAdmin use</li>
                  <li>Responsive layout in progress for mobile support</li>
                  <li>Reduced internal support load for inventory management</li>
                </ul>

              </div>
              <div class="element">
                <h5 class="leftVerLine2025 textItalic">“What once took 7 screens and 3 reloads now takes 30
                  seconds on a single page.”</h5>


              </div>
            </div>
          </div>
        </div>

      </section>

    </div>
  </main>
  </div>
  <!-- Case study ends -->

  <div class="blankHM"></div>

  <div class="blankHS"></div>





  <div class="blankHS"></div>




  <!-- Shared across the platform -->




  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Skills & Experiences' }) %>
  <%- include(`${templatePath}/shared/comp_tagCloud`) %>
  <%- include(`${templatePath}/shared/comp_closingMessage`, { version: '' , message:''}) %>
  <%- include(`${templatePath}/shared/block_modal`) %>


  <%- include(`${templatePath}/shared/comp_backTop`) %>

  <%- include(`${templatePath}/shared/block_nav_footer`, { iconHoverColor: 'hoverGrey300' ,
                    footerBackgroundColor:'colorBgWhieTrans' }) %>

  <!-- Shared across the platform -->

</body>

</html>