<!DOCTYPE html>
<html lang="en" class="colorBgVW pattern1">

<!--Head-->
<%- include(`${templatePath}/shared/head`, { SEO:false, Title:`Optimizing Pet Service Bookings by Vicky Wang`,
  description:'Enhancing the Consumer Booking Experience', pageURL:'byp_b2c_booking/',
  thumbnailImgURL: 'vickywang_web.png' }) %>
<!--Head-->

<body class="">

  <%- include(`${templatePath}/shared/comp_progressBar`) %>

  <%- include(`${templatePath}/shared/block_nav_header_back`, { 
        PageUrl:`${websitePath}/`,
        headerBackgroundColor:`colorWhie`,
        arrTxtColor:``,

        }) %>


  <div class="ProjectBanner colorBgWhie pattern2">

    <img class="displayLaptop" src="MockupL.png" alt="Mockup">
    <img class="displayTablet" src="MockupM.png" alt="Mockup">
    <img class="displayPhone" src="MockupS.png" alt="Mockup">


    <div class="ProjectBannerInner2025">
      <div class="wrapperM">
        <img class="widthXXS" src="../../logos/bq.svg" alt="Logo">
        <h1 class="fontWeight700">Scaling Inventory Management for Growth</h1>
        <h4 class="fontWeight300">From deep-click navigation to filter-based control</h4>

        <div class="Grid Grid--gutters Grid--cols-3">
          <div class="Grid-cell">
            <div class="element">
              <h6> <span class="colorBgYellowVW100 borderRadiusS chipBorderPadding"> Role:</span> </h6>
              <h6 class="fontWeight500">Lead UX</h6>

            </div>
          </div>
          <div class="Grid-cell">
            <div class="element">
              <h6> <span class="colorBgYellowVW100 borderRadiusS chipBorderPadding"> Scope:</span> </h6>
              <h6 class="fontWeight500">Gear listing &amp; storefront control</h6>

            </div>
          </div>
          <div class="Grid-cell">
            <div class="element">
              <h6> <span class="colorBgYellowVW100 borderRadiusS chipBorderPadding"> Stakeholder: </span></h6>
              <h6><a class="textUnderline fontWeight500" href="https://www.linkedin.com/in/jemaier">Joe Maier</a>, <a class="textUnderline fontWeight500" href="https://www.linkedin.com/in/kimconnolly1">Kim Connolly</a></h6>
            </div>
          </div>
        </div>
      </div>




    </div>

  </div>



  <!-- timeline -->


  <div class="GreyBg100">
    <div class="blankHXS"></div>

    <div class="wrapper">
      <div class="Grid Grid--full Grid--gutter">
        <div class="Grid-cell">
          <div class="element">
            <div class="blankHXXS"></div>
            <h3><span class=" fontWeight700">Before vs. After </span></h3>
            <h4><span class=" fontWeight300 textItalic">x</span></h4>

          </div>
        </div>
      </div>
    </div>

    <div class="blankHTiny"></div>


    <div class="blankHXS"></div>



    <div class="blankHXS"></div>


  </div>
  <!-- Case study starts -->
  <main>
    <nav class="new_side_bar flipBtn">
      <ul>

        <li><a href="#content1">
            Problem
          </a></li>

        <li><a href="#content2">
            Insight
          </a></li>

        <li><a href="#content3">
            Design
          </a></li>

        <li><a href="#content4">
            Key Changes
          </a></li>
        <li><a href="#content5">
            Results
          </a></li>
      </ul>
    </nav>
    <div>
      <div class="blankHXS"></div>
      <section id="content1">
        <div class="wrapper">
          <div class="Grid Grid--full Grid--gutter">
            <div class="Grid-cell">
              <div class="element">
                <div class="blankHXXS"></div>
                <h3><span class=" fontWeight700">Problem </span></h3>
                <h5><span class="fontWeight400">BabyQuip’s original inventory tools were designed for small QPs with limited listings. As high-volume QPs emerged, the system failed to scale:</span></h5>
                <ul class="listCircle">
                  <li>4–5 clicks just to edit a single gear item</li>
                  <li>Unlisted, featured, or primary items were buried and hard to manage</li>
                  <li>Navigation was linear and fragmented across multiple pages</li>
                  <li>No persistent filters; long lists broke layout and usability</li>
                </ul>
                <div class="paddingS GreyBg100 borderRadiusS">
                  <h5><span class="fontWeight300">✏️ The initial ask was to add a tab for “Unlisted Gear.” I proposed a structural redesign instead.</span></h5>
                </div>

              </div>
            </div>
          </div>
        </div>


      </section>
      <div class="blankHM"></div>

      <section id="content2">
        <div class="wrapper">
          <div class="Grid Grid--full Grid--gutter">
            <div class="Grid-cell">
              <div class="element">
                <div class="blankHXXS"></div>
                <h3><span class=" fontWeight700">Insight </span></h3>
                <h5><span class="fontWeight400">Platform-wide data revealed broader issues:</span></h5>
                <ul class="listCircle">
                  <li>Total QPs: 5,295</li>
                  <li>Active QPs: 2,470 → under 50% active engagement</li>
                  <li>Most QPs list fewer than 3 categories → narrow usage patterns</li>
                  <li>46% list under 10% of available gear → platform underutilized</li>
                  <li>Power QPs abandoned updates during peak season due to time cost</li>
                </ul>
                <div class="paddingS GreyBg100 borderRadiusS">
                  <h5><span class="fontWeight300">💡 Our tools were optimized for small catalogs — but power users manage most of the inventory.</span></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wrapper">
          <div class="Grid Grid--gutters Grid--cols-2">
            <div class="Grid-cell">
              <div class="element">
                <h5 class="fontWeight400">Too Time-Consuming to Maintain </h5>
                <h5>During peak seasons, top QPs abandoned updates — not because they didn’t care, but because the tools cost too much time.</h5>
              </div>
              <div class="element">
                <h5 class="leftVerLine2025 textItalic">“I just don’t update my listings during peak season — it takes too long to find and edit everything.”</h5>
              </div>
            </div>
            <div class="Grid-cell">
              <div class="element">
                <h5 class="fontWeight400">Navigation Breaks for Multi-Category Gear </h5>
                <h5>For QPs managing diverse gear, the system’s breadcrumb flow became a maze. Category discovery and task continuity broke down, especially for uncommon items or multi-category updates.</h5>
              </div>
              <div class="element">
                <h5 class="leftVerLine2025 textItalic">“It’s easy if I’m just listing strollers. But when I try to add one crib, one fan, and a few bath toys — I get lost. I don’t even know where to find some categories, and every time I switch, I have to start over.”</h5>
              </div>
            </div>
          </div>
        </div>
      </section>




      <div class="blankHM"></div>
      <section id="content3">
        <div class="wrapper">
          <div class="Grid Grid--full Grid--gutter">
            <div class="Grid-cell">
              <div class="element">
                <div class="blankHXXS"></div>
                <h3><span class=" fontWeight700">Design Goals </span></h3>
                <ul class="listCircle">
                  <li>Support both low- and high-supply QPs</li>
                  <li>Flatten inventory structure, unify item states, and reduce task time</li>
                  <li>Make it easy to scan, reorder, hide/unhide, feature, or set primary items</li>
                  <li>Build a future-ready system with extensible filter logic</li>
                </ul>

              </div>
            </div>
          </div>
        </div>


      </section>
      <section id="content4">
        <div class="wrapper">
          <div class="Grid Grid--full Grid--gutter">
            <div class="Grid-cell">
              <div class="element">
                <div class="blankHXXS"></div>
                <h3><span class=" fontWeight700">Key Changes </span></h3>
                <ul class="listCircle">
                  <li><span class="fontWeight400">1 unified view</span> replaces 4–5 separate screens</li>
                  <li><span class="fontWeight400">Persistent filters:</span> category, subcategory, product type (easy to nav without canfusion)</li>
                  <li><span class="fontWeight400">Inline editing(add and enhancement):</span> drag/make primary item, reorder, hide/unhide, set featured items/remove featured items</li>
                  <li><span class="fontWeight400">Clear visibility:</span> unlisted items, package context, item status</li>
                  <li><span class="fontWeight400">Future extensibility:</span>
                    <ul class="listCircle">
                      <li>easy to rearrange all item(no category/structure) for future consumer facing landing all gear view</li>
                      <li>filtering logic supports packages, featured items eventrually will be a sub filter , for biz GoQuip, PartyQuip expansion </li>

                    </ul>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>


      </section>
      <section id="content5">
        <div class="wrapper">
          <div class="Grid Grid--full Grid--gutter">
            <div class="Grid-cell">
              <div class="element">
                <div class="blankHXXS"></div>
                <h3><span class=" fontWeight700">Results </span></h3>
                <ul class="listCircle">
                  <li>3× faster edits for high-supply QPs</li>
                  <li>50–75% time saved in QA and internal testing</li>
                  <li>Increased visibility = better completeness → more reservations</li>
                  <li>Foundation reused for Superlisting, with potential SuperAdmin use</li>
                  <li>Responsive layout in progress for mobile support</li>
                  <li>Reduced internal support load for inventory management</li>
                </ul>

              </div>
              <div class="element">
                <h5 class="leftVerLine2025 textItalic">“What once took 7 screens and 3 reloads now takes 30 seconds on a single page.”</h5>


              </div>
            </div>
          </div>
        </div>

      </section>

    </div>
  </main>

  <!-- Case study ends -->

  <div class="blankHM"></div>

  <div class="blankHS"></div>





  <div class="blankHS"></div>




  <!-- Shared across the platform -->




  <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Skills & Experiences' }) %>
  <%- include(`${templatePath}/shared/comp_tagCloud`) %>
  <%- include(`${templatePath}/shared/comp_closingMessage`, { version: '' , message:''}) %>
  <%- include(`${templatePath}/shared/block_modal`) %>


  <%- include(`${templatePath}/shared/comp_backTop`) %>

  <%- include(`${templatePath}/shared/block_nav_footer`, { 
    iconHoverColor: 'hoverGrey300',
    footerBackgroundColor:'colorBgWhieTrans'
  }) %>

  <!-- Shared across the platform -->

</body>

</html>