<div class="Grid-cell">
  <div class="element">
    <a class="no-hover-effect">
      <div class="cardBottomBorder <%= hoverBorderColor %> float cardBorder borderRadiusS shadowBoxLt">
        <div class="img__wrap">
          <img class="img__img" alt="Work Samples" src="<%= cardPwImgURL %>" />
          <div class="img__description">
            <div class="input-field">
              <div class="column">
                <label for="<%= cardPwID %>">
                  <h5>Password</h5>
                </label>

                <div class="pwContainer">
                  <input class="<%= inputColor %> psJS" type="password" id="<%= cardPwID %>" placeholder="Enter password">
                  <button class="passwordArr" type="submit">
                    <img src="<%= websitePath %>/icon/arrow-forward.svg" alt="Enter">
                  </button>
                </div>
                <div class="pwIncorrectHeight">
                  <span id="pwIncorrect">Password is incorrect </span>
                </div>
              </div>
            </div>
          </div>
          <div class="element">
            <div class="element">
              <h5>Password is required</h5>
              <h3 class="arrCard" data-aos="fade-up"><strong><%= cardPwTitle %>
                </strong></h3>
              <h4><%= cardPwDescription %>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>