<div class="Grid-cell shadowBoxLt float cardBorder borderRadiusS cardBottomBorder <%= hoverBorderColor %> paddingNone marginXS">
  <img src="<%= cardNoPwImgURL%>" alt="<%= cardNoPwTitle %>">

  <div class="element">
    <a class="no-hover-effect" href="<%= cardNoPwURL%>">
      <h3 class="arrCard" data-aos="fade-up"><strong><%= cardNoPwTitle %></strong></h3>
      <h4><%= cardNoPwDescription %>
      </h4>
    </a>
  </div>
</div>