<div class="Grid-cell">
    <div class="element">
      <a class="no-hover-effect">
        <div class="cardBottomBorder BYP float cardBorder borderRadiusS shadowBoxLt">
          <div class="img__wrap">
            <img class="img__img" alt="Work Samples" src="<%= websitePath %><%- imgUrl %>" />
            <div class="img__description">
              <div class="input-field">
                <div class="column">
                  <label for="password">
                    <h5>Password</h5>
                  </label>
                  <input class="PWinput psJS" type="password" id="onboardingSubscription" placeholder="Enter password">
  
                  <div class="pwIncorrectHeight">
                    <span id="pwIncorrect">Password is incorrect </span>
                  </div>
                </div>
                <button class="passwordArr" type="submit">
                  <img src="<%= websitePath %>/icon/arrow-forward.svg" alt="Enter">
                </button>
              </div>
            </div>
            <div class="element">
              <div class="element">
                <h5>Password is required </h5>
                <h3 class="arrCard" data-aos="fade-up"><strong><%= cardTitle %>
                  </strong></h3>
                <h4>  <%= cardDescription %>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>