<% if (typeof bgColor === 'undefined') { 
  bgColor = ''; 
} 
%>

<% if (typeof SlideDeckUrl === 'undefined') { 
  SlideDeckUrl = ''; 
} 
%>
  <div class="<%= bannerBgColor %>">
    <div class="blankPhone"></div>
    <div class="blankHS"></div>
    <div class="ProjectBanner displayLaptop">
      <div class="blankMin1880"></div>
      <img src="<%- bannerMockupL %>" alt="APPOINTA">
      <div class="ProjectBannerInner">
        <a href="<%= SlideDeckUrl %>" target="_blank"> <button class="button-35 <%= bannerButtonColor %>">Slide Decks</button></a>
      </div>
    </div>
    <div class="ProjectBanner displayTablet">
      <div class="blankMin1880"></div>
      <img class="displayTablet" src="<%- bannerMockupM %>" alt="APPOINTA">
      <div class="ProjectBannerInner">
        <a href="<%= SlideDeckUrl %>" target="_blank"> <button class="button-35  <%= bannerButtonColor %>">Slide Decks</button></a>
        <div class="blankHXS"></div>
      </div>
    </div>
    <div class="ProjectBanner displayPhone">
      <div class="blankMin1880"></div>
      <img class="displayPhone" src="<%- bannerMockupS %>" alt="APPOINTA">
      <div class="ProjectBannerInner">
        <a href="<%= SlideDeckUrl %>" target="_blank"> <button class="button-35  <%= bannerButtonColor %>">Slide Decks</button></a>
        <div class="blankHXS"></div>
      </div>
    </div>
  </div>