<% if (card==='BYPb2bOnboarding' ) { %>
<div class="Grid-cell">
  <div class="element">
    <a class="no-hover-effect">
      <div class="elementCard BYP float cardBorder borderRadiusS shadowBoxLt">
        <div class="img__wrap">
          <img class="img__img" alt="Work Samples" src="<%= websitePath %>/projectImages/Cover_BYP_AppB2B.png" />
          <div class="img__description">
            <div class="input-field">
              <div class="column">
                <label for="password">
                  <h5>Password</h5>
                </label>
                <input class="PWinput psJS" type="password" id="onboardingSubscription" placeholder="Enter password">

                <div class="pwIncorrectHeight">
                  <span id="pwIncorrect">Password is incorrect </span>
                </div>
              </div>
              <button class="passwordArr" type="submit">
                <img src="<%= websitePath %>/icon/arrow-forward.svg" alt="Enter">
              </button>
            </div>
          </div>
          <div class="element">
            <div class="element">
              <h5>Password is required </h5>
              <h3 class="arrCard" data-aos="fade-up"><strong>Streamlined Onboarding & Engagement: Mastering B2B SaaS Subscription Success
                </strong></h3>
              <h4>enhancing the onboarding and subscription experience for B2B clients in the SaaS domain. Our focus was on demystifying and refining these critical processes to ensure a seamless and engaging transition for new users. 
              </h4>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
<% } else if (card==='BYPb2bOnboarding_NOPW' ) { %>
<div class="Grid-cell">
  <div class="element">
    <a class="no-hover-effect" href="<%= websitePath %>/worksamples/BYP_LH_wsbeebr/BYPb2bOrboardingSubscription/">

      <div class="elementCard BYP float cardBorder borderRadiusS shadowBoxLt">
        <img src="<%= websitePath %>/projectImages/Cover_BYP_AppB2B.png" alt="BYP B2B">
        <div class="element">
          <div class="element">
            <h3 class="arrCard" data-aos="fade-up"><strong>B2B SaaS | Onboarding & Subscription</strong></h3>
            <h4>Increase the business onboarding understand BYP & improve the subscription rate</h4>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
<% } else if (card==='BYPb2cConsumerBooking' ) { %>
<div class="Grid-cell">
  <div class="element">
    <a class="no-hover-effect">
      <div class="elementCard BYP float cardBorder borderRadiusS shadowBoxLt">
        <div class="img__wrap">
          <img class="img__img" alt="Work Samples" src="<%= websitePath %>/projectImages/Cover_BYP_B2C.png" />
          <div class="img__description">
            <div class="input-field">
              <div class="column">
                <label for="password">
                  <h5>Password</h5>
                </label>
                <input class="PWinput psJS" type="password" id="consumerBooking" placeholder="Enter password">

                <div class="pwIncorrectHeight">
                  <span id="pwIncorrect">Password is incorrect </span>
                </div>
              </div>
              <button class="passwordArr" type="submit">
                <img src="<%= websitePath %>/icon/arrow-forward.svg" alt="Enter">
                <!--  <i class="fas fa-chevron-right"></i> -->
              </button>
            </div>
          </div>
          <div class="element">
            <div class="element">
              <h5>Password is required </h5>
              <h3 class="arrCard" data-aos="fade-up"><strong>Consumer Booking Experience: A Journey to Enhanced Engagement and Conversion </strong></h3>
              <h4>Improving the consumer booking flow within a dynamic service platform. Our mission was to identify and alleviate pain points in the existing booking process, with a goal to substantially elevate user engagement and increase conversion rates. </h4>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
<% } else if (card==='BYPb2cConsumerBooking_NOPW' ) { %>
<div class="Grid-cell">
  <div class="element">
    <a class="no-hover-effect" href="<%= websitePath %>/worksamples/BYP_LH_wsbeebr/BYPb2cBooking/">
      <div class="elementCard BYP float cardBorder borderRadiusS shadowBoxLt">
        <img src="<%= websitePath %>/projectImages/Cover_BYP_B2C.png" alt="BYP B2B">
        <div class="element">
          <div class="element">
            <h3 class="arrCard" data-aos="fade-up"><strong>Enhancing the Consumer Booking
                Flow</strong></h3>
            <h4>Increase consumer conversion rates by reducing booking abandonment</h4>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<% } else if (card==='LHadminPanel' ) { %>

<div class="Grid-cell">
  <div class="element">
    <a class="no-hover-effect">
      <div class="elementCard LASO float cardBorder borderRadiusS shadowBoxLt">
        <div class="img__wrap">
          <img class="img__img" alt="Work Samples" src="<%= websitePath %>/projectImages/Cover_LASO_AdminPanel.png" />
          <div class="img__description">
            <div class="input-field">
              <div class="column">
                <label for="password">
                  <h5>Password</h5>
                </label>
                <input class="PWinputLH psJS" type="password" id="adminPanel" placeholder="Enter password">

                <div class="pwIncorrectHeight">
                  <span id="pwIncorrect">Password is incorrect </span>
                </div>
              </div>
              <button class="passwordArr" type="submit">
                <img src="<%= websitePath %>/icon/arrow-forward.svg" alt="Enter">
                <!--  <i class="fas fa-chevron-right"></i> -->
              </button>
            </div>
          </div>
          <div class="element">
            <div class="element">
              <h5>Password is required </h5>
              <h3 class="arrCard" data-aos="fade-up"><strong>LASO Admin Panel: From Concept to Reality - Simplified User Management</strong></h3>
              <h4>The core focus of this panel was to efficiently manage a diverse range of user accounts, including B2B, D2C, and guest users. A unique aspect of this project was accommodating users from B2B with company sponsorship, adding another layer of complexity to the design process.</h4>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<% } else if (card==='LHadminPanel_NOPW' ) { %>
<div class="Grid-cell">
  <div class="element">
    <a class="no-hover-effect" href="<%= websitePath %>/worksamples/BYP_LH_wsbeebr/LSAdminPanel/">
      <div class="elementCard LASO float cardBorder borderRadiusS shadowBoxLt">
        <img src="<%= websitePath %>/projectImages/Cover_LASO_AdminPanel.png" alt="LH Super Admin">
        <div class="element">
          <div class="element">
            <h3 class="arrCard" data-aos="fade-up"><strong>Admin Panel 0 - 1</strong></h3>
            <h4>Focus on diffetent type of user management</h4>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<% } else if (card==='rxZero' ) { %>
<div class="Grid-cell">
  <div class="element">
    <a class="no-hover-effect">
      <div class="elementCard LASO float cardBorder borderRadiusS shadowBoxLt">
        <div class="img__wrap">
          <img class="img__img" alt="Work Samples" src="<%= websitePath %>/projectImages/Cover_LASO_RXZero.png" />
          <div class="img__description">
            <div class="input-field">
              <div class="column">
                <label for="password">
                  <h5>Password</h5>
                </label>
                <input class="PWinputLH psJS" type="password" id="rxZero" placeholder="Enter password">

                <div class="pwIncorrectHeight">
                  <span id="pwIncorrect">Password is incorrect </span>
                </div>
              </div>
              <button class="passwordArr" type="submit">
                <img src="<%= websitePath %>/icon/arrow-forward.svg" alt="Enter">
                <!--  <i class="fas fa-chevron-right"></i> -->
              </button>
            </div>
          </div>
          <div class="element">
            <div class="element">
              <h5>Password is required </h5>
              <h3 class="arrCard" data-aos="fade-up"><strong>Shifting Focus: The Evolution of LASO to RX Zero</strong></h3>
              <h4>This case study delves into LASO Health's strategic pivot towards the RX Zero model, moving away from RX Local and Telemedicine services. It highlights the key objectives of RX Zero, centering on credibility and affordability. The study showcases the streamlined onboarding and subscription process, along with a simplified ordering system.</h4>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
<% } else if (card==='rxZero_NOPW' ) { %>
<div class="Grid-cell">
  <div class="element">
    <a class="no-hover-effect" href="<%= websitePath %>/worksamples/BYP_LH_wsbeebr/LSRefiningRXZero/">
      <div class="elementCard LASO float cardBorder borderRadiusS shadowBoxLt">
        <img src="<%= websitePath %>/projectImages/Cover_LASO_RXZero.png" alt="RX Zero">
        <div class="element">
          <div class="element">
            <h3 class="arrCard" data-aos="fade-up"><strong>RX Zero | Business Shift</strong></h3>
            <h4>Focus on business shift overall idea</h4>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
<% } else if (card==='LHcostCal' ) { %>
<div class="Grid-cell">
  <div class="element">
    <a class="no-hover-effect">
      <div class="elementCard LASO float cardBorder borderRadiusS shadowBoxLt">
        <div class="img__wrap">
          <img class="img__img" alt="Work Samples" src="<%= websitePath %>/projectImages/Cover_LASO_CostCalculator.png" />
          <div class="img__description">
            <div class="input-field">
              <div class="column">
                <label for="password">
                  <h5>Password</h5>
                </label>
                <input class="PWinputLH psJS" type="password" id="costCalculator" placeholder="Enter password">

                <div class="pwIncorrectHeight">
                  <span id="pwIncorrect">Password is incorrect </span>
                </div>
              </div>
              <button class="passwordArr" type="submit">
                <img src="<%= websitePath %>/icon/arrow-forward.svg" alt="Enter">
                <!--  <i class="fas fa-chevron-right"></i> -->
              </button>
            </div>
          </div>
          <div class="element">
            <div class="element">
              <h5>Password is required </h5>
              <h3 class="arrCard" data-aos="fade-up"><strong>RX Zero Savings Explorer - Cost-benefit Calculator</strong></h3>
              <h4>This tool enables users to compare their current medication costs with the RX Zero subscription model, offering a seamless experience that simplifies making healthcare financial decisions.</h4>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
<% } else if (card==='LHcostCal_NOPW' ) { %>
<div class="Grid-cell">
  <div class="element">
    <a class="no-hover-effect" href="<%= websitePath %>/worksamples/BYP_LH_wsbeebr/LSCost-benefitCalculator/">
      <div class="elementCard LASO float cardBorder borderRadiusS shadowBoxLt">
        <img src="<%= websitePath %>/projectImages/Cover_LASO_CostCalculator.png" alt="RX Zero">
        <div class="element">
          <div class="element">
            <h3 class="arrCard" data-aos="fade-up"><strong>Cost-benefit Calculator</strong></h3>
            <h4>Focus on user understand RX Zero business model, improve subscription rate</h4>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
<% } else if (card==='glorify' ) { %>

<div class="Grid-cell">
  <div class="element">
    <a class="no-hover-effect" href="<%= websitePath %>/glorify/">
      <div class="elementCard GLORIFY float cardBorder borderRadiusS shadowBoxLt">
        <img src="<%= websitePath %>/projectImages/Cover_Glorify.png" alt="GLORIFY">
        <div class="element">
          <div class="element">
            <h3 class="arrCard" data-aos="fade-up"><strong>Glorify: Transforming Solitary Devotion into Community Engagement</strong></h3>
            <h4> This case study explores the evolution of the Glorify app, a mobile platform dedicated to enhancing individual spiritual journeys, into a vibrant community hub for collective faith building.</h4>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>



<% } else if (card==='appointa' ) { %>

<div class="Grid-cell">
  <div class="element">
    <a class="no-hover-effect" href="<%= websitePath %>/appointa/">
      <div class="">
        <div class="elementCard float cardBorder borderRadiusS APPOINTA shadowBoxLt">
          <img src="<%= websitePath %>/projectImages/Cover_APPOINTA.png" alt="APPOINTA">
          <div class="element">
            <div class="element">
              <h3 class="arrCard" data-aos="fade-up"><strong>APPOINTA: Interview Scheduling Made
                  Simple</strong></h3>
              <h4>Explore my UX case study aimed at revamping interview scheduling. This project
                streamlines the recruiter's tasks, speeds up hiring, and enhances scheduling
                experiences, reducing interview coordination time and boosting recruitment efficiency.
              </h4>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<% } else if (card==='seer' ) { %>

<div class="Grid-cell">
  <div class="element">
    <a class="no-hover-effect" href="<%= websitePath %>/seer/">
      <div class="elementCard float cardBorder borderRadiusS SEER shadowBoxLt">
        <img src="<%= websitePath %>/projectImages/Cover_SEER.png" alt="SEER">
        <div class="element">
          <div class="element">
            <h3 class="arrCard" data-aos="fade-up"><strong>SEER: Enhancing Brand Impact on
                Reddit</strong></h3>
            <!--Analysis Report-->
            <h4>A conceptual UX case study aimed at transforming Reddit data into actionable
              insights for brand marketers. This design explores the potential of intuitive
              analytics to understand user sentiment and engagement, offering a glimpse into the
              future of targeted marketing strategies.
            </h4>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
<% } else if (card==='designSystem' ) { %>
<div class="Grid-cell">
  <div class="element">
    <a class="no-hover-effect" href="<%= websitePath %>/design_system/">
      <div class="">
        <div class="elementCard float cardBorder borderRadiusS shadowBoxLt">
          <img src="<%= websitePath %>/projectImages/vicky_website.svg" alt="vickywang.me">
          <div class="element">
            <div class="element">
              <h5>For website vickywang.me </h5>
              <h3 class="arrCard" data-aos="fade-up"><strong>DESIGN SYSTEM</strong></h3>
              <h4>Creating a design system to establish consistent branding and styling across the
                entire
                website
              </h4>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
<% } else if (card==='navigation' ) { %>

<div class="Grid-cell">
  <div class="element">
    <a class="no-hover-effect" href="<%= websitePath %>/navigation/">
      <div class="">
        <div class="elementCard float cardBorder borderRadiusS shadowBoxLt">
          <img src="<%= websitePath %>/projectImages/vicky_website.svg" alt="vickywang.me">
          <div class="element">
            <div class="element">
              <h5>For website case study &#64; vickywang.me </h5>
              <h3 class="arrCard" data-aos="fade-up"><strong>NAVIGATION DESIGN</strong></h3>
              <h4>Developing a more structured and logical navigation system for displaying case
                studies
              </h4>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
<% } %>