<div class="Grid-cell shadowBoxLt float cardBorder borderRadiusS cardBottomBorder <%= hoverBorderColor %> paddingNone marginXS">
  <a class="no-hover-effect" href="<%= cardNoPwURL%>">
    <img src="<%= cardNoPwImgURL%>" alt="<%= cardNoPwTitle %>">
    <div class="element">
      <h3 class="arrCard" data-aos="fade-up"><strong><%= cardNoPwTitle %></strong></h3>
      <h4><%= cardNoPwDescription %>
      </h4>
    </div>
  </a>
</div>