<% if (typeof headerBackgroundColor==='undefined' ) { headerBackgroundColor='' ; } %>

<header>
  <nav class="header <%= headerBackgroundColor %>" id="header">
    <div class="headerContainer">
      <a href="/">
        <div class="logo-container">
          <!-- LOGO_0.svg -->
          <img src="/icon/LOGO_0.svg" alt="VW Studio Logo V0" class=" logo logo-0">
          <!-- LOGO_1.svg -->
          <img src="/icon/LOGO_1.svg" alt="VW Studio Logo V1" class=" logo logo-1">
        </div>
      </a>

      <div class="navbar">
        <ol class="nav-menu <%= headerBackgroundColor %>">
          <li class="nav-item active activeNav box">
            <a href="<%- sectionURL1 %>" class="nav-link">PROJECTS</a>
          </li>
          <li class="nav-item active activeNav box">
            <a href="<%- sectionURL2 %>" class="nav-link ">EXPERIMENTS</a>
          </li>
          <li class="nav-item active activeNav box">
            <a href="<%- sectionURL3 %>" class="nav-link ">DESIGN SYSTEM</a>
          </li>
          <li class="nav-item active activeNav box">
            <a href="<%- sectionURL4 %>" class="nav-link ">ABOUT</a>
          </li>
        </ol>
      </div>
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </div>
  </nav>
</header>