
<% if (typeof arrTxtColor === 'undefined') { 
  arrTxtColor = ''; 
} 
%>


<% if (typeof backText === 'undefined') { 
  backText = ''; 
} 
%>

<% if (typeof headerBackgroundColor === 'undefined') { 
  headerBackgroundColor = ''; 
} 
%>



<!-- header -->


<% const baseClasses = 'nav-item marginZero' %>
<% const activeClasses = 'active activeNav' %>
<% const inactiveClasses = 'inactive' %>
<% const pages = ['PROJECT', 'ABOUT'] %>
<% function capitalizeFirstLetter(word) {
    return word.charAt(0).toUpperCase() + word.slice(1);
  } %>

<% if (type === 'main') { %>

<header>
  <nav class="header <%= headerBackgroundColor %>" id="header">
    <div class="headerContainer">
      <a href="/"><img class="logo pointer" src="<%= websitePath %>/icon/LOGO.svg" alt="VW" title="vickywang.me"></a>
      <div class="navbar">
        <ul class="nav-menu">
          <% for(let i = 0; i < pages.length; i++) { %>
          <li class="<%- `${baseClasses} ${(currentPage === pages[i] ? activeClasses : inactiveClasses)}` %>">
            <% const url = '/' + (pages[i] === 'PROJECT' ? '' : pages[i].toLowerCase()) %>
            <a href="<%- url %>" class="nav-link_archived box"><%- pages[i] %></a>
          </li>
          <% } %>
        </ul>
      </div>
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </div>
  </nav>

</header>


<% } else if (type === 'back') { %>
<header>
  <nav class="header <%= headerBackgroundColor %>" id="header">
    <div class="headerContainer">
      <a href="<%- PageUrl %>" class="marginS centerVer pointer Grid--center"> 
        <div class="arrow-container moveBackArrow">
          <div class="left-arrow <%= arrTxtColor %>"></div>
       </div>
       <h4 class="backText">BACK</h4>
      </a>
      <div class="navbar">
        <ul class="nav-menu">
          <% for(let i = 0; i < pages.length; i++) { %>
          <li class="<%- `${baseClasses} ${(currentPage === pages[i] ? activeClasses : inactiveClasses)}` %>">
            <% const url = '/' + (pages[i] === 'PROJECT' ? '' : pages[i].toLowerCase()) %>
            <a href="<%- url %>" class="nav-link_archived box"><%- pages[i] %></a>
          </li>
          <% } %>
        </ul>
      </div>
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </div>
  </nav>

</header>

<% } else if (type === 'backText') { %>
  <header>
    <nav class="header <%= headerBackgroundColor %>" id="header">
      <div class="headerContainer">
        <a href="<%- PageUrl %>" class="marginS centerVer pointer Grid--center"> 
          <div class="arrow-container moveBackArrow">
            <div class="left-arrow <%= arrTxtColor %>"></div>
         </div>
         <h4 class="backText">BACK</h4>
        </a>
        <div class="navbar">
          <a href="/"><img class="pointer widthXXS marginS" src="<%= websitePath %>/icon/LOGOtxtOnly.svg" alt="VW" title="vickywang.me"></a>

        </div>

      </div>
    </nav>
  
  </header>
  <% } else if (type === 'logoText') { %>
    <header>
      <nav class="header <%= headerBackgroundColor %>" id="header">
        <div class="headerContainer">
          <a href="/"><img class="logo pointer" src="<%= websitePath %>/icon/LOGO.svg" alt="VW" title="vickywang.me"></a>

          <div class="navbar">
            <a href="/"><img class="pointer widthXXS marginS" src="<%= websitePath %>/icon/LOGOtxtOnly.svg" alt="VW" title="vickywang.me"></a>
  
          </div>

        </div>
      </nav>
    
    </header>
    <% } else if (type === 'withDropdown') { %>
      <nav class="header <%= headerBackgroundColor %>" id="header">
        <div class="headerContainer">
          <a href="/"><img class="logo pointer marginS" src="<%= websitePath %>/icon/LOGO.svg" alt="VW" title="vickywang.me"></a>
          <div class="navbar">
            <ul class="nav-menu">
              <li class="dropdown nav-item active activeNav  marginZero"><a href="/" class="nav-link_archived box">PROJECT</a>
      
                <div class="dropdown-content">
                  <a href="/<%- projectUrl1 %>/">
                    <div class="cardBorder borderRadiusS">
                      <img src="<%= imgUrl1 %>" alt="<%= alt1 %>">
                      <div class="element">
                        <h5 class="colorBlack"><%= itemTitle1 %></h5>
                      </div>
                    </div>
                  </a>
      
                  <a href="/<%- projectUrl2 %>/">
                    <div class="cardBorder borderRadiusS">
                      <img src="<%= imgUrl2 %>" alt="<%= alt2 %>">
                      <div class="element">
                        <h5 class="colorBlack"><%= itemTitle2 %></h5>
                      </div>
                    </div>
                  </a>
      
                  <a href="/<%- projectUrl3 %>/">
                    <div class="cardBorder borderRadiusS">
                      <img src="<%= imgUrl3 %>" alt="<%= alt3 %>">
                      <div class="element">
                        <h5 class="colorBlack"><%= itemTitle3 %></h5>
                      </div>
                    </div>
                  </a>
      
                  <a href="/<%- projectUrl4 %>/">
                    <div class="cardBorder borderRadiusS">
                      <img src="<%= imgUrl4 %>" alt="<%= alt4 %>">
                      <div class="element">
                        <h5 class="colorBlack"><%= itemTitle4 %></h5>
                      </div>
                    </div>
                  </a>
      
      
                </div>
              </li>
              </li>
            <!-- 
              <li class="nav-item inactive marginZero"><a href="/architecture" class="nav-link_archived box ">ARCHITECTURE</a>
              </li>
              <li class="nav-item inactive marginZero"><a href="/photography" class="nav-link_archived box ">PHOTOGRAPHY</a>
              </li>
             -->

      
      

              <li class="nav-item inactive marginZero"><a href="/blog" class="nav-link_archived box ">BLOG</a>
              </li>
              <li class="nav-item inactive marginZero"><a href="/about" class="nav-link_archived box ">ABOUT</a>
              </li>
            </ul>
      
          </div>
          <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </div>
      </nav>
      <!-- header -->
      
<% } %>