<div class="Grid-cell">
  <div class="element">
    <a class="no-hover-effect" href="<%= cardNoPwURL%>">
      <div class="">
        <div class="cardBottomBorder <%= hoverBorderColor %> float cardBorder borderRadiusS shadowBoxLt">
          <img src="<%= cardNoPwImgURL%>" alt="<%= cardNoPwTitle %>">
          <div class="element">
            <div class="element">
              <h3 class="arrCard"><strong><%= cardNoPwTitle %></strong></h3>
              <h4><%= cardNoPwDescription %>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>