<%
  cardType     = (typeof cardType !== 'undefined') ? cardType: '';

  cardMeta     = (typeof cardMeta !== 'undefined') ? cardMeta: '';
  cardTitle      = (typeof cardTitle !== 'undefined') ? cardTitle: '';
  cardDescription  = (typeof cardDescription !== 'undefined') ? cardDescription: '';
  cardListContent1   = (typeof cardListContent1 !== 'undefined') ? cardListContent1: '';
  cardListContent2   = (typeof cardListContent2 !== 'undefined') ? cardListContent2: '';
  cardListContent3   = (typeof cardListContent3 !== 'undefined') ? cardListContent3: '';

  cardList1   = (typeof showCardList1 !== 'undefined') ? showCardList1: '';
  cardList2   = (typeof showCardList2 !== 'undefined') ? showCardList2: '';
  cardList3   = (typeof showCardList3 !== 'undefined') ? showCardList3: '';

  ctaType   = (typeof ctaType !== 'undefined') ? ctaType: '';
  ctaName   = (typeof ctaName !== 'undefined') ? ctaName: '';

  withCTA   = (typeof withCTA !== 'undefined') ? withCTA: '';
    imgURL   = (typeof imgURL !== 'undefined') ? imgURL: '';


%>



<div class="wrapper">
  <div class="<%= cardType %>">
    <div class="card__left">
      <p class="card25CardMeta"><%= cardMeta %></p>
      <h2 class="card25CardTitle"><%= cardTitle %></h2>
      <h5 class="card25CardDescription"><%= cardDescription %></h5>
      <h5 class="card25CardList <%= showCardList1 %>"><%= cardListContent1 %></h5>
      <h5 class="card25CardList <%= showCardList2 %>"><%= cardListContent2 %></h5>
      <h5 class="card25CardList <%= showCardList3 %>"><%= cardListContent3 %></h5>


      <div class="<%= withCTA %> card__cta">
        <!-- Trigger 1 -->
        <a href="" class="open-modal alignBottom cta" data-modal="modal1">
          <button class="buttonMedium <%= ctaType %>"><%= ctaName %></button>
        </a>

        <!-- Modal 1 -->
        <div id="modal1" class="modal hidden">
          <span class="modal-close">
            <img class="iconXforModal" src="../../icon/delete.svg" alt="×">
          </span>
          <div class="modal-content wrapperL">

            <div class="column element">

              <div class="containerCopy">
                <div class="ClickandCopy">Email for access.</div>
                <div class="copy-text">
                  <input id="copyEmail" name="copyEmail" type="text" class="text" value="hello.vicky.w@gmail.com" readonly>
                  <button class="centerHorz"> <img class="iconS" src="../icon/copyWt.svg">
                  </button>
                </div>
              </div>
              <h5 class="textItalic">&#160; &#160; I’ll reply with a link within 24 hours.</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="spacingXSmall displayMobile"></div>





    </div>

    <div class="card__right">
      <div class="card25-media">
        <img src="<%= imgURL %>" alt="project image" class="card25-media-img" />
      </div>
    </div>
  </div>
</div>