<% if (typeof textBlockDescription2 === 'undefined') { 
    textBlockDescription2 = ''; 
  } 
  %>

<% if (typeof textBlockDescription3 === 'undefined') { 
    textBlockDescription3 = ''; 
  } 
  %>
<% if (typeof textBlockDescription4 === 'undefined') { 
    textBlockDescription4 = ''; 
  } 
  %>

<div class="Grid-cell">
    <div class="element">
        <h3><strong><%= textBlockTitle %></strong></h3>
        <h4> <%= textBlockDescription1 %> </h4>
        <h4> <%= textBlockDescription2 %> </h4>
        <h4> <%= textBlockDescription3 %> </h4>
        <h4> <%= textBlockDescription4 %> </h4>
    </div>
</div>