  <% if (typeof fontSize === 'undefined') { 
    fontSize = ''; 
  } 
  %>
  <% if (typeof fontColor === 'undefined') { 
    fontColor = 'Grey900'; 
  } 
  %>
  <% if (typeof fontSize === 'undefined') { 
      fontSize = ''; 
    } 
  %>

<% if (typeof fontWeight === 'undefined') { 
  fontWeight = ''; 
} 
%>
<% if (typeof titleText === 'undefined') { 
  titleText = ''; 
} 
%>






  <div class="Grid-cell">
    <div class="element">
      <% if (fontSize ==='h1' ) { %>
        <h1 class="<%= fontColor %> <%= fontWeight %>">
          <%= titleText %>
        </h1>

      <% } else if (fontSize ==='h2' ) { %>
        <h2 class="<%= fontColor %> <%= fontWeight %>">
          <%= titleText %>
        </h2>
      <% } else if (fontSize==='h3' ) { %>
        <h3 class="<%= fontColor %> <%= fontWeight %>">
          <%= titleText %>
        </h3>

      <% } else if (fontSize==='h4' ) { %>
        <h4 class="<%= fontColor %> <%= fontWeight %>">
          <%= titleText %>
        </h4>
      <% } %>
    </div>
  </div>