
<%
  sectionName     = (typeof sectionName     !== 'undefined') ? sectionName     : 'blankHXS';
  topSpacing      = (typeof topSpacing      !== 'undefined') ? topSpacing      : 'blankHXS';
  topNbottomSpacing  = (typeof topNbottomSpacing  !== 'undefined') ? topNbottomSpacing  : 'blankHXS';
  bottomSpacing   = (typeof bottomSpacing   !== 'undefined') ? bottomSpacing   : 'blankHXS';
%>
<div class="wrapperL">
  <div class="<%= topSpacing %> <%= topNbottomSpacing %>"></div>

  <div class="Grid Grid--gutters Grid--cols-3 Grid--center u-textCenter">
    <div class="Grid-cell"><hr></div>
    <div class="Grid-cell"><h6 class="Grey500"><%= sectionName %></h6></div>
    <div class="Grid-cell"><hr></div>
  </div>

  <div class="<%= bottomSpacing %> <%= topNbottomSpacing %>"></div>
</div>