<% if (typeof slide === 'undefined') { 
  slide = ''; 
} 
%>

<% if (typeof titleText1 === 'undefined') { 
  titleText1 = ''; 
} 
%>
<% if (typeof titleText2 === 'undefined') { 
  titleText1 = ''; 
} 
%>
<% if (typeof titleText3 === 'undefined') { 
  titleText1 = ''; 
} 
%>
<% if (typeof titleText4 === 'undefined') { 
  titleText1 = ''; 
} 
%>
<% if (typeof titleText5 === 'undefined') { 
  titleText1 = ''; 
} 
%>

<% if (typeof img1 === 'undefined') { 
  img1 = ''; 
} 
%>
<% if (typeof img2 === 'undefined') { 
  img1 = ''; 
} 
%>
<% if (typeof img3 === 'undefined') { 
  img1 = ''; 
} 
%>
<% if (typeof img4 === 'undefined') { 
  img1 = ''; 
} 
%>
<% if (typeof img5 === 'undefined') { 
  img1 = ''; 
} 
%>



<% if (slide === '2') { %>
    <div class="blankHXS"></div>
    <div class="wrapper">
      <div class="Grid-cell">
        <h2 class="element"><%= slideshowTitle %> </h2>
      </div>
    </div>
    <div class="wrapper">
      <div class="LRcarousel Grid Grid--gutters Grid--1of4 Grid--center u-textCenter" aria-label="LRcarousel" Tabindex="0" id="carousel1">
        <div class="carousel__nav Grid-cell ">
    
          <a class="slider-nav" aria-label="Go to slide 1">
            <div> <%= titleText1 %> </div>
          </a>
          <a class="slider-nav" aria-label="Go to slide 2">
            <div><%= titleText2 %></div>
          </a>

        </div>
        <div class="LRslides Grid-cell">
          <div class="slides-item slide-1" id="slide-1" aria-label="slide 1 of 3" tabindex="0">
            <img src="<%= img1 %>" alt="">
          </div>
          <div class="slides-item slide-2" id="slide-2" aria-label="slide 2 of 3" tabindex="0">
            <img src="<%= img2 %>" alt="">
    
          </div>

        </div>
      </div>
    </div>
    <div class="blankHXS"></div>



<% } else if (slide === '3') { %>
    <div class="blankHXS"></div>
    <div class="wrapper">
      <div class="Grid-cell">
        <h2 class="element"><%= slideshowTitle %> </h2>
      </div>
    </div>
    <div class="wrapper">
      <div class="LRcarousel Grid Grid--gutters Grid--1of4 Grid--center u-textCenter" aria-label="LRcarousel" Tabindex="0" id="carousel1">
        <div class="carousel__nav Grid-cell ">
    
          <a class="slider-nav" aria-label="Go to slide 1">
            <div> <%= titleText1 %> </div>
          </a>
          <a class="slider-nav" aria-label="Go to slide 2">
            <div><%= titleText2 %></div>
          </a>
          <a class="slider-nav" aria-label="Go to slide 3">
            <div><%= titleText3 %></div>
          </a>
        </div>
        <div class="LRslides Grid-cell">
          <div class="slides-item slide-1" id="slide-1" aria-label="slide 1 of 3" tabindex="0">
            <img src="<%= img1 %>" alt="">
          </div>
          <div class="slides-item slide-2" id="slide-2" aria-label="slide 2 of 3" tabindex="0">
            <img src="<%= img2 %>" alt="">
    
          </div>
          <div class="slides-item slide-3" id="slide-3" aria-label="slide 3 of 3" tabindex="0">
            <img src="<%= img3 %>" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="blankHXS"></div>

<% } else if (slide === '5') { %>
<div class="blankHXS"></div>
<div class="wrapper">
  <div class="Grid-cell">
    <h2 class="element"><%= slideshowTitle %> </h2>
  </div>
</div>
<div class="wrapper">
  <div class="LRcarousel Grid Grid--gutters Grid--1of4 Grid--center u-textCenter" aria-label="LRcarousel" Tabindex="0" id="carousel1">
    <div class="carousel__nav Grid-cell ">

      <a class="slider-nav" aria-label="Go to slide 1">
        <div> <%= titleText1 %> </div>
      </a>
      <a class="slider-nav" aria-label="Go to slide 2">
        <div><%= titleText2 %></div>
      </a>
      <a class="slider-nav" aria-label="Go to slide 3">
        <div><%= titleText3 %></div>
      </a>
      <a class="slider-nav" aria-label="Go to slide 3">
        <div><%= titleText4 %></div>
      </a>
      <a class="slider-nav" aria-label="Go to slide 3">
        <div><%= titleText5 %></div>
      </a>
    </div>
    <div class="LRslides Grid-cell">
      <div class="slides-item slide-1" id="slide-1" aria-label="slide 1 of 5" tabindex="0">
        <img src="<%= img1 %>" alt="">
      </div>
      <div class="slides-item slide-2" id="slide-2" aria-label="slide 2 of 5" tabindex="0">
        <img src="<%= img2 %>" alt="">

      </div>
      <div class="slides-item slide-3" id="slide-3" aria-label="slide 3 of 5" tabindex="0">
        <img src="<%= img3 %>" alt="">
      </div>
      <div class="slides-item slide-3" id="slide-3" aria-label="slide 4 of 5" tabindex="0">
        <img src="<%= img4 %>" alt="">
      </div>
      <div class="slides-item slide-3" id="slide-3" aria-label="slide 5 of 5" tabindex="0">
        <img src="<%= img5 %>" alt="">
      </div>
    </div>
  </div>
</div>
<div class="blankHXS"></div>
<% } %>