<!DOCTYPE html>
<html lang="en" class="colorBgVW pattern1">
<!--Head-->
<%- include(`${templatePath}/shared/head`, {SEO:false, Title:'Caselog | Vicky Wang', 
  description:'A snapshot of what I focus on and build.', 
  pageURL:'', thumbnailImgURL: 'vickywang_photography.png'
  }) %>
<!--Head-->

<body>


  <%- include(`${templatePath}/shared/comp_progressBar`) %>
  <%- include(`${templatePath}/shared/block_nav_header_main`, {
    logoURL:'/workroom',
    sectionURL1:'#projects', 
    sectionURL2:'#experiments', 
    sectionURL3:'#design_system', 
    sectionURL4:'#about',
    arrTxtColor:'',
    headerBackgroundColor:'colorBgVW'
    }) %>

  <div class="blankHXS"></div>
  <div class="wrapper">
    <div class="Grid Grid--full Grid--gutter">
      <div class="Grid-cell">
        <div class="element u-textCenter">
          <h1 class="t-hello">👋🏻 hello, I'm Vicky</h1>
          <div class="blankHTiny"></div>

          <h1 class="fontWeight700 newLandingTitle">a UX designer focused on clean, scalable experiences that drive real impact.
          </h1>
          <h5 class="fontWeight300">Led end-to-end rental experience redesigns for consumer and partner tools across B2C/B2B. I focus on simplifying flows, aligning system logic, and increasing product clarity. Currently expanding frontend skills (JS/React) to bridge design and dev.

          </h5>

        </div>

      </div>
    </div>
  </div>



  <div class="wrapper">

    <div class="Grid Grid--gutters Grid--cols-8 ">
      <div class="Grid-cell displayLaptop">
      </div>
      <div class="Grid-cell displayLaptop">
      </div>
      <div class="Grid-cell displayTablet">
      </div>
      <div class="Grid-cell centerVH">
        <div class="ClipboardBoxIconOnly">
          <button class="ClipboardIconOnly">
            <img title="Copy Email to Clipboard" class="iconM hoverWhite paddingM fitContentax borderRadiusMax" src="../icon/mail.svg" alt="LinkedIn">
            <p class="clickIconCopy">vickyw.design@gmail.com</p>
          </button>
        </div>

      </div>
      <div class="Grid-cell centerVH">
        <a href="https://www.linkedin.com/in/vicky-wyq/" target="_blank" title="LinkedIn">
          <img class="iconM hoverWhite paddingM fitContentax borderRadiusMax borderRadiusS" src="../icon/in.svg" alt="LinkedIn">
        </a>
      </div>

      <div class="Grid-cell centerVH">
        <a href="https://github.com/vicky-wyq" target="_blank" title="GitHub">
          <img class="iconM hoverWhite paddingM fitContentax borderRadiusMax" src="../icon/git.svg" alt="GitHub">
        </a>
      </div>
      <div class="Grid-cell centerVH">
        <a href="https://codepen.io/vicky-wyq" target="_blank" title="CodePen">
          <img class="iconM hoverWhite paddingM fitContentax borderRadiusMax" src="../icon/Codepen.svg" alt="CodePen">
        </a>
      </div>
      <div class="Grid-cell centerVH displayLaptop">
        <div class="dropdownSM">
          <img title="Share" class="iconM hoverWhite paddingM fitContent borderRadiusMax dropbtn" src="../icon/share.svg" alt="Share">
          <div class="dropdownSM-content">
            <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://vickywang.me" target="_blank">Share
              on LinkedIn</a>
            <a href="https://pinterest.com/pin/create/button/?url=https://vickywang.me&amp;media=https://s3.us-west-1.amazonaws.com/vickywang.me/Thumbnails/vickywang_mobile.svg&amp;description=Skilled%20UX%20Designer%20for%20B2B%20Solutions%20%26%20Consumer%20Apps%20-%20Vicky%20Wang" target="_blank">Share on Pinterest</a>
          </div>
        </div>
      </div>
      <div class="Grid-cell displayTablet">
      </div>

      <div class="Grid-cell displayLaptop">
      </div>
      <div class="Grid-cell displayLaptop">
      </div>

    </div>

  </div>

  <div class="blankHTiny"></div>
  <div class="wrapper">
    <div class="Grid Grid--gutters Grid--cols-2 Grid--center">
      <div class="element">
        <a href="/resume2025"> <button class="buttonMedium buttonPrimary WhiteBg">Resume & Experience
          </button></a>

      </div>
      <div class="element">
        <a href="#about"> <button class="buttonMedium buttonFlip WhiteBg">Learn more about me
          </button></a>
      </div>
    </div>
  </div>


  <div class="blankHXXS"></div>


  <!-- Content -->
  <section id="projects">
    <div class="colorBgWhie pattern2">
      <div class="blankHXXS"></div>

      <div class="wrapper">
        <div class="Grid Grid--full Grid--gutter">
          <div class="Grid-cell">
            <div class="element">
              <img src="logo_babyquip.svg" class="widthXXS" alt="">
              <h1 class="fontWeight700">BabyQuip (2024 - Present) </h1>
              <h4>
                BabyQuip is a gear rental marketplace helping families travel stress-free by connecting them with local providers — while helping providers (mostly parents) earn income through gear rental. </h4>

            </div>
          </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="Grid Grid--full Grid--gutter">
          <div class="Grid-cell">
            <div class="element">
              <div class="accItem">
                <div class="accTrigger">

                  <h5>
                    <span class="accIcon iconAccTrigger"></span>

                    <span class="TextPoppins fontWeight400">My focus: </span>
                    Aligning the mobile app and partner tools with the company's shift to a gear-first rental model. I worked across core B2C and B2B flows to simplify UX, improve clarity, and support conversion.
                  </h5>
                </div>
                <div class="accContent">
                  <div class="element">

                    <ul class="listCircle ">
                      <li>Before I joined, the team had redesigned the gear-first website in mid-2024. I supported final refinements and helped launch it in early 2025.
                      </li>
                      <li>
                        The company will rebrand as GoQuip in 2025, expanding from baby gear only to general gear rental.
                      </li>
                    </ul>
                  </div>
                </div>


              </div>

              <div class="spacingSmall"></div>

              <div class="accItem">
                <div class="accTrigger">

                  <h5>
                    <span class="accIcon iconAccTrigger"></span>

                    <span class="TextPoppins fontWeight400">Impact: </span>
                    Redesigned rental experience around a gear-first model — simplified entry points, streamlined shopping, and increased 7% mobile conversions.
                  </h5>

                </div>
                <div class="accContent">
                  <div class="element">

                    <ul class="listCircle">
                      <li>Rebuilt gear first flow overall in wireframe, test early, ensure everything works proper, saving time for later on back and force <span class="bulletWithArrow"></span>
                      </li>
                      <li>Rebuilt trip input flow with progressive disclosure (support quick edits or skips)

                      </li>
                      <li>
                        Simplified category discovery to reduce time-to-cart



                      </li>
                      <li>Clear QP selection flow with upsells and fewer back buttons

                      </li>
                      <li>Collapsed checkout — removed survey, trust/insurance copy now clearer
                      </li>

                    </ul>
                  </div>
                </div>


              </div>



            </div>
          </div>
        </div>
      </div>





      <div class="wrapper">
        <div class="Grid Grid--full Grid--gutter">
          <div class="Grid-cell">
            <div class="element">
              <h3><span class=" fontWeight700">Mobile App (B2C)</span></h3>


            </div>
          </div>
        </div>


        <div class="Grid Grid--full Grid--gutter">
          <div class="Grid-cell">
            <div class="element">
              <img src="mobile_journey.svg" alt="">
            </div>
          </div>
        </div>

        <div class="Grid Grid--gutters Grid--cols-3">
          <div class="Grid-cell">
            <div class="element">

              <h6> <span class="colorBgYellowVW100 borderRadiusS chipBorderPadding"> Role:</span> Lead UX Designer </h6>
            </div>
          </div>
          <div class="Grid-cell">
            <div class="element">

              <h6> <span class="colorBgYellowVW100 borderRadiusS chipBorderPadding"> Scope:</span> Consumer rental flow</h6>
            </div>
          </div>
          <div class="Grid-cell">
            <div class="element">

              <h6> <span class="colorBgYellowVW100 borderRadiusS chipBorderPadding"> Stakeholder:</span> Kim Connolly </h6>
            </div>
          </div>

        </div>
      </div>




      <div class="wrapper">
        <div class="Grid Grid--gutters Grid--full">


          <div class="Grid-cell">
            <div class="element accItem">
              <div class="accTrigger">
                <div class="row">
                  <div class="accIcon iconAccTrigger"></div>
                  <div>
                    <h4 class="fontWeight400">Full Rental Journey Wireframe</h4>
                    <h5>Mapped and wireframed the entire rental flow to validate architecture and reduce downstream issues</h5>
                  </div>
                </div>
                <a href="mobile_wireframe/"> <button class="buttonSmall buttonFlip WhiteBg">View Case Study</button></a>

              </div>
              <div class="accContent">
                <div class="element">

                  <ul class="listCircle ">
                    <li>Mapped and wireframed the entire rental flow to validate architecture and reduce downstream issues</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>


          <div class="Grid-cell">
            <div class="element accItem">
              <div class="accTrigger">
                <h4 class="fontWeight400">
                  <span class="accIcon iconAccTrigger"></span>
                  <span> Landing</span>
                </h4>
                <a href="mobile_landing/"> <button class="buttonSmall buttonFlip WhiteBg">View Case Study</button></a>

              </div>
              <div class="accContent">
                <div class="element">

                  <ul class="listCircle ">
                    <li><strong>Problem:</strong> Mobile users needed a fast way to start booking, but also needed to understand how BabyQuip worked before committing.</li>
                    <li><strong>Insight:</strong> Two user types emerged — those who wanted to search immediately and those who needed clarity before input.</li>
                    <li><strong>Solution:</strong> Designed and tested two landing paths: one direct to trip input, and one educational layout with visuals, categories, and explainer content.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>


          <div class="Grid-cell">
            <div class="element accItem">
              <div class="accTrigger">
                <h4 class="fontWeight400">
                  <span class="accIcon iconAccTrigger"></span>
                  <span> Trip Info</span>
                </h4>
                <a href="mobile_landing/"> <button class="buttonSmall buttonFlip WhiteBg">View Case Study</button></a>

              </div>
              <div class="accContent">
                <div class="element">
                  <ul class="listCircle">
                    <li><strong>Problem:</strong> The original trip flow asked users to enter all info up front (address, dates, time), and offered no flexibility later, leading to drop-off and user frustration.</li>
                    <li><strong>Insight:</strong> Most users accepted default time/date but wanted to adjust info after browsing gear availability.</li>
                    <li><strong>Solution:</strong> Kept address as a required input, auto-filled the rest, and made trip info editable at any point in the flow.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>


          <div class="Grid-cell">
            <div class="element accItem">
              <div class="accTrigger">
                <h4 class="fontWeight400">
                  <span class="accIcon iconAccTrigger"></span>
                  <span> Shopping</span>
                </h4>
                <a href="mobile_landing/"> <button class="buttonSmall buttonFlip WhiteBg">View Case Study</button></a>

              </div>
              <div class="accContent">
                <div class="element">
                  <ul class="listCircle">
                    <li><strong>Problem:</strong> Search was limited and error-prone — users needed to know exactly what to type, or they'd hit dead ends. At the same time, the business was preparing to expand into general gear rental with GoQuip, and users were unaware of the broader categories we offered.</li>
                    <li><strong>Insight:</strong> We realized the shopping experience needed to shift from search-driven to exploration-first — it had to educate, guide discovery, and scale as new categories were added.</li>
                    <li><strong>Solution:</strong> Designed a visual-first layout with a top category bar and “View All” fallback, adapted from the web. Emphasized category clarity, quick add-to-cart, and future scalability.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>


          <div class="Grid-cell">
            <div class="element accItem">
              <div class="accTrigger">
                <h4 class="fontWeight400">
                  <span class="accIcon iconAccTrigger"></span>
                  <span> Cart & QP Selection</span>
                </h4>
                <a href="mobile_landing/"> <button class="buttonSmall buttonFlip WhiteBg">View Case Study</button></a>

              </div>
              <div class="accContent">
                <div class="element">
                  <ul class="listCircle">
                    <li><strong>Problem:</strong> Users often changed their minds during QP selection, but the flow forced a reset or discouraged continuing.</li>
                    <li><strong>Insight:</strong> Delaying QP selection and allowing gear edits during this step increased cart size and reduced confusion.</li>
                    <li><strong>Solution:</strong> Designed logic to preserve cart state, supported QP preview/sort, and enabled item add-ons within the QP screen to increase AOV without friction.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="Grid-cell">
            <div class="accItem element borderRadiusS">
              <div class="accTrigger">
                <h4 class="fontWeight400">
                  <span class="accIcon iconAccTrigger"></span>
                  <span> Checkout</span>
                </h4>
                <a href="mobile_landing/"> <button class="buttonSmall buttonFlip WhiteBg">View Case Study</button></a>

              </div>
              <div class="accContent">
                <div class="element">
                  <ul class="listCircle">
                    <li>Removed friction (survey, excess steps)</li>
                    <li>A/B tested single vs. multi-page flows for clarity and speed</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>



        </div>
      </div>
      <%- include(`${templatePath}/shared/base_divider_short`) %>

      <div class="wrapper">
        <div class="Grid Grid--full Grid--gutter">
          <div class="Grid-cell">
            <div class="element">
              <h3><span class=" fontWeight700">Inventory Management (Partner Portal / B2B)
                </span></h3>
            </div>
          </div>
        </div>

        <div class="Grid Grid--full Grid--gutter">
          <div class="Grid-cell">
            <div class="element">
              <img src="placeholder.png" alt="">
            </div>
          </div>
        </div>



        <div class="Grid Grid--gutters Grid--cols-3">
          <div class="Grid-cell">
            <div class="element">

              <h6> <span class="colorBgYellowVW100 borderRadiusS chipBorderPadding"> Role:</span> Lead UX Designer </h6>
            </div>
          </div>
          <div class="Grid-cell">
            <div class="element">

              <h6> <span class="colorBgYellowVW100 borderRadiusS chipBorderPadding"> Scope:</span> Gear listing & storefront control </h6>
            </div>

          </div>
          <div class="Grid-cell">
            <div class="element">

              <h6> <span class="colorBgYellowVW100 borderRadiusS chipBorderPadding"> Stakeholder:</span> Joe Maier, Kim Connolly</h6>
            </div>
          </div>

        </div>
      </div>

      <div class="wrapper">
        <div class="Grid Grid--full Grid--gutter">
          <div class="Grid-cell">
            <div class="accItem element borderRadiusS">
              <div class="accTrigger">
                <h4 class="fontWeight400">
                  <span class="accIcon iconAccTrigger"></span>
                  <span> Redesign Inventory Management</span>
                </h4>
                <a href="mobile_landing/"> <button class="buttonSmall buttonFlip WhiteBg">View Case Study</button></a>

              </div>
              <div class="accContent">
                <div class="element">
                  <ul class="listCircle ">
                    <li>Mapped and wireframed the entire rental flow to validate architecture and reduce downstream issues</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%- include(`${templatePath}/shared/base_divider_short`) %>

      <div class="wrapper">
        <div class="Grid Grid--full Grid--gutter">
          <div class="Grid-cell">


            <div class="element">

              <h3><span class=" fontWeight700">Responsive Web (B2C) </span></h3>
            </div>
          </div>
        </div>
        <div class="Grid Grid--full Grid--gutter">
          <div class="Grid-cell">
            <div class="element">
              <img src="placeholder.png" alt="">
            </div>
          </div>
        </div>

        <div class="Grid Grid--gutters Grid--cols-3">
          <div class="Grid-cell">
            <div class="element">

              <h6> <span class="colorBgYellowVW100 borderRadiusS chipBorderPadding"> Role:</span> Support UX Designer </h6>
            </div>
          </div>

          <div class="Grid-cell">
            <div class="element">

              <h6> <span class="colorBgYellowVW100 borderRadiusS chipBorderPadding"> Scope:</span> Gear-first rental flow optimization</h6>
            </div>


          </div>
          <div class="Grid-cell">
            <div class="element">

              <h6> <span class="colorBgYellowVW100 borderRadiusS chipBorderPadding"> Stakeholder:</span> Kim Connolly </h6>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="Grid Grid--full Grid--gutter">

          <div class="Grid-cell">
            <div class="accItem element borderRadiusS">
              <div class="accTrigger">
                <h4 class="fontWeight400">
                  <span class="accIcon iconAccTrigger"></span>
                  <span> Filter Quick Fix</span>
                </h4>
                <a href="mobile_landing/"> <button class="buttonSmall buttonFlip WhiteBg">View Result</button></a>

              </div>
              <div class="accContent">
                <div class="element">
                  <ul class="listCircle ">
                    <li>x</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>


          <div class="Grid-cell">
            <div class="accItem element borderRadiusS">
              <div class="accTrigger">
                <h4 class="fontWeight400">
                  <span class="accIcon iconAccTrigger"></span>
                  <span> Map Color Enhancement</span>
                </h4>
                <a href="mobile_landing/"> <button class="buttonSmall buttonFlip WhiteBg">View Result</button></a>

              </div>
              <div class="accContent">
                <div class="element">
                  <ul class="listCircle ">
                    <li>x</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>





        </div>
      </div>

      <%- include(`${templatePath}/shared/base_divider`) %>

      <div class="blankHXXS"></div>

    </div>


  </section>

  <section id="experiments">
    <!-- Arrow -->
    <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Experiments' }) %>
    <!-- Arrow -->

    <div class="wrapper">
      <div class="Grid Grid--gutters Grid--cols-3">
        <div class="Grid-cell shadowBoxLt float cardBorder colorBgVW borderRadiusS cardBottomBorder GLORIFY paddingNone marginXS">
          <a class="no-hover-effect" href="/glorify/">
            <img src="/projectImages/Cover_Glorify.png" alt="Glorify: Transforming Solitary Devotion into Community Engagement">
            <div class="element">
              <div class="blankHTiny"></div>

              <%- include(`${templatePath}/shared/base_chip`, {
                chipSmallTxt: '1-2 Experiment',
                colorBg: 'colorBg_VW_Pink200',
                colorTxt: 'color_VW_Pink800'
              }) %>
              <h3 class="TextPoppins fontWeight500">Glorify App</h3>

              <h3 class="textItalic fontWeight300 Grey700"> For Christian daily worship</h3>

              <ul class="listCircle">
                <li> <span class="TextPoppins fontWeight400">Initiate Community:</span> Transform from a single-player to a multiplayer experience.
                </li>
                <li> <span class="TextPoppins fontWeight400">Drive Growth:</span> Foster engagement and expand user participation within the community.

                </li>
              </ul>
            </div>
          </a>
        </div>
        <div class="Grid-cell shadowBoxLt float cardBorder colorBgVW borderRadiusS cardBottomBorder SEER paddingNone marginXS">
          <a class="no-hover-effect" href="/seer/">
            <img src="/projectImages/Cover_SEER.png" alt="SEER: Enhancing Brand Impact on Reddit">
            <div class="element">
              <div class="blankHTiny"></div>

              <%- include(`${templatePath}/shared/base_chip`, {
                chipSmallTxt: '0-1 Experiment',
                colorBg: 'colorBg_VW_Pink200',
                colorTxt: 'color_VW_Pink800'
              }) %>
              <h3 class="TextPoppins fontWeight500">Marketing Insights Dashboard</h3>

              <h3 class="textItalic fontWeight300 Grey700"> For Brand marketers</h3>

              <ul class="listCircle">
                <li> <span class="TextPoppins fontWeight400">Transform Insights:</span> Turn Reddit data into actionable insights for brand marketers.
                </li>
                <li> <span class="TextPoppins fontWeight400">Drive Growth:</span> Utilize intuitive analytics to understand user sentiment and engagement.
                </li>
                <li> <span class="TextPoppins fontWeight400">Future Vision: </span> Gain a glimpse into the future of targeted marketing strategies.
                </li>
              </ul>



            </div>
          </a>
        </div>
        <div class="Grid-cell shadowBoxLt float cardBorder colorBgVW borderRadiusS cardBottomBorder APPOINTA paddingNone marginXS">
          <a class="no-hover-effect" href="/appointa/">
            <img src="/projectImages/Cover_APPOINTA.png" alt="APPOINTA: Interview Scheduling Made Simple">
            <div class="element">
              <div class="blankHTiny"></div>

              <%- include(`${templatePath}/shared/base_chip`, {
                chipSmallTxt: '0-1 Experiment',
                colorBg: 'colorBg_VW_Pink200',
                colorTxt: 'color_VW_Pink800'
              }) %>
              <h3 class="TextPoppins fontWeight500">Interview Scheduling</h3>
              <h3 class="textItalic fontWeight300 Grey700"> For Recuriter & hiring managers</h3>

              <ul class="listCircle">
                <li> <span class="TextPoppins fontWeight400">Streamline Scheduling:</span> Revamp the interview scheduling process to enhance efficiency.
                </li>
                <li> <span class="TextPoppins fontWeight400">Reduce Coordination Time:</span> Speed up hiring by minimizing the time spent on scheduling interviews.
                </li>
                <li> <span class="TextPoppins fontWeight400">Boost Recruitment Efficiency: </span> Improve the overall candidate experience through better coordination.
                </li>
              </ul>


            </div>
          </a>
        </div>
      </div>
      <div class="blankHXS"></div>

    </div>
    <div class="blankHXS"></div>

  </section>
  <section id="design_system">
    <div class="colorBgWhie pattern2">
      <div class="blankHXS"></div>

      <!-- Arrow -->
      <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Design System' }) %>
      <!-- Arrow -->

      <div class="blankHXXS"></div>
      <div class="wrapper">
        <div class="Grid Grid--holly-grail Grid--center">
          <div class="Grid-cell main">
            <div class="element">


              <div class="paddingXL borderRadiusL gradient_background1">
                <a href="/design_system/">
                  <img src="/projectImages/vicky_website.svg" alt="Design System"></a>
              </div>
            </div>

          </div>

          <div class="Grid-cell aside aside-2">
            <div class="element">
              <%- include(`${templatePath}/shared/base_chip`, {
                chipSmallTxt: 'Start from Scratch',
                colorBg: 'colorBg_VW_Pink200',
                colorTxt: 'color_VW_Pink800'
              }) %>
              <div class="blankHTiny"></div>

              <h1 class="specialTextS fontWeight700">Design System Creation & Optimization</h1>

              <h3 class="colorLandingText fontWeight700">Design & Implementation</h3>
              <ul class="listCircle">

                <li>Efficiently structured components for seamless site navigation.
                </li>
                <li>
                  Discover, compare, and reuse elements with ease, enhancing design consistency and workflow efficiency.

                </li>

              </ul>

            </div>
            <div class="element">
              <a href="/design_system/"> <button class="buttonMedium buttonPrimary WhiteBg">View design system
                </button></a>
            </div>
          </div>
        </div>
      </div>
      <div class="blankHM"></div>

    </div>

  </section>

  <section id="about">
    <div class="wrapper ">

      <div id="circle_wrapper">
        <div id="circle_container">
          <div id="circle">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="200px" height="200px" viewBox="0 0 200 200" enable-background="new 0 0 200 200" xml:space="preserve">
              <defs>
                <path id="circlePath" d="M 100, 100 m -40, 0 a 40,40 0 0,1 80,0 a 40,40 0 0,1 -80,0 " />
              </defs>
              <circle cx="100" cy="66.67" r="50" fill="none" />
              <g>
                <use xlink:href="#circlePath" fill="none" />
                <text>
                  <textPath xlink:href="#circlePath">User Experience Designer, Product Designer</textPath>
                </text>
              </g>
            </svg>
          </div>
        </div>
      </div>

    </div>

    <div class="wrapper">
      <div class="Grid Grid--full Grid--gutters u-textCenter">
        <div class="Grid-cell">
          <div class="element">
            <h1 class="specialTextL"> About Me</h1>
            <div class="blankHTiny"></div>

            <h2 class="specialTextS colorLandingText"> I craft simple, user-focused designs that meet business goals. </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="blankHTiny"></div>


    <div class="wrapper">
      <div class="Grid Grid--gutters Grid--1of3 Grid--center">


        <div class="Grid-cell">
          <div class="element">
            <img class="" src="../me.png" alt="Vicky">

          </div>
        </div>
        <div class="Grid-cell">
          <div class="element">
            <h3 class="fontWeight400">Startup Experience
            </h3>
            <h4>As a UX designer with hands-on startup experience, I’m involved in every design stage. My focus is on creating effective, straightforward user experiences that align with business objectives.
            </h4>
            <div class="blankHXXS displayPhone"></div>

            <h3 class="fontWeight400">Craftsmanship & Product Impact
            </h3>
            <h3>I’m driven by a passion for quality design, aiming to create products that not only look great but also achieve business success through thoughtful, user-centered details.
            </h3>
            <div class="blankHXXS displayPhone"></div>

            <h3 class="fontWeight400">Embracing Technology
            </h3>
            <h3>
              I enjoy diving into new technologies, which enhances collaboration with developers and refines my design process, leading to more innovative solutions.
            </h3>
          </div>


        </div>

      </div>




      <div class="Grid Grid--gutters Grid--1of3 Grid--center">


        <div class="Grid-cell">
          <div class="element">

          </div>
        </div>
        <div class="Grid-cell">


          <div class="row centerVer">
            <div class="element">

              <a href="mailto:vickyw.design@gmail.com"> <button class="buttonMedium buttonPrimary WhiteBg">Email me
                </button></a>

            </div>


            <div class="element">

              <div class="ClipboardBoxIconOnly">
                <button class="ClipboardIconOnly">
                  <img class="iconM hoverWhite paddingM fitContentax borderRadiusMax" title="Copy Email Address to Clipboard" src="/icon/copy.svg">
                  <p class="clickIconCopy">vickyw.design@gmail.com
                  </p>
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="blankHS"></div>


    <div class="colorBgYellowVW500">
      <div class="blankHXS"></div>

      <div class="wrapper">

        <div class="Grid Grid--full Grid--gutters u-textCenter">
          <div class="Grid-cell">
            <div class="element">
              <h1 class="specialTextL"> Design Process

              </h1>
            </div>
          </div>
        </div>
        <div class="blankHTiny"></div>

        <div class="Grid Grid--gutters Grid--cols-3 u-textCenter">

          <div class="Grid-cell">
            <div class="element">
              <div class="element">
                <img class="iconMax" src="../icon/landing_understand.svg" alt="Understand">
                <h2 data-aos="fade-up"> <strong> Understand</strong> </h2>
                <h3>Understand business goals and user needs using both qualitative and quantitative data to make informed UX decisions.
                </h3>
              </div>
            </div>
          </div>



          <div class="Grid-cell">
            <div class="element">

              <div class="element">
                <img class="iconMax" src="../icon/landing_collaborate.svg" alt="Collaborate">

                <h2 data-aos="fade-up"> <strong> Collaborate </strong> </h2>
                <h3>Collaborate closely with teams from planning to delivery. Continuous feedback refines and improves designs.
                </h3>
              </div>
            </div>
          </div>
          <div class="Grid-cell">
            <div class="element">
              <div class="element">
                <img class="iconMax" src="../icon/landing_facilitate.svg" alt="Facilitate">
                <h2 data-aos="fade-up"> <strong> Facilitate</strong> </h2>
                <h3>Manage the design process with clear deadlines to stay on track. Document and review each step to create effective, impactful designs.
                </h3>
              </div>

            </div>
          </div>
        </div>


      </div>
      <div class="blankHXXS"></div>
      <hr class="wrapperM colorBlack">
      <div class="blankHXS"></div>


      <div class="carouselLogoBlurContainer">

        <div class="carouselLogoBlur">
          <div class="logos"></div>
        </div>

      </div>
      <div class="blankHS"></div>

    </div>

    <div class="blankHXS"></div>




    <!-- Arrow -->
    <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'Timeline' }) %>
    <!-- Arrow -->
    <!-- import timeline -->
    <%- include(`${templatePath}/shared/block_timeline`) %>


    <!-- Arrow -->
    <%- include(`${templatePath}/shared/comp_textualElements_arrow`, {message: 'UX Skills & Product Experience' }) %>
    <!-- Arrow -->
    <%- include(`${templatePath}/shared/comp_tagCloud`) %>
  </section>

  <%- include(`${templatePath}/shared/comp_closingMessage`, { version: '', message: ''}) %>
  <%- include(`${templatePath}/shared/comp_backTop`) %>
  <%- include(`${templatePath}/shared/block_nav_footer`, { 
    iconHoverColor: 'hoverWhite',
    footerBackgroundColor:'colorBgVW'
  }) %>

  <!-- The Modal -->
  <div id="modal" class="modal">
    <span id="modal-close" class="modal-close">
      <img class="iconXforModal" src="../icon/delete.svg" alt="&times;">
    </span>
    <img id="modal-content" class="modal-content">
    <div id="modal-caption" class="modal-caption"></div>
  </div>
  <!-- The Modal -->
</body>

</html>