<!DOCTYPE html>
<html lang="en">

<!--Head-->
<%- include(`${templatePath}/shared/head`, { SEO:false, Title:`Checkout
`,
  description:'Optimize VRBO Embedded Experience', pageURL:'bq_b2c_vrbo/',
  thumbnailImgURL: 'vickywang_web.png' }) %>
<!--Head-->

<body class="">
  <%- include(`${templatePath}/shared/header_back`, {
  tab1:'Problem',
  tab1_data_link:'problem',

  tab2:'Insight',
  tab2_data_link:'insight',

  tab3:'Solution',
  tab3_data_link:'solution',

  tab4_display:'dispay',
  tab4:'Impact',
  tab4_data_link:'impact',
  }) %>

  <div class="wrapper">
    <div class="blankHXS"></div>
    <div class="Grid Grid--gutters Grid--full Grid--gutter">
      <div class="Grid-cell">
        <div class="element">
          <img class="widthXXS" src="../../logos/bq.svg" alt="Logo">
          <h6>Two-sided marketplace (3,000+ providers, $20M+ GMV)</h6>
          <div class="spacingMedium"></div>

          <h1 class="titleCaseStudy">Improving Checkout Conversion by Reducing Early-Stage Friction</h1>
          <h4 class="fontWeight300">Improving cart-to-checkout transition and early-stage completion, especially on mobile.</h4>
        </div>
      </div>
    </div>
    <div class="Grid Grid--gutters Grid--cols-3">
      <div class="Grid-cell">
        <div class="element">
          <h5 class="">Role: <span class="fontWeight400">Lead UX</span></h5>
        </div>
      </div>
      <div class=" Grid-cell">
        <div class="element">
          <h5 class="">Scope: <span class="fontWeight400">Gear listing &amp; storefront control</span></h5>
        </div>
      </div>
      <div class=" Grid-cell">
        <div class="element">
          <h5 class="">Stakeholders <span class="fontWeight400"><a class="textUnderline fontWeight400" href="https://www.linkedin.com/in/jemaier">Joe Maier</a>, <a class="textUnderline fontWeight400" href="https://www.linkedin.com/in/kimconnolly1">Kim Connolly</a></span></h5>
        </div>
      </div>
    </div>
  </div>

  <section id="problem" data-nav="problem">
    <div class="wrapper">
      <div class="Grid Grid--gutters Grid--full Grid--gutter">
        <div class="Grid-cell">
          <div class="element">
            <div class="blankHXXS"></div>
            <%- include(`${templatePath}/shared/divider25`, {
            sectionName:'Problem',
            topSpacing:'spacingMedium',
            bottomSpacing:'spacingXLarge',
            topNbottomSpacing:''
            }) %>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="Grid Grid--gutters Grid--full Grid--gutter">
        <div class="Grid-cell">
          <div class="element">
            <h1 class="fontWeight400">Problem</h1>
            <h2 class="fontWeight100">High drop-off before and early in checkout, especially on mobile → lost revenue</h2>

            <h2 class="fontWeight100 Alet">From begin_checkout to purchase dropped x percent, mobile is doubled</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="Grid Grid--gutters Grid--full Grid--gutter">
        <div class="Grid-cell">
          <div class="element">
            <h2 class="fontWeight400">WHAT is happenning (Quantitative)</h2>
          </div>
        </div>
      </div>
      <div class="Grid Grid--gutters Grid--cols-3">
        <div class="Grid-cell">
          <div class="element">
            <img class="modal-target card2026" src="ga4_Cross-PlatformComparison.png" alt="">
            <p>Cross-Platform Comparison</p>
          </div>
        </div>
        <div class="Grid-cell">
          <div class="element">
            <img class="modal-target card2026" src="ga4_DetailedBreakdown.png" alt="">
            <p>Detailed UX Breakdown</p>
          </div>
        </div>
        <div class="Grid-cell">
          <div class="element">
            <img class="modal-target card2026" src="ga4_MobileAppCompletion.png" alt="">
            <p>Mobile App Completion</p>
          </div>
        </div>
      </div>

      <div class="accItem">
        <div class="Grid Grid--gutters Grid--cols-2 Grid--top accTrigger">
          <div class="Grid-cell">
            <div class="element">
              <h4 class="fontWeight400">Mobile checkout has ~2x higher drop-off than desktop</h4>
              <h6>Mobile web users are significantly less likely to complete checkout compared to desktop users, with nearly 2x higher drop-off at the checkout entry step.</h6>
            </div>
          </div>
          <div class="align-right">
            <div class="element">
              <div class="accIcon iconAccTrigger"></div>
            </div>
          </div>
        </div>
        <div class="accContent" style="">
          <div class="Grid Grid--gutters Grid--full Grid--gutter">
            <div class="Grid-cell">
              <div class="element">
                <h6>Funnel:</h6>
                <h6><span class="fontWeight400"> Web: </span>~84% completion from begin_checkout → purchase </h6>
                <h6><span class="fontWeight400"> Mobile web:</span> ~46% completion </h6>
              </div>
            </div>
            <div class="spacingSmall"></div>

          </div>

        </div>

      </div>

      <div class="accItem">
        <div class="Grid Grid--gutters Grid--cols-2 Grid--top accTrigger">
          <div class="Grid-cell">
            <div class="element">
              <h4 class="fontWeight400">Largest drop-off occurs before checkout begins</h4>
              <h6>The largest drop-off occurs before checkout begins, particularly on mobile, where over 60% of users abandon after adding items to cart.</h6>
            </div>
          </div>
          <div class="align-right">
            <div class="element">
              <div class="accIcon iconAccTrigger"></div>
            </div>
          </div>
        </div>
        <div class="accContent" style="">
          <div class="Grid Grid--gutters Grid--full Grid--gutter">
            <div class="Grid-cell">
              <div class="element">
                <h6>Funnel: add_to_cart → begin_checkout</h6>
                <h6><span class="fontWeight400"> Web: </span>~49% continue</h6>
                <h6><span class="fontWeight400"> Mobile web:</span> ~34% continue </h6>
              </div>
            </div>
          </div>
          <div class="spacingSmall"></div>

        </div>
      </div>
      <div class="accItem">
        <div class="Grid Grid--gutters Grid--cols-2 Grid--top accTrigger">
          <div class="Grid-cell">
            <div class="element">
              <h4 class="fontWeight400">Post-checkout entry completion is high</h4>
              <h6>Users who proceed past checkout entry are highly likely to complete purchase, indicating low friction in later checkout stages.</h6>
            </div>
          </div>
          <div class="align-right">
            <div class="element">
              <div class="accIcon iconAccTrigger"></div>
            </div>
          </div>
        </div>
        <div class="accContent" style="">
          <div class="Grid Grid--gutters Grid--full Grid--gutter">
            <div class="Grid-cell">
              <div class="element">
                <h6>Funnel: begin_checkout → add_payment → purchase</h6>
                <h6><span class="fontWeight400"> Web: </span> ~99% step completion</h6>
                <h6><span class="fontWeight400"> Mobile web:</span> ~97–98%</h6>
              </div>
            </div>
          </div>
          <div class="spacingSmall"></div>

        </div>
      </div>

      <div class="accItem">
        <div class="Grid Grid--gutters Grid--cols-2 Grid--top accTrigger">
          <div class="Grid-cell">
            <div class="element">
              <h4 class="fontWeight400">Mobile app tracking is inconsistent</h4>
              <h6>Mobile app event tracking is inconsistent, with purchase events exceeding checkout initiation, indicating missing or unreliable funnel instrumentation.</h6>
            </div>
          </div>
          <div class="align-right">
            <div class="element">
              <div class="accIcon iconAccTrigger"></div>
            </div>
          </div>
        </div>
        <div class="accContent" style="">
          <div class="Grid Grid--gutters Grid--full Grid--gutter">
            <div class="Grid-cell">
              <div class="element">
                <h6>Free Form: begin_checkout → add_payment → purchase</h6>
                <h6><span class="fontWeight400"> Web: </span> begin_checkout: 5,177</h6>
                <h6><span class="fontWeight400"> Mobile web:</span> purchase: 9,986</h6>
              </div>
            </div>
          </div>
          <div class="spacingSmall"></div>

        </div>
      </div>
      <div class="spacingXLarge"></div>

      <div class="Grid Grid--gutters Grid--full Grid--gutter">


        <div class="Grid-cell">
          <div class="element">
            <h2 class="fontWeight400">HOW it feels / WHY behavior happens (Qualitative)</h2>
          </div>
        </div>



      </div>
      <div class="accItem">
        <div class="Grid Grid--gutters Grid--cols-2 Grid--top accTrigger">
          <div class="Grid-cell">
            <div class="element">
              <h4 class="fontWeight400">Navigate back to cart or earlier steps</h4>
              <h6>Users frequently navigate back to cart or earlier steps during checkout to modify items or trip details.</h6>
            </div>
          </div>
          <div class="align-right">
            <div class="element">
              <div class="accIcon iconAccTrigger"></div>
            </div>
          </div>
        </div>
        <div class="accContent" style="">
          <div class="Grid Grid--gutters Grid--full Grid--gutter">
            <div class="Grid-cell">
              <div class="element">
                <h6>Free Form: begin_checkout → add_payment → purchase</h6>
                <h6><span class="fontWeight400"> Web: </span> begin_checkout: 5,177</h6>
                <h6><span class="fontWeight400"> Mobile web:</span> purchase: 9,986</h6>
              </div>
            </div>
          </div>
          <div class="spacingSmall"></div>

        </div>
      </div>
      <div class="accItem">
        <div class="Grid Grid--gutters Grid--cols-2 Grid--top accTrigger">
          <div class="Grid-cell">
            <div class="element">
              <h4 class="fontWeight400">Long scrolling and persistent UI elements</h4>
              <h6>Long scrolling and persistent UI elements (e.g., footer, fixed sections) create friction and contribute to abandonment on mobile.</h6>
            </div>
          </div>
          <div class="align-right">
            <div class="element">
              <div class="accIcon iconAccTrigger"></div>
            </div>
          </div>
        </div>
        <div class="accContent" style="">
          <div class="Grid Grid--gutters Grid--full Grid--gutter">
            <div class="Grid-cell">
              <div class="element">
                <h6>Free Form: begin_checkout → add_payment → purchase</h6>
                <h6><span class="fontWeight400"> Web: </span> begin_checkout: 5,177</h6>
                <h6><span class="fontWeight400"> Mobile web:</span> purchase: 9,986</h6>
              </div>
            </div>
          </div>
          <div class="spacingSmall"></div>

        </div>
      </div>
      <div class="accItem">
        <div class="Grid Grid--gutters Grid--cols-2 Grid--top accTrigger">
          <div class="Grid-cell">
            <div class="element">
              <h6 class="fontWeight400">Flow interrupt</h6>
              <h6>Error states (login, payment, iframe issues) interrupt the flow and reduce user confidence.</h6>
            </div>
          </div>
          <div class="align-right">
            <div class="element">
              <div class="accIcon iconAccTrigger"></div>
            </div>
          </div>
        </div>
        <div class="accContent" style="">
          <div class="Grid Grid--gutters Grid--full Grid--gutter">
            <div class="Grid-cell">
              <div class="element">
                <h6>Free Form: begin_checkout → add_payment → purchase</h6>
                <h6><span class="fontWeight400"> Web: </span> begin_checkout: 5,177</h6>
                <h6><span class="fontWeight400"> Mobile web:</span> purchase: 9,986</h6>
              </div>
            </div>
          </div>
          <div class="spacingSmall"></div>

        </div>
      </div>
      <div class="accItem">
        <div class="Grid Grid--gutters Grid--cols-2 Grid--top accTrigger">
          <div class="Grid-cell">
            <div class="element">
              <h4 class="fontWeight400">Unresolved decisions during checkout</h4>
              <h6>Users exhibit repeated back-and-forth behavior (U-turns), indicating unresolved decisions during checkout.</h6>
            </div>
          </div>
          <div class="align-right">
            <div class="element">
              <div class="accIcon iconAccTrigger"></div>
            </div>
          </div>
        </div>
        <div class="accContent" style="">
          <div class="Grid Grid--gutters Grid--full Grid--gutter">
            <div class="Grid-cell">
              <div class="element">
                <h6>Free Form: begin_checkout → add_payment → purchase</h6>
                <h6><span class="fontWeight400"> Web: </span> begin_checkout: 5,177</h6>
                <h6><span class="fontWeight400"> Mobile web:</span> purchase: 9,986</h6>
              </div>
            </div>
          </div>
          <div class="spacingSmall"></div>

        </div>
      </div>
      <div class="spacingXLarge"></div>



    </div>

  </section>



  <section id="insight" data-nav="insight">
    <div class="wrapper">
      <div class="Grid Grid--gutters Grid--full Grid--gutter">
        <div class="Grid-cell">
          <div class="element">
            <div class="blankHXXS"></div>
            <%- include(`${templatePath}/shared/divider25`, {
            sectionName:'Insight',
            topSpacing:'spacingMedium',
            bottomSpacing:'spacingXLarge',
            topNbottomSpacing:''
            }) %>
          </div>
        </div>
      </div>
    </div>

    <div class="Grid Grid--gutters Grid--full Grid--gutter">
      <div class="Grid-cell">
        <div class="element">
          <h1 class="fontWeight400">Insight</h1>
          <h2 class="fontWeight100">Users hesitate or disengage before committing, not during payment</h2>
        </div>
      </div>
    </div>
    <div class="accItem">
      <div class="Grid Grid--gutters Grid--cols-2 Grid--top accTrigger">
        <div class="Grid-cell">
          <div class="element">
            <h4 class="fontWeight400">Decision state mismatch (core)</h4>
            <h6>Users continue decision-making during checkout rather than treating it as a final confirmation step.</h6>
          </div>
        </div>
        <div class="align-right">
          <div class="element">
            <div class="accIcon iconAccTrigger"></div>
          </div>
        </div>
      </div>
      <div class="accContent" style="">
        <div class="Grid Grid--gutters Grid--full Grid--gutter">
          <div class="Grid-cell">
            <div class="element">
              <h6>Free Form: begin_checkout → add_payment → purchase</h6>
              <h6><span class="fontWeight400"> Web: </span> begin_checkout: 5,177</h6>
              <h6><span class="fontWeight400"> Mobile web:</span> purchase: 9,986</h6>
            </div>
          </div>
        </div>
        <div class="spacingSmall"></div>

      </div>
    </div>
    <div class="accItem">
      <div class="Grid Grid--gutters Grid--cols-2 Grid--top accTrigger">
        <div class="Grid-cell">
          <div class="element">
            <h4 class="fontWeight400">System fragility</h4>
            <h6>Changes to key inputs (e.g., dates, items, delivery method) can lead to unclear or disruptive system behavior.</h6>
          </div>
        </div>
        <div class="align-right">
          <div class="element">
            <div class="accIcon iconAccTrigger"></div>
          </div>
        </div>
      </div>
      <div class="accContent" style="">
        <div class="Grid Grid--gutters Grid--full Grid--gutter">
          <div class="Grid-cell">
            <div class="element">
              <h6>Free Form: begin_checkout → add_payment → purchase</h6>
              <h6><span class="fontWeight400"> Web: </span> begin_checkout: 5,177</h6>
              <h6><span class="fontWeight400"> Mobile web:</span> purchase: 9,986</h6>
            </div>
          </div>
        </div>
        <div class="spacingSmall"></div>

      </div>
    </div>
    <div class="accItem">
      <div class="Grid Grid--gutters Grid--cols-2 Grid--top accTrigger">
        <div class="Grid-cell">
          <div class="element">
            <h4 class="fontWeight400">UI friction on mobile</h4>
            <h6>Long scroll, persistent UI elements, and low signal-to-noise ratio increase cognitive load and contribute to abandonment.</h6>
          </div>
        </div>
        <div class="align-right">
          <div class="element">
            <div class="accIcon iconAccTrigger"></div>
          </div>
        </div>
      </div>
      <div class="accContent" style="">
        <div class="Grid Grid--gutters Grid--full Grid--gutter">
          <div class="Grid-cell">
            <div class="element">
              <h6>Free Form: begin_checkout → add_payment → purchase</h6>
              <h6><span class="fontWeight400"> Web: </span> begin_checkout: 5,177</h6>
              <h6><span class="fontWeight400"> Mobile web:</span> purchase: 9,986</h6>
            </div>
          </div>
        </div>
        <div class="spacingSmall"></div>

      </div>
    </div>


    <div class="spacingMedium"></div>
  </section>

  <section id="solution" data-nav="solution">

    <div class="wrapper">
      <div class="Grid Grid--gutters Grid--full Grid--gutter">
        <div class="Grid-cell">
          <div class="element">
            <div class="blankHXXS"></div>
            <%- include(`${templatePath}/shared/divider25`, {
            sectionName:'Solution',
            topSpacing:'spacingMedium',
            bottomSpacing:'spacingXLarge',
            topNbottomSpacing:''
            }) %>
          </div>
        </div>
      </div>
    </div>

    <div class="Grid Grid--gutters Grid--full Grid--gutter">
      <div class="Grid-cell">
        <div class="element">
          <h1 class="fontWeight400">Solution</h1>
          <h2 class="fontWeight100">Improve transition to checkout + reduce early-stage friction</h2>
        </div>
      </div>
    </div>
    <div class="spacingMedium"></div>

    <div class="spacingXLarge"></div>
    <div class="spacingXLarge"></div>
    <div class="spacingXLarge"></div>
    <div class="spacingXLarge"></div>
    <div class="spacingXLarge"></div>

  </section>

  <section id="impact" data-nav="impact">
    <div class="wrapper">
      <div class="Grid Grid--gutters Grid--full Grid--gutter">
        <div class="Grid-cell">
          <div class="element">
            <div class="blankHXXS"></div>
            <%- include(`${templatePath}/shared/divider25`, {
            sectionName:'Impact',
            topSpacing:'spacingMedium',
            bottomSpacing:'spacingXLarge',
            topNbottomSpacing:''
            }) %>


          </div>

        </div>
      </div>
    </div>
    <div class="Grid Grid--gutters Grid--full Grid--gutter">
      <div class="Grid-cell">
        <div class="element">
          <h1 class="fontWeight400">Impact</h1>
          <h2 class="fontWeight100">Increase conversion from cart to purchase</h2>
          <h2 class="fontWeight100">Improve mobile funnel performance</h2>
          <h2 class="fontWeight100">Unlock revenue from existing traffic</h2>


        </div>
      </div>
    </div>

    <div class="spacingXLarge"></div>
    <div class="spacingXLarge"></div>
    <div class="spacingXLarge"></div>
    <div class="spacingXLarge"></div>
    <div class="spacingXLarge"></div>
  </section>
  <!-- Case study ends -->
  <div class="blankHS"></div>
  <!-- Shared across the platform -->
  <%- include(`${templatePath}/shared/footer`) %>
  <%- include(`${templatePath}/shared/imgModal`) %>


  <!-- Shared across the platform -->
</body>

</html>