<!DOCTYPE html>
<html lang="en">

<!--Head-->
<%- include(`${templatePath}/shared/head`, { SEO:false, Title:`Standardizing Packages`,
  text:'Turning bundles from a hidden, provider-specific upsell into a platform-level conversion and AOV engine', pageURL:'bq_b2b_package/',
  thumbnailImgURL: 'vickywang.svg' }) %>
<!--Head-->

<body class="">
  <%- include(`${templatePath}/shared/header_back`, {
  tab1:'Problem',
  tab1_data_link:'problem',

  tab2:'Insight',
  tab2_data_link:'insight',

  tab3:'Solution',
  tab3_data_link:'solution',

  tab4_display:'displayTab',
  tab4:'Outcome',
  tab4_data_link:'outcome',
  }) %>
  <section class="banner_intro">
    <div class="wrapper">
      <div class="blankHXS"></div>
      <div class="Grid Grid--gutters Grid--full Grid--gutter">
        <div class="Grid-cell">
          <div class="element">
            <%- include(`${templatePath}/shared/txt_about_bq`) %>

            <img class="widthXXS" src="../../logos/bq.svg" alt="Logo">
            <%- include(`${templatePath}/shared/txt_banner_title`, {
            text:'Building a Scalable Package System for Marketplace Bundles',}) %>
            <h4>Enabled packages to be represented before provider selection for the first time.
            </h4>

          </div>
        </div>
      </div>
    </div>


    <div class="wrapper">

      <div class="spacingLarge"></div>
      <div class="Grid Grid--gutters Grid--cols-3">
        <div class="Grid-cell">
          <div class="element">
            <h5><span class="fontWeight400">Role: </span>Product UX · Package system design</h5>
          </div>
        </div>
        <div class=" Grid-cell">
          <div class="element">
            <h5><span class="fontWeight400">Scope: </span>Standardized package system · Consumer discovery + provider fulfillment</h5>
          </div>
        </div>
        <div class=" Grid-cell">
          <div class="element">
            <h5><span class="fontWeight400">Stakeholders: </span>VP Product Design, CTO, engineering, QA, providers</h5>
          </div>
        </div>
      </div>
      <div class="spacingXLarge"></div>

    </div>



  </section>
  <div class="greyBg100">
    <div class="wrapper">
      <div class="Grid Grid--gutters Grid--full Grid--gutter">

        <div class="Grid-cell">
          <div class="element">
            <h1 class="fontWeight400">Context</h1>
          </div>
        </div>


        <div class="Grid-cell">
          <div class="element">

            <h4>BabyQuip has a package part of the inventory management, it is almost looks like one of the gear categories. each provider might have their unique packge, so we never able to promote them during discover or shopping phase since gear first launch.</h4>
            <h4> before gear first: provider - items/package</h4>
            <h4> gear first: items - provider - provider shop - packge</h4>
          </div>

        </div>
        <div class="spacingMedium"></div>



      </div>

    </div>
    <div class="spacingLarge"></div>

  </div>
  <div class="spacingXLarge"></div>


  <section id="problem" data-nav="problem">
    <div class="wrapper">
      <div class="Grid Grid--gutters Grid--full Grid--gutter">
        <div class="Grid-cell">
          <div class="element">
            <div class="blankHXXS"></div>
            <%- include(`${templatePath}/shared/divider25`, {
            sectionName:'Problem',
            topSpacing:'spacingMedium',
            bottomSpacing:'spacingXLarge',
            topNbottomSpacing:''
            }) %>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="Grid Grid--gutters Grid--full Grid--gutter">

        <div class="Grid-cell">
          <div class="element">
            <h1 class="fontWeight400">Problem</h1>
          </div>
        </div>


        <div class="Grid-cell">
          <div class="element">
            <h3 class="fontWeight400 grey900">inconsistent</h3>

            <h4>they were fully provider-created. they can define the name, quantity themself</h4>
          </div>

        </div>
        <div class="spacingMedium"></div>

        <div class="Grid-cell">
          <div class="element">
            <h3 class="fontWeight400 grey900">not appear during discover/shopping</h3>

            <h4>each provider can have their unique package, it is unable to promote before select provider</h4>

          </div>
        </div>
        <img class="" src="screenshot_Vrbo_BabyQuip.png" alt="">



      </div>

    </div>

    <div class="spacingMedium"></div>


  </section>



  <section id="insight" data-nav="insight">

    <div class="wrapper">
      <div class="Grid Grid--gutters Grid--full Grid--gutter">
        <div class="Grid-cell">
          <div class="element">
            <div class="blankHXXS"></div>
            <%- include(`${templatePath}/shared/divider25`, {
            sectionName:'Insight',
            topSpacing:'spacingMedium',
            bottomSpacing:'spacingXLarge',
            topNbottomSpacing:''
            }) %>
          </div>
        </div>
      </div>
    </div>

    <div class="spacingMedium"></div>
    <div class="wrapper">
      <div class="Grid Grid--gutters Grid--full Grid--gutter">
        <div class="Grid-cell">
          <div class="element">
            <h1 class="fontWeight400">Insight</h1>
            <div class="marginLeft">
              <ul class="listCircle">
                <li>Be defined at the platform level</li>
                <li>Not depend on specific providers</li>
                <li>Be renderable before QP selection</li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="spacingMedium"></div>


    <div class="spacingMedium"></div>


  </section>

  <section id="solution" data-nav="solution">



    <div class="wrapper">
      <div class="Grid Grid--gutters Grid--full Grid--gutter">
        <div class="Grid-cell">
          <div class="element">
            <div class="blankHXXS"></div>
            <%- include(`${templatePath}/shared/divider25`, {
            sectionName:'Solution',
            topSpacing:'spacingMedium',
            bottomSpacing:'spacingXLarge',
            topNbottomSpacing:''
            }) %>
          </div>
        </div>
      </div>
    </div>

    <div class="wrapper">
      <div class="Grid Grid--gutters Grid--full Grid--gutter">
        <div class="Grid-cell">
          <div class="element">

            <h1 class="fontWeight400">Solution</h1>
            <h2>introduction standardized package while still keep the current package as custom packge, ensure adobtion well, ui bias towards standardized package, auto convert current custom package into standarlized package if qualified </h2>

            <div class="spacingXSmall"></div>

          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">

      <div class="Grid Grid--gutters Grid--cols-2">
        <div class="Grid-cell">
          <div class="element">
            <h3 class="fontWeight500">current package system:</h3>

            <ul class="listCircle">
              <li>Flexible</li>
              <li>Inconsistent</li>
              <li>Still allowed</li>
            </ul>
          </div>
        </div>
        <div class="Grid-cell">
          <div class="element">
            <h3 class="fontWeight500">Standardized package:</h3>

            <ul class="listCircle">
              <li>Consistent</li>
              <li>Comparable</li>
              <li>Promotable</li>
            </ul>

          </div>
        </div>


      </div>
    </div>
    <div class="wrapper">

      <div class="Grid Grid--gutters Grid--full Grid--gutter">
        <div class="Grid-cell">
          <div class="element">

            <h3>A. Introduced standardized packages at the platform level</h3>
            <img class="modal-target card2026" src="" alt="stantarlized package ui placeholder">

            <div class="spacingXSmall"></div>

          </div>
        </div>
      </div>
      <div class="Grid Grid--gutters Grid--full Grid--gutter">
        <div class="Grid-cell">
          <div class="element">

            <h3>B. Maintain flexibility (prioritize standardized packages while keeping custom packages)</h3>
            <h5></h5>
            <img class="modal-target card2026" src="" alt="customized package ui enhancement placeholder">

            <div class="spacingXSmall"></div>

          </div>
        </div>
      </div>
      <div class="Grid Grid--gutters Grid--full Grid--gutter">
        <div class="Grid-cell">
          <div class="element">

            <h3>C. Make standardized packages the default state</h3>
            <h5></h5>
            <img class="modal-target card2026" src="" alt="standardized + customized ui structure placeholder">

            <div class="spacingXSmall"></div>

          </div>
        </div>
      </div>
      <div class="Grid Grid--gutters Grid--full Grid--gutter">
        <div class="Grid-cell">
          <div class="element">

            <h3>D. Mapped packages to shopping categories on consumer site</h3>

            <div class="spacingXSmall"></div>

          </div>
        </div>
      </div>

      <div class="Grid Grid--gutters Grid--full Grid--gutter">
        <div class="Grid-cell">
          <div class="element">
            <h1 class="fontWeight400">Before vs. after on consumer facing site</h1>

          </div>
        </div>
      </div>
      <div class="Grid Grid--gutters Grid--cols-2">
        <div class="Grid-cell">
          <div class="element">
            <img class="modal-target card2026" src="discover_before.png" alt="Packages only visible inside provider shops">
            <h5 class="fontWeight500">Before:</h5>
            <h5> Packages could not appear before provider selection because they were fully provider-created and inconsistent.</h5>

          </div>
        </div>
        <div class="Grid-cell">
          <div class="element">
            <img class="modal-target card2026" src="discover_after.png" alt="Packages surfaced before provider selection">
            <h5 class="fontWeight500">After:</h5>

            <h5> Standardized package templates can appear before provider selection because BabyQuip now controls the package definition.</h5>
     

          </div>
        </div>


      </div>
      <div class="Grid Grid--gutters Grid--full Grid--gutter">
        <div class="Grid-cell">
          <div class="element">
            <h1 class="fontWeight400">Constraint</h1>
            <h5> Because package fulfillment still depends on provider participation and inventory coverage, we intentionally avoided making packages overly dominant in the consumer experience. Surfacing packages too aggressively could create dead ends, especially if users selected packages that few providers could fulfill.</h5>
          </div>
        </div>
      </div>

      <div class="Grid Grid--gutters Grid--full Grid--gutter">
        <div class="Grid-cell">
          <div class="element">
            <h4>A. Platform-defined packages
            </h4>

            <div class="marginLeft">
              <ul class="listCircle">
                <li>BabyQuip defines</li>
                <li>Package structure</li>
                <li>Included items</li>
                <li>Naming</li>
              </ul>
            </div>
            <h4>B. Provider participation </h4>
            <div class="marginLeft">
              <ul class="listCircle">
                <li>Providers opt into standardized packages</li>
                <li>Providers fulfill them if inventory matches</li>
              </ul>
            </div>


            <h4>C. Dual system </h4>
            <h5 class="fontWeight400"> 1. Standardized packages (new)
            </h5>
            <div class="marginLeft">
              <ul class="listCircle">
                <li>Consistent</li>
                <li>Comparable</li>
                <li>Promotable</li>
              </ul>
            </div>
            <h5 class="fontWeight400"> 2. Custom packages (legacy)
            </h5>
            <div class="marginLeft">
              <ul class="listCircle">
                <li>Flexible</li>
                <li>Inconsistent</li>
                <li>Still allowed</li>
              </ul>
            </div>


          </div>
        </div>
      </div>


    </div>
    <div class="Grid Grid--gutters Grid--full Grid--gutter">
      <div class="Grid-cell">
        <div class="element">

          <h3>Result: Surfaced them on landing and browsing pages</h3>

          <div class="spacingXSmall"></div>

        </div>
      </div>
    </div>


    <div class="Grid Grid--gutters Grid--cols-3">
      <div class="Grid-cell">
        <div class="element">
          <img class="modal-target card2026" src="discover_before.png" alt="Packages only visible inside provider shops">
          <h5 class="fontWeight500">Before:</h5>
          <h5> Packages were <span class="fontWeight400">only visible inside provider shops</span>, functioning as <span class="fontWeight400">late-stage upsells</span>.</h5>
        </div>
      </div>
      <div class="Grid-cell">
        <div class="element">
          <img class="modal-target card2026" src="discover_after.png" alt="Packages surfaced before provider selection">
          <h5 class="fontWeight500">After:</h5>

          <h5> Standardized packages surfaced during browsing, <span class="fontWeight400">enabling discovery before provider selection. </span></h5>

        </div>
      </div>
      <div class="Grid-cell">
        <div class="element">
          <img class="modal-target card2026" src="discover_future.png" alt="Packages mapped into categories when fulfillment can be validated">
          <h5 class="fontWeight500">Future</h5>

          <h5>Integrate packages into categories once supply coverage and availability validation <span class="fontWeight400">support reliable fulfillment.</span> </h5>
        </div>
      </div>


    </div>



    <div class="spacingXLarge"></div>

    <div class="Grid Grid--gutters Grid--full Grid--gutter">
      <div class="Grid-cell">
        <div class="element">

          <h2>Key Trade-offs and Constraints</h2>
          <div class="marginLeft">
            <ul class="listCircle">
              <li>Pricing is still not fully accurate early</li>
              <li>Package availability is not guaranteed</li>
              <li>Provider flexibility is still partially messy</li>
            </ul>
          </div>
          <div class="spacingXSmall"></div>

        </div>
      </div>
    </div>





    </div>



    <div class="spacingMedium"></div>

    <div class="spacingXLarge"></div>

    <div class="spacingLarge"></div>


    <div class="spacingMedium"></div>





  </section>

  <section id="outcome" data-nav="outcome">
    <div class="wrapper">
      <div class="Grid Grid--gutters Grid--full Grid--gutter">
        <div class="Grid-cell">
          <div class="element">
            <div class="blankHXXS"></div>
            <%- include(`${templatePath}/shared/divider25`, {
            sectionName:'Outcome',
            topSpacing:'spacingMedium',
            bottomSpacing:'spacingXLarge',
            topNbottomSpacing:''
            }) %>
          </div>
        </div>
      </div>
    </div>

    <div class="wrapper">
      <div class="Grid Grid--gutters Grid--full Grid--gutter">
        <div class="Grid-cell">
          <div class="element">
            <h1 class="fontWeight400">Outcome</h1>
          </div>
        </div>
      </div>
      <div class="Grid Grid--gutters Grid--full Grid--gutter">
        <div class="Grid-cell">
          <div class="element">

            <h2>BabyQuip now has a controlled package system that can scale.
            </h2>
            <ul class="listCircle">
              <li>Restored bundle visibility in early funnel</li>
              <li>Enabled bundle-based discovery</li>
              <li>Created a scalable merchandising system</li>
            </ul>
            <div class="spacingXSmall"></div>


          </div>
        </div>
      </div>
      <div class="Grid Grid--gutters Grid--full Grid--gutter">
        <div class="Grid-cell">
          <div class="element">

            <h2>Enabled generic package during discover and shopping phase
            </h2>
            <h5>Although the redesign happened in the provider portal, the purpose was broader: to create a standardized package layer that consumer-facing experiences could reference before provider selection. This made package discovery technically possible in gear-first flows, while still respecting marketplace constraints around provider inventory and availability.</h5>

            <div class="spacingXSmall"></div>


          </div>
        </div>
      </div>

    </div>


  </section>
  <!-- Case study ends -->
  <div class="blankHS"></div>
  <!-- Shared across the platform -->
  <%- include(`${templatePath}/shared/footer`) %>
  <%- include(`${templatePath}/shared/imgModal`) %>


  <!-- Shared across the platform -->
</body>

</html>